@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/dialog' as *;

$material: digest-schema($material-dialog);
$bootstrap: digest-schema($bootstrap-dialog);
$fluent: digest-schema($fluent-dialog);
$indigo: digest-schema($indigo-dialog);
