@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

$content-color: var(--content-color, color(gray, 700));

:host {
    border-radius: border-radius(2px);
    background: color(surface, 500);
    color: contrast-color(surface, 500);
    border-style: none;
    padding: unset;
}

[part='base'] {
    background: inherit;
    color: inherit;
    border-style: inherit;
    padding: inherit;
    border: inherit;
    border-radius: inherit;
    min-width: inherit;
    box-shadow: var(--igc-elevation-24);
}

[part='content'] {
    color: $content-color;

    @include type-style('body-1') {
        margin: 0;
    }
}

[part='title'],
[part='footer'] {
    display: flex;
    align-items: center;
    color: color(gray, 900);

    @include type-style('h6') {
        margin: 0;
    }
}

[part='footer'] {
    flex-wrap: nowrap;
    justify-content: flex-end;
}

::slotted(*) {
    font: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: inherit;
    margin: 0;
}

slot[name='title'],
slot[name='footer'] {
    &::slotted(:not(:last-child)) {
        margin-inline-end: rem(8px);
    }
}

dialog::backdrop {
    background: none;
}

[part='backdrop'] {
    position: fixed;
    inset: 0;
    background: color(gray, 500, .54);
}
