@use 'styles/common/component';
@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $material;

:host {
    @include css-vars-from-theme($theme, 'ig-dialog');

    background: var-get($theme, 'background');
    border-radius: var-get($theme, 'border-radius');
}

[part='title'] {
    color: var-get($theme, 'title-color');
    padding-inline: rem(24px);
    padding-block-start: rem(16px);
}

[part='content'] {
    color: var-get($theme, 'message-color');
    padding: rem(14px) rem(24px);
}

[part='footer'] {
    color: var-get($theme, 'title-color');
    padding: rem(8px);
    padding-block-start: 0;
}
