@use 'sass:map';
@use '../../../../styles/utilities' as *;
@use '../../../../styles/themes/schemas/fluent/light' as *;

$schema: map.get($light-fluent-schema, 'dialog');
$border-radius: border-radius(map.get($schema, 'border-radius')...);
$theme: digest-schema(extend(
    $schema,
    (
        border-radius: $border-radius
    )
));

:host {
    @include css-vars-from-theme($theme, 'ig-dialog');

    border-radius: var-get($theme, 'border-radius');
}

[part='title'] {
    padding: rem(24px);
    padding-block-start: rem(16px);
}

[part='content'] {
    padding-inline: rem(24px);
    padding-block-end: rem(20px);
}

[part='footer'] {
    padding: rem(24px);
    padding-block-start: 0;
}

[part='backdrop'] {
    background: color(gray, 900, .4);
}
