@use 'sass:map';
@use '../../../../styles/utilities' as *;
@use '../../../../styles/themes/schemas' as *;

$schema: map.get($light-indigo-schema, 'dialog');
$theme: digest-schema($schema);

:host {
    @include border-radius(map.get($theme, 'border-radius')...);
}

[part='title'] {
    padding: rem(16px) rem(24px);
}

[part='content'] {
    padding-inline: rem(24px);
    padding-block-end: rem(8px);
    color: color(gray, 500);
}

[part='footer'] {
    padding: rem(8px);
}
