@use 'sass:map';
@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $indigo;

:host {
    @include css-vars-from-theme($theme, 'ig-dialog');

    border-radius: var-get($theme, 'border-radius');
}

[part='title'] {
    padding: rem(16px) rem(24px);
}

[part='content'] {
    padding-inline: rem(24px);
    padding-block-end: rem(8px);
    color: color(gray, 500);
}

[part='footer'] {
    padding: rem(8px);
}
