@use 'styles/utilities' as *;
@use '../light/themes' as *;

$flat-theme: $fluent-flat;
$contained-theme: $fluent-contained;
$outlined-theme: $fluent-outlined;
$btn-indent: rem(3px);

[part~='base'] {
    transition: color .15s ease-out, background .15s ease-out;
    box-shadow: none;
    padding: pad(3px, 7px, 10px);
}

[part='base focused'] {
    &::after {
        position: absolute;
        content: '';
        pointer-events: none;
        inset-block-start: $btn-indent;
        inset-inline-start: $btn-indent;
        width: calc(100% - (#{$btn-indent} * 2));
        height: calc(100% - (#{$btn-indent} * 2));
    }
}

:host([variant='flat']) {
    @include css-vars-from-theme($flat-theme, 'ig-icon-button');

    --component-size: var(--ig-size, #{var-get($flat-theme, 'default-size')});

    [part~='base'] {
        &:hover {
            igc-icon {
                color: var-get($flat-theme, 'hover-foreground');
            }
        }

        &:active {
            igc-icon {
                color: var-get($flat-theme, 'active-foreground');
            }
        }
    }

    [part='base focused'] {
        &::after {
            box-shadow: 0 0 0 rem(1px) var-get($flat-theme, 'focus-border-color');
        }
    }
}

:host([variant='contained']) {
    @include css-vars-from-theme($contained-theme, 'ig-icon-button');

    --component-size: var(--ig-size, #{var-get($contained-theme, 'default-size')});

    [part~='base'] {
        border-color: var-get($contained-theme, 'border-color');
    }

    [part='base focused'] {
        &::after {
            box-shadow: 0 0 0 rem(1px) var-get($contained-theme, 'focus-border-color');
        }
    }
}

:host([variant='outlined']) {
    @include css-vars-from-theme($outlined-theme, 'ig-icon-button');

    --component-size: var(--ig-size, #{var-get($outlined-theme, 'default-size')});

    [part~='base'] {
        border-color: var-get($outlined-theme, 'border-color');
    }

    [part='base focused'] {
        &::after {
            box-shadow: 0 0 0 rem(1px) var-get($outlined-theme, 'focus-border-color');
        }
    }
}
