@use 'styles/utilities' as *;
@use '../light/themes' as *;

$flat-theme: $material-flat;
$contained-theme: $material-contained;
$outlined-theme: $material-outlined;

[part='base'] {
    padding: pad(6px);
}

:host(:focus-within) {
    [part='base'] {
        transition: none;
        box-shadow: inset 0 0 0 1px var-get($flat-theme, 'focus-border-color');
    }
}

:host([variant='flat']) {
    @include css-vars-from-theme($flat-theme, 'ig-icon-button');

    --component-size: var(--ig-size, #{var-get($flat-theme, 'default-size')});
}

:host([variant='contained']) {
    @include css-vars-from-theme($contained-theme, 'ig-icon-button');

    --component-size: var(--ig-size, #{var-get($contained-theme, 'default-size')});
}

:host([variant='outlined']) {
    @include css-vars-from-theme($outlined-theme, 'ig-icon-button');

    --component-size: var(--ig-size, #{var-get($outlined-theme, 'default-size')});
}

:host([variant='outlined']:focus-within) {
    [part='base'] {
        box-shadow: inset 0 0 0 rem(1px) var-get($outlined-theme, 'focus-border-color');
    }
}

:host([disabled][variant='outlined']),
:host(:disabled[variant='outlined']) {
    [part='base'] {
        box-shadow: 0 0 0 rem(1px) var-get($outlined-theme, 'disabled-border-color');
    }
}
