@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/chip' as *;

$material: map.merge(
    digest-schema($dark-chip),
    (
        border-radius: border-radius(map.get($dark-chip, 'border-radius')...)
    )
);
$bootstrap: map.merge(
    digest-schema($dark-bootstrap-chip),
    (
        border-radius: border-radius(map.get($dark-bootstrap-chip, 'border-radius')...)
    )
);
$fluent: map.merge(
    digest-schema($dark-fluent-chip),
    (
        border-radius: border-radius(map.get($dark-fluent-chip, 'border-radius')...)
    )
);
$dark-indigo: map.merge(
    digest-schema($dark-indigo-chip),
    (
        border-radius: border-radius(map.get($dark-indigo-chip, 'border-radius')...)
    )
);
