@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/chip' as *;

$material: map.merge(
    digest-schema($light-chip), 
    (
        border-radius: border-radius(map.get($light-chip, 'border-radius')...)
    )
);
$bootstrap: map.merge(
    digest-schema($bootstrap-chip), 
    (
        border-radius: border-radius(map.get($bootstrap-chip, 'border-radius')...)
    )
);
$fluent: map.merge(
    digest-schema($fluent-chip), 
    (
        border-radius: border-radius(map.get($fluent-chip, 'border-radius')...)
    )
);
$indigo: map.merge(
    digest-schema($indigo-chip), 
    (
        border-radius: border-radius(map.get($indigo-chip, 'border-radius')...)
    )
);

