@use './chip.base.scss';
@use '../../../styles/utilities' as *;

:host button {
    @include type-category('subtitle-2');

    background: color(gray, 200);
    color: color(gray, 700);

    &:hover {
        color: contrast-color(gray, 200);
    }

    &:focus {
        background: color(primary, 500);
        color: contrast-color(primary, 700);
    }

    &[disabled] {
        background: color(gray, 100);
    }
}

:host([selected]) button:not([disabled]) {
    background: color(primary, 500);
    color: contrast-color(primary, 700);

    &:hover {
        background: color(primary, 600);
    }

    &:focus {
        background: color(primary, 800);
    }
}
