@use 'sass:map';
@use './chip.base.scss';
@use '../../../styles/utilities' as *;
@use '../../../styles/themes/schemas' as *;

$schema: map.get($light-fluent-schema, 'chip');
$theme: digest-schema($schema);

:host button {
    @include border-radius(map.get($theme, 'border-radius')...);
    @include type-style('subtitle-2');

    background: color(gray, 200);
    color: color(gray, 700);
    outline: none;

    &:hover {
        color: contrast-color(gray, 200);
    }

    &:focus {
        background: color(primary, 500);
        color: contrast-color(primary, 700);
    }

    &[disabled] {
        background: color(gray, 100);
    }
}

:host([selected]) button:not([disabled]) {
    background: color(primary, 500);
    color: contrast-color(primary, 700);

    &:hover {
        background: color(primary, 600);
    }

    &:focus {
        background: color(primary, 800);
    }
}
