@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: inline-block;
    vertical-align: top;
}

:host button {
    @include type-style('body-2');
    @include ellipsis();

    display: inline-flex;
    place-items: center;
    font-family: var(--ig-font-family);
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0 pad-inline(rem(2px), rem(6px), rem(12px));

    &[disabled] {
        pointer-events: none;
    }
}

@mixin chip-variants($variant, $variant-color) {
    :host([variant='#{$variant}']) button,
    :host([selected][variant='#{$variant}']) button:not([disabled]) {
        background: color($variant-color, 500);
        color: contrast-color($variant-color, 500);

        &:focus {
            background: color($variant-color, 800);
            color: contrast-color($variant-color, 800);
        }

        &:hover {
            background: color($variant-color, 600);
            color: contrast-color($variant-color, 600);
        }
    }

    :host([variant='#{$variant}']) button[disabled],
    :host([selected][variant='#{$variant}']) button[disabled] {
        background: color(gray, 200);
        color: color(gray, 500);
    }
}

@include chip-variants('primary', primary);
@include chip-variants('info', info);
@include chip-variants('success', success);
@include chip-variants('warning', warn);
@include chip-variants('danger', error);

@mixin outlined-variant($variant, $variant-color) {
    :host([outlined][variant='#{$variant}']) button,
    :host([selected][outlined][variant='#{$variant}']) button:not([disabled]) {
        background: transparent;

        &:focus {
            background: color($variant-color, 800, .30);
        }

        &:hover {
            background: color($variant-color, 600, .16);
        }
    }

    :host([outlined][variant='#{$variant}']) button[disabled],
    :host([selected][outlined][variant='#{$variant}']) button[disabled] {
        background: color(gray, 200, .30);
        color: color(gray, 500);
        border-color: color(gray, 500, .30);
    }
}

@include outlined-variant('primary', primary);
@include outlined-variant('info', info);
@include outlined-variant('success', success);
@include outlined-variant('warning', warn);
@include outlined-variant('danger', error);

[part='prefix'],
[part='suffix'] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: sizable(rem(3px), rem(6px), rem(8px));
}

::slotted(*) {
    @include ellipsis();

    max-width: 32ch;
}
