@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: inline-flex;
    vertical-align: top;
}

:host button {
    @include type-style('body-2');

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ig-font-family);
    border-style: none;
    box-shadow: none;
    cursor: pointer;
    padding: pad(2px, 6px, 12px);

    &[disabled] {
        pointer-events: none;
    }
}

:host([variant='primary']) button,
:host([selected][variant='primary']) button:not([disabled]) {
    background: color(primary, 500);
    color: contrast-color(primary, 500);

    &:hover {
        background: color(primary, 600);
        color: contrast-color(primary, 600);
    }

    &:focus {
        background: color(primary, 800);
        color: contrast-color(primary, 800);
    }
}

:host([variant='info']) button,
:host([selected][variant='info']) button:not([disabled]) {
    background: color(info, 500);
    color: contrast-color(info, 500);

    &:hover {
        background: color(info, 600);
        color: contrast-color(info, 600);
    }

    &:focus {
        background: color(info, 800);
        color: contrast-color(info, 800);
    }
}

:host([variant='success']) button,
:host([selected][variant='success']) button:not([disabled]) {
    background: color(success, 500);
    color: contrast-color(success, 500);

    &:hover {
        background: color(success, 600);
        color: contrast-color(success, 600);
    }

    &:focus {
        background: color(success, 800);
        color: contrast-color(success, 800);
    }
}

:host([variant='warning']) button,
:host([selected][variant='warning']) button:not([disabled]) {
    background: color(warn, 500);
    color: contrast-color(warn, 500);

    &:hover {
        background: color(warn, 600);
        color: contrast-color(warn, 600);
    }

    &:focus {
        background: color(warn, 800);
        color: contrast-color(warn, 800);
    }
}

:host([variant='danger']) button,
:host([selected][variant='danger']) button:not([disabled]) {
    background: color(error, 500);
    color: contrast-color(error, 500);

    &:hover {
        background: color(error, 600);
        color: contrast-color(error, 600);
    }

    &:focus {
        background: color(error, 800);
        color: contrast-color(error, 800);
    }
}

[part='prefix'],
[part='suffix'] {
    display: flex;
    align-items: center;
    justify-content: center;
}

[part='prefix'] {
    margin-inline-end: pad-inline(rem(3px), rem(6px), rem(8px));
}

[part='suffix'] {
    margin-inline-start: pad-inline(rem(3px), rem(6px), rem(8px));
}

::slotted(*) {
    display: flex;
}
