@use 'sass:map';
@use './chip.base.scss';
@use 'styles/utilities' as *;
@use 'light-themes' as *;

$theme: $material;

:host {
    @include css-vars-from-theme($theme, 'ig-chip');
}

:host button {
    border-radius: var-get($theme, 'border-radius');
    background: color(gray, 300);
    color: contrast-color(gray, 300);
    outline: none;
    height: var-get($theme, 'size');

    &:hover {
        background: color(gray, 400);
        color: contrast-color(gray, 400);
    }

    &:focus {
        background: color(gray, 500);
        color: contrast-color(gray, 500);
    }

    &[disabled] {
        background: color(gray, 200);
    }
}
