@use 'sass:map';
@use './chip.base.scss';
@use '../../../styles/utilities' as *;
@use '../../../styles/themes/schemas/fluent/light' as *;

$schema: map.get($light-fluent-schema, 'chip');
$border-radius: border-radius(map.get($schema, 'border-radius')...);
$theme: digest-schema(extend(
    $schema,
    (
        border-radius: $border-radius
    )
));

:host {
    @include css-vars-from-theme($theme, 'ig-chip');
}

:host button {
    @include type-style('subtitle-2');

    border-radius: var-get($theme, 'border-radius');
    background: color(gray, 200);
    color: color(gray, 700);
    outline: none;

    &:hover {
        color: contrast-color(gray, 200);
    }

    &:focus {
        background: color(primary, 500);
        color: contrast-color(primary, 700);
    }

    &[disabled] {
        background: color(gray, 100);
    }
}

:host([selected]) button:not([disabled]) {
    background: color(primary, 500);
    color: contrast-color(primary, 700);

    &:hover {
        background: color(primary, 600);
    }

    &:focus {
        background: color(primary, 800);
    }
}
