@use 'sass:map';
@use './chip.base.scss';
@use '../../../styles/utilities' as *;
@use '../../../styles/themes/schemas' as *;

$schema: map.get($light-material-schema, 'chip');
$theme: digest-schema($schema);

:host button {
    @include border-radius(map.get($theme, 'border-radius')...);

    background: color(gray, 300);
    color: contrast-color(gray, 300);
    outline: none;

    &:hover {
        background: color(gray, 400);
        color: contrast-color(gray, 400);
    }

    &:focus {
        background: color(gray, 500);
        color: contrast-color(gray, 500);
    }

    &[disabled] {
        background: color(gray, 200);
    }
}
