@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-start;
    width: 100%;
    padding: pad(rem(16px));
    box-sizing: border-box;
}

::slotted(*) {
    margin: 0;
    font: inherit;
    opacity: inherit;
}

::slotted([slot='thumbnail']),
::slotted(igc-avatar[slot='thumbnail']) {
    --ig-size: 1;
}

header {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    flex: 1 1 auto;
}

::slotted([slot='title']) {
    @include type-style('h6');
}

::slotted([slot='subtitle']) {
    @include type-style('subtitle-2');
}

::slotted([slot='thumbnail']) {
    display: flex;
    align-self: flex-start;
    margin-inline-end: pad-inline(rem(16px));
}
