@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    @include type-style('body-2');

    display: block;
    width: 100%;
    overflow: auto;
    padding: pad(rem(16px));
}

::slotted(*) {
    margin: 0;
}

::slotted(igc-avatar) {
    --ig-size: 1;
}
