@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    @include type-style('body-2');

    display: block;
    width: 100%;
    overflow: auto;
    padding: rem(16px);
}

::slotted(*) {
    margin: 0;
}
