@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-start;
    width: 100%;
    padding: rem(16px);
    box-sizing: border-box;
}

::slotted(*) {
    margin: 0;
    font: inherit;
    opacity: inherit;
}

header {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    flex: 1 1 auto;
}

::slotted([slot='title']) {
    @include type-style('h6');
}

::slotted([slot='subtitle']) {
    @include type-style('subtitle-2');
}

::slotted([slot='thumbnail']) {
    --ig-size: 1;

    display: flex;
    align-self: flex-start;
    margin-inline-end: rem(16px);
}
