@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $material;

:host {
    @include css-vars-from-theme(diff($base, $theme));

    --navigation-border-radius: #{var-get($theme, 'border-radius')};
}
