@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $indigo;

[part='header'] {
    box-shadow: none;
    border-block-end: rem(1px) solid var-get($theme, 'header-border');
}

slot[name='title'] {
    @include type-style('h5') {
        margin: 0;
    };
}

slot[name='prefix'] {
    margin-inline-end: rem(16px);
}

slot[name='actions'] {
    gap: rem(8px);
}

igc-list {
    --default-size: 2;
}
