@use 'styles/utilities' as *;

:host {
    ::part(text-input) {
        --textarea-height: #{rem(40px)};
    }
}

slot[name='title'] {
    @include type-style('subtitle-2') {
      margin: 0;
    };
}

slot[name='prefix'] {
    margin-inline-end: rem(16px);
}