@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $material;

.chat-container {
    background: var-get($theme, 'background');
}

[part='header'] {
    background: var-get($theme, 'header-background');
    color: var-get($theme, 'header-color');
}
