@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $indigo;

:host {
    ::part(text-input) {
        --textarea-height: #{rem(28px)};
    }
}

[part='header'] {
    box-shadow: none;
    border-block-end: rem(1px) solid var-get($theme, 'header-border');
}

[part='title'] {
    @include type-style('h5') {
        margin: 0;
    };
}

igc-list {
  --ig-size: 2;
}