@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $material;

[part='attachment-header'],
[part='attachment-content'],
[part='attachment-content sent'] {
    border: rem(1px) solid var-get($theme, 'image-border');
}

[part='attachment-header'] {
    background: var-get($theme, 'image-background');
    border-block-end: none;
}

[part~='attachment-content'] {
    // background: var-get($theme, 'file-background');
    background: white;
}

[part='attachment-content'] {
    border-block-start: none;
}
