@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

// STEPPER
:host {
    --indicator-box-shadow-size: #{rem(1px)};
    --separator-size: #{rem(1px)};
}

:host([orientation='horizontal']) {
    --separator-min-width : #{rem(40px)};
    --horizontal-body-padding: #{rem(16px)};
}
