@use '../../../../styles/common/component';
@use '../vars' as *;

:host([orientation='horizontal']) {
    display: grid;

    ::slotted(igc-step) {
        display: grid;
        grid-template-columns: repeat(var(--steps-count), 1fr);
        grid-row-start: 1;
        grid-column: 1 / -1;
        pointer-events: none;
    }
}

:host(:not([orientation='horizontal'])) {
    display: flex;
    flex-direction: column;

    ::slotted(igc-step) {
        --step-hide-full-before-after: none;
        --step-hide-last-of-type: none;
        --step-hide-first-of-type: none;

        display: flex;
        flex-direction: column;
    }
}

::slotted(igc-step:last-of-type) {
    --step-hide-last-of-type: none;
    --border: 0;

    flex: 0;
}

::slotted(igc-step:first-of-type) {
    --step-hide-first-of-type: none;
}

:host([orientation='horizontal']:not([step-type='full'])),
:host([orientation='horizontal'][title-position='start']),
:host([orientation='horizontal'][title-position='end']) {
    --step-hide-full-before-after: none;
}

:host([title-position='top'][step-type='full']),
:host([title-position='bottom'][step-type='full']) {
    --step-separator-position: #{$separator-position};
}
