@use '../../../../styles/common/component';
@use '../../../../styles/utilities/index' as *;

:host {
    --step-count: 3;

    counter-reset: step-count;
}

:host([orientation='horizontal']) {
    display: grid;
}

:host([orientation='vertical']) {
    display: flex;
    flex-direction: column;
}

::slotted(igc-step:last-of-type) {
    --step-hide-last-of-type: none;
    --border: 0;

    flex: 0;
}

::slotted(igc-step:first-of-type) {
    --step-hide-first-of-type: none;
}
