@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $fluent;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
}

[part='base'] {
    background: var-get($theme, 'background-color');
    border-radius: var-get($theme, 'border-radius');
    box-shadow: var(--ig-elevation-4);
}
