@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $indigo;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
}

[part='base'] {
    padding: pad(rem(3px));
    outline: var-get($theme, 'border-width') solid var-get($theme, 'border-color');
    outline-offset: rem(-1px);
}
