@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $base;

:host {
    igc-popover::part(container) {
        border-radius: var-get($theme, 'border-radius');
    }
}

[part='base'] {
    box-shadow: var-get($theme, 'elevation');
    background: var-get($theme, 'background-color');
    border-radius: var-get($theme, 'border-radius');
}
