@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $indigo;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
}

[part='base'] {
    box-shadow: var(--ig-elevation-3);
    border: var-get($theme, 'border-width') solid var-get($theme, 'border-color');
    padding: rem(3px);
}
