@use 'styles/utilities' as *;
@use 'styles/common/component';
@use '../../dropdown/themes/dropdown.base' as *;

:host {
    display: block;
}

[role='combobox'] {
    outline-style: none;
}

:host([disabled]) {
    [role='combobox'] {
        pointer-events: none;
    }
}

igc-input,
igc-icon {
    --component-size: var(--select-size) !important;

    cursor: pointer;
}

igc-input::part(input) {
    cursor: pointer;

    &::selection {
        background: transparent;
    }
}

igc-validator {
    @include type-style('caption');

    line-height: 1;
}

[name='prefix']::slotted(*),
[name='suffix']::slotted(*) {
    display: flex;
}
