:host {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    min-width: 290px;
    outline: none;
    overflow: hidden;
}

[part~='days-row'] {
    display: flex;
}

[part~='date'],
[part~='label'] {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    outline: none;
    box-sizing: border-box;
    user-select: none;
}

[part~='selected'] {
    background: hotpink;
}

[part~='hidden'] {
    visibility: hidden;
}

[part~='week-number'] {
    background-color: gainsboro;
}

