@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

[part~='sent'] {
    background: var-get($theme, 'message-background');
}

[part~='bubble'] {
    color: var-get($theme, 'message-color');
}

[part~='message-actions'] {
    igc-icon-button::part(icon) {
        color: var-get($theme, 'message-actions-color');
    }
}