@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

[part~='sent'] {
    background: var-get($theme, 'message-background');
}

[part~='message-container'] {
    color: var-get($theme, 'message-color');

    // override shiki styles
    pre.shiki {
        background-color: var-get($theme, 'code-background') !important;
        border: rem(1px) solid var-get($theme, 'code-border');
    }
}

[part~='message-actions'] {
    igc-icon-button::part(icon) {
        color: var-get($theme, 'message-actions-color');
    }
}
