@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $fluent;
$separator-color: color(gray, 100) !default;
$item-hover-bg: var(--item-hover-bg, color(gray, 200)) !default;

[part='title'] {
    @include type-style('caption');
}

:host {
    @include css-vars-from-theme($theme, 'ig-list');

    border-bottom: rem(1px) solid $separator-color;
    border-radius: var-get($theme, 'item-border-radius');
}

:host(:hover),
:host(:focus-within) {
    background: $item-hover-bg;
}

:host(:last-of-type) {
    border-bottom: none;
}
