@use '../../../../styles/utilities' as *;

$separator-color: color(gray, 100) !default;
$item-hover-bg: var(--item-hover-bg, color(gray, 200)) !default;

[part='title'] {
    @include type-category('caption');
}

:host {
    border-bottom: rem(1px) solid $separator-color;
}

:host(:hover),
:host(:focus-within) {
    background: $item-hover-bg;
}

:host(:last-of-type) {
    border-bottom: none;
}
