@use 'styles/utilities' as *;
@use 'themes' as *;

:host {
    display: flex;
    align-items: center;
    position: relative;
    transition: background .15s ease-out;
    padding-inline: pad-inline(4px, 8px, 16px);
    padding-block: pad-block(2px, 4px, 8px);

    ::slotted(igc-avatar) {
        --ig-size: 1;
    }
}

::slotted(*) {
    margin: 0;
    font: inherit;
    opacity: inherit;
}

[part='content'] {
    flex-grow: 1;
}

[part='start'],
[part='end'] {
    display: flex;
    align-items: center;
    justify-content: center;
}

[name='start']::slotted(*) {
    margin-inline-end: pad(16px);
}

[name='end']::slotted(*) {
    margin-inline-start: pad(16px);
}

[part='title'] {
    @include type-style('subtitle-1');
}

[part='subtitle'] {
    @include type-style('caption');
}
