@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $material;

:host {
    @include css-vars-from-theme($theme, 'ig-list');

    border-radius: var-get($theme, 'item-border-radius');
    color: var-get($theme, 'item-text-color');
    background: var-get($theme, 'item-background');
}

:host(:hover),
:host(:focus-within) {
    background: var-get($theme, 'item-background-hover');
}

[part='title'] {
    color: var-get($theme, 'item-title-color');
}

[part='subtitle'] {
    color: var-get($theme, 'item-subtitle-color');
}
