@use 'sass:map';
@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;
@use '../../../../styles/themes/schemas' as *;

$schema: map.get($light-material-schema, 'list');
$theme: digest-schema($schema);

:host {
    @include border-radius(map.get($theme, 'item-border-radius')...);

    display: flex;
    align-items: center;
    position: relative;
    color: color(gray, 800);
    background: color(surface, 500);
    transition: background .15s ease-out;
    padding-inline: pad-inline(4px, 8px, 16px);
    padding-block: pad-block(2px, 4px, 8px);
}

:host(:hover),
:host(:focus-within) {
    background: color(gray, 200);
}

::slotted(*) {
    margin: 0;
    font: inherit;
    opacity: inherit;
}

[part='content'] {
    flex-grow: 1;
}

[part='start'],
[part='end'] {
    display: flex;
    align-items: center;
    justify-content: center;
}

[name='start']::slotted(*) {
    margin-inline-end: pad(16px);
}

[name='end']::slotted(*) {
    margin-inline-start: pad(16px);
}

[part='title'] {
    @include type-style('subtitle-1');
}

[part='subtitle'] {
    @include type-style('caption');

    opacity: .74;
}
