@use './list-item.base.scss';
@use '../../../../styles/utilities' as *;

$item-color: color(gray, 900) !default;
$item-hover-bg: color(gray, 50) !default;
$subtitle-color: color(gray, 800) !default;

:host {
    color: $item-color;

    [part='subtitle'] {
        color: $subtitle-color;
    }
}

:host(:hover),
:host(:focus-within) {
    background: $item-hover-bg;
}
