@use 'sass:map';
@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;
@use '../../../../styles/themes/schemas' as *;

$schema: map.get($light-material-schema, 'list');
$theme: digest-schema($schema);

:host {
    @include border-radius(map.get($theme, 'border-radius')...);

    display: flex;
    flex-flow: column nowrap;
    font-family: var(--ig-font-family);
    overflow: hidden auto;
    height: auto;
    background: color(surface, 500);
}

:host([size='small']) {
    --component-size: var(--ig-size, var(--ig-size-small));
}

:host([size='medium']) {
    --component-size: var(--ig-size, var(--ig-size-medium));
}

:host([size='large']) {
    --component-size: var(--ig-size, var(--ig-size-large));
}
