@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/combo' as *;
@use 'components/input/themes/light/themes' as input-theme;

$base: digest-schema($light-combo);
$material: digest-schema($material-combo);
$bootstrap: digest-schema($bootstrap-combo);
$fluent: digest-schema($fluent-combo);
$indigo: digest-schema($indigo-combo);

