@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/combo' as *;
@use '../../../input/themes/light/themes' as input-theme;

$material-helper-text: var-get(input-theme.$material, 'helper-text-color');
$material-disabled-text: var-get(input-theme.$material, 'disabled-text-color');
$material-error-text: var-get(input-theme.$material, 'error-secondary-color');
$fluent-helper-text: var-get(input-theme.$fluent, 'helper-text-color');
$fluent-disabled-text: var-get(input-theme.$fluent, 'disabled-text-color');
$fluent-error-text: var-get(input-theme.$fluent, 'error-secondary-color');
$bootstrap-helper-text: var-get(input-theme.$bootstrap, 'helper-text-color');
$bootstrap-disabled-text: var-get(input-theme.$bootstrap, 'disabled-text-color');
$bootstrap-error-text: var-get(input-theme.$bootstrap, 'error-secondary-color');
$indigo-helper-text: var-get(input-theme.$indigo, 'helper-text-color');
$indigo-disabled-text: var-get(input-theme.$indigo, 'disabled-text-color');
$indigo-error-text: var-get(input-theme.$indigo, 'error-secondary-color');
$material: digest-schema($light-combo);
$bootstrap: digest-schema($bootstrap-combo);
$fluent: digest-schema($fluent-combo);
$indigo: digest-schema($indigo-combo);
