@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    --component-size: var(--ig-size, var(--ig-size-medium));

    display: block;
    font-family: var(--ig-font-family);

    > igc-input::part(input) {
        text-overflow: ellipsis;
        cursor: pointer;
    }
}

:host(:not([single-select])) {
    > igc-input::part(input) {
        &::selection {
            background: transparent;
        }
    }
}

[part='helper-text'] {
    line-height: 1;

    ::slotted([slot='helper-text']) {
        @include type-style('caption');

        line-height: inherit;
    }
}

[part='clear-icon'],
[part='toggle-icon'],
[part~='case-icon'] {
    display: flex;
    cursor: pointer;
}

[part='list-wrapper'] {
    @include border-radius(rem(4px));

    position: absolute;
    width: 100%;
    background: color(surface);
    box-shadow: elevation(8);
    overflow: hidden;
    outline-style: none;
    z-index: 999999;

    igc-input {
        --ig-size: var(--ig-size-small);
        --ig-theme: material;
    }

    igc-input::part(container) {
        background: transparent;
        border-inline-start: 0;
        border-inline-end-color: transparent;
        border-block-start: 0;
        border-radius: 0;
    }

    igc-input::part(start) {
        display: none;
    }

    igc-input::part(input) {
        border-radius: 0;
        padding: 0;
        border-inline-start: 0;
        border-inline-end-color: transparent;
        border-block-start: 0;
        box-shadow: none;

        &::selection {
            background: color(primary, 100);
        }
    }

    [part='case-icon active'] {
        color: color(primary, 500);
    }
}

[part='filter-input'] {
    padding-inline: pad-inline(4px, 8px, 16px);
    padding-block: pad-block(8px);
    z-index: 26;
}

[part='list'] {
    min-height: rem(200px) !important;
    outline-style: none;
}

[part='empty'] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: rem(16px) rem(24px);
    font-size: rem(13px);
}

:host(:disabled),
:host([disabled]) {
    pointer-events: none;
    user-select: none;

    igc-input::part(input)::selection {
        background: transparent;
    }
}
