@use 'sass:map';
@use 'styles/utilities' as *;
@use 'components/dropdown/themes/light/themes' as dropdown;
@use 'themes' as *;

$theme: $material;
$dropdown: map.remove(dropdown.$material, 'default-size');

:host {
    @include css-vars-from-theme(diff($base, $theme));

    igc-popover {
        @include css-vars-from-theme($dropdown);
    }
}
