@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

:host {
    --component-size: var(--ig-size, var(--ig-size-medium));

    display: block;
    font-family: var(--ig-font-family);

    > igc-input::part(input) {
        cursor: pointer;

        &::selection {
            background: transparent;
        }
    }
}

igc-input::part(helper-text) {
    position: absolute;
}

:host([disabled]) {
    igc-input::part(label),
    igc-input::part(input)::placeholder,
    ::slotted([slot='helper-text']) {
        color: color(gray, 400);
    }

    pointer-events: none;
    user-select: none;
}

[part='clear-icon'],
[part='toggle-icon'],
[part~='case-icon'] {
    display: flex;
    cursor: pointer;
}

[part='list-wrapper'] {
    @include border-radius(rem(4px));

    position: absolute;
    width: 100%;
    background: color(surface);
    color: color(gray, 700);
    box-shadow: elevation(8);
    overflow: hidden;
    outline-style: none;

    igc-input {
        --ig-size: var(--ig-size-small);
        --ig-theme: material;
    }

    igc-input::part(container) {
        background: transparent;
        border-inline-start: 0;
        border-inline-end: 0;
        border-block-start: 0;
        border-radius: 0;
    }

    igc-input::part(start) {
        display: none;
    }

    igc-input::part(input) {
        border-radius: 0;
        padding: 0;
        border-inline-start: 0;
        border-inline-end: 0;
        border-block-start: 0;
        box-shadow: none;

        &::selection {
            background: color(primary, 100);
        }
    }

    [part='case-icon active'] {
        color: color(primary, 500);
    }
}

[part='filter-input'] {
    padding-inline: pad-inline(4px, 8px, 16px);
    padding-block: pad-block(8px);
    z-index: 26;
}

[part='list'] {
    min-height: rem(200px) !important;
    outline-style: none;
}

[part='case-icon'] {
    color: color(gray, 600);
}

[part='case-icon active'] {
    color: color(gray, 900);
}

[part='empty'] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: color(gray, 700);
    padding: rem(16px) rem(24px);
    font-size: rem(13px);
}
