@use '../../../../styles/utilities' as *;
@use '../../../select/themes/light/select.indigo';

[part='helper-text'] {
    margin-top: rem(6px);
    padding: 0 rem(12px);

    ::slotted([slot='helper-text']) {
        color: color(gray, 600);
    }
}

:host([disabled]) {
    [part='helper-text'] ::slotted([slot='helper-text']) {
        color: color(gray, 300);
    }

    [part='toggle-icon'] {
        background: transparent;
    }
}
