@use '../../../../styles/utilities' as *;
@use '../../../select/themes/light/select.indigo';

[part~='case-icon'] {
    padding: 0;
}

:host {
    ::slotted([slot='helper-text']) {
        @include type-style('caption');

        padding: 0;
        color: color(gray, 600);
    }
}
