@use 'sass:map';
@use 'styles/utilities' as *;
@use 'components/dropdown/themes/light/themes' as dropdown;
@use '../../../input/themes/light/themes' as input-theme;
@use 'themes' as *;

$theme: $fluent;
$dropdown: map.remove(dropdown.$fluent, 'default-size');
$input-theme: input-theme.$fluent;

:host {
    @include css-vars-from-theme($theme, 'ig-combo');
    @include css-vars-from-theme($dropdown, 'ig-combo-list');
    @include css-vars-from-theme($input-theme, 'ig-input');
}
