@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $indigo;

:host(igc-calendar) {
    @include css-vars-from-theme($theme, 'ig-calendar');

    background: color(surface);
    color: contrast-color(surface);
    border-radius: var-get($theme, 'border-radius');


    igc-days-view::part(date-inner) {
        border-radius: var-get($theme, 'date-border-radius');
    }

    igc-months-view {
        &::part(month-inner) {
            border-radius: var-get($theme, 'month-border-radius');
        }
    }

    igc-years-view {
        grid-template-rows: repeat(5, minmax(var(--size), 1fr));

        &::part(year-inner) {
            height: var(--size);
            border-radius: var-get($theme, 'month-border-radius');
        }
    }
}

[part='months-navigation'],
[part='years-navigation'],
[part~='navigation-button'] {
    background: transparent;
    color: color(gray, 800);

    &:hover,
    &:focus {
        color: color(secondary, 500);
    }
}

[part='header'] {
    background: color(secondary, 500);
    color: contrast-color(secondary, 600);
}

