@use 'styles/utilities' as *;
@use '../../light/themes' as *;

// In indigo theme the current date background has higher specificity then the special date background
// so when user change the special date background the current date background will be applied when both states are set
// However the text color and the inner circle border color of the special date will be visible to make the special date recognizable

$theme: $indigo;
$border-width: rem(1px);
$inner-border-width: rem(2px);
$week-number-radius: var-get($theme, 'week-number-border-radius');

[part~='label-inner'] {
    color: var-get($theme, 'weekday-color');
}

[part~='label'] {
    height: var-get($theme, 'size');
}

[part='week-number-inner first'] {
    border-top-left-radius: $week-number-radius;
    border-top-right-radius: $week-number-radius;
}

[part='week-number-inner last'] {
    border-bottom-left-radius: $week-number-radius;
    border-bottom-right-radius: $week-number-radius;
}

[part~='week-number'] {
    width: var-get($theme, 'size');
}

[part~='week-number-inner'] {
    width: var-get($theme, 'size');
    height: var-get($theme, 'size');
    color: var-get($theme, 'week-number-foreground');
    background: var-get($theme, 'week-number-background');

    &::after {
        background: var-get($theme, 'week-number-background');
        width: var-get($theme, 'size');
    }
}

[part~='date-inner'],
[part~='week-number-inner'] {
    border: $border-width solid transparent;
}

[part~='date'] {
    height: var-get($theme, 'size');
    font-size: sizable(var(--ig-body-2-font-size), var(--ig-body-2-font-size), var(--ig-body-1-font-size));

    &[part~='range'] {
        background: var-get($theme, 'date-selected-range-background');
        border-block: $border-width solid var-get($theme, 'date-range-border-color');
    }

    &[part~='range'][part~='first'],
    &[part~='range'][part~='last'] {
        background: transparent;
        border-block: transparent;

        &::before {
            height: var-get($theme, 'size');
            width: var-get($theme, 'size');
            background: var-get($theme, 'content-background');
            border-radius: var-get($theme, 'date-range-border-radius');
        }

        &::after {
            height: var-get($theme, 'size');
            background: var-get($theme, 'date-selected-range-background');
            border-block: $border-width solid var-get($theme, 'date-range-border-color');
        }
    }

    &[part~='range'][part~='first'][part~='special'],
    &[part~='range'][part~='last'][part~='special'] {
        &::before {
            border-radius: var-get($theme, 'date-special-border-radius');
        }
    }

    &[part~='range'][part~='first'][part~='current'],
    &[part~='range'][part~='last'][part~='current'] {
        &::before {
            border-radius: var-get($theme, 'date-current-border-radius');
        }
    }

    &[part~='range'][part~='preview'] {
        background: transparent;
        border-top: $border-width dashed var-get($theme, 'date-range-preview-border-color');
        border-bottom: $border-width dashed var-get($theme, 'date-range-preview-border-color');
    }

    &[part~='range'][part~='preview'][part~='first'],
    &[part~='range'][part~='preview'][part~='last'] {
        background: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;

        &::after {
            height: var-get($theme, 'size');
            border-top: $border-width dashed var-get($theme, 'date-range-preview-border-color');
            border-bottom: $border-width dashed var-get($theme, 'date-range-preview-border-color');
            background: transparent;
        }
    }
}

[part~='date-inner'] {
    width: var-get($theme, 'size');
    height: var-get($theme, 'size');
    border: $inner-border-width solid var-get($theme, 'date-border-color');
    border-radius: var-get($theme, 'date-border-radius');

    &:hover {
        border-color: var-get($theme, 'date-hover-border-color');
        background: var-get($theme, 'date-hover-background');
    }

    &:focus {
        border-color: var-get($theme, 'date-focus-border-color');
    }

    &[part~='inactive']:not([part~='selected'][part~='range'], [part~='disabled']) {
        color: var-get($theme, 'inactive-color');

        &:hover {
            color: var-get($theme, 'date-hover-foreground');
        }

        &:focus {
            color:  var-get($theme, 'date-focus-foreground');
        }
    }

    &[part~='disabled']:not([part~='selected'],[part~='special'],[part~='current']) {
        color: var-get($theme, 'date-disabled-foreground');
    }

    &[part~='disabled'][part~='range']:not([part~='selected'],[part~='special'],[part~='current'], [part~='preview'], [part~='first'], [part~='last']) {
        color: var-get($theme, 'date-disabled-range-foreground');
    }

    &[part~='first'],
    &[part~='last'] {
        border-radius: var-get($theme, 'date-range-border-radius');

        &::after {
            border-radius: var-get($theme, 'date-range-border-radius');
        }
    }

    &[part~='special'] {
        border-radius: var-get($theme, 'date-special-border-radius');

        &::after {
            border-radius: calc(var-get($theme, 'date-special-border-radius'));
        }
    }

    &[part~='special'][part~='current'],
    &[part~='special'][part~='selected'] {
        &::after {
            border-radius: calc(var-get($theme, 'date-special-border-radius') - $inner-border-width);
        }
    }

    &[part~='current'] {
        border-radius: var-get($theme, 'date-current-border-radius');
    }

    &[part~='special'][part~='current'] {
        border-radius: var-get($theme, 'date-current-border-radius');
    }
}

[part~='date-inner']:not([part~='inactive']) {
    &:hover {
        color: var-get($theme, 'date-hover-foreground');
    }

    &:focus {
        color: var-get($theme, 'date-focus-foreground');
        background: var-get($theme, 'date-focus-background');
    }

    &[part~='weekend']:not([part~='selected'][part~='range'], [part~='current'], [part~='special'], [part~='selected'], [part~='disabled']) {
        color: var-get($theme, 'weekend-color');

        &:hover {
            color: var-get($theme, 'date-hover-foreground');
        }

        &:focus {
            color:  var-get($theme, 'date-focus-foreground');
        }
    }

    &[part~='selected'] {
        color: var-get($theme, 'date-selected-foreground');
        background: var-get($theme, 'date-selected-background');
        border-color: var-get($theme, 'date-selected-border-color');

        &:hover {
            color: var-get($theme, 'date-selected-hover-foreground');
            background: var-get($theme, 'date-selected-hover-background');
            border-color: var-get($theme, 'date-selected-hover-border-color');
        }

        &:focus {
            color: var-get($theme, 'date-selected-focus-foreground');
            background: var-get($theme, 'date-selected-focus-background');
            border-color: var-get($theme, 'date-selected-focus-border-color');
        }
    }

    &[part~='selected'][part~='range'] {
        color: var-get($theme, 'date-selected-range-foreground');

        &:hover {
            color: var-get($theme, 'date-selected-range-hover-foreground');
            background: var-get($theme, 'date-selected-range-hover-background');
        }

        &:focus {
            color: var-get($theme, 'date-selected-range-focus-foreground');
            background: var-get($theme, 'date-selected-range-focus-background');
        }
    }

    &[part~='selected'][part~='current'] {
        color: var-get($theme, 'date-selected-current-foreground');
        background: var-get($theme, 'date-selected-current-background');
        border-color: var-get($theme, 'date-selected-current-border-color');

        &:hover {
            color: var-get($theme, 'date-selected-current-hover-foreground');
            background: var-get($theme, 'date-selected-current-hover-background');
            border-color: var-get($theme, 'date-selected-current-hover-border-color');
        }

        &:focus {
            color: var-get($theme, 'date-selected-current-focus-foreground');
            background: var-get($theme, 'date-selected-current-focus-background');
            border-color: var-get($theme, 'date-selected-current-focus-border-color');
        }

        &::after {
            border-color: transparent;
        }
    }

    &[part~='selected'][part~='special'] {
        color: var-get($theme, 'date-selected-special-foreground');
        background: var-get($theme, 'date-selected-special-background');

        &:hover {
            color: var-get($theme, 'date-selected-special-hover-foreground');
            background: var-get($theme, 'date-selected-special-hover-background');
        }

        &:focus {
            color: var-get($theme, 'date-selected-special-focus-foreground');
            background: var-get($theme, 'date-selected-special-focus-background');
        }
    }

    &[part~='selected'][part~='special']:not([part~='current']) {
        border-color: var-get($theme, 'date-selected-border-color');

        &:hover {
            border-color: var-get($theme, 'date-selected-hover-border-color');
        }

        &:focus {
            border-color: var-get($theme, 'date-selected-focus-border-color');
        }
    }

    &[part~='current'][part~='range'][part~='disabled']:not([part~='preview']),
    &[part~='selected'][part~='current'][part~='range'] {
        color: var-get($theme, 'date-selected-current-range-foreground');
        background: var-get($theme, 'date-selected-current-range-background');
        border-color: var-get($theme, 'date-selected-current-border-color');

        &:hover {
            color: var-get($theme, 'date-selected-current-range-hover-foreground');
            background: var-get($theme, 'date-selected-current-range-hover-background');
            border-color: var-get($theme, 'date-selected-current-hover-border-color');
        }

        &:focus {
            color: var-get($theme, 'date-selected-current-range-focus-foreground');
            background: var-get($theme, 'date-selected-current-range-focus-background');
            border-color: var-get($theme, 'date-selected-current-focus-border-color');
        }
    }

    &[part~='selected'][part~='first']:not([part~='special'], [part~='current']),
    &[part~='selected'][part~='last']:not([part~='special'], [part~='current']) {
        color: var-get($theme, 'date-selected-foreground');
        background: var-get($theme, 'date-selected-background');

        &:hover {
            color: var-get($theme, 'date-selected-hover-foreground');
            background: var-get($theme, 'date-selected-hover-background');
        }

        &:focus {
            color: var-get($theme, 'date-selected-focus-foreground');
            background: var-get($theme, 'date-selected-focus-background');
        }
    }

    &[part~='selected'][part~='current'][part~='range'][part~='first'],
    &[part~='selected'][part~='current'][part~='range'][part~='last'] {
        color: var-get($theme, 'date-selected-current-foreground');
        background: var-get($theme, 'date-selected-current-background');
        border-color: var-get($theme, 'date-selected-current-border-color');

        &::after {
            border-color: transparent;
        }

        &:hover {
            color: var-get($theme, 'date-selected-current-hover-foreground');
            background: var-get($theme, 'date-selected-current-hover-background');
            border-color: var-get($theme, 'date-selected-current-hover-border-color');
        }

        &:focus {
            color: var-get($theme, 'date-selected-current-focus-foreground');
            background: var-get($theme, 'date-selected-current-focus-background');
            border-color: var-get($theme, 'date-selected-current-focus-border-color');
        }
    }

    &[part~='selected'][part~='special'][part~='range'][part~='first'],
    &[part~='selected'][part~='special'][part~='range'][part~='last'] {
        &::after {
            border-color: var-get($theme, 'date-selected-special-border-color');
        }

        &:hover {
            /* stylelint-disable max-nesting-depth */
            &::after {
                border-color: var-get($theme, 'date-selected-special-hover-border-color');
            }
            /* stylelint-enable max-nesting-depth */
        }

        &:focus {
            /* stylelint-disable max-nesting-depth */
            &::after {
                border-color: var-get($theme, 'date-selected-special-focus-border-color');
            }
            /* stylelint-enable max-nesting-depth */
        }
    }

    &[part~='selected'][part~='current'][part~='special'] {
        color: var-get($theme, 'date-selected-special-foreground');
        background: var-get($theme, 'date-selected-current-background');
        border-color: var-get($theme, 'date-selected-current-border-color');

        &:hover {
            color: var-get($theme, 'date-selected-special-hover-foreground');
            background: var-get($theme, 'date-selected-current-hover-background');
            border-color: var-get($theme, 'date-selected-current-hover-border-color');
        }

        &:focus {
            color: var-get($theme, 'date-selected-special-focus-foreground');
            background: var-get($theme, 'date-selected-current-focus-background');
            border-color: var-get($theme, 'date-selected-current-focus-border-color');
        }
    }

    &[part~='current'][part~='special'][part~='range'][part~='disabled']:not([part~='preview']),
    &[part~='selected'][part~='current'][part~='special'][part~='range'] {
        color: var-get($theme, 'date-special-range-foreground');
        background: var-get($theme, 'date-selected-current-range-background');
        border-color: var-get($theme, 'date-selected-current-border-color');

        &:hover {
            color: var-get($theme, 'date-special-range-hover-foreground');
            background: var-get($theme, 'date-selected-current-range-hover-background');
            border-color: var-get($theme, 'date-selected-current-hover-border-color');

            /* stylelint-disable max-nesting-depth */
            &::after {
                border-color: var-get($theme, 'date-special-range-hover-border-color');
            }
            /* stylelint-enable */
        }

        &:focus {
            color: var-get($theme, 'date-special-range-focus-foreground');
            background: var-get($theme, 'date-selected-current-range-focus-background');
            border-color: var-get($theme, 'date-selected-current-focus-border-color');

            /* stylelint-disable max-nesting-depth */
            &::after {
                border-color: var-get($theme, 'date-special-range-focus-border-color');
            }
            /* stylelint-enable */
        }

        &::after {
            border-color: var-get($theme, 'date-special-range-border-color');
        }
    }

    &[part~='selected'][part~='current'][part~='special'][part~='range'][part~='first'],
    &[part~='selected'][part~='current'][part~='special'][part~='range'][part~='last'] {
        color: var-get($theme, 'date-selected-special-foreground');
        background: var-get($theme, 'date-selected-current-background');
        border-color: var-get($theme, 'date-selected-current-border-color');

        &:hover {
            color: var-get($theme, 'date-selected-special-hover-foreground');
            background: var-get($theme, 'date-selected-current-hover-background');
            border-color: var-get($theme, 'date-selected-current-hover-border-color');
        }

        &:focus {
            color: var-get($theme, 'date-selected-special-focus-foreground');
            background: var-get($theme, 'date-selected-current-focus-background');
            border-color: var-get($theme, 'date-selected-current-focus-border-color');
        }
    }

    &[part~='selected'][part~='current'][part~='special'][part~='first'],
    &[part~='selected'][part~='current'][part~='special'][part~='last'],
    &[part~='selected'][part~='current'][part~='special']:not([part~='range']) {
        &::after {
            border-color: var-get($theme, 'date-selected-special-border-color');
        }

        &:hover {
            /* stylelint-disable max-nesting-depth */
            &::after {
                border-color: var-get($theme, 'date-selected-special-hover-border-color');
            }
            /* stylelint-enable max-nesting-depth */
        }

        &:focus {
            /* stylelint-disable max-nesting-depth */
            &::after {
                border-color: var-get($theme, 'date-selected-special-focus-border-color');
            }
            /* stylelint-enable max-nesting-depth */
        }
    }

    &[part~='selected'][part~='special']:not([part~='range']) {
        &::after {
            border-color: var-get($theme, 'date-selected-special-border-color');
        }

        &:hover {
            /* stylelint-disable max-nesting-depth */
            &::after {
                border-color: var-get($theme, 'date-selected-special-hover-border-color');
            }
            /* stylelint-enable max-nesting-depth */
        }

        &:focus {
            /* stylelint-disable max-nesting-depth */
            &::after {
                border-color: var-get($theme, 'date-selected-special-focus-border-color');
            }
            /* stylelint-enable max-nesting-depth */
        }
    }

    &[part~='selected'][part~='special']:not([part~='range'], [part~='current']) {
        border-color: var-get($theme, 'date-selected-border-color');

        &:hover {
            border-color: var-get($theme, 'date-selected-hover-border-color');
        }

        &:focus {
            border-color: var-get($theme, 'date-selected-focus-border-color');
        }
    }

    &[part~='special'] {
        color: var-get($theme, 'date-special-foreground');
        background: var-get($theme, 'date-special-background');
        border-color:  var-get($theme, 'date-special-border-color');
        font-weight: 700;

        &:hover {
            color: var-get($theme, 'date-special-hover-foreground');
            background: var-get($theme, 'date-special-hover-background');
            border-color: var-get($theme, 'date-special-hover-border-color');
        }

        &:focus {
            color: var-get($theme, 'date-special-focus-foreground');
            background: var-get($theme, 'date-special-focus-background');
            border-color: var-get($theme, 'date-special-focus-border-color');
        }

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            border: rem(2px) solid transparent;
            width: var-get($theme, 'inner-size');
            height: var-get($theme, 'inner-size');
            box-sizing: border-box;
        }

        &[part~='range']:not([part~='preview'], [part~='current'], [part~='first'], [part~='last'], [part~='first'][part~='last']) {
            color: var-get($theme, 'date-special-range-foreground');
            background: var-get($theme, 'date-special-range-background');
            border-color: var-get($theme, 'date-special-range-border-color');

            &:hover {
                color: var-get($theme, 'date-special-range-hover-foreground');
                background: var-get($theme, 'date-special-range-hover-background');
                border-color: var-get($theme, 'date-special-range-hover-border-color');
            }

            &:focus {
                color: var-get($theme, 'date-special-range-focus-foreground');
                background: var-get($theme, 'date-special-range-focus-background');
                border-color: var-get($theme, 'date-special-range-focus-border-color');
            }
        }

        &[part~='first'][part~='selected'],
        &[part~='last'][part~='selected'],
        &[part~='selected']:not([part~='range']) {
            &::after {
                width: calc(var-get($theme, 'inner-size') - #{rem(4px)});
                height: calc(var-get($theme, 'inner-size') - #{rem(4px)});
            }
        }
    }

    &[part~='current'] {
        color: var-get($theme, 'date-current-foreground');
        background: var-get($theme, 'date-current-background');
        border-color: var-get($theme, 'date-current-border-color');

        &:hover {
            color: var-get($theme, 'date-current-hover-foreground');
            background: var-get($theme, 'date-current-hover-background');
            border-color: var-get($theme, 'date-current-hover-border-color');
        }

        &:focus {
            color: var-get($theme, 'date-current-focus-foreground');
            background: var-get($theme, 'date-current-focus-background');
            border-color: var-get($theme, 'date-current-focus-border-color');
        }
    }

    &[part~='current'][part~='special'] {
        border-color: var-get($theme, 'date-current-border-color');

        &:hover {
            border-color: var-get($theme, 'date-current-hover-border-color');
        }

        &:focus {
            border-color: var-get($theme, 'date-current-focus-border-color');
        }

        &::after {
            width: calc(var-get($theme, 'inner-size') - #{rem(4px)});
            height: calc(var-get($theme, 'inner-size') - #{rem(4px)});
        }
    }

    &[part~='current'][part~='special'][part~='first'][part~='last'],
    &[part~='current'][part~='special'] {
        &::after {
            width: calc(var-get($theme, 'inner-size') - #{rem(4px)});
            height: calc(var-get($theme, 'inner-size') - #{rem(4px)});
        }
    }

    &[part~='special'][part~='current']:not([part~='selected']) {
        color: var-get($theme, 'date-special-foreground');
        background: var-get($theme, 'date-current-background');
        border-color: var-get($theme, 'date-current-border-color');

        &:hover {
            color: var-get($theme, 'date-special-hover-foreground');
            background: var-get($theme, 'date-current-hover-background');
            border-color: var-get($theme, 'date-current-hover-border-color');

            &::after {
                border-color: var-get($theme, 'date-special-hover-border-color');
            }
        }

        &:focus {
            color: var-get($theme, 'date-special-focus-foreground');
            background: var-get($theme, 'date-current-focus-background');
            border-color: var-get($theme, 'date-current-focus-border-color');

            &::after {
                border-color: var-get($theme, 'date-special-focus-border-color');
            }
        }

        &::after {
            border-color: var-get($theme, 'date-special-border-color');
        }
    }

    &[part~='special'][part~='selected'][part~='range'][part~='preview'][part~='first']:not([part~='current']),
    &[part~='special'][part~='selected'][part~='range'][part~='preview'][part~='last']:not([part~='current']) {
        border-color: var-get($theme, 'date-selected-border-color');

        &:hover {
            border-color: var-get($theme, 'date-selected-hover-border-color')
        }

        &:focus {
            border-color: var-get($theme, 'date-selected-focus-border-color')
        }
    }

    &[part~='special'][part~='selected']:not([part~='current']),
    &[part~='special'][part~='selected'][part~='first']:not([part~='current']),
    &[part~='special'][part~='selected'][part~='last']:not([part~='current']) {
        &::after {
            width: var-get($theme, 'inner-size');
            height: var-get($theme, 'inner-size');
        }
    }

    &[part~='range']:not([part~='first'], [part~='last'], [part~='preview'], [part~='special'], [part~='current']) {
        background: transparent;
        border-color: transparent;
    }

    &[part~='preview']:not([part~='first'], [part~='last'], [part~='special'], [part~='current']) {
        border-color: transparent;
    }
}

[part~='date-inner'][part~='selected'][part~='inactive'][part~='first'],
[part~='date-inner'][part~='selected'][part~='inactive'][part~='last'] {
    color: var-get($theme, 'date-selected-foreground');
    background: var-get($theme, 'date-selected-background');
    border-color: var-get($theme, 'date-selected-border-color');

    &:hover {
        color: var-get($theme, 'date-selected-hover-foreground');
        background: var-get($theme, 'date-selected-hover-background');
        border-color: var-get($theme, 'date-selected-hover-border-color');
    }

    &:focus {
        color: var-get($theme, 'date-selected-focus-foreground');
        background: var-get($theme, 'date-selected-focus-background');
        border-color: var-get($theme, 'date-selected-focus-border-color');
    }
}

[part~='date-inner'][part~='inactive'][part~='range']:not([part~='first'], [part~='last'], [part~='preview']) {
    color: var-get($theme, 'date-selected-range-foreground');
    border-color: transparent;

    &:hover {
        color: var-get($theme, 'date-selected-range-hover-foreground');
        background: var-get($theme, 'date-selected-range-hover-background');
    }

    &:focus {
        color: var-get($theme, 'date-selected-range-focus-foreground');
        background: var-get($theme, 'date-selected-range-focus-background');
    }
}
