@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $indigo;
$border-size: rem(2px);
$inner-width: calc(#{$border-size} * 4);

[part~='month-inner'],
[part~='year-inner'] {
    height: var-get($theme, 'size');
    border-radius: var-get($theme, 'ym-border-radius');
    position: relative;

    &:focus,
    &:focus-visible,
    &:focus-within {
        outline: none;
    }

    &:focus,
    &:hover {
        color: var-get($theme, 'ym-hover-foreground');
        background: var-get($theme, 'ym-hover-background');
    }

    &[part~='current'] {
        color: var-get($theme, 'ym-current-foreground');
        background: var-get($theme, 'ym-current-background');
        box-shadow: inset 0 0 0 $border-size var-get($theme, 'ym-current-outline-color');

        &:focus,
        &:hover {
            color: var-get($theme, 'ym-current-hover-foreground');
            background: var-get($theme, 'ym-current-hover-background');
        }

        &:hover {
            box-shadow: inset 0 0 0 $border-size var-get($theme, 'ym-current-outline-hover-color');
        }

        &:focus {
            box-shadow: inset 0 0 0 $border-size var-get($theme, 'ym-current-outline-focus-color');
        }
    }

    &[part~='selected'] {
        color: var-get($theme, 'ym-selected-foreground');
        background: var-get($theme, 'ym-selected-background');
        box-shadow: inset 0 0 0 $border-size var-get($theme, 'ym-selected-outline-color');

        &:focus,
        &:hover {
            color: var-get($theme, 'ym-selected-hover-foreground');
            background: var-get($theme, 'ym-selected-hover-background');
        }

        &:hover {
            box-shadow: inset 0 0 0 $border-size var-get($theme, 'ym-selected-hover-outline-color');
        }

        &:focus {
            box-shadow: inset 0 0 0 $border-size var-get($theme, 'ym-selected-focus-outline-color');
        }
    }

    &[part~='selected'][part~='current'] {
        color: var-get($theme, 'ym-selected-current-foreground');
        background: var-get($theme, 'ym-selected-current-background');
        box-shadow: inset 0 0 0 $border-size var-get($theme, 'ym-selected-current-outline-color');

        &:focus,
        &:hover {
            color: var-get($theme, 'ym-selected-current-hover-foreground');
            background: var-get($theme, 'ym-selected-current-hover-background');
        }

        &:hover {
            box-shadow: inset 0 0 0 $border-size var-get($theme, 'ym-selected-current-outline-hover-color');
        }

        &:focus {
            box-shadow: inset 0 0 0 $border-size var-get($theme, 'ym-selected-current-outline-focus-color');
        }
    }
}


