@use '../../styles/utilities' as utils;

@mixin theme() {
    igc-radio::part(base) {
        transition-duration: .1s;
    }

    igc-radio::part(control) {
        width: var(--size, utils.rem(20px));
        height: var(--size, utils.rem(20px));
        min-width: var(--size, utils.rem(20px));
        background: transparent;
        transition: none;

        &::before,
        &::after {
            transition-duration: .1s;
        }

        &::before {
            transform: translate(-50%, -50%) scale(.5);
        }

        &::after {
            border: calc(var(--size, 20px) / 20) solid utils.color(gray, 700);
        }
    }

    igc-radio:hover::part(control),
    igc-radio:focus-within::part(control) {
        &::before {
            background: utils.color(gray, 700);
        }
    }

    igc-radio:not([disabled])[checked]::part(control) {
        &::before {
            background: utils.color(primary, 500);
        }

        &::after {
            border-color: utils.color(primary, 500);
        }
    }

    igc-radio:not([disabled])[checked]:hover::part(control),
    igc-radio:not([disabled])[checked]:focus-within::part(control) {
        &::after {
            border-color: utils.color(primary, 900);
        }

        &::before {
            background: utils.color(primary, 900);
        }
    }

    igc-radio:not([checked])[disabled]::part(control) {
        &::after {
            border-color: utils.color(gray, 400);
        }
    }

    igc-radio[checked][disabled]::part(control) {
        &::after {
            border-color: utils.color(gray, 400);
        }

        &::before {
            background: utils.color(gray, 400);
        }
    }
}
