@use '../../styles/utilities' as utils;

$hover-color: utils.color(gray, 700) !default;
$checked-hover-color: utils.color(primary, 900) !default;
$invalid-color: utils.color(error, 500) !default;
$invalid-hover-color: utils.color(error, 700) !default;
$disabled-color: utils.color(gray, 400) !default;

@mixin theme() {
    igc-radio::part(base) {
        transition-duration: .1s;
    }

    igc-radio::part(control) {
        width: var(--size, utils.rem(20px));
        height: var(--size, utils.rem(20px));
        min-width: var(--size, utils.rem(20px));
        background: transparent;
        transition: none;

        &::before,
        &::after {
            transition-duration: .1s;
        }

        &::before {
            transform: translate(-50%, -50%) scale(.5);
        }

        &::after {
            border: calc(var(--size, 20px) / 20) solid utils.color(gray, 700);
        }
    }

    igc-radio:hover::part(control),
    igc-radio:focus-within::part(control) {
        &::before {
            background: $hover-color;
        }
    }

    igc-radio::part(control checked) {
        &::before {
            background: utils.color(primary, 500);
        }

        &::after {
            border-color: utils.color(primary, 500);
        }
    }

    igc-radio:hover::part(control checked),
    igc-radio:focus-within::part(control checked) {
        &::after {
            border-color: $checked-hover-color;
        }

        &::before {
            background: $checked-hover-color;
        }
    }

    igc-radio[invalid]::part(label) {
        color: $invalid-color;
    }

    igc-radio[invalid]::part(control) {
        &::after {
            border-color: $invalid-color;
        }
    }

    igc-radio[invalid]:hover::part(control) {
        &::before {
            background: $invalid-color;
        }
    }

    igc-radio[invalid]::part(control checked) {
        &::after {
            border-color: $invalid-color;
        }

        &::before {
            background: $invalid-color;
        }
    }

    igc-radio[invalid]:hover::part(control),
    igc-radio[invalid]:focus-within::part(control) {
        &::after {
            border-color: $invalid-hover-color;
        }
    }

    igc-radio[invalid]:hover::part(control checked),
    igc-radio[invalid]:focus-within::part(control checked) {
        &::after {
            border-color: $invalid-hover-color;
        }

        &::before {
            background: $invalid-hover-color;
        }
    }

    igc-radio[disabled]::part(label) {
        color: $disabled-color;
    }

    igc-radio[disabled]::part(control) {
        &::after {
            border-color: $disabled-color;
        }
    }

    igc-radio[disabled]::part(control checked) {
        &::after {
            border-color: $disabled-color;
        }

        &::before {
            background: $disabled-color;
        }
    }
}
