@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: flex;
    flex-flow: column nowrap;
    font-family: var(--ig-font-family);
    overflow: hidden auto;
    height: auto;
}
