@use 'styles/common/component';
@use 'styles/utilities' as *;
@use './light/themes' as *;

$theme: $material;

:host {
    display: flex;
    flex-flow: column nowrap;
    font-family: var(--ig-font-family);
    overflow: hidden auto;
    height: auto;
    background: var-get($theme, 'background');
    border-radius: var-get($theme, 'border-radius');
}
