@use 'styles/utilities' as *;

:host {
    @include type-style('overline');

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: pad-inline(rem(4px), rem(8px), rem(16px));
    padding-block: pad-block(rem(2px), rem(4px), rem(8px));
}

::slotted(*) {
    font: inherit;
    margin: inherit;
}
