@use 'styles/utilities' as *;

:host {
    display: flex;
    align-items: center;
    position: relative;
    gap: rem(16px);
    transition: background .15s ease-out;
    padding-inline: pad-inline(rem(4px), rem(8px), rem(16px));
    padding-block: pad-block(rem(2px), rem(4px), rem(8px));

    ::slotted(igc-avatar) {
        --ig-size: 1;
    }
}

::slotted(*) {
    // We're not able to target the control part of the checkbox
    // that's why we exposed that css variable (https://github.com/w3c/csswg-drafts/issues/3896)
    --control-padding: 0;

    margin: 0;
    font: inherit;
    opacity: inherit;
}

[part='content'] {
    flex-grow: 1;
}

[part='start'],
[part='end'] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(8px);
}

[part='title'] {
    @include type-style('subtitle-1');
}

[part='subtitle'] {
    @include type-style('caption');
}
