@use '../../styles/utilities' as utils;

@mixin theme() {
    igc-input,
    igc-input[outlined] {
        --theme: indigo;

        &::part(prefix),
        &::part(suffix) {
            padding-top: utils.rem(8px);
            padding-bottom: utils.rem(8px);
            color: utils.color(gray, 600);
        }

        &::part(prefix) {
            padding-inline-start: utils.rem(8px);
            grid-area: 1 / 1;
        }

        &::part(suffix) {
            padding-inline-end: utils.rem(8px);
            grid-area: 1 / 3;
        }

        &::part(label) {
            position: relative;
            left: 0;
            transform: none;
            transition: none;
            margin-bottom: utils.rem(4px);
            font-size: initial;
        }

        &::part(container) {
            background: transparent;
            border-bottom: 1px solid utils.color(gray, 500);
            transition: background .25s ease-out;
            grid-template-columns: auto 1fr auto;

            &::after {
                background: utils.color(secondary, 500);
                transform: scaleY(0);
                height: 2px;
            }
        }

        &::part(input) {
            background: initial;
            padding: utils.rem(8px);
            border: none;
            grid-area: 1 / 2;
        }

        &::part(helper-text) {
            padding: 0;
        }
    }

    igc-input:hover,
    igc-input[outlined]:hover {
        &::part(container) {
            background: utils.color(gray, 100);
        }
    }

    igc-input:focus-within,
    igc-input[outlined]:focus-within {
        &::part(container) {
            background: utils.color(gray, 100);

            &::after {
                transform: scaleY(1);
            }
        }
    }

    igc-input[invalid],
    igc-input[invalid][outlined] {
        &::part(container) {
            border-color: utils.color(error, 500);

            &::after {
                background: utils.color(error, 500);
            }
        }
    }

    igc-input[disabled] {
        pointer-events: none;

        &::part(container) {
            border-color: utils.color(gray, 300);
        }

        &::part(prefix),
        &::part(suffix),
        &::part(label),
        &::part(input),
        &::part(helper-text) {
            color: utils.color(gray, 300);
        }
    }
}
