@use 'sass:map';
@use 'sass:math';
@use '../../styles/common/component';
@use '../../styles/utilities' as *;

$idle-color: color(gray, 600);
$active-color: color(primary, 500);
$success-color: color(success, 500);
$error-color: color(error, 500);
$idle-border-width: rem(1px);
$active-border-width: rem(2px);
$scale: .75;
$fs: rem(16px);

$input-height: (
    large: rem(56px),
    medium: rem(48px),
    small: rem(40px)
);

@function floated-position($input-height) {
    $scaled-fs: $fs * $scale;
    @return $scaled-fs + $input-height - #{math.div($fs, 2)};
}

%large-label {
    $y-offset: floated-position(map.get($input-height, 'large'));
    transform: translateY(-34.75px) scale($scale);
}

%medium-label {
    $y-offset: floated-position(map.get($input-height, 'medium'));
    transform: translateY(-29.75px) scale($scale);
}

%small-label {
    $y-offset: floated-position(map.get($input-height, 'small'));
    transform: translateY(-25.75px) scale($scale);
}

%floated-styles {
    > [part='middle']  {
        border-top: $idle-border-width solid transparent;
    }
}

:host {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: var(--igc-font-family);
}

:host([size='large']) {
    height: map.get($input-height, 'large');

    input:not(:placeholder-shown) + [part='container'] label {
        @extend %large-label;
    }
}

:host([size='medium']) {
    height: map.get($input-height, 'medium');

    input:not(:placeholder-shown) + [part='container'] label {
        @extend %medium-label;
    }
}

:host([size='small']) {
    height: map.get($input-height, 'small');

    input:not(:placeholder-shown) + [part='container'] label {
        @extend %small-label;
    }
}

:host([size='large']:focus-within) {
    label {
        @extend %large-label;
    }
}

:host([size='medium']:focus-within) {
    label {
        @extend %medium-label;
    }
}

:host([size='small']:focus-within) {
    label {
        @extend %small-label;
    }
}

:host([placeholder][size='large']) > [part='container'] {
    @extend %floated-styles;

    label {
        @extend %large-label;
    }
}

:host([placeholder][size='medium']) > [part='container'] {
    @extend %floated-styles;

    label {
        @extend %medium-label;
    }
}

:host([placeholder][size='small']) > [part='container'] {
    @extend %floated-styles;

    label {
        @extend %small-label;
    }
}

input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline-style: none;
    padding: rem(12px) rem(16px);
    font-size: rem(16px);
}

label {
    position: absolute;
    display: inline-block;
    top: 50%;
    inset-inline-start: rem(4px);
    transform: translateY(-50%) scale(1);
    transition: transform 150ms cubic-bezier(.4, 0, .2, 1), color 150ms cubic-bezier(.4, 0, .2, 1);
    white-space: nowrap;
    color: $idle-color;
    line-height: 1;
}

:host(:focus-within) {
    [part='start'] {
        padding-inline-start: 4px;
        border: {
            color: $active-color;
            inline: {
                start-width: $active-border-width;
            };
            block: {
                start-width: $active-border-width;
                end-width: $active-border-width;
            }
        }
    }

    [part='middle'] {
        border: {
            width: $active-border-width;
            color: $active-color;
            top: $idle-border-width solid transparent;
        }
    }

    [part='filler'] {
        border: {
            color: $active-color;
            inline: {
                end-width: $active-border-width;
            };
            block: {
                start-width: $active-border-width;
                end-width: $active-border-width;
            };
        }

        > [part='end'] {
            padding-inline-end: rem(4px);
        }
    }

    label {
        color: $active-color;
    }
}

input:not(:placeholder-shown) + [part='container'] {
    @extend %floated-styles;
}

[part='container'] {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100%;
    pointer-events: none;
}

[part='start'] {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    min-width: rem(12px);
    border: {
        style: solid;
        color: $idle-color;
        inline: {
            start-width: $idle-border-width;
            end-width: 0;
        };
        block: {
            start-width: $idle-border-width;
            end-width: $idle-border-width;
        };
        start: {
            start-radius: rem(4px);
        };
        end: {
            start-radius: rem(4px);
        };
    }
    padding-inline-start: rem(5px);
    padding-inline-end: rem(4px);
}

[part='middle'] {
    position: relative;
    flex: 0 0 auto;
    width: auto;
    height: 100%;
    border: {
        width: $idle-border-width;
        style: solid;
        color: $idle-color;
        left: none;
        right: none;
    }
    overflow: visible;
}

[part='filler'] {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    height: 100%;
    border: {
        style: solid;
        color: $idle-color;
        inline: {
            start-width: 0;
            end-width: $idle-border-width;
        };
        block: {
            start-width: $idle-border-width;
            end-width: $idle-border-width;
        };
        start: {
            end-radius: rem(4px);
        };
        end: {
            end-radius: rem(4px);
        };
    }

    > [part='end'] {
        display: flex;
        align-items: center;
        height: 100%;
        padding-inline-start: rem(4px);
        padding-inline-end: rem(5px);
    }
}
