@use '../../styles/common/component';
@use '../../styles/utilities' as *;

$idle-color: color(gray, 600);
$active-color: color(primary, 500);

:host {
    position: relative;
    display: flex;
    flex-direction: column;
    height: rem(56px);
    font-family: var(--igc-font-family);
}

input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline-style: none;
    padding: rem(12px) rem(16px);
    font-size: rem(16px);
}

label {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: rem(4px);
    transform: translateY(-50%) scale(1);
    transform-origin: 0;
    transition: transform 150ms cubic-bezier(.4, 0, .2, 1), color 150ms cubic-bezier(.4, 0, .2, 1);
    white-space: nowrap;
    color: $idle-color;
    line-height: 1;
}

:host(:focus-within) {
    [part='start'] {
        padding-inline-start: 4px;
        border: {
            width: rem(2px);
            color: $active-color;
        }
    }

    [part='middle'] {
        border: {
            width: rem(2px);
            color: $active-color;
            top: 1px solid transparent;
        }
    }

    [part='end'] {
        border: {
            width: rem(2px);
            color: $active-color;
        }
    }

    label {
        transform: translateY(-34.75px) scale(.75);
        color: $active-color;
    }
}

:host([placeholder]) > [part='container'],
input:not(:placeholder-shown) + [part='container'] {
    > [part='middle']  {
        border-top: 1px solid transparent;

        > label {
            transform: translateY(-34.75px) scale(.75);
        }
    }
}

[part='container'] {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100%;
    right: 0;
    left: 0;
    pointer-events: none;
}

[part='start'] {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    min-width: rem(12px);
    border: {
        width: 1px;
        style: solid;
        color: $idle-color;
        right: none;
        radius: rem(4px) 0 0 rem(4px);
    }
    padding-inline-start: 5px;
    padding-inline-end: rem(4px);
}

[part='middle'] {
    position: relative;
    flex: 0 0 auto;
    width: auto;
    height: 100%;
    border: {
        width: 1px;
        style: solid;
        color: $idle-color;
        left: none;
        right: none;
    }
    overflow: visible;
}

[part='end'] {
    flex-grow: 1;
    height: 100%;
    border: {
        width: 1px;
        style: solid;
        color: $idle-color;
        left: none;
        radius: 0 rem(4px) rem(4px) 0;
    }
}
