@use '../../styles/utilities' as *;

$disabled-label-color: color(gray, 400) !default;

:host {
    --symbol-full-color: #{color(warn, 900)};
    --symbol-empty-color: #{color(gray, 700)};
}

[part='base'],
:host {
    gap: rem(6px);
}

[part~='label'] {
    @include type-style('subtitle-2');

    color: color(gray, 900);
}

[part~='value-label'] {
    @include type-style('body-2');

    color: color(gray, 900);
}

:host([disabled]),
:host(:disabled) {
    --symbol-full-color: #{color(warn, 100)};
    --symbol-empty-color: #{color(warn, 100)};

    [part~='value-label'],
    [part~='label'] {
        color: $disabled-label-color;
    }
}
