@use '../../styles/utilities' as *;

$disabled-color: color(gray, 200) !default;
$disabled-selected-color: color(gray, 500) !default;
$disabled-label-color: color(gray, 400) !default;

:host {
    --igc-rating-spacing: #{rem(6px)};
}

:host([disabled]) {
    [part~='symbols-wrapper'] {
        color: $disabled-color;
    }

    [part~='label'] {
        color: $disabled-label-color;
    }

    [part='symbols-wrapper selected'] {
        color: $disabled-selected-color;
    }
}

[part~='label'] {
    @include type-category('subtitle-2');

    color: color(gray, 900);
}
