@use '../../styles/utilities' as *;

:host {
    gap: rem(5px);
}

[part='base'] {
    gap: rem(8px);
}

[part~='label'] {
    @include type-style('body-1');

    color: color(gray, 900);
}

[part~='value-label'] {
    @include type-style('body-1');

    color: color(gray, 900);
}
