@use '../../styles/utilities' as *;

$spacing: rem(6px);
$disabled-color: color(gray, 200) !default;
$disabled-selected-color: color(gray, 500) !default;
$disabled-label-color: color(gray, 400) !default;

[part~='label'] {
    @include type-category('subtitle-2');

    color: color(gray, 900);
    padding-inline-start: $spacing;
}

:host([disabled]) {
    [part~='symbols-wrapper'] {
        color: $disabled-color;
    }

    [part~='label'] {
        color: $disabled-label-color;
    }

    [part~='symbols-wrapper'] [part~='fraction'] {
        color: $disabled-selected-color;
    }
}
