@use 'sass:map';
@use '../../styles/common/component';
@use '../../styles/utilities' as *;

$label-color: color(gray, 700) !default;
$value-label-color: color(gray, 900) !default;
$empty-color: color(gray, 600) !default;
$selected-color: color(warn) !default;
$disabled-empty-color: color(gray, 400) !default;
$disabled-selected-color: color(warn, 200) !default;

:host {
    --symbol-full-color: #{color(warn)};
    --symbol-empty-color: #{color(gray, 600)};

    display: inline-flex;
    font-family: var(--igc-font-family);
    align-items: flex-start;
    flex-direction: column;
    gap: rem(4px);
}

@each $s in 'small', 'medium', 'large' {
    $size: map.get(
        (
            small: rem(18px),
            medium: rem(24px),
            large: rem(36px)
        ),
        $s
    );

    :host([size='#{$s}']) {
        --symbol-size: #{$size};
    }
}

[part='base'] {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    flex-wrap: wrap;
    gap: rem(4px);
}

[part~='symbols'] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(2px);
    gap: rem(2px);
    inset-inline-start: 0;
}

[part~='value-label'] {
    @include type-category('subtitle');

    color: $value-label-color;
}

[part~='label'] {
    @include type-category('caption');

    color: $label-color;
    padding-inline-start: rem(4px);
    height: auto;
    width: auto;
    min-height: 0;
    min-width: 0;
    margin: 0;
}

:host(:not([disabled]):not([readonly])) {
    [part~='symbols'] {
        cursor: pointer;
    }
}

:host([disabled]) {
    --symbol-full-color: #{color(warn, 200)};
    --symbol-empty-color: #{color(gray, 400)};
    --symbol-full-filter: grayscale(.5);
    --symbol-empty-filter: grayscale(1) opacity(.5);

    [part~='symbols'] {
        cursor: initial;
    }
}
