@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $indigo;

:host {
    padding-inline: pad-inline(rem(8px), rem(12px), rem(16px));
    padding-block: pad-block(rem(4px), rem(6px), rem(8px));

    ::slotted(*) {
        min-height: rem(16px);
    }
}
