@use 'theme' as *;
@use 'igniteui-theming' as *;
@use 'igniteui-theming/sass/typography/presets/indigo' as *;
@use 'igniteui-theming/sass/elevations/presets' as *;

@mixin root-styles($palette, $variant) {
    :root {
        --ig-scrollbar-thumb-background: #{color($color: gray, $variant: 400)};
        --ig-scrollbar-track-background: #{color($color: gray, $variant: 200)};
    }

    @include theme($palette, $indigo-elevations, $typeface, $type-scale, $variant);
}
