@use '../../../../node_modules/igniteui-theming' as *;
@use '../../../../node_modules/igniteui-theming/sass/typography/presets' as *;
@use '../../../../node_modules/igniteui-theming/sass/elevations/presets' as *;

.igc-scrollbar {
    --scrolbar-size: #{rem(16px)};
    --igc-scrollbar-track-color: #{color(null, gray, 200)};
    --igc-scrollbar-thumb-color: #{color(null, gray, 400)};
}

@mixin root-styles($palette) {
    :root {
        --igc-theme: indigo;
        --ig-radius-factor: 1;
        --igc-spacing-small: #{rem(2px)};
        --igc-spacing-medium: #{rem(4px)};
        --igc-spacing-large: #{rem(8px)};

        @include palette($palette);
        @include elevations($material-elevations);
        @include typography(
            $font-family: $indigo-typeface,
            $type-scale: $indigo-type-scale
        );
    }
}
