@use '../../../../node_modules/igniteui-theming' as *;

.igc-scrollbar {
    --scrolbar-size: #{rem(16px)};
    --igc-scrollbar-track-color: #{color(null, gray, 100)};
    --igc-scrollbar-thumb-color: #{color(null, gray, 400)};
}

@mixin root-styles($palette) {
    :root {
        --igc-theme: material;
        --ig-radius-factor: 1;
        --igc-spacing-small: #{rem(2px)};
        --igc-spacing-medium: #{rem(4px)};
        --igc-spacing-large: #{rem(8px)};
    }

    @include palette($palette);
    @include elevations($material-elevations);
    @include typography(
        $font-family: $material-typeface,
        $type-scale: $material-type-scale
    );
}
