@use 'igniteui-theming' as *;

@mixin ig-scrollbar-vars($schema) {
    $theme: digest-schema($schema);

    .ig-scrollbar {
        @include css-vars-from-theme($theme, 'ig-scrollbar');
    }
}

@mixin ig-scrollbar() {
    // The @-moz-document rule is specifically for Firefox because it does not support the WebKit pseudo-selectors for scrollbar styling.
    /* stylelint-disable-next-line at-rule-no-vendor-prefix */
    @-moz-document url-prefix() {
        scrollbar-width: var(--sb-size, initial);
        scrollbar-color: var(--sb-thumb-bg-color, initial) var(--sb-track-bg-color, initial);
    }

    ::-webkit-scrollbar {
        width: var(--sb-size, initial);
        height: var(--sb-size, initial);
    }

    ::-webkit-scrollbar-track {
        background: var(--sb-track-bg-color, initial);
    }

    ::-webkit-scrollbar-track:hover,
    ::-webkit-scrollbar-track:active {
        background: var(--sb-track-bg-color-hover, initial);
    }

    ::-webkit-scrollbar-thumb {
        min-height: var(--sb-thumb-min-height, initial);
        border-radius: var(--sb-thumb-border-radius, initial);
        border: var(--sb-thumb-border-size, initial) solid var(--sb-thumb-border-color, initial);
        background-color: var(--sb-thumb-bg-color, initial);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--sb-thumb-bg-color-hover, initial);
    }

    ::-webkit-scrollbar-corner {
        background: var(--sb-corner-bg, initial);
        border: var(--sb-corner-border-sizem, initial) solid var(--sb-corner-border-color, initial);
    }

    ::-webkit-scrollbar-track-piece {
        border: var(--sb-track-border-size, initial) solid var(--sb-track-border-color, initial);
    }
}

@media (hover: none) {
    .ig-scrollbar ::-webkit-scrollbar {
        width: auto;
        height: auto;
    }
}
