@use 'igniteui-theming' as *;

.ig-scrollbar {
    --size: var(--ig-scrollbar-size, #{rem(16px)});
    --thumb-background: var(--ig-scrollbar-thumb-background, #{color($color: gray, $variant: 400)});
    --track-background: var(--ig-scrollbar-track-background, #{color($color: gray, $variant: 100)});

    scrollbar-width: var(--size);
    scrollbar-color: var(--thumb-background) var(--track-background);
}

.ig-scrollbar ::-webkit-scrollbar {
    width: var(--size);
    height: var(--size);
    background: var(--track-background);
}

.ig-scrollbar ::-webkit-scrollbar-thumb {
    background: var(--thumb-background);
}

@media (hover: none) {
    .ig-scrollbar ::-webkit-scrollbar {
        width: auto;
        height: auto;
    }
}
