@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use '../../vars' as *;
@use '../../animations' as *;

$theme: $indigo;
$stripe-size: rem(6px);
$stripe-space: rem(14px);

:host([label-align='top']),
:host([label-align='top-start']),
:host([label-align='top-end']) {
    [part~='track'] {
        margin-block-start: pad-block(rem(4px));
    }
}

:host([label-align='bottom']),
:host([label-align='bottom-start']),
:host([label-align='bottom-end']) {
    [part~='track'] {
        margin-block-end: pad-block(rem(4px));
    }
}

[part~='striped']:not([part~='indeterminate']) {
    background: var-get($theme, 'fill-color-default') repeating-linear-gradient(
        45deg,
        var-get($theme, 'fill-color-default'),
        var-get($theme, 'fill-color-default') $stripe-size,
        var-get($theme, 'stripes-color') $stripe-size,
        var-get($theme, 'stripes-color') $stripe-space
    );
}
