@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use '../../vars' as *;
@use '../../animations' as *;

$theme: $fluent;
$track-color: color(gray, 200);

:host {
    --track-size: #{rem(2px)};
    --linear-animation-duration: 3000ms;
}

:host([dir='rtl']) {
    [part~='indeterminate'] {
        animation-name: indeterminate-bar-fluent-rtl;
    }
}

:host([label-align='top']),
:host([label-align='top-start']),
:host([label-align='top-end']) {
    [part~='track'] {
        margin-block-start: rem(2px);
    }
}

:host([label-align='bottom']),
:host([label-align='bottom-start']),
:host([label-align='bottom-end']) {
    [part~='track'] {
        margin-block-end: rem(2px);
    }
}

[part~='indeterminate']:not([part~='secondary']) {
    width: 33% !important;
    min-width: 33%;
    animation-name: indeterminate-bar-fluent;
    animation-duration: var(--linear-animation-duration);
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    left: auto;

    &::after {
        display: none;
    }
}

[part~='secondary'] {
    display: none;
}

[part~='primary'][part~='indeterminate'] {
    background: linear-gradient(90deg, transparent 0%, var-get($theme, 'fill-color-default') 50%, transparent 100%);
}

[part~='danger'][part~='indeterminate'] {
    background: linear-gradient(90deg, transparent 0%, var-get($theme, 'fill-color-danger') 50%, transparent 100%);
}

[part~='warning'][part~='indeterminate'] {
    background: linear-gradient(90deg, transparent 0%, var-get($theme, 'fill-color-warning') 50%, transparent 100%);
}

[part~='info'][part~='indeterminate'] {
    background: linear-gradient(90deg, transparent 0%, var-get($theme, 'fill-color-info') 50%, transparent 100%);
}

[part~='success'][part~='indeterminate'] {
    background: linear-gradient(90deg, transparent 0%, var-get($theme, 'fill-color-success') 50%, transparent 100%);
}
