@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use '../../vars' as *;
@use '../../shared' as *;
@use '../../animations' as *;

$theme: $material;

[part~='track'] {
    border-radius: var-get($theme, 'track-border-radius');
    background: var-get($theme, 'track-color');
}

[part~='value'] {
    color: var-get($theme, 'text-color');
}

// PRIMARY
[part~='primary']:not([part~='indeterminate']) {
    background-color: var-get($theme, 'fill-color-default');
}

[part~='primary'] {
    &::after {
        background-color: var-get($theme, 'fill-color-default');
    }
}

[part~='striped'][part~='primary']:not([part~='indeterminate']) {
    @include stripe-colors(var-get($theme, 'fill-color-default'), var-get($theme, 'stripes-color'), $stripe-size, -45deg);
}

[part~='striped'][part~='primary'] {
    &::after {
        @include stripe-colors(var-get($theme, 'fill-color-default'), var-get($theme, 'stripes-color'), $stripe-size, -45deg);
    }
}

// DANGER
[part~='danger']:not([part~='indeterminate']) {
    background-color: var-get($theme, 'fill-color-danger');
}

[part~='danger'] {
    &::after {
        background-color: var-get($theme, 'fill-color-danger');
    }
}

[part~='striped'][part~='danger']:not([part~='indeterminate']) {
    @include stripe-colors(var-get($theme, 'fill-color-danger'), var-get($theme, 'stripes-color'), $stripe-size, -45deg);
}

[part~='striped'][part~='danger'] {
    &::after {
        @include stripe-colors(var-get($theme, 'fill-color-danger'), var-get($theme, 'stripes-color'), $stripe-size, -45deg);
    }
}

// WARNING
[part~='warning']:not([part~='indeterminate']) {
    background-color: var-get($theme, 'fill-color-warning');
}

[part~='warning'] {
    &::after {
        background-color: var-get($theme, 'fill-color-warning');
    }
}

[part~='striped'][part~='warning']:not([part~='indeterminate']) {
    @include stripe-colors(var-get($theme, 'fill-color-warning'), var-get($theme, 'stripes-color'), $stripe-size, -45deg);
}

[part~='striped'][part~='warning'] {
    &::after {
        @include stripe-colors(var-get($theme, 'fill-color-warning'), var-get($theme, 'stripes-color'), $stripe-size, -45deg);
    }
}

// INFO
[part~='info']:not([part~='indeterminate']) {
    background-color: var-get($theme, 'fill-color-info');
}

[part~='info'] {
    &::after {
        background-color: var-get($theme, 'fill-color-info');
    }
}

[part~='striped'][part~='info']:not([part~='indeterminate']) {
    @include stripe-colors(var-get($theme, 'fill-color-info'), var-get($theme, 'stripes-color'), $stripe-size, -45deg);
}

[part~='striped'][part~='info'] {
    &::after {
        @include stripe-colors(var-get($theme, 'fill-color-info'), var-get($theme, 'stripes-color'), $stripe-size, -45deg);
    }
}

// SUCCESS
[part~='success']:not([part~='indeterminate']) {
    background-color: var-get($theme, 'fill-color-success');
}

[part~='success'] {
    &::after {
        background-color: var-get($theme, 'fill-color-success');
    }
}

[part~='striped'][part~='success']:not([part~='indeterminate']) {
    @include stripe-colors(var-get($theme, 'fill-color-success'), var-get($theme, 'stripes-color'), $stripe-size, -45deg);
}

[part~='striped'][part~='success'] {
    &::after {
        @include stripe-colors(var-get($theme, 'fill-color-success'), var-get($theme, 'stripes-color'), $stripe-size, -45deg);
    }
}
