@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use '../../vars' as *;
@use '../../animations' as *;

$theme: $material;

[part~='track'] {
    border-radius: var-get($theme, 'track-border-radius');
    background: var-get($theme, 'track-color');
}

[part~='value'] {
    color: var-get($theme, 'text-color');
}

:host([striped]) {
    --stripe-size: #{rem(16px)};
}

@mixin part-styles($part, $color-key) {
    :host([variant='#{$part}']) {
        --fill-bg: #{var-get($theme, $color-key)};
    }

    :host([striped][variant='#{$part}']) {
        --striped-bg: #{var-get($theme, $color-key) repeating-linear-gradient(
            -45deg,
            var-get($theme, $color-key),
            var-get($theme, $color-key) var(--stripe-size),
            var-get($theme, 'stripes-color') var(--stripe-size),
            var-get($theme, 'stripes-color') calc(var(--stripe-size) * 2)
        )};
    }
}

// Generate styles for each variant
@each $part, $color-key in (
    'primary': 'fill-color-default',
    'danger': 'fill-color-danger',
    'warning': 'fill-color-warning',
    'info': 'fill-color-info',
    'success': 'fill-color-success'
) {
    @include part-styles($part, $color-key);
}

:host(:not([indeterminate])) {
    [part~='fill'] {
        background-color: var(--fill-bg);
    }
}

[part~='fill'] {
    &::after {
        background-color: var(--fill-bg);
    }
}

:host([striped]:not([indeterminate])) {
    [part~='fill'] {
        background: var(--striped-bg);
    }
}
