@use 'styles/utilities' as *;

:host {
    display: block;
}

// TODO see if this container can be removed
[part~='spacer'] {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8px);
    justify-content: flex-end;
}

[part~='message'] {
    min-width: rem(320px);
    flex-basis: rem(320px);
    flex-grow: 1;
}

[part~='illustration'] {
    justify-content: center;
}

[part~='illustration'],
[part~='message'] {
    display: flex;
    align-items: center;
}

[part~='actions'] {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
}

::slotted([slot='actions']) {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8px);
}

::slotted([slot='prefix']) {
    margin-inline-end: rem(16px);
}

// OPEN CLOSE BEHAVIOR
[part~='base'] {
    overflow: hidden;
}

:host(:not([open])) [part~='base'] {
    height: 0;
}

:host([open]) [part~='base'] {
    height: auto;
}
