@use 'styles/utilities' as *;

:host {
    display: block;

    --ig-size: 1;

    ::slotted(*) {
        margin-block: 0;
    }
}

[part~='helper-text'] {
    display: grid;
    row-gap: rem(8px);
}

[part~='validation-icon'] {
    align-self: flex-start;
}

[part~='validation-message'] {
    display: flex;
    align-items: center;
    gap: rem(4px);
}
