@use 'styles/utilities' as *;

:host {
    display: block;

    --ig-size: 1;

    grid-row: 2;
    grid-column: 1 / -1;

    ::slotted(*) {
        margin-block: 0;
    }
}

[part~='helper-text'] {
    display: grid;
    row-gap: rem(8px);
    align-items: center;
}

[part~='validation-icon'] {
    align-self: flex-start;
}

[part~='validation-message'] {
    display: flex;
    align-items: center;

}

[part~='empty'] {
    display: none !important;
}
