@use 'styles/common/component';
@use 'styles/utilities' as *;
@use './light/themes' as *;

$theme: $material;

:host {
    border-style: none;
    padding: unset;
    background: var-get($theme, 'background');
    border-radius: var-get($theme, 'border-radius');
}

[part='base'] {
    background: inherit;
    color: inherit;
    border-style: inherit;
    padding: inherit;
    border: inherit;
    border-radius: inherit;
    min-width: inherit;
    box-shadow: var-get($theme, 'elevation');
}

[part='content'] {
    color: var-get($theme, 'message-color');
    padding: rem(14px) rem(24px);

    @include type-style('body-1') {
        margin: 0;
    }
}

[part='title'],
[part='footer'] {
    color: var-get($theme, 'title-color');
    display: flex;
    align-items: center;

    @include type-style('h6') {
        margin: 0;
    }
}

[part='title'] {
    padding-inline: rem(24px);
    padding-block-start: rem(16px);
}

[part='footer'] {
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: rem(8px);
    padding-block-start: 0;
}

::slotted(*) {
    font: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: inherit;
    margin: 0;
}

slot[name='title'],
slot[name='footer'] {
    &::slotted(:not(:last-child)) {
        margin-inline-end: rem(8px);
    }
}

dialog::backdrop {
    opacity: 0;
}

[part~='backdrop'] {
    position: fixed;
    inset: 0;
    z-index: 10005;
    pointer-events: none;
    opacity: 0;
    transition: opacity 350ms ease-out;
    background: var-get($theme, 'backdrop');
}

:host([open]) [part='backdrop'] {
    opacity: 1;
}
