@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    border-style: none;
    padding: unset;
}

[part~='base'] {
    background: inherit;
    color: inherit;
    padding: inherit;
    border: inherit;
    border-style: inherit;
    border-radius: inherit;
    min-width: inherit;
}

[part='content'] {
    @include type-style('body-1') {
        margin: 0;
    }
}

[part='title'],
[part='footer'] {
    display: none;
    align-items: center;

    @include type-style('h6') {
        margin: 0;
    }
}

[part='footer'] {
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: rem(8px);
}

[part~='titled'] {
    [part='title'] {
        display: flex;
    }
}

[part~='footed'] {
    [part='footer'] {
        display: flex;
    }
}

// Calendar should be excluded because of the date picker dialog mode
::slotted(:not(igc-calendar)) {
    font: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: inherit;
    margin: 0;
}

slot[name='title'] {
    &::slotted(:last-child) {
        margin-inline-start: rem(8px);
    }
}

[name='message']::slotted(*) {
    max-width: 40ch;
    display: inline-block;
}

dialog::backdrop {
    opacity: 0;
}

[part~='backdrop'] {
    position: fixed;
    inset: 0;
    z-index: 10005;
    pointer-events: none;
    opacity: 0;
    transition: opacity 350ms ease-out;
}

:host([open]) [part='backdrop'] {
    opacity: 1;
}
