@use '../../../styles/utilities' as *;

:host {
    border-radius: border-radius(2px);
}

[part='base'] {
    box-shadow: var(--igc-elevation-24);
}

[part='title'] {
    padding: rem(16px) rem(24px);
}

[part='content'] {
    padding-inline: rem(24px);
    padding-block-end: rem(8px);
    color: color(gray, 700);
}

[part='footer'] {
    padding: rem(8px);
}

dialog::backdrop {
    background: hsla(236deg 8% 62% / 54%);
}
