@use '../../../../styles/utilities' as *;

@mixin theme() {
    igc-tree-item {
        --hover-color: #{color(gray, 200, .5)};
        --selected-background: #{color(gray, 100)};
        --selected-color: #{contrast-color(gray, 100)};
        --active-background: #{color(gray, 100)};
        --active-color: #{contrast-color(gray, 100)};
        --active-selected-background: #{color(gray, 200)};
        --active-selected-color: #{contrast-color(gray, 200)};
    }
}
