@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: flex;
    width: 100%;
    min-height: rem(56px);
    max-height: rem(128px);
    padding: 0 rem(16px);
    font-family: var(--ig-font-family);
    z-index: 4;

    ::slotted(igc-icon) {
        --ig-size: 3;
    }

    ::slotted(igc-button),
    ::slotted(igc-icon-button) {
        --ig-size: 2;
    }
}

[part='base'] {
    --ig-size: 1;

    display: inherit;
    position: relative;
    flex-flow: row nowrap;
    flex-grow: 1;
    align-items: center;
    gap: rem(16px);
}

[part='middle'] {
    @include line-clamp(4, true, true);

    user-select: text;
    display: flex;
    flex-grow: 1;
    align-items: center;
    overflow: visible;
}

[part='start'],
[part='end'] {
    display: flex;
    align-items: center;
    user-select: none;
    overflow: visible;
}

[part='end'] {
    gap: rem(16px);
}

[name='start']::slotted(*) {
    margin-inline-end: rem(16px);
}

::slotted(igc-icon) {
    cursor: pointer;
    transition: color .15s cubic-bezier(.25, .46, .45, .94);
}

::slotted(*) {
    @include type-style('h6') {
        line-height: normal;
        margin: 0;
    }
}
