@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $fluent;
$header-bg: var(--header-bg, #{color(primary, 500)});
$header-color: var(--header-color, #{contrast-color(primary, 600)});

:host(igc-calendar) {
    igc-days-view::part(date-inner) {
        border-radius: 0;
    }
}

[part='header'] {
    background: $header-bg;
    color: $header-color;
}

[part~='navigation-buttons'] {
    gap: rem(8px);
}

[part~='navigation-button'][part~='vertical'] {
    transform: none;
}

[part='months-navigation'],
[part='years-navigation'],
[part='years-range'] {
    @include type-style('subtitle-2');

    color: color(gray, 900);
}
