@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $fluent;
$border-size: rem(1px);
$row-gap: rem(6px);

:host {
    --date-size: #{sizable(rem(12px), rem(14px), rem(16px))};
}

[part~='date'] {
    height: var-get($theme, 'size');
    border-top: $border-size solid transparent;
    border-bottom: $border-size solid transparent;
    border-radius: 0;
}

[part~='date-inner'],
[part~='week-number-inner'] {
    border: $border-size solid transparent;
}

[part~='week-number'] {
    width: var-get($theme, 'size');
    height: var-get($theme, 'size');
}

[part~='week-number-inner'] {
    width: var-get($theme, 'size');
    height: var-get($theme, 'size');
    color: var-get($theme, 'week-number-foreground');
    background: var-get($theme, 'week-number-background');
    border-inline-end-color: var-get($theme, 'date-border-color');

    &::after {
        width: var-get($theme, 'size');
        background: var-get($theme, 'week-number-background');
        border-inline-start: rem(1px) solid var-get($theme, 'week-number-background');
        border-inline-end: rem(1px) solid var-get($theme, 'week-number-background');
        border-inline-end-color: var-get($theme, 'date-border-color');
    }

    &[part~='first'] {
        border-radius: var-get($theme, 'week-number-border-radius') var-get($theme, 'week-number-border-radius') 0 0;
    }

    &[part~='last'] {
        border-radius: 0 0 var-get($theme, 'week-number-border-radius') var-get($theme, 'week-number-border-radius');
    }
}

[part~='label'] {
    height: var-get($theme, 'size');
    color: var-get($theme, 'weekday-color')
}

[part~='inactive']:not([part~='range']) {
    color: var-get($theme, 'inactive-color');
    border-color: transparent !important;

    &:hover {
        color: var-get($theme, 'inactive-color');
    }
}

[part~='inactive']:not([part~='preview']) {
    color: var-get($theme, 'inactive-color');

    &:hover {
        color: var-get($theme, 'inactive-color');
    }
}

[part~='inactive'][part~='disabled'] {
    color: var-get($theme, 'date-disabled-foreground');

    &:hover {
        color: var-get($theme, 'date-disabled-foreground');
    }
}

[part~='inactive'][part~='disabled'][part~='preview'] {
    color: var-get($theme, 'date-disabled-foreground');
}

[part~='date-inner'] {
    position: relative;
    overflow: hidden;
    width: var-get($theme, 'size');
    height: var-get($theme, 'size');
    border-radius: var-get($theme, 'date-border-radius');

    &::after {
        content: '';
        position: absolute;
        z-index: 0;
        border: $border-size solid transparent;
        border-radius: var-get($theme, 'date-border-radius');
        width: var-get($theme, 'inner-size');
        height: var-get($theme, 'inner-size');
    }

    &:where(:hover):not([part~='preview']),
    &:where(:hover):focus:not([part~='preview']) {
        color: var-get($theme, 'date-hover-foreground');
        background: var-get($theme, 'date-hover-background');
        border-color: var-get($theme, 'date-hover-border-color');
    }

    &:where(:focus):not([part~='preview']) {
        color: var-get($theme, 'date-focus-foreground');
        background: var-get($theme, 'date-focus-background');
        border-color: var-get($theme, 'date-focus-border-color');
    }

    &[part~='weekend'] {
        color: var-get($theme, 'weekend-color');
    }

    &[part~='weekend']:where(:not([part~='inactive'])) {
        &:hover {
            color: var-get($theme, 'date-hover-foreground');
        }

        &:focus {
            color: var-get($theme, 'date-focus-foreground');
        }
    }

    &[part~='inactive'] {
        color: var-get($theme, 'inactive-color');
    }

    &[part~='disabled'] {
        color: var-get($theme, 'date-disabled-foreground');
    }

    &[part~='disabled'][part~='range']:not([part~='preview']) {
        color: var-get($theme, 'date-disabled-range-foreground');
    }

    &[part~='selected'][part~='first'][part~='last'] {
        border-color: var-get($theme, 'date-range-preview-border-color');
    }

    &[part~='selected'][part~='first'][part~='last']:not([part~='preview']) {
        color: var-get($theme, 'content-foreground');
    }

    &[part~='selected'][part~='current'][part~='first'][part~='last'] {
        color: var-get($theme, 'date-current-foreground');
    }

    &[part~='selected'][part~='first'][part~='last']:not([part~='preview']),
    &[part~='selected'][part~='special'][part~='first'][part~='last']:not([part~='preview']) {
        background: transparent;
    }

    &[part~='range']:not([part~='preview']) {
        height: 100%;
        color: var-get($theme, 'date-selected-range-foreground');

        &:hover,
        &:where(:hover):focus {
            color: var-get($theme, 'date-selected-range-hover-foreground');
            background: var-get($theme, 'date-selected-range-hover-background');
        }

        &:focus {
            color: var-get($theme, 'date-selected-range-focus-foreground');
            background: var-get($theme, 'date-selected-range-focus-background');
        }

        &[part~='first'][part~='last'] {
            color: var-get($theme, 'date-selected-foreground');
            background: var-get($theme, 'date-selected-background');
            border-color: var-get($theme, 'date-range-preview-border-color');
            border-radius: var-get($theme, 'date-range-border-radius');

            &:hover {
                color: var-get($theme, 'date-selected-hover-foreground');
                background: var-get($theme, 'date-selected-hover-background');
            }

            &:focus {
                color: var-get($theme, 'date-selected-focus-foreground');
                background: var-get($theme, 'date-selected-focus-background');
            }
        }

        &[part~='first'],
        &[part~='last'] {
            color: var-get($theme, 'date-selected-range-foreground');
            background: var-get($theme, 'date-selected-range-background');
            border-color: transparent;

            &:hover,
            &:where(:hover):focus {
                color: var-get($theme, 'date-selected-range-hover-foreground');
                background: var-get($theme, 'date-selected-range-hover-background');
            }

            &:focus {
                color: var-get($theme, 'date-selected-range-focus-foreground');
                background: var-get($theme, 'date-selected-range-focus-background');
            }

            // &:hover,
            // &:focus {
            //     border-inline-start-color: transparent;
            // }
        }

        &[part~='first'] {
            border-start-start-radius: var-get($theme, 'date-range-border-radius');
            border-end-start-radius: var-get($theme, 'date-range-border-radius');
            border-start-end-radius: var-get($theme, 'date-border-radius');
            border-end-end-radius: var-get($theme, 'date-border-radius');
        }

        &[part~='last'] {
            border-start-end-radius: var-get($theme, 'date-range-border-radius');
            border-end-end-radius: var-get($theme, 'date-range-border-radius');
            border-start-start-radius: var-get($theme, 'date-border-radius');
            border-end-start-radius: var-get($theme, 'date-border-radius');
        }

        &[part~='preview'][part~='weekend'][part~='first'][part~='last']:not([part~='current']),
        &[part~='preview'][part~='weekend'][part~='first']:not([part~='current']),
        &[part~='preview'][part~='weekend'][part~='last']:not([part~='current']),
        &[part~='preview'][part~='weekend']:not([part~='current']) {
            color: var-get($theme, 'weekend-color');
        }

        &[part~='current'] {
            color: var-get($theme, 'date-current-foreground');

            &:hover,
            &:where(:hover):focus {
                color: var-get($theme, 'date-current-hover-foreground');
            }

            &:focus {
                color: var-get($theme, 'date-current-focus-foreground');
            }
        }
    }

    // In fluent theme the current background is set on the ::before element,
    // only the foreground colors are set to the date-cell
    &[part~='current'] {
        color: var-get($theme, 'date-current-foreground');

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            width: var-get($theme, 'inner-size');
            height: var-get($theme, 'inner-size');
            border-radius: calc(var-get($theme, 'date-current-border-radius') - ($border-size * 2));
            background: var-get($theme, 'date-current-background');
            border-color: var-get($theme, 'date-current-border-color');
        }

        &:hover,
        &:where(:hover):focus {
            color: var-get($theme, 'date-current-hover-foreground');

            &::before {
                background: var-get($theme, 'date-current-hover-background');
                border-color: var-get($theme, 'date-current-hover-border-color');
            }
        }

        &:focus {
            color: var-get($theme, 'date-current-focus-foreground');

            &::before {
                background: var-get($theme, 'date-current-focus-background');
                border-color: var-get($theme, 'date-current-focus-border-color');
            }
        }
    }

    &[part~='current'][part~='disabled'] {
        color: var-get($theme, 'date-current-foreground');
    }

    &[part~='current'][part~='range'][part~='disabled'] {
        color: var-get($theme, 'date-selected-current-range-foreground');
    }

    &[part~='special'] {
        &::after {
            border-radius: calc(var-get($theme, 'date-current-border-radius') - ($border-size * 2))
        }
    }

    &[part~='special']:not([part~='current']),
    &[part~='special'][part~='range']:not([part~='current']),
    &[part~='special'][part~='range'][part~='first']:not([part~='current']),
    &[part~='special'][part~='range'][part~='last']:not([part~='current']) {
        &::after {
            border-color: var-get($theme, 'date-special-border-color')
        }

        &:where(:hover):focus {
            color: var-get($theme, 'date-special-hover-foreground');
            background: var-get($theme, 'date-special-hover-background');
        }
    }

    &[part~='special']:not([part~='current'], [part~='preview']) {
        color: var-get($theme, 'date-special-foreground');
        background: var-get($theme, 'date-special-background');

        &:hover,
        &:where(:hover):focus {
            color: var-get($theme, 'date-special-hover-foreground');
            background: var-get($theme, 'date-special-hover-background');

            &::after {
                border-color: var-get($theme, 'date-special-hover-border-color')
            }
        }

        &:focus {
            color: var-get($theme, 'date-special-focus-foreground');
            background: var-get($theme, 'date-special-focus-background');


            &::after {
                border-color: var-get($theme, 'date-special-hover-border-color')
            }
        }
    }

    &[part~='special'][part~='range']:not([part~='current'], [part~='preview']) {
        color: var-get($theme, 'date-special-range-foreground');
        background: var-get($theme, 'date-special-range-background');

        &:hover,
        &:where(:hover):focus {
            color: var-get($theme, 'date-special-range-hover-foreground');
            background: var-get($theme, 'date-special-range-hover-background');
        }

        &:focus {
            color: var-get($theme, 'date-special-range-focus-foreground');
            background: var-get($theme, 'date-special-range-focus-background');
        }
    }

    &[part~='special'][part~='range']:not([part~='current'], [part~='preview']),
    &[part~='special'][part~='first']:not([part~='current'], [part~='preview']),
    &[part~='special'][part~='last']:not([part~='current'], [part~='preview']) {
        background: var-get($theme, 'date-special-range-background');

        &:hover,
        &:where(:hover):focus {
            background: var-get($theme, 'date-special-range-hover-background');
        }

        &:focus {
            background: var-get($theme, 'date-special-range-focus-background');
        }
    }

    &[part~='special'][part~='range'][part~='first']:not([part~='current']),
    &[part~='special'][part~='range'][part~='last']:not([part~='current']) {
        position: relative;

        &:hover {
            &::before {
                background: var-get($theme, 'date-selected-range-hover-background');
            }
        }

        &:focus {
            &::before {
                background: var-get($theme, 'date-selected-range-focus-background');
            }
        }

        &:where(:hover):focus {
            &::before {
                background: var-get($theme, 'date-selected-range-hover-background');
            }
        }

        &:hover,
        &:focus,
        &:where(:hover):focus {
            &::before {
                display: none;
            }
        }
    }

    &[part~='selected'][part~='special']:not([part~='current']) {
        &::after {
            border-color: var-get($theme, 'date-selected-special-border-color');
        }

        &:hover {
            &::after {
                border-color: var-get($theme, 'date-selected-special-hover-border-color');
            }
        }

        &:focus {
            &::after {
                border-color: var-get($theme, 'date-selected-special-focus-border-color');
            }
        }
    }

    &[part~='current'][part~='special'] {
        color: var-get($theme, 'date-current-foreground');

        &::after {
            border-color: var-get($theme, 'date-current-foreground');
            width: sizable(rem(22px), rem(24px), rem(28px));
            height: sizable(rem(22px), rem(24px), rem(28px));
        }
    }

    &[part~='special'][part~='inactive']:not([part~='range']),
    &[part~='current'][part~='inactive']:not([part~='range']) {
        color: var-get($theme, 'inactive-color');
    }

    &[part~='special'][part~='inactive'],
    &[part~='current'][part~='inactive'] {
        &::before {
            background: transparent;
        }

        &::after {
            border-color: transparent;
        }
    }

    &[part~='inactive'][part~='selected']:not([part~='range']) {
        background: transparent;
    }
}

[part~='date-inner'][part~='single'] {
    &[part~='selected'] {
        color: var-get($theme, 'date-selected-foreground');
        background: var-get($theme, 'date-selected-background');
        border-color: var-get($theme, 'date-selected-border-color');

        &:focus {
            color: var-get($theme, 'date-selected-focus-foreground');
            background: var-get($theme, 'date-selected-focus-background');
            border-color: var-get($theme, 'date-selected-focus-border-color');
        }

        &:hover {
            color: var-get($theme, 'date-selected-hover-foreground');
            background: var-get($theme, 'date-selected-hover-background');
            border-color: var-get($theme, 'date-selected-hover-border-color');
        }

        &[part~='first'][part~='last'] {
            border-color: var-get($theme, 'date-selected-border-color');
        }
    }

    &[part~='selected'][part~='current'] {
        color: var-get($theme, 'date-selected-current-foreground');

        &:focus {
            color: var-get($theme, 'date-selected-current-focus-foreground');
        }

        &:hover {
            color: var-get($theme, 'date-selected-current-hover-foreground');
        }
    }
}

[part~='date'][part~='range'] {
    background: var-get($theme, 'date-selected-range-background');
    border-block-color: var-get($theme, 'date-range-border-color');

    &[part~='first'],
    &[part~='last'] {
        background: transparent;

        &::before,
        &::after {
            height: var-get($theme, 'size');
        }

        &::after {
            background: var-get($theme, 'date-selected-range-background');
            border-block: $border-size solid var-get($theme, 'date-selected-range-background');
        }

        &::before {
            content: '';
            position: absolute;
            width: var-get($theme, 'size');
            border-block: $border-size solid var-get($theme, 'date-range-border-color');
            z-index: 3;
            pointer-events: none;
        }
    }

    &[part~='first'] {
        &::before {
            inset-inline-end: initial;
            border-inline: $border-size solid;
            border-inline-start-color: var-get($theme, 'date-range-border-color');
            border-inline-end-color: transparent;
            border-start-start-radius: var-get($theme, 'date-range-border-radius');
            border-end-start-radius: var-get($theme, 'date-range-border-radius');
            border-start-end-radius: 0;
            border-end-end-radius: 0;
        }
    }

    &[part~='last'] {
        &::before {
            inset-inline-start: initial;
            border-inline: $border-size solid;
            border-inline-start-color: transparent;
            border-inline-end-color: var-get($theme, 'date-range-border-color');
            border-start-end-radius: var-get($theme, 'date-range-border-radius');
            border-end-end-radius: var-get($theme, 'date-range-border-radius');
            border-start-start-radius: 0;
            border-end-start-radius: 0;
        }
    }

    &[part~='preview'][part~='first'],
    &[part~='preview'][part~='last'] {
        border-block-color: transparent;

        &::after {
            background: transparent !important;
            border-block-color: var-get($theme, 'date-range-border-color');
        }
    }

    &[part~='selected'] {
        background: var-get($theme, 'date-selected-range-background');
    }

    &[part~='selected'][part~='first'],
    &[part~='selected'][part~='last'] {
        background: transparent;
        border-color: transparent;

        &::after {
            background: var-get($theme, 'date-selected-range-background');
            border-block-color: var-get($theme, 'date-range-border-color');
        }
    }

    &[part~='preview'] {
        background: transparent;
        border-block-color: var-get($theme, 'date-range-border-color');
    }

    &[part~='first'][part~='disabled'],
    &[part~='last'][part~='disabled'] {
        &::before {
            z-index: -1;
            background: var-get($theme, 'date-selected-range-background');
        }
    }
}
