@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $fluent;
$border-size: rem(1px);
$row-gap: rem(6px);
$week-number-radius: var-get($theme, 'week-number-border-radius');
$fake-bg-size: calc(50% + (var-get($theme, 'size') / 2));
$fake-bg-position: calc(50% - (var-get($theme, 'size') / 2));

:host {
    --date-size: #{sizable(rem(12px), rem(14px), rem(16px))};
}

[part~='date'] {
    height: var-get($theme, 'size');
    border-top: $border-size solid transparent;
    border-bottom: $border-size solid transparent;
    border-radius: 0;
}

[part~='date-inner'],
[part~='week-number-inner'] {
    border: $border-size solid transparent;
}

[part~='week-number'] {
    width: var-get($theme, 'size');
    height: var-get($theme, 'size');
}

[part~='week-number-inner'] {
    width: var-get($theme, 'size');
    height: var-get($theme, 'size');
    color: var-get($theme, 'week-number-foreground');
    background: var-get($theme, 'week-number-background');

    &::after {
        width: var-get($theme, 'size');
        background: var-get($theme, 'week-number-background');
        border-inline-start: rem(1px) solid var-get($theme, 'week-number-background');
        border-inline-end: rem(1px) solid var-get($theme, 'week-number-background');
        border-inline-end-color: var-get($theme, 'week-number-background');
    }
}

[part~='week-number-inner'][part~='first'] {
    border-top-left-radius: $week-number-radius;
    border-top-right-radius: $week-number-radius;
}

[part~='week-number-inner'][part~='last'] {
    border-bottom-left-radius: $week-number-radius;
    border-bottom-right-radius: $week-number-radius;
}

[part~='label'] {
    height: var-get($theme, 'size');
    color: var-get($theme, 'weekday-color')
}

[part~='weekend'] {
    color: var-get($theme, 'weekend-color');
}

[part~='date-inner'] {
    width: var-get($theme, 'size');
    height: var-get($theme, 'size');
    border-radius: var-get($theme, 'date-border-radius');

    &[part~='inactive']:where(:not([part~='selected'][part~='range'])) {
        color: var-get($theme, 'inactive-color');
    }

    &[part~='inactive']:not([part~='preview']) {
        &:hover {
            color: var-get($theme, 'date-hover-foreground');
        }
    }

    &[part~='disabled']:not([part~='special'],[part~='current']) {
        color: var-get($theme, 'date-disabled-foreground');
    }

    &[part~='disabled'][part~='range']:not([part~='special'],[part~='current'],[part~='preview']) {
        color: var-get($theme, 'date-disabled-range-foreground');
    }

    &[part~='disabled'][part~='selected'][part~='first']:not([part~='special'],[part~='current'],[part~='preview']),
    &[part~='disabled'][part~='selected'][part~='last']:not([part~='special'],[part~='current'],[part~='preview']) {
        opacity: 1;
    }

    &[part~='range'] {
        height: 100%;
        border-radius: var-get($theme, 'date-range-border-radius');
    }

    &[part~='selected'][part~='first'][part~='last'] {
        border-radius: var-get($theme, 'date-range-border-radius');
    }

    &[part~='special'] {
        &::after {
            border-radius: var-get($theme, 'date-special-border-radius');
        }
    }

    &[part~='current'] {
        &::before {
            border-radius: var-get($theme, 'date-current-border-radius');
        }
    }

    &[part~='current'][part~='special'] {
        &::before,
        &::after {
            border-radius: var-get($theme, 'date-current-border-radius');
        }
    }
}

[part~='date-inner']:not([part~='preview'], [part~='first'][part~='last']) {
    &:not([part~='selected'], [part~='preview'], [part~='range'], [part~='first'][part~='last']) {
        border-color: var-get($theme, 'date-border-color');

        &:hover {
            border-color: var-get($theme, 'date-hover-border-color');
        }

        &:focus {
            border-color: var-get($theme, 'date-focus-border-color');
        }
    }

    &:hover {
        color: var-get($theme, 'date-hover-foreground');
        background: var-get($theme, 'date-hover-background');
    }

    &:focus {
        color: var-get($theme, 'date-focus-foreground');
        background: var-get($theme, 'date-focus-background');
    }
}

[part~='date-inner']:not([part~='inactive']) {
    // This selector works only in range selection since firs and last are present only in the range selection
    &[part~='selected'][part~='first'][part~='last'] {
        background: transparent;
        border-color: var-get($theme, 'date-range-preview-border-color');

        &:hover,
        &:focus {
            background: transparent;
        }
    }

    &[part~='selected']:where(:not([part~='range'], [part~='first'][part~='last'])) {
        color: var-get($theme, 'date-selected-foreground');
        background: var-get($theme, 'date-selected-background');
        border-color: var-get($theme, 'date-selected-border-color');

        &:hover {
            color: var-get($theme, 'date-selected-hover-foreground');
            background: var-get($theme, 'date-selected-hover-background');
            border-color: var-get($theme, 'date-selected-hover-border-color');

        }

        &:focus {
            color: var-get($theme, 'date-selected-focus-foreground');
            background: var-get($theme, 'date-selected-focus-background');
            border-color: var-get($theme, 'date-selected-focus-border-color');
        }
    }

    &[part~='range'] {
        &[part~='selected'][part~='first'][part~='last'] {
            color: var-get($theme, 'date-selected-range-foreground');
            background: var-get($theme, 'date-selected-range-background');

            &:hover {
                color: var-get($theme, 'date-selected-range-hover-foreground');
                background: var-get($theme, 'date-selected-range-hover-background');
            }

            &:focus {
                color: var-get($theme, 'date-selected-range-focus-foreground');
                background: var-get($theme, 'date-selected-range-focus-background');
            }
        }

        &[part~='selected'][part~='first'],
        &[part~='selected'][part~='last'] {
            border-inline-color: transparent;

            &:hover,
            &:focus {
                border-inline-start-color: transparent;
            }
        }

        &[part~='selected'] {
            &:hover {
                background: var-get($theme, 'date-selected-range-hover-background');
            }

            &:focus {
                background: var-get($theme, 'date-selected-range-focus-background');
            }
        }

        &[part~='selected']:not([part~='disabled'], [part~='preview']) {
            color: var-get($theme, 'date-selected-range-foreground');

            &:hover {
                color: var-get($theme, 'date-selected-range-hover-foreground');
            }

            &:focus {
                color: var-get($theme, 'date-selected-range-focus-foreground');
            }
        }

        &[part~='preview'] {
            background: transparent !important;

            &::after {
                background: transparent;
            }
        }
    }

    // SPECIAL
    &[part~='special'] {
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            border: $border-size solid transparent;
            width: var-get($theme, 'inner-size');
            height: var-get($theme, 'inner-size');
        }
    }

    &[part~='special']:not([part~='selected'], [part~='current']) {
        color: var-get($theme, 'date-special-foreground');

        &::after {
            background: var-get($theme, 'date-special-background');
            border-color: var-get($theme, 'date-special-border-color')
        }

        &:hover {
            color: var-get($theme, 'date-special-hover-foreground');

            &::after {
                background: var-get($theme, 'date-special-hover-background');
                border-color: var-get($theme, 'date-special-hover-border-color')
            }
        }

        &:focus {
            color: var-get($theme, 'date-special-focus-foreground');

            &::after {
                background: var-get($theme, 'date-special-focus-background');
                border-color: var-get($theme, 'date-special-focus-border-color')
            }
        }
    }

    &[part~='special'][part~='selected']:not([part~='current']) {
        color: var-get($theme, 'date-selected-special-foreground');

        &::after {
            background: var-get($theme, 'date-selected-special-background');
            border-color: var-get($theme, 'date-selected-special-border-color');
        }

        &:hover {
            color: var-get($theme, 'date-selected-special-hover-foreground');

            &::after {
                background: var-get($theme, 'date-selected-special-hover-background');
                border-color: var-get($theme, 'date-selected-special-hover-border-color');
            }
        }

        &:focus {
            color: var-get($theme, 'date-selected-special-focus-foreground');

            &::after {
                background: var-get($theme, 'date-selected-special-focus-background');
                border-color: var-get($theme, 'date-selected-special-focus-border-color');
            }
        }
    }

    // CURRENT
    &[part~='current'] {
        color: var-get($theme, 'date-current-foreground');

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            width: var-get($theme, 'inner-size');
            height: var-get($theme, 'inner-size');
            background: var-get($theme, 'date-current-background');
            border: 1px solid var-get($theme, 'date-current-border-color');
            box-sizing: border-box;
        }
    }

    &[part~='current']:not([part~='preview'], [part~='first'], [part~='last']) {
        &:hover {
            &::before {
                border-color: var-get($theme, 'date-current-hover-border-color');
            }
        }

        &:focus {
            &::before {
                border-color: var-get($theme, 'date-current-focus-border-color');
            }
        }
    }

    &[part~='current'][part~='selected']:not([part~='first'][part~='last'], [part~='first'], [part~='last']) {
        &::before {
            border-color: var-get($theme, 'date-selected-current-border-color');
            background: var-get($theme, 'date-selected-current-background');
        }
    }

    &[part~='current'][part~='selected']:not([part~='preview'], [part~='first'], [part~='last']) {
        &:hover {
            &::before {
                border-color: var-get($theme, 'date-selected-current-hover-border-color');
                background: var-get($theme, 'date-selected-current-hover-background');
            }
        }

        &:focus {
            &::before {
                border-color: var-get($theme, 'date-selected-current-focus-border-color');
                background: var-get($theme, 'date-selected-current-focus-background');
            }
        }
    }

    &[part~='current']:not([part~='selected'], [part~='special']) {
        position: relative;
        overflow: hidden;
        color: var-get($theme, 'date-current-foreground');
    }

    &[part~='current']:not([part~='selected'], [part~='special'], [part~='preview']) {
        &:hover {
            color: var-get($theme, 'date-current-hover-foreground');

            &::before {
                background: var-get($theme, 'date-current-hover-background');
                border-color: var-get($theme, 'date-current-hover-border-color');
            }
        }

        &:focus {
            color: var-get($theme, 'date-current-focus-foreground');

            &::before {
                background: var-get($theme, 'date-current-focus-background');
                border-color: var-get($theme, 'date-current-focus-border-color');
            }
        }
    }

    &[part~='current'][part~='selected']:not([part~='special'], [part~='preview'], [part~='first'][part~='last']) {
        color: var-get($theme, 'date-selected-current-foreground');
    }

    // CURRENT + SPECIAL
    &[part~='current'][part~='special'] {
        &::after {
            width: calc(var-get($theme, 'inner-size') - #{rem(4px)});
            height: calc(var-get($theme, 'inner-size') - #{rem(4px)});
            border-color: var-get($theme, 'date-current-foreground');
        }
    }

    &[part~='current'][part~='special']:not([part~='selected']) {
        color: var-get($theme, 'date-current-foreground');

        &::after {
            background: var-get($theme, 'date-current-background');
        }
    }

    &[part~='current'][part~='special']:not([part~='selected'], [part~='preview'], [part~='first'][part~='last']) {
        &:hover {
            color: var-get($theme, 'date-current-hover-foreground');

            &::after {
                background: var-get($theme, 'date-current-hover-background');
                border-color: var-get($theme, 'date-current-hover-foreground');
            }
        }

        &:focus {
            color: var-get($theme, 'date-current-focus-foreground');

            &::after {
                background: var-get($theme, 'date-current-focus-background');
                border-color: var-get($theme, 'date-current-focus-foreground');
            }
        }
    }

    &[part~='current'][part~='special'][part~='selected']:not([part~='first'][part~='last'], [part~='preview']) {
        color: var-get($theme, 'date-selected-current-foreground');

        &::after {
            background: var-get($theme, 'date-selected-current-background');
            border-color: var-get($theme, 'date-selected-current-foreground');
        }

        &:hover {
            color: var-get($theme, 'date-selected-current-hover-foreground');

            &::after {
                background: var-get($theme, 'date-selected-current-hover-background');
                border-color: var-get($theme, 'date-selected-current-hover-foreground');
            }
        }

        &:focus {
            color: var-get($theme, 'date-selected-current-focus-foreground');

            &::after {
                background: var-get($theme, 'date-selected-current-focus-background');
                border-color: var-get($theme, 'date-selected-current-focus-foreground');
            }
        }
    }

    &[part~='current'][part~='special'][part~='range']:not([part~='preview'], [part~='first'][part~='last']),
    &[part~='current'][part~='range']:not([part~='preview'], [part~='first'][part~='last']) {
        color: var-get($theme, 'date-selected-current-range-foreground');

        &::before,
        &::after {
            background: var-get($theme, 'date-selected-current-range-background');
        }

        &::before {
            border-color: var-get($theme, 'date-selected-current-border-color');
        }

        &:hover {
            color: var-get($theme, 'date-selected-current-range-hover-foreground');

            &::before,
            &::after {
                background: var-get($theme, 'date-selected-current-range-hover-background');
            }

            &::before {
                border-color: var-get($theme, 'date-selected-current-hover-border-color');
            }
        }

        &:focus {
            color: var-get($theme, 'date-selected-current-range-focus-foreground');

            &::before,
            &::after {
                background: var-get($theme, 'date-selected-current-range-focus-background');
            }

            &::before {
                border-color: var-get($theme, 'date-selected-current-focus-border-color');
            }
        }
    }

    // RANGE
    // special + range
    &[part~='special'][part~='range'][part~='selected']:where(:not([part~='current'], [part~='preview'])) {
        color: var-get($theme, 'date-special-range-foreground');

        &::after {
            background: var-get($theme, 'date-special-range-background');
            border-color: var-get($theme, 'date-special-range-border-color')
        }

        &:hover {
            color: var-get($theme, 'date-special-range-hover-foreground');

            &::after {
                background: var-get($theme, 'date-special-range-hover-background');
                border-color: var-get($theme, 'date-special-range-hover-border-color')
            }
        }

        &:focus {
            color: var-get($theme, 'date-special-range-focus-foreground');

            &::after {
                background: var-get($theme, 'date-special-range-focus-background');
                border-color: var-get($theme, 'date-special-range-focus-border-color')
            }
        }
    }

    &[part~='special'][part~='preview']:not([part~='current']),
    &[part~='special'][part~='first'][part~='last']:not([part~='current']),
    &[part~='special'][part~='selected'][part~='preview']:not([part~='current']) {
        color: var-get($theme, 'date-special-foreground');

        &::after {
            background: var-get($theme, 'date-special-background');
            border-color: var-get($theme, 'date-special-border-color')
        }

        &:hover {
            color: var-get($theme, 'date-special-foreground');

            &::after {
                background: var-get($theme, 'date-special-background');
                border-color: var-get($theme, 'date-special-border-color')
            }
        }

        &:focus {
            color: var-get($theme, 'date-special-foreground');

            &::after {
                background: var-get($theme, 'date-special-background');
                border-color: var-get($theme, 'date-special-border-color')
            }
        }
    }
}

[part~='date'][part~='range'] + [part~='date'][part~='range'][part~='last'] {
    &::after {
        inset-inline-end: $fake-bg-position;
    }
}

[part~='date'][part~='range'] {
    background: var-get($theme, 'date-selected-range-background');
    border-block-color: var-get($theme, 'date-range-border-color');

    &[part~='first'],
    &[part~='last'] {
        &::before,
        &::after {
            height: var-get($theme, 'size');
        }

        &::before {
            content: '';
            position: absolute;
            width: var-get($theme, 'size');
            border-block: $border-size solid var-get($theme, 'date-range-border-color');
            z-index: 3;
            pointer-events: none;
        }

        &::after {
            width: $fake-bg-size;
            background: var-get($theme, 'date-selected-range-background');
            border-block: $border-size solid var-get($theme, 'date-range-border-color');
        }
    }

    &[part~='first']:not([part~='disabled']),
    &[part~='last']:not([part~='disabled']) {
        background: transparent;
    }

    &[part~='first'] {
        &::after {
            inset-inline-start: $fake-bg-position;
            border-start-start-radius: var-get($theme, 'date-range-border-radius');
            border-end-start-radius: var-get($theme, 'date-range-border-radius');
        }

        &::before {
            inset-inline-end: initial;
            border-inline: $border-size solid;
            border-inline-start-color: var-get($theme, 'date-range-border-color');
            border-inline-end-color: transparent;
            border-start-start-radius: var-get($theme, 'date-range-border-radius');
            border-end-start-radius: var-get($theme, 'date-range-border-radius');
            border-start-end-radius: 0;
            border-end-end-radius: 0;
        }
    }

    &[part~='last'] {
        &::after {
            inset-inline-end: $fake-bg-position;
            border-start-end-radius: var-get($theme, 'date-range-border-radius');
            border-end-end-radius: var-get($theme, 'date-range-border-radius');
        }

        &::before {
            inset-inline-start: initial;
            border-inline: $border-size solid;
            border-inline-start-color: transparent;
            border-inline-end-color: var-get($theme, 'date-range-border-color');
            border-start-end-radius: var-get($theme, 'date-range-border-radius');
            border-end-end-radius: var-get($theme, 'date-range-border-radius');
            border-start-start-radius: 0;
            border-end-start-radius: 0;
        }
    }

    &[part~='preview'][part~='first'] {
        &::before {
            border-inline-start-color: var-get($theme, 'date-range-preview-border-color');
        }
    }

    &[part~='preview'][part~='last'] {
        &::before {
            border-inline-end-color: var-get($theme, 'date-range-preview-border-color');
        }
    }

    &[part~='preview'][part~='first'],
    &[part~='preview'][part~='last'] {
        border-block-color: transparent;

        &::before {
            border-block-color: var-get($theme, 'date-range-preview-border-color');
        }

        &::after {
            background: transparent !important;
            border-block-color: var-get($theme, 'date-range-preview-border-color');
        }
    }

    &[part~='selected'] {
        background: var-get($theme, 'date-selected-range-background');
    }

    &[part~='selected'][part~='first'],
    &[part~='selected'][part~='last'] {
        background: transparent;
        border-color: transparent;

        &::after {
            background: var-get($theme, 'date-selected-range-background');
            border-block-color: var-get($theme, 'date-range-border-color');
        }
    }

    &[part~='selected'][part~='preview'][part~='first'],
    &[part~='selected'][part~='preview'][part~='last'] {
        &::after {
            border-block-color: var-get($theme, 'date-range-preview-border-color');
        }
    }


    &[part~='preview'] {
        background: transparent;
        border-block-color: var-get($theme, 'date-range-preview-border-color');
    }

    &[part~='first'][part~='disabled'],
    &[part~='last'][part~='disabled'] {
        &::before {
            z-index: -1;
            background: var-get($theme, 'date-selected-range-background');
        }
    }
}

[part~='date-inner'][part~='inactive'][part~='range']:not([part~='first'], [part~='last'], [part~='preview']) {
    color: var-get($theme, 'date-selected-range-foreground');

    &:hover {
        color: var-get($theme, 'date-selected-range-hover-foreground');
        background: var-get($theme, 'date-selected-range-hover-background');
    }

    &:focus {
        color: var-get($theme, 'date-selected-range-focus-foreground');
        background: var-get($theme, 'date-selected-range-focus-background');
    }
}
