@use 'styles/utilities' as *;

$border-width: rem(1px);
$border-radius: border-radius(rem(2px));
$border-color: color(gray, 700);
$background-hover: color(gray, 300);
$color-hover: var(--date-color-hover, #{contrast-color(gray, 300)});
$selected-background: color(gray, 200);
$selected-background-hover: color(gray, 300);
$selected-color: contrast-color(gray, 200);
$selected-color-hover: contrast-color(gray, 300);
$current-background: color(secondary, 500);
$current-color: var(--date-current-color, #{contrast-color(secondary, 700)});
