@use 'styles/utilities/index' as *;
@use '../../light/themes' as *;

$theme: $fluent;

[part~='month-inner'] {
    &:focus,
    &:hover {
        color: var-get($theme, 'month-hover-foreground');
        background: var-get($theme, 'month-hover-background');
    }

    &[part~='current'] {
        color: var-get($theme, 'month-current-foreground');
        background: var-get($theme, 'month-current-background');

        &:focus,
        &:hover {
            color: var-get($theme, 'month-current-hover-foreground');
            background: var-get($theme, 'month-current-hover-background');
        }
    }

    &[part~='selected'] {
        color: var-get($theme, 'month-selected-foreground');
        background: var-get($theme, 'month-selected-background');

        &:focus,
        &:hover {
            color: var-get($theme, 'month-selected-hover-foreground');
            background: var-get($theme, 'month-selected-hover-background');
        }
    }

    &[part~='selected'][part~='current'] {
        color: var-get($theme, 'month-selected-current-foreground');
        background: var-get($theme, 'month-selected-current-background');
        box-shadow: 0 0 0 rem(1px) var-get($theme, 'selected-current-outline-color');

        &:focus,
        &:hover {
            color: var-get($theme, 'month-selected-current-hover-foreground');
            background: var-get($theme, 'month-selected-current-hover-background');
            box-shadow: 0 0 0 rem(1px) var-get($theme, 'selected-current-outline-hover-color');
        }

        &:hover {
           box-shadow: 0 0 0 rem(1px) var-get($theme, 'selected-current-outline-hover-color');
        }
    }

}

[part~='year-inner'] {
    &:focus,
    &:hover {
        color: var-get($theme, 'year-hover-foreground');
        background: var-get($theme, 'year-hover-background');
    }

    &[part~='current'] {
        color: var-get($theme, 'year-current-foreground');
        background: var-get($theme, 'year-current-background');

        &:focus,
        &:hover {
            color: var-get($theme, 'year-current-hover-foreground');
            background: var-get($theme, 'year-current-hover-background');
        }
    }

    &[part~='selected'] {
        color: var-get($theme, 'year-selected-foreground');
        background: var-get($theme, 'year-selected-background');

        &:focus,
        &:hover {
            color: var-get($theme, 'year-selected-hover-foreground');
            background: var-get($theme, 'year-selected-hover-background');
        }
    }

    &[part~='selected'][part~='current'] {
        color: var-get($theme, 'year-selected-current-foreground');
        background: var-get($theme, 'year-selected-current-background');
        box-shadow: 0 0 0 rem(1px) var-get($theme, 'selected-current-outline-color');

        &:focus,
        &:hover {
            color: var-get($theme, 'year-selected-current-hover-foreground');
            background: var-get($theme, 'year-selected-current-hover-background');
        }

        &:hover {
            box-shadow: 0 0 0 rem(1px) var-get($theme, 'selected-current-outline-hover-color');
        }
    }
}

[part~='month-inner'],
[part~='year-inner'] {
    height: var-get($theme, 'size');
    border-radius: var-get($theme, 'month-year-border-radius');

    &:focus,
    &:focus-visible,
    &:focus-within {
        // Don't use outline color transparent here since :focus-visible will have transparent border around
        // the element that will cover the outline of the box shadow.
        outline: none;
    }
}
