@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: flex;
    font-family: var(--ig-font-family);
}

[part='base'] {
    overflow: hidden auto;
    min-width: rem(112px);
    z-index: 10005;
}

@media (forced-colors: active) {
    :host [part='base'] {
        border: rem(1px) solid CanvasText;
    }
}
