@use 'styles/utilities' as *;
@use 'styles/common/component';

:host {
    @include type-style('body-2');

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    outline-style: none;
    padding-inline: pad-inline(rem(16px), rem(20px), rem(24px));
}

:host([disabled]) {
    cursor: default;
    pointer-events: none;
}

::slotted(*) {
    font: inherit;
}

[part='content'] {
    @include ellipsis();

    display: block;
    width: 100%;
    align-items: center;
}

[part='prefix'],
[part='suffix'] {
    display: flex;
    align-items: center;
    justify-content: center;
}

[name='prefix']::slotted(*) {
    --component-size: var(--dropdown-size) !important;

    margin-inline-end: pad(rem(8px));
}

[name='suffix']::slotted(*) {
    --component-size: var(--dropdown-size) !important;

    margin-inline-start: pad(rem(8px));
}
