@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $fluent;

:host([elevated]:hover),
:host([elevated]:focus-within) {
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        transition: box-shadow .1s ease-out;
        box-shadow: inset 0 0 0 rem(2px) var-get($theme, 'outline-color');
        pointer-events: none;
    }
}
