@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $indigo;

:host {
    ::slotted(igc-card-header:first-child),
    ::slotted(igc-card-header:last-child) {
        padding-block-end: rem(16px);
    }

    ::slotted(igc-card-content:not(:last-child)) {
        padding-block-end: rem(8px);
    }
}

:host([elevated]) {
    border: rem(1px) solid var-get($theme, 'outline-color');
}
