@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $indigo;

:host {
    ::slotted(igc-card-header) {
        padding-block-end: 0;
    }

    ::slotted(igc-card-header:first-child),
    ::slotted(igc-card-header:last-child) {
        padding-block-end: pad-block(rem(16px));
    }

    ::slotted(igc-card-content:not(:last-child)) {
        padding-block-end: pad-block(rem(8px));
    }
}

:host([elevated]) {
    border: rem(1px) solid var-get($theme, 'outline-color');
}
