@use '../../styles/common/component';
@use '../../styles/utilities' as *;

:host {
  display: inline-flex;
}

span {
  display: inline-flex;
  min-width: rem(12px);
  min-height: rem(12px);
  max-height: rem(24px);
  font-size: rem(16px);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  font-family: var(--igc-font-family);
}

:host(:not(:empty)) span {
  padding: rem(4px) rem(8px);
  min-width: rem(24px);
}

.rounded {
  border-radius: rem(12px);
}

.square {
  border-radius: 0;
}

.primary {
  background: color(primary, 500);
  color: contrast-color(primary, 500);
}

.info {
  background: color(info, 500);
  color: contrast-color(info, 500);
}

.success {
  background: color(success, 500);
  color: contrast-color(success, 500);
}

.warning {
  background: color(warn, 500);
  color: contrast-color(warn, 500);
}

.danger {
  background: color(error, 500);
  color: contrast-color(error, 500);
}

.outlined {
  box-shadow: inset 0 0 0 rem(2px) color(gray, 50);
}
