@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $material;

:host {
    padding: rem(10px) rem(16px);
    color: var-get($theme, 'text-color');
    background: var-get($theme, 'background');
    box-shadow: var-get($theme, 'elevation');
    border-radius: var-get($theme, 'border-radius');

    &::after {
        box-shadow: inset 0 0 0 rem(1px) var-get($theme, 'border-color');
    }
}
