## editors
/.idea

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/docs
/out-tsc/

storybook-static

*.css.ts

# component metadata
vscode-html-custom-data.json
custom-elements.json

# Localization data
i18nRepo
