@use 'styles/common/component';
@use 'styles/utilities' as *;
@use '../date-picker/themes/date-picker.base';

:host {
    display: flex;
    flex-direction: column;
}

[part='inputs'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(8px)
}
