@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: flex;
    flex-direction: column;

    igc-focus-trap {
        --min-width: #{sizable(rem(290px), rem(314px), rem(360px))};

        display: flex;
        flex: 1 0 0;
        flex-direction: column;
        min-width: var(--min-width);
        max-width: calc(var(--min-width) * 2);
        overflow: auto hidden;

        igc-calendar {
            border: none;
            box-shadow: none;
        }
    }

    igc-calendar[header-orientation='vertical'] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    ::part(helper-text) {
        @include type-style('caption');
        @include line-clamp(2, true, true);
    }
}

:host([required]) {
    igc-date-time-input::part(label)::after {
        content: '*';
    }
}

[part='label'] {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

[part='inputs'] {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: rem(8px)
}

[part='actions'] {
    display: flex;
    justify-content: flex-end;
    padding: pad(rem(8px));
    gap: rem(8px);

    ::slotted(*) {
        display: flex;
        gap: rem(8px);
    }
}

[part='separator'] {
    display: flex;;
    align-items: center;
}

igc-date-time-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
}
