@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: flex;
    flex-direction: column;
}

[part='inputs'] {
    display: flex;
    flex-direction: row;
    align-items: end;
}

[part='separator'] {
    margin: 0 20px;
}
