@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: pad(rem(8px));
}

[part='ranges'] {
    display: flex;
    flex-flow: wrap;
    padding: pad(rem(4px));
    gap: rem(8px);
    max-height: #{sizable(rem(84px), rem(96px), rem(120px))};
    overflow-y: auto;
}
