@use '../../styles/common/component';

:host {
  display: inline-flex;
}

a,
button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: calc(var(--igc-border-radius) * 2);
  font-family: var(--igc-button-font-family);
  font-weight: var(--igc-button-font-weight);
  font-size: var(--igc-button-font-size);
  font-style: var(--igc-button-font-style);
  letter-spacing: var(--igc-button-letter-spacing);
  line-height: var(--igc-button-line-height);
  text-transform: var(--igc-button-text-transform);
  user-select: none;
  outline-style: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  z-index: 0;

  &[disabled] {
    background: var(--igc-gray-300);
    color: var(--igc-gray-500);
    pointer-events: none;
  }

  &:hover:not([disabled]) {
    cursor: pointer;
  }

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity .25s ease-out, background .25s ease-out;
  }
}

.flat {
  background: transparent;
  color: var(--igc-secondary-500);

  &:before {
    opacity: 0;
  }

  &:hover:not([disabled])::before {
    background: var(--igc-secondary-500);
    opacity: 12%;
  }
}

.raised {
  background: var(--igc-secondary-500);
  color: var(--igc-secondary-500-contrast);
  box-shadow: var(--igc-elevation-2);
  transition: box-shadow .25s ease-out;

  &:before {
    opacity: 0;
    will-change: opacity;
  }

  &:hover:not([disabled]) {
    box-shadow: var(--igc-elevation-4);
  }

  &:hover:not([disabled])::before {
    background: var(--igc-gray-50);
    opacity: .12;
  }
}

.outlined {
  background: transparent;
  color: var(--igc-secondary-500);
  box-shadow: inset 0 0 0 1px var(--igc-secondary-500);

  &:before {
    opacity: 0;
  }

  &:hover:not([disabled])::before {
    background: var(--igc-secondary-500);
    opacity: 12%;
  }

  &[disabled] {
    box-shadow: inset 0 0 0 1px var(--igc-gray-500);
  }
}

.fab {
  background: var(--igc-secondary-500);
  color: var(--igc-secondary-500-contrast);
  box-shadow: var(--igc-elevation-4);
  border-radius: calc(var(--igc-border-radius) * 10);
}

.large {
  padding: calc(var(--igc-spacing) * 5);
}

.medium {
  padding: calc(var(--igc-spacing) * 4);
}

.small {
  padding: calc(var(--igc-spacing) * 3);
}
