@use 'sass:map';
@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

$schema: extend(
    (
        name: 'igc-checkbox'
    ),
    map.get($light-indigo-schema, 'checkbox')
);
$theme: digest-schema($schema);
$fill-color: var-get($theme, 'fill-color');
$empty-color: var-get($theme, 'empty-color');
$disabled-color: var-get($theme, 'disabled-color');
$error-color: var-get($theme, 'error-color');
$error-color-hover: var-get($theme, 'error-color-hover');

:host {
    @include css-vars($theme);

    font-weight: 600;
}

[part~='label'] {
    @include type-style('body-1');

    color: var-get($theme, 'label-color');
}

[part~='control'] {
    @include border-radius(var-get($theme, 'border-radius-ripple'));

    width: var(--size, rem(20px));
    height: var(--size, rem(20px));
    min-width: var(--size, rem(20px));

    &::after {
        @include border-radius(rem(2px));

        border: rem(2px) solid $empty-color;
    }
}

[part='control checked']::after {
    border-color: $fill-color;
    background: $fill-color;
}

[part~='indicator'] {
    stroke: var-get($theme, 'tick-color');
    transform: scale(.8);
}

:host(:hover) {
    [part~='control'] {
        box-shadow: 0 0 0 rem(4px) var-get($theme, 'outline-color-hover-unchecked');
    }

    [part='control checked'] {
        box-shadow: 0 0 0 rem(4px) var-get($theme, 'outline-color-hover-checked');
    }
}

:host(:focus-within) {
    [part~='control'] {
        box-shadow: 0 0 0 rem(4px) var-get($theme, 'focus-outline-color');
    }

    [part='control checked'] {
        box-shadow: 0 0 0 rem(4px) var-get($theme, 'focus-outline-color-focused');
    }
}

:host([indeterminate]) {
    [part~='indicator'] {
        transform: rotate(45deg) translateX(-.125rem) scale(.8);
    }

    [part~='control'] {
        background: $fill-color;

        &::after {
            border-color: $fill-color;
        }
    }
}

:host([indeterminate]:hover) {
    [part~='control'] {
        box-shadow: 0 0 0 rem(4px) color(secondary, 100, .87);
    }
}

:host([indeterminate]:focus-within) {
    [part~='control'] {
        box-shadow: 0 0 0 rem(4px) color(secondary, 200, .87);
    }
}

:host(:not([disabled])[invalid]) {
    [part~='label'] {
        color: $error-color;
    }

    [part~='control'] {
        &::after {
            border-color: $error-color;
        }
    }

    [part='control checked'] {
        box-shadow: inset 0 0 0 rem(4px) $error-color;
        background: $error-color;

        &::after {
            background: $error-color;
        }
    }
}

:host(:hover:not([disabled])[invalid]) {
    [part~='control'],
    [part='control checked'] {
        box-shadow: 0 0 0 rem(4px) $error-color-hover;
    }
}

:host(:focus-within:not([disabled])[invalid]) {
    [part~='control'],
    [part='control checked'] {
        box-shadow: 0 0 0 rem(4px) $error-color-hover;
    }
}

:host(:not([disabled])[invalid][indeterminate]) {
    [part~='control'] {
        box-shadow: inset 0 0 0 rem(4px) $error-color;
        background: $error-color;
    }
}

:host(:hover:not([disabled])[invalid][indeterminate]) {
    [part~='control'] {
        box-shadow: 0 0 0 rem(4px) $error-color-hover;
    }
}

:host(:focus-within:not([disabled])[invalid][indeterminate]) {
    [part~='control'] {
        box-shadow: 0 0 0 rem(4px) $error-color-hover;
    }
}

:host([disabled]),
:host([disabled][invalid]) {
    [part~='control'] {
        &::after {
            border-color: $disabled-color;
        }
    }

    [part='control checked']::after {
        background: $disabled-color;
    }

    [part~='label'] {
        color: $disabled-color;
    }
}

:host([disabled][indeterminate]) {
    [part~='control']::after {
        background: $disabled-color;
        border-color: $disabled-color;
    }
}
