@use './switch.base.scss';
@use '../../../../styles/utilities' as *;

$ripple-size: rem(40px);
$ripple-radius: calc(#{$ripple-size} / 2);

[part~='control'] {
    width: var(--size);
    height: rem(14px);
    border-radius: rem(7px);
    background: color(gray, 600);
}

[part~='thumb'] {
    width: var(--thumb-size);
    height: var(--thumb-size);
    min-width: var(--thumb-size);
    background: color(gray, 200);
    border-radius: rem(10px);
    box-shadow: var(--igc-elevation-2);
    margin-inline-start: var(--thumb-offset);

    &::after {
        position: absolute;
        content: '';
        top: calc(50% - #{$ripple-radius});
        left: calc(50% - #{$ripple-radius});
        width: $ripple-size;
        height: $ripple-size;
        overflow: hidden;
        border-radius: $ripple-radius;
    }

    &:hover {
        box-shadow: var(--igc-elevation-3);
    }
}

label {
    &:hover [part~='thumb'][part~='checked'] {
        &::after {
            background: color(secondary, 500, .06);
        }
    }

    &:focus-within [part~='thumb'][part~='checked'] {
        &::after {
            background: color(secondary, 500, .12);
        }
    }
}

:host([invalid]) label {
    &:hover [part~='thumb'] {
        &::after {
            background: color(error, 500, .06);
        }
    }

    &:focus-within [part~='thumb'] {
        &::after {
            background: color(error, 500, .12);
        }
    }
}

[part~='control'][part~='checked'] {
    background: color(secondary, 500, .5);
}

[part~='thumb'][part~='checked'] {
    background: color(secondary, 500);
    margin-inline-start: calc(var(--size) - var(--thumb-size) - var(--thumb-offset));
    animation-name: thumb-on;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

:host([disabled]) {
    [part~='thumb'] {
        box-shadow: var(--igc-elevation-1);
    }

    [part~='control'] {
        background: color(gray, 300);
    }
}

:host(:not([disabled])[invalid]) {
    [part~='control'] {
        background: color(error, 500, .5);
    }
}
