@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

:host {
    display: inline-flex;
    font-family: var(--igc-font-family);

    --size: #{rem(36px)};
    --thumb-size: #{rem(20px)};
    --thumb-offset: #{rem(-1px)};
}

input[type='checkbox'] {
    @include hide-default();
}

label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;

    &:hover [part~='thumb'] {
        &::after {
            background: color(gray, 600, .06);
        }
    }

    &:focus-within [part~='thumb'] {
        &::after {
            background: color(gray, 600, .12);
        }
    }
}

[part~='control'] {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    user-select: none;
    transition: all .2s ease-in-out;
}

[part~='thumb'] {
    @include border-radius(rem(10px));

    position: relative;
    animation-name: thumb-off;
    animation-duration: .2s;
    animation-fill-mode: none;
    transition: all .2s ease-in-out;
}

[part~='thumb'][part~='checked'] {
    animation-name: thumb-on;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

[part~='label'] {
    @include type-category('subtitle-1');

    display: inline-block;
    color: color(gray, 900);
    cursor: pointer;
    user-select: none;
    word-wrap: break-all;
    transition: all .2s ease-in-out;
}

:host([disabled]) {
    user-select: none;
    pointer-events: none;
    cursor: initial;

    [part~='label'] {
        color: color(gray, 400);
    }
}

:host(:not([disabled])[invalid]) {
    [part~='label'] {
        color: color(error, 500);
    }

    [part~='thumb'] {
        background: color(error, 500);
    }
}

:host([label-position='after']) {
    [part~='label'] {
        margin-inline-start: rem(8px);
    }
}

:host([label-position='before']) {
    [part~='label'] {
        order: -1;
        margin-inline-end: rem(8px);
    }
}

@keyframes thumb-on {
    from {
        margin-inline-start: var(--thumb-offset);
    }

    to {
        margin-inline-start: calc(var(--size) - var(--thumb-size) - var(--thumb-offset));
    }
}

@keyframes thumb-off {
    from {
        margin-inline-start: calc(var(--size) - var(--thumb-size) - var(--thumb-offset));
    }

    to {
        margin-inline-start: var(--thumb-offset);
    }
}
