@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/date-range-picker' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/input-group' as *;
@use 'components/calendar/themes/light/themes' as calendar-theme;
@use 'components/date-picker/themes/shared/date-picker.utils' as *;

$material: digest-schema($material-date-range-picker);
$bootstrap: digest-schema($bootstrap-date-range-picker);
$fluent: digest-schema($fluent-date-range-picker);
$indigo: digest-schema($indigo-date-range-picker);
$bootstrap-calendar: digest-schema(calendar-theme(calendar-theme.$bootstrap));
$fluent-calendar: digest-schema(calendar-theme(calendar-theme.$fluent));
$material-calendar: digest-schema(calendar-theme(calendar-theme.$material));
$indigo-calendar: digest-schema(calendar-theme(calendar-theme.$indigo));
$bootstrap-input: digest-schema(input-theme($bootstrap-input-group));
$fluent-input: digest-schema(input-theme($fluent-input-group));
$indigo-input: digest-schema(input-theme($indigo-input-group));
$material-dialog: digest-schema(dialog-theme(calendar-theme.$material));
$bootstrap-dialog: digest-schema(dialog-theme(calendar-theme.$bootstrap));
$fluent-dialog: digest-schema(dialog-theme(calendar-theme.$fluent));
$indigo-dialog: digest-schema(dialog-theme(calendar-theme.$indigo));
