@use 'styles/utilities' as *;
@use 'themes' as *;

:host {
    @include css-vars-from-theme($material);
    @include css-vars-from-theme($material-calendar);

    igc-dialog {
        @include css-vars-from-theme($material-dialog);
    }
}
