@use 'styles/utilities' as *;
@use '../light/themes' as *;

$flat-theme: $material-flat;
$contained-theme: $material-contained;
$fab-theme: $material-fab;
$outlined-theme: $material-outlined;

:host([variant='flat']) {
    --component-size: var(--ig-size, #{var-get($flat-theme, 'default-size')});
}

:host([variant='outlined']) {
    --component-size: var(--ig-size, #{var-get($outlined-theme, 'default-size')});
}

:host([variant='contained']) {
    --component-size: var(--ig-size, #{var-get($contained-theme, 'default-size')});
}

:host([variant='fab']) {
    --component-size: var(--ig-size, #{var-get($fab-theme, 'default-size')});
}

[part='base'] {
    transition: all .1s ease-in-out;
}

:host(:not([disabled])[variant='flat']) [part='base'],
:host(:not(:disabled)[variant='flat']) [part='base'] {
    &:focus-visible {
        &:hover {
            color: var-get($flat-theme, 'hover-foreground');
            background: var-get($flat-theme, 'hover-background');
        }

        &:active {
            color: var-get($flat-theme, 'active-foreground');
            background: var-get($flat-theme, 'active-background');
        }
    }
}

:host(:not([disabled])[variant='outlined']) [part='base'],
:host(:not(:disabled)[variant='outlined']) [part='base'] {
    border: rem(1px) solid var-get($outlined-theme, 'border-color');

    &:hover {
        border-color: var-get($outlined-theme, 'hover-border-color');
    }

    &:focus {
        border-color: var-get($outlined-theme, 'focus-border-color');
    }

    &:active {
        border-color: var-get($outlined-theme, 'active-border-color');
    }

    &:focus-visible {
        border-color: var-get($outlined-theme, 'focus-visible-border-color');

        &:hover {
            color: var-get($outlined-theme, 'hover-foreground');
            background: var-get($outlined-theme, 'hover-background');
            border-color: var-get($outlined-theme, 'hover-border-color');
        }

        &:active {
            color: var-get($outlined-theme, 'active-foreground');
            background: var-get($outlined-theme, 'active-background');
            border-color: var-get($outlined-theme, 'active-border-color');
        }
    }
}

:host(:not([disabled])[variant='contained']) [part='base'],
:host(:not(:disabled)[variant='contained']) [part='base'] {
    box-shadow: var(--ig-elevation-2);

    &:hover {
        box-shadow: var(--ig-elevation-4);
    }

    &:focus,
    &:active {
        box-shadow: var(--ig-elevation-8);
    }

    &:focus-visible {
        color: var-get($contained-theme, 'focus-foreground');
        background: var-get($contained-theme, 'focus-background');

        &:hover {
            color: var-get($contained-theme, 'hover-foreground');
            background: var-get($contained-theme, 'hover-background');
        }

        &:active {
            color: var-get($contained-theme, 'active-foreground');
            background: var-get($contained-theme, 'active-background');
        }
    }
}

:host(:not([disabled])[variant='fab']) [part='base'],
:host(:not(:disabled)[variant='fab']) [part='base'] {
    box-shadow: var(--ig-elevation-6);

    &:hover {
        box-shadow: var(--ig-elevation-4);
    }

    &:focus,
    &:active {
        box-shadow: var(--ig-elevation-8);
    }

    &:focus-visible {
        color: var-get($fab-theme, 'focus-foreground');
        background: var-get($fab-theme, 'focus-background');

        &:hover {
            color: var-get($fab-theme, 'hover-foreground');
            background: var-get($fab-theme, 'hover-background');
        }

        &:active {
            color: var-get($fab-theme, 'active-foreground');
            background: var-get($fab-theme, 'active-background');
        }
    }

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
        box-shadow: var(--ig-elevation-12);
    }
}

:host([disabled][variant='flat']) [part='base'],
:host(:disabled[variant='flat']) [part='base'] {
    box-shadow: inset 0 0 0 rem(1px) var-get($flat-theme, 'disabled-border-color');
}

:host([disabled][variant='outlined']) [part='base'],
:host(:disabled[variant='outlined']) [part='base'] {
    box-shadow: inset 0 0 0 rem(1px) var-get($outlined-theme, 'disabled-border-color');
}

:host([disabled][variant='contained']) [part='base'],
:host(:disabled[variant='contained']) [part='base'] {
    box-shadow: inset 0 0 0 rem(1px) var-get($contained-theme, 'disabled-border-color');
}

:host([disabled][variant='fab']) [part='base'],
:host(:disabled[variant='fab']) [part='base'] {
    box-shadow: inset 0 0 0 rem(1px) var-get($fab-theme, 'disabled-border-color');
}
