@use 'styles/utilities' as *;
@use '../light/themes' as *;

$flat-theme: $material-flat;
$contained-theme: $material-contained;
$fab-theme: $material-fab;
$outlined-theme: $material-outlined;

:host([variant='flat']) {
    --component-size: var(--ig-size, #{var-get($flat-theme, 'default-size')});
}

:host([variant='outlined']) {
    --component-size: var(--ig-size, #{var-get($outlined-theme, 'default-size')});
}

:host([variant='contained']) {
    --component-size: var(--ig-size, #{var-get($contained-theme, 'default-size')});
}

:host([variant='fab']) {
    --component-size: var(--ig-size, #{var-get($fab-theme, 'default-size')});
}

[part~='base'] {
    transition: all .1s ease-in-out;
}

:host(:not([disabled])[variant='flat']) [part~='base'],
:host(:not(:disabled)[variant='flat']) [part~='base'] {
    &:active {
        ::slotted(igc-icon) {
            color: var-get($flat-theme, 'active-foreground');
        }
    }
}

:host(:not([disabled])[variant='flat']) [part='base focused'],
:host(:not(:disabled)[variant='flat']) [part='base focused'] {
    ::slotted(igc-icon) {
        color: var-get($flat-theme, 'icon-color-hover');
    }

    &:active {
        ::slotted(igc-icon) {
            color: var-get($flat-theme, 'focus-foreground');
        }
    }
}

:host(:not([disabled])[variant='outlined']) [part~='base'],
:host(:not(:disabled)[variant='outlined']) [part~='base'] {
    &:hover {
        border-color: var-get($outlined-theme, 'hover-border-color');
    }

    &:active {
        border-color: var-get($outlined-theme, 'active-border-color');

        ::slotted(igc-icon) {
            color: var-get($outlined-theme, 'active-foreground');
        }
    }
}

:host(:not([disabled])[variant='outlined']) [part='base focused'],
:host(:not(:disabled)[variant='outlined']) [part='base focused'] {
    border-color: var-get($outlined-theme, 'focus-visible-border-color');

    ::slotted(igc-icon) {
        color: var-get($outlined-theme, 'focus-visible-foreground');
    }

    &:active {
        border-color: var-get($outlined-theme, 'focus-border-color');

        ::slotted(igc-icon) {
            color: var-get($outlined-theme, 'focus-foreground');
        }
    }
}

:host(:not([disabled])[variant='contained']) [part~='base'],
:host(:not(:disabled)[variant='contained']) [part~='base'] {
    box-shadow: var-get($contained-theme, 'resting-elevation');

    &:hover {
        box-shadow: var-get($contained-theme, 'hover-elevation');
    }

    &:active {
        box-shadow: var-get($contained-theme, 'active-elevation');
    }
}

:host(:not([disabled])[variant='contained']) [part='base focused'],
:host(:not(:disabled)[variant='contained']) [part='base focused'] {
    box-shadow: var-get($contained-theme, 'focus-elevation');

    &:active {
        box-shadow: var-get($fab-theme, 'active-elevation');
    }

    &:hover {
        box-shadow: var-get($fab-theme, 'focus-elevation');
    }
}

:host(:not([disabled])[variant='fab']) [part~='base'],
:host(:not(:disabled)[variant='fab']) [part~='base'] {
    box-shadow: var-get($fab-theme, 'resting-elevation');

    &:hover {
        box-shadow: var-get($fab-theme, 'hover-elevation');
    }

    &:active {
        box-shadow: var-get($contained-theme, 'active-elevation');
    }
}

:host(:not([disabled])[variant='fab']) [part='base focused'],
:host(:not(:disabled)[variant='fab']) [part='base focused'] {
    box-shadow: var-get($fab-theme, 'focus-elevation');
}
