@use 'styles/utilities' as *;
@use '../light/themes' as *;

$flat-theme: $material-flat;
$contained-theme: $material-contained;
$fab-theme: $material-fab;
$outlined-theme: $material-outlined;

:host([variant='flat']) {
    --component-size: var(--ig-size, #{var-get($flat-theme, 'default-size')});
}

:host([variant='outlined']) {
    --component-size: var(--ig-size, #{var-get($outlined-theme, 'default-size')});
}

:host([variant='contained']) {
    --component-size: var(--ig-size, #{var-get($contained-theme, 'default-size')});
}

:host([variant='fab']) {
    --component-size: var(--ig-size, #{var-get($fab-theme, 'default-size')});
}

[part='base'] {
    transition: all .1s ease-in-out;
}

:host(:not([disabled])[variant='outlined']) [part='base'],
:host(:not(:disabled)[variant='outlined']) [part='base'] {
    &:hover {
        border-color: var-get($outlined-theme, 'hover-border-color');
    }

    &:active {
        border-color: var-get($outlined-theme, 'active-border-color');
    }

    &:focus-visible {
        border-color: var-get($outlined-theme, 'focus-visible-border-color');
    }
}

:host(:not([disabled])[variant='contained']) [part='base'],
:host(:not(:disabled)[variant='contained']) [part='base'] {
    box-shadow: var-get($contained-theme, 'resting-elevation');

    &:hover {
        box-shadow: var-get($contained-theme, 'hover-elevation');
    }

    &:active {
        box-shadow: var-get($contained-theme, 'hover-elevation');
    }

    &:focus-visible {
        box-shadow: var-get($contained-theme, 'focus-elevation');

        &:active {
            box-shadow: var-get($fab-theme, 'active-elevation');
        }
    }
}

:host(:not([disabled])[variant='fab']) [part='base'],
:host(:not(:disabled)[variant='fab']) [part='base'] {
    box-shadow: var-get($fab-theme, 'resting-elevation');

    &:hover {
        box-shadow: var-get($fab-theme, 'hover-elevation');
    }

    &:active {
        box-shadow: var-get($contained-theme, 'active-elevation');
    }

    &:focus-visible {
        box-shadow: var-get($fab-theme, 'focus-elevation');
    }
}
