@use '../../../../../styles/utilities/functions' as *;

@mixin theme() {
    igc-step {
        --header-background--hover: #{color(gray, 100, .3)};
        --header-background--focus: #{color(gray, 100, .5)};
        --header-separator-visibility--hover: hidden;
    }
}
