@use 'styles/utilities' as *;

:host {
    ::slotted(igc-expansion-panel) {
        --lines-clamped: 4;

        transition: margin 350ms ease-out;
    }

    ::slotted(igc-expansion-panel[open]) {
        margin: pad-block(rem(8px)) 0;
    }

    ::slotted(igc-expansion-panel:first-of-type) {
        margin-top: 0;
    }

    ::slotted(igc-expansion-panel:last-of-type) {
        margin-bottom: 0;
    }

    @media (prefers-reduced-motion) {
        ::slotted(igc-expansion-panel) {
            transition: none;
        }
    }
}
