@use '../../../styles/utilities/index' as *;
@use '../../../../node_modules/igniteui-theming//sass/animations/easings' as *;

:host {
    ::slotted(igc-expansion-panel) {
        --lines-clamped: 4;
    }

    ::slotted(igc-expansion-panel[open]) {
        transition: margin 350ms $out-quad;
        margin: rem(8px) 0;
    }

    ::slotted(igc-expansion-panel:first-of-type) {
        margin-top: 0;
    }

    ::slotted(igc-expansion-panel:last-of-type) {
        margin-bottom: 0;
    }
}
