@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: contents;
}

:popover-open {
    position: absolute;
    overflow: visible;
    isolation: isolate;
    height: fit-content;
    inset: unset;
    border: none;
    padding: 0;
    background: transparent;
}
