@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: contents;
}

:popover-open {
    isolation: isolate;
    z-index: 10005;
    height: fit-content;
    inset: unset;
    border: none;
    padding: 0;
}

[part='absolute']:popover-open {
    position: absolute;
}

[part='fixed']:popover-open {
    position: fixed;
}
