@use 'styles/utilities' as *;
@use 'themes' as *;
@use '../light/themes' as light;

$theme: $indigo;

:host {
    @include css-vars-from-theme(diff(light.$base, $theme));
}

:host([variant='warning']) [part~='base'] {
    color: color(gray, 50);

    igc-icon,
    ::slotted(igc-icon) {
        color: color(gray, 50);
    }
}
