@use 'styles/utilities' as *;
@use 'themes' as *;
@use '../light/themes' as light;
@use 'components/dropdown/themes/dark/themes' as dropdown-theme;

$dropdown-theme: dropdown-theme.$fluent;
$theme: $fluent;

:host {
    @include css-vars-from-theme(diff(light.$base, $theme));

    [part='base'] {
        @include css-vars-from-theme($dropdown-theme);
    }
}
