@use 'styles/utilities' as *;
@use 'themes' as *;
@use '../light/themes' as light;
@use 'components/dropdown/themes/dark/themes' as dropdown-theme;

$dropdown-theme: dropdown-theme.$fluent;
$theme: $fluent;

:host {
    @include css-vars-from-theme(diff(light.$base, $theme), 'ig-select');
    @include css-vars-from-theme($dropdown-theme, 'ig-popover');

    --dd-background-color: #{var-get($dropdown-theme, 'background-color')};
    --dd-border-radius:#{var-get($dropdown-theme, 'border-radius')};
    --dd-border-color: #{var-get($dropdown-theme, 'border-color')};
    --dd-elevation: #{var-get($dropdown-theme, 'elevation')};
}
