@use 'styles/utilities' as *;
@use 'themes' as *;
@use '../../../dropdown/themes/dark/themes' as dropdown-theme;
@use '../../../input/themes/dark/themes' as input-theme;

$theme: $material;
$dropdown-theme: dropdown-theme.$material;
$input-theme: input-theme.$material;

@mixin theme() {
    igc-select {
        @include css-vars-from-theme($theme, 'ig-select');
        @include css-vars-from-theme($input-theme, 'ig-input');
        @include css-vars-from-theme($dropdown-theme, 'ig-drop-down');
    }
}
