@use 'styles/common/component';
@use 'styles/utilities' as *;

:host([alignment='vertical']) {
    display: flex;
    flex-direction: column;
    gap: rem(8px);
}

:host([alignment='horizontal']) {
    --radio-base-display: contents;

    display: grid;
    grid-template-columns: repeat(var(--layout-count), minmax(min-content, max-content));
    grid-template-rows: auto auto;
    column-gap: rem(8px);
}
