@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    --menu-full-width: #{rem(240px)};
    --menu-height: 50vh;
    --transition-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    --transition-duration: 0.35s;

    display: flex;
    flex-shrink: 0;
    font-family: var(--ig-font-family);

    [part='base'],
    [part~='mini'] {
        --ig-scrollbar-size: rem(8px);

        height: 100%;
        min-height: 100%;
        overflow-x: hidden;
    }

    [part='mini'] {
        width: var(--menu-mini-width);
        border-inline-end-style: solid;
        border-inline-end-width: rem(1px);
        opacity: 1;
        transition-delay: 50ms;
    }

    [part='base'] {
        box-sizing: border-box;
        width: var(--menu-full-width);
        margin: unset;
        border-color: transparent;
        padding: unset;
        outline-style: none;
        transition-behavior: allow-discrete;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-function);
        transition-property: translate, opacity, overlay, display;

        &::backdrop {
            transition-behavior: allow-discrete;
            transition-duration: var(--transition-duration);
            transition-timing-function: var(--transition-function);
            transition-property: opacity, display;
            opacity: 1;

            @starting-style {
                opacity: 0;
            }
        }
    }

    [part='main'] {
        width: 100%;
    }
}

:host(:not([open])[position='relative']) {
    [part='base'] {
        margin-inline-start: calc(var(--menu-full-width) * -1);
        overflow: hidden;
    }
}

:host([position='relative']) {
    [part='base'] {
        position: relative;
        width: var(--menu-full-width);
        box-shadow: none;
        z-index: initial;
        transition: margin var(--transition-function) var(--transition-duration);
    }

    [part='base']:has(~ [part~='hidden']) {
        border-inline-end-style: solid;
        border-inline-end-width: rem(1px);
    }

    [part='mini'] {
        position: relative;
        overflow: hidden;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-function);
        transition-property: width, min-width, padding;
    }
}

:host([position='top']),
:host([position='bottom']) {
    [part='main'] {
        width: 100%;
    }

    [part='base'] {
        height: var(--menu-height);
        min-height: initial;
        min-width: 100vw;
        margin: revert;
    }
}

:host([position='top']) [part='base'] {
    top: 0;
    bottom: auto;
}

:host([position='bottom']) [part='base'] {
    top: auto;
    bottom: 0;
}

:host([position='start']) {
    [part='base'] {
        margin-inline-end: auto;
    }
}

:host([position='end']) {
    [part='base'] {
        margin-inline-start: auto;
    }
}

:host([position='start']),
:host([dir='rtl'][position='end']) {
    --dir: #{direction($rtl: true)};
}

:host([position='end']),
:host([dir='rtl'][position='start']) {
    --dir: #{direction($rtl: false)};
}

:host(:not([open])[position='top']) {
    [part='base'] {
        translate: 0 calc(var(--menu-height) * -1);
    }
}

:host([position='top']) {
    [part='base']:open {
        translate: 0;

        @starting-style {
            translate: 0 calc(var(--menu-height) * -1);
        }
    }
}

:host(:not([open])[position='bottom']) {
    [part='base'] {
        translate: 0 var(--menu-height);
    }
}

:host([position='bottom']) {
    [part='base']:open {
        translate: 0;

        @starting-style {
            translate: 0 var(--menu-height);
        }
    }
}

:host(:not([open]):where([position='start'], [position='end'])) {
    [part='base'] {
        translate: calc(100% * var(--dir)) 0;
    }
}

:host(:where([position='start'], [position='end'])) {
    [part='base']:open {
        border-inline-end-style: solid;
        border-inline-end-width: rem(1px);

        @starting-style {
            translate: calc(100% * var(--dir)) 0;
        }
    }
}

:host([open][position='relative']) {
    [part='base'] {
        transition-delay: 50ms;
    }

    [part~='mini'] {
        width: 0;
        min-width: 0;
        padding-inline: 0;
    }
}

:host(:not([open])) [part='base'] {
    &::backdrop {
        opacity: 0;
    }
}
