@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: flex;
    flex-shrink: 0;
    font-family: var(--ig-font-family);

    [part='base'],
    [part~='mini'] {
        --ig-scrollbar-size: rem(8px);

        position: fixed;
        height: 100%;
        min-height: 100%;
        overflow-x: hidden;
        inset-block: 0;
        z-index: 999;
        opacity: 1;
        transition: transform ease-out .3s, .3s, opacity ease-out .3s, .3s;
    }

    [part~='mini'] {
        width: var(--menu-mini-width);
    }

    [part='main'], [part='base'] {
        width: var(--menu-full-width);
    }

    [part='overlay'] {
        position: fixed;
        inset: 0;
        z-index: 2;
        opacity: 1;
        transition: opacity ease-out .3s, .3s;
    }
}

:host([position='relative']) {
    [part='base'] {
        position: relative;
        width: var(--menu-full-width);
        box-shadow: none;
        z-index: initial;
        border-inline-end-style: solid ;
        border-inline-end-width: rem(1px);
    }

    [part~='mini'] {
        position: relative;
        border-inline-end-style: solid;
        border-inline-end-width: rem(1px);
    }

    [part='overlay'] {
        display: none;
    }
}

:host([position='top']),
:host([position='bottom']) {
    [part='main'] {
        width: 100%;
    }

    [part='base'] {
        height: 50vh;
        min-height: initial;
        width: 100%;
        inset-inline: 0;
    }
}

:host([position='top']) [part='base'] {
    top: 0;
    bottom: auto;
}

:host([position='bottom']) [part='base'] {
    top: auto;
    bottom: 0;
}

:host([position='start']) {
    [part='base'],
    [part~='mini'] {
        inset-inline-start: 0;
        border-inline-end-style: solid;
        border-inline-end-width: rem(1px);
    }
}

:host([position='end']) {
    [part='base'],
    [part~='mini'] {
        inset-inline-end: 0;
        border-inline-start-style: solid;
        border-inline-start-width: rem(1px);
    }
}

:host(:not([open])[position='start']),
:host([dir='rtl']:not([open])[position='end']) {
    --dir: #{direction($rtl: true)};
}

:host(:not([open])[position='end']),
:host([dir='rtl']:not([open])[position='start']) {
    --dir: #{direction($rtl: false)};
}

:host(:not([open])[position='relative']) {
    [part='base'] {
        margin-inline-start: calc(var(--menu-full-width) * -1);
    }
}

:host(:not([open])[position='top']),
:host(:not([open])[position='bottom']) {
    [part='base'] {
        transform: translateY(-60vh);
    }

    [part='mini'] {
        display: none;
    }
}

:host(:not([open])[position='bottom']) {
    [part='base'] {
        transform: translateY(60vh);
    }
}

:host([open][position='end']) {
    [part='base'] {
        border-inline-end: none;
        border-inline-start-style: solid;
        border-inline-start-width: rem(1px);
    }
}

:host([open]) [part='mini'],
[part='mini hidden'] {
    display: none;
}

:host([open]:not([position='relative'])) {
    [part='base'] {
        border-inline-end-style: solid;
        border-inline-end-width: rem(1px);
    }
}

:host(:not([open])) {
    [part='base'] {
        transform: translateX(calc(100% * var(--dir)));
        opacity: 0;
    }

    [part='overlay'] {
        pointer-events: none;
        opacity: 0;
    }
}
