@use 'styles/common/component';
@use 'styles/utilities' as *;

[part~='base'] {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    position: relative;
    max-height: rem(48px);
    cursor: pointer;
    user-select: none;
    outline: transparent;
    white-space: nowrap;
    text-decoration: none;
    border: none;
    justify-content: flex-start;
    transition: background .15s ease-out;

    ::slotted(igc-icon) {
        --ig-size: 3;

        display: flex;
        font: inherit;
    }
}

[part='content'] {
    @include ellipsis();
}

[part='base mini'] {
    display: block;

    [part='content'] {
        display: none;
    }

    ::slotted(igc-icon) {
        width: 100%;
    }
}

:host([disabled]) {
    user-select: none;
    cursor: initial;
    pointer-events: none;
}
