@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/icon-button' as *;

// Material Themes
$material-flat: digest-schema($material-flat-icon-button);
$material-contained: digest-schema($material-contained-icon-button);
$material-outlined: digest-schema($material-outlined-icon-button);

// Fluent Themes
$fluent-flat: digest-schema($fluent-flat-icon-button);
$fluent-contained: digest-schema($fluent-contained-icon-button);
$fluent-outlined: digest-schema($fluent-outlined-icon-button);

// Bootstrap Themes
$bootstrap-flat: digest-schema($bootstrap-flat-icon-button);
$bootstrap-contained: digest-schema($bootstrap-contained-icon-button);
$bootstrap-outlined: digest-schema($bootstrap-outlined-icon-button);

// Indigo Themes
$indigo-flat: digest-schema($indigo-flat-icon-button);
$indigo-contained: digest-schema($indigo-contained-icon-button);
$indigo-outlined: digest-schema($indigo-outlined-icon-button);
