@use 'sass:map';
@use '../../../../../styles/utilities' as *;
@use '../../../../../styles/themes/schemas/indigo/light' as *;

$schema: map.get($light-indigo-schema, 'button', 'icon');
$border-radius: border-radius(map.get($schema, 'border-radius')...);
$theme: digest-schema(extend(
    $schema,
    (
        border-radius: $border-radius
    )
));

:host {
    @include css-vars-from-theme($theme, 'ig-button');

    ::slotted(igc-ripple) {
        border-radius: var-get($theme, 'border-radius');
    }
}

[part='base'] {
    border-radius: var-get($theme, 'border-radius');
    transition: color .15s ease-in-out, box-shadow .15s ease-in-out, background .15s ease-in-out;
    color: color(gray, 700);
    width: var-get($theme, 'size');
    height: var-get($theme, 'size');
    padding: pad(6px);

    &:hover {
        color: color(gray, 900);
        background: transparent;
    }

    &:focus,
    &:active {
        color: color(gray, 900);
        background: transparent;
        box-shadow: 0 0 0 rem(3px) color(gray, 300);
    }

    igc-icon {
        color: color(gray, 700);
    }
}

:host([variant='contained']) {
    [part='base'] {
        color: contrast-color(primary, 600);
        background: color(primary, 500);

        &:hover {
            background: #{color(primary, 400)};
        }

        &:focus,
        &:active {
            background: #{color(primary, 400)};
            box-shadow: 0 0 0 rem(3px) color(primary, 200);
        }
    }

    igc-icon {
        color: contrast-color(primary, 600);
    }
}

:host([variant='outlined']) {
    [part='base'] {
        box-shadow: none;

        &::after {
            position: absolute;
            content: '';
            box-shadow: inset 0 0 0 rem(2px) color(gray, 500);
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }

        &:hover {
            color: color(gray, 900);
            background: color(gray, 100);
        }

        &:focus,
        &:active {
            color: color(gray, 900);
            box-shadow: 0 0 0 rem(3px) color(gray, 300);
        }
    }
}

:host([disabled]),
:host(:disabled) {
    [part='base'] {
        color: color(gray, 400);
        background: transparent;
        box-shadow: none;
    }

    igc-icon {
        color: color(gray, 400);
    }
}

:host([disabled][variant='contained']),
:host(:disabled[variant='contained']) {
    [part='base'] {
        background: color(gray, 100);
        color: color(gray, 400);
    }
}
