@use '../../../../../styles/common/component';
@use '../../../../../styles/utilities' as *;

:host {
    display: inline-flex;
    vertical-align: middle;
}

::slotted(*) {
    font-size: var(--size) !important;
    vertical-align: middle;
}

slot {
    pointer-events: none;
}

[part='base'] {
    @include border-radius(50%);

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline-style: none;
    background: transparent;
    padding: 0;
    color: color(gray, 900);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    transition: box-shadow .2s ease-in, background .15s ease-out;
    transition-delay: .05s;
    font-size: var(--size);
    line-height: 1;
}

:host([size='small']) {
    --size: #{rem(16px)};

    [part='base'] {
        padding: calc(var(--igc-spacing-small) * 2);
    }
}

:host([size='medium']) {
    --size: #{rem(20px)};

    [part='base'] {
        padding: calc(var(--igc-spacing-medium) * 1.25);
    }
}

:host([size='large']) {
    --size: #{rem(24px)};

    [part='base'] {
        padding: calc(var(--igc-spacing-large) * .75);
    }
}

:host([disabled]) {
    pointer-events: none;
}
