@use '../../../../../styles/utilities' as utils;

$padding-sm: calc(var(--igc-spacing-small) * 3);
$padding-md: calc(var(--igc-spacing-medium) * 1.5);

:host {
    --size: #{utils.sizable(utils.rem(28px), utils.rem(32px), utils.rem(36px))};
    --spacing: #{utils.sizable($padding-sm, $padding-md)};
}

[part='base'] {
    transition: color .15s ease-in-out, box-shadow .15s ease-in-out, background .15s ease-in-out;
    color: utils.color(gray, 700);
    width: var(--size);
    height: var(--size);

    &:hover {
        color: utils.color(gray, 900);
        background: transparent;
    }

    &:focus,
    &:active {
        color: utils.color(gray, 900);
        background: transparent;
        box-shadow: 0 0 0 utils.rem(3px) utils.color(gray, 300);
    }
}

:host([variant='contained']) {
    [part='base'] {
        color: utils.contrast-color(primary, 600);
        background: utils.color(primary, 500);

        &:hover {
            background: #{utils.color(primary, 400)};
        }

        &:focus,
        &:active {
            background: #{utils.color(primary, 400)};
            box-shadow: 0 0 0 utils.rem(3px) utils.color(primary, 200);
        }
    }
}

:host([variant='outlined']) {
    [part='base'] {
        box-shadow: none;

        &::after {
            position: absolute;
            content: '';
            box-shadow: inset 0 0 0 utils.rem(2px) utils.color(gray, 500);
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }

        &:hover {
            color: utils.color(gray, 900);
            background: utils.color(gray, 100);
        }

        &:focus,
        &:active {
            color: utils.color(gray, 900);
            box-shadow: 0 0 0 utils.rem(3px) utils.color(gray, 300);
        }
    }
}

:host([disabled]) {
    [part='base'] {
        color: utils.color(gray, 400);
        background: transparent;
        box-shadow: none;
    }
}

:host([disabled][variant='contained']) {
    [part='base'] {
        background: utils.color(gray, 100);
        color: utils.color(gray, 400);
    }
}
