@use 'sass:map';
@use '../../../styles/utilities' as *;
@use '../../../styles/themes/schemas/fluent/light' as *;

$schema: map.get($light-fluent-schema, 'toast');
$border-radius: border-radius(map.get($schema, 'border-radius')...);
$theme: digest-schema(extend(
    $schema,
    (
        border-radius: $border-radius
    )
));

:host {
    @include css-vars-from-theme($theme, 'ig-toast');
    @include type-style('caption');

    color: contrast-color(gray, 100);
    background: color(gray, 100);
    padding: rem(8px) rem(12px);
    border-radius: var-get($theme, 'border-radius');
}
