@use '../../../styles/utilities' as *;

:host {
    @include type-style('body-2');
    @include border-radius(rem(26px));

    display: inline-flex;
    font-family: var(--ig-font-family);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: color(gray, 700);
    color: contrast-color(gray, 700);
    padding: rem(16px) rem(24px);
    margin: rem(42px) auto;
    min-width: rem(52px);
    backdrop-filter: blur(10px);
}

:host(:not([open])) {
    display: none;
}
