@use 'sass:map';
@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $fluent;

:host {
    @include css-vars-from-theme($theme, 'ig-toast');
    @include type-style('caption');

    color: contrast-color(gray, 100);
    background: color(gray, 100);
    padding: rem(8px) rem(12px);
    border-radius: var-get($theme, 'border-radius');
}
