@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    --margin-block: #{rem(42px)};

    @include type-style('body-2');

    position: absolute;
    display: flex;
    align-items: center;
    font-family: var(--ig-font-family);
    text-align: center;
    margin-block: var(--margin-block);
    position-area: center;
    min-width: rem(52px);

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        inset-inline: 0;
    }
}

:host([position='top']) {
    align-self: start;
}

:host([position='middle']) {
    align-self: anchor-center;
}

:host([position='bottom']) {
    align-self: end;
}

:host(:not([open])) {
    display: none;
}
