@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    @include type-style('body-2');

    position: fixed;
    display: flex;
    align-items: center;
    font-family: var(--ig-font-family);
    text-align: center;
    inset-inline: 50% auto;
    transform: translateX(calc(-50% + .5px));
    margin: rem(42px) auto;
    min-width: rem(52px);

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        inset-inline: 0;
    }
}

:host([position='bottom']) {
    inset-block: auto 0;
}

:host([position='middle']) {
    inset-block: 50% auto;
    transform: translate(calc(-50% + .5px), calc(-50% + .5px));
    margin: auto;
}

:host([position='top']) {
    inset-block: 0 auto;
}

:host(:not([open])) {
    display: none;
}
