@use 'sass:map';
@use '../../../styles/common/component';
@use '../../../styles/utilities' as *;
@use '../../../styles/themes/schemas/fluent/light' as *;

$schema: map.get($light-fluent-schema, 'icon');
$theme: digest-schema($schema);

:host {
    @include css-vars-from-theme($theme, 'ig-icon');

    color: var-get($theme, 'color');
}

svg {
    fill: currentcolor;
}

:host,
svg {
    width: var-get($theme, 'size');
    height: var-get($theme, 'size');
}
