@use 'sass:map';
@use '../../../styles/common/component';
@use '../../../styles/utilities' as *;

$schema: extend((name: 'igc-icon'), map.get($light-fluent-schema, 'icon'));
$theme: digest-schema($schema);

:host {
    @include css-vars($theme);

    color: var-get($theme, 'color');
}

svg {
    fill: currentcolor;
}
