@use '../../styles/common/component';
@use '../../styles/utilities' as *;

:host {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: color(secondary, 500);
}

::slotted(*) {
    font-family: var(--igc-overline-font-family);
    font-size: var(--igc-overline-font-size);
    font-weight: var(--igc-overline-font-weight);
    letter-spacing: var(--igc-overline-letter-spacing);
    line-height: var(--igc-overline-line-height);
    text-transform: var(--igc-overline-text-transform);
    margin: 0;
}
