@use '../../styles/common/component';
@use '../../styles/utilities' as *;

:host {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: color(secondary, 500);
    background: inherit;
    @include type-category('overline');
}

::slotted(*) {
    font: inherit;
    margin: inherit;
}
