@use 'styles/utilities' as *;
@use 'themes' as *;
@use '../light/themes' as light;

$theme: $fluent;

:host {
    @include css-vars-from-theme(diff(light.$base, $theme));
}

@mixin chip-outlined-variants-dark($variant, $variant-color, $border-shade, $color-shade) {
    :host([outlined][variant='#{$variant}']) [part='base'],
    :host([selected][outlined][variant='#{$variant}']:not([disabled])) [part='base'] {
        border-color: color($variant-color, $border-shade);
        color: contrast-color($variant-color, $color-shade);

        &:focus-within {
            background: color($variant-color, 800, .50);
        }

        &:hover {
            background: color($variant-color, 600, .20);
        }
    }
}

@include chip-outlined-variants-dark('primary', primary, 200, 600);
@include chip-outlined-variants-dark('info', info, 200, 500);
@include chip-outlined-variants-dark('success', success, 100, 600);
@include chip-outlined-variants-dark('warning', warn, 200, 500);
@include chip-outlined-variants-dark('danger', error, 50, 600);
