@use 'styles/utilities' as *;
@use 'themes' as *;
@use '../light/themes' as light;

$theme: $indigo;

:host {
    @include css-vars-from-theme(diff(light.$base, $theme), 'ig-chip');
}

:host([variant='info']) button,
:host([selected][variant='info']) button:not([disabled]) {
    &:focus {
        box-shadow: 0 0 0 rem(3px) color(info, 800);
    }
}

:host([variant='success']) button,
:host([selected][variant='success']) button:not([disabled]) {
    background: color(success, 800);

    &:focus {
        box-shadow: 0 0 0 rem(3px) color(success, 900);
    }

    &:hover {
        background: color(success, 700);
    }
}

:host([variant='warning']) button,
:host([selected][variant='warning']) button:not([disabled]) {
    color: color(gray, 50);

    &:focus {
        color: color(gray, 50);
        box-shadow: 0 0 0 rem(3px) color(warn, 900);
    }

    &:hover {
        color: color(gray, 50);
    }
}

:host([variant='danger']) button,
:host([selected][variant='danger']) button:not([disabled]) {
    background: color(error, 600);

    &:focus {
        background: color(error, 600);
        box-shadow: 0 0 0 rem(3px) color(error, 900);
    }

    &:hover {
        background: color(error, 500);
    }
}

:host([selected]) button[disabled],
:host([variant='primary']) button[disabled] {
    color: contrast-color(primary, 900, .2);
}
