@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    igc-focus-trap {
        display: flex;
        flex: 1 0 0;
        flex-direction: column;
        max-width: #{sizable(rem(290px), rem(314px), rem(360px))};
        overflow: hidden;
        box-shadow: var(--ig-elevation-3);

        igc-calendar {
            border: none;
        }
    }
}

[part='actions'] {
    display: flex;
    justify-content: flex-end;
    padding: rem(8px);
    gap: rem(8px);
}
