@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    igc-focus-trap {
        display: flex;
        flex: 1 0 0;
        flex-direction: column;
        max-width: #{sizable(rem(290px), rem(314px), rem(360px))};
        overflow: hidden;
        box-shadow: var(--ig-elevation-3);

        igc-calendar {
            border: none;
            box-shadow: none;
        }
    }

    igc-calendar[header-orientation='vertical'] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

[part='actions'] {
    display: flex;
    justify-content: flex-end;
    padding: rem(8px);
    gap: rem(8px);

    ::slotted(*) {
        display: flex;
        gap: rem(8px);
    }
}
