@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $material;

:host {
    background: var-get($theme, 'background');
    color: var-get($theme, 'foreground');
}

[part~='wrapper'] {
    min-height: var-get($theme, 'size');

    &:hover {
        &::after {
            background: var-get($theme, 'hover-color');
        }
    }
}

[part~='wrapper'][part~='selected'] {
    &:hover {
        &::after {
            background: var-get($theme, 'hover-selected-color');
        }
    }
}

[part~='label'] {
    max-height: var-get($theme, 'size');
}

:host(:not([disabled])[active]) [part~='wrapper'] {
    background: var-get($theme, 'background-active');
    color: var-get($theme, 'foreground-active');
}

:host(:not([disabled])[selected]) [part~='wrapper']{
    background: var-get($theme, 'background-selected');
    color: var-get($theme, 'foreground-selected');
}

:host(:not([disabled])[selected][active]) [part~='wrapper']{
    background: var-get($theme, 'background-active-selected');
    color: var-get($theme, 'foreground-active-selected');
}

:host(:not([disabled])[selected]),
:host(:not([disabled])[selected][active]) {
    [part~='focused'] {
        background:var-get($theme, 'background-active-selected');
        color: var-get($theme, 'foreground-active-selected');
    }
}

[part~='select'] {
    margin-inline-end: rem(8px);
}

[part~='focused'] {
    box-shadow: inset 0 0 0 1px var-get($theme, 'border-color');
}

:host([disabled]) {
    color: var-get($theme, 'foreground-disabled');
    background: var-get($theme, 'background-disabled');
}
