@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $indigo;

:host {
    --igc-tree-indentation-size: #{sizable(rem(8px), rem(12px), rem(16px))};
}

[part~='indicator'] {
    min-width: rem(14px);
    color: var-get($theme, 'icon-color');

    igc-icon {
        --ig-size: 1;
    }
}

[part~='wrapper'] {
    border-radius: rem(4px);
    margin-block-end: rem(4px);

    &::after {
        border-radius: rem(4px);
    }

    &:hover {
        color: var-get($theme, 'foreground-active');
    }
}

:host(:not([disabled])[selected]) {
    [part~='wrapper'] {
        background: var-get($theme, 'background');
        color: var-get($theme, 'foreground');

        &:hover {
            &::after {
                background: var-get($theme, 'hover-color');
            }
        }
    }
}

:host(:not([disabled])[active]),
:host(:not([disabled])[active][selected]) {
    [part~='wrapper'] {
        &:hover {
            background: var-get($theme, 'hover-selected-color');

            &::after {
                background: transparent;
            }
        }
    }
}

[part~='focused'] {
    box-shadow: inset 0 0 0 2px var-get($theme, 'border-color');
}

:host([disabled]) {
    [part~='indicator'] {
        igc-icon {
            color: var-get($theme, 'foreground-disabled');
        }
    }
}
