@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $indigo;

[part~='wrapper'] {
    &:hover {
        &::after {
            opacity: .3;
        }
    }
}

[part~='wrapper'][part~='selected'] {
    &:hover {
        &::after {
            background: var-get($theme, 'hover-selected-color');
        }
    }
}

:host(:not([disabled])[active]) {
    &:hover {
        color: var-get($theme, 'foreground-active');
    }
}

[part~='active'] {
    &:hover {
        color: var-get($theme, 'foreground-active');
    }
}
