@use '../../styles/utilities' as utils;

@mixin theme() {
    igc-nav-drawer::part(base) {
        @include utils.igc-scrollbar(var(--igc-scrollbar-track-size), color(gray, 200), color(gray, 400));

        background: #{utils.color(gray, 700)};
        border: none;
        box-shadow: none;
    }
}
