@use '../../styles/common/component';
@use '../../styles/utilities' as *;

:host {
    flex-shrink: 0;
    font-family: var(--igc-font-family);

    [part='base'] {
        position: fixed;
        height: 100%;
        min-height: 100%;
        overflow-x: hidden;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        background: color(surface, 500);
        border-inline-end: 1px solid color(gray, 900, .14);
        box-shadow: var(--igc-elevation-16);
        border-radius: 0;
        transition: all ease-out .3s, .3s;
    }

    [part='main'] {
        width: rem(256px);
    }

    [part='mini'] {
        width: rem(60px);
    }
}

:host([position='bottom']) {
    [part='base'] {
        height: 50vh;
        min-height: initial;
        top: auto;
        width: 100%;
    }
}

:host([position='top']) {
    [part='base'] {
        height: 50vh;
        min-height: initial;
        bottom: auto;
        width: 100%;
    }
}

:host([position='end']) {
    [part='base'] {
        border-inline-end: none;
        border-inline-start: 1px solid color(gray, 900, .14);
        left: auto;
        right: 0;
    }
}

:host([pinned]) {
    [part='base'] {
        position: relative;
        box-shadow: none;
        border: none;
        z-index: 0;
    }
}

:host([open]) {
    [part='mini'] {
        display: none;
    }
}

:host(:not([open])) {
    [part='main'] {
        display: none;
    }
}

:host([pinned][position='end']) {
    order: 1;
    margin-inline-start: auto;
}
