:host {
    display: flex;
    width: 100%;
}

[part='base'] {
    display: inherit;
    position: relative;
    align-items: center;

    &:hover {
        cursor: pointer;
        background:rgb(93, 68, 236);;
    }

}

[part='icon'] {
    margin: 0px 10px 0px 10px;
    color: white;
}


:host([disabled]) {
    user-select: none;
    cursor: initial;
    pointer-events: none;
    color: gray;

    [part='icon'] {
        color: gray;
    }
}

:host([active]) {
    background-color: rgb(93, 68, 236);
}

