@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use 'components/dropdown/themes/light/themes' as dropdown-theme;

$theme: $fluent;
$dropdown-theme: dropdown-theme.$fluent;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
    --combo-size: var(--component-size);

    ::part(helper-text) {
        margin-block-start: pad-block(rem(5px));
        grid-auto-rows: minmax(rem(18px), auto);
    }
}

[part='filter-input'] {
    padding: pad(rem(2px), rem(4px), rem(8px));
}

[part='list-wrapper'] {
    background: var-get($dropdown-theme, 'background-color');
    border-radius: var-get($dropdown-theme, 'border-radius');

    igc-input::part(container) {
        background: transparent;
        border-radius: 0;
        border-inline: 0;
        border-block-start: 0;

        &::before {
            inset-inline-start: 0;
            width: calc(100% - var(--input-border-size));

            // The shadow color is set by the color: prop set on the input-group [part=container]::before element
            // Here we only change the shadow to look like border bottom
            box-shadow: inset 0 calc(var(--input-border-size) * -1) 0 0;
            border-radius: 0;
        }
    }

    igc-input:focus-within::part(container) {
        &::before {
            // The shadow color is set by the color: prop set on the input-group [part=container]::before element
            // Here we only change the shadow to look like border bottom
            box-shadow: inset 0 calc((var(--input-border-size) + #{rem(1px)}) * -1) 0 0;
        }
    }

    igc-input::part(start) {
        display: none;
    }

    igc-input::part(input) {
        border-radius: 0;
        padding: 0;
        border-inline-start: 0;
        border-inline-end-color: transparent;
        border-block-start: 0;
        box-shadow: none;
        height: var(--size);

        &::selection {
            background: color(primary, 100);
        }
    }

    igc-input::part(suffix) {
        background: transparent;
    }
}
