@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use '../../../input/themes/light/themes' as input-theme;
@use '../../../dropdown/themes/light/themes' as dropdown-theme;

$theme: $material;
$input-theme: input-theme.$material;
$dropdown-theme: dropdown-theme.$material;

:host {
    ::part(helper-text) {
        color: var-get($input-theme, 'helper-text-color');
    }

    igc-popover::part(container) {
        border-radius: var-get($dropdown-theme, 'border-radius');
    }
}

[part='filter-input'] {
    border-bottom: rem(1px) dashed var-get($theme, 'search-separator-border-color');
}

[part='empty'] {
    color: var-get($theme, 'empty-list-placeholder-color');
    background: var-get($theme, 'empty-list-background');
}

[part~='toggle-icon'] {
    background: var-get($theme, 'toggle-button-background');
    color: var-get($theme, 'toggle-button-foreground');

    igc-icon {
        color: inherit;
    }
}

[part='toggle-icon filled'] {
    color: var-get($theme, 'toggle-button-foreground-filled');
}

[part~='clear-icon'] {
    background: var-get($theme, 'clear-button-background');
    color: var-get($theme, 'clear-button-foreground');

    igc-icon {
        color: inherit;
    }
}

:host(:focus-within) {
    [part~='toggle-icon'] {
        background: var-get($theme, 'toggle-button-background-focus');
        color: var-get($theme, 'toggle-button-foreground-focus');

        igc-icon {
            color: inherit;
        }
    }

    [part~='clear-icon'] {
        background: var-get($theme, 'clear-button-background-focus');
        color: var-get($theme, 'clear-button-foreground-focus');

        igc-icon {
            color: inherit;
        }
    }
}

:host(:not([disabled]):state(ig-invalid)),
:host(:not(:disabled):state(ig-invalid)) {
    ::part(helper-text) {
        color: var-get($theme, 'error-secondary-color');
    }
}

:host(:disabled),
:host([disabled]) {
    ::slotted([slot='prefix']),
    ::slotted([slot='suffix']),
    igc-input::part(label),
    igc-input::part(input)::placeholder,
    ::part(helper-text) {
        color: var-get($input-theme, 'disabled-text-color');
    }

    [part~='clear-icon'] {
        background: inherit;
        color: var-get($input-theme, 'disabled-text-color');

        igc-icon {
            color: inherit;
        }
    }

    [part~='toggle-icon'] {
        background: var-get($theme, 'toggle-button-background-disabled');
        color: var-get($theme, 'toggle-button-foreground-disabled');

        igc-icon {
            color: inherit;
        }
    }
}

::slotted([slot='suffix']),
::slotted([slot='prefix']) {
    padding-inline: var(--affix-padding);
}