@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use '../../../input/themes/light/themes' as input-theme;
@use '../../../dropdown/themes/light/themes' as dropdown-theme;

$theme: $material;
$input-theme: input-theme.$material;
$dropdown-theme: dropdown-theme.$material;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
    --combo-size: var(--component-size);

    [part='helper-text'] {
        margin-top: rem(5px);
        padding-inline: pad-inline(rem(14px), rem(16px), rem(18px));
    }

    ::slotted([slot='helper-text']) {
        @include type-style('caption');

        color: $material-helper-text;
        line-height: 1;
    }

    ::slotted([slot='prefix']),
    ::slotted([slot='suffix']) {
        color: inherit;
    }
}

[part='empty'] {
    color: var-get($theme, 'empty-list-placeholder-color');
}

:host(:not([single-select])) {
    > igc-input::part(input) {
        &::selection {
            background: transparent;
        }
    }
}

[part='list-wrapper'] {
    border-radius: var-get($dropdown-theme, 'border-radius');

    igc-input::part(container) {
        background: transparent;
        border-inline-end-color: transparent;
    }

    igc-input::part(input) {
        border-inline-end-color: transparent;

        &::selection {
            background: color(primary, 100);
        }
    }

    [part='case-icon'] {
        color: color(gray, 600);
    }

    [part='case-icon active'] {
        color: color(primary, 500);
    }
}

[part~='toggle-icon'] {
    background: var-get($theme, 'toggle-button-background');
    color: var-get($theme, 'toggle-button-foreground');

    igc-icon {
        color: inherit;
    }
}

[part='toggle-icon filled'] {
    color: var-get($theme, 'toggle-button-foreground-filled');
}

[part~='clear-icon'] {
    background: var-get($theme, 'clear-button-background');
    color: var-get($theme, 'clear-button-foreground');

    igc-icon {
        color: inherit;
    }
}

:host(:focus-within) {
    [part~='toggle-icon'] {
        background: var-get($theme, 'toggle-button-background-focus');
        color: var-get($theme, 'toggle-button-foreground-focus');

        igc-icon {
            color: inherit;
        }
    }

    [part~='clear-icon'] {
        background: var-get($theme, 'clear-button-background-focus');
        color: var-get($theme, 'clear-button-foreground-focus');

        igc-icon {
            color: inherit;
        }
    }
}

:host(:not([outlined]):focus-within) {
    > igc-input::part(container) {
        background: var-get($input-theme, 'box-background-focus');
    }
}

:host([outlined]:focus-within) {
    [part~='toggle-icon'] {
        background: var-get($theme, 'toggle-button-background-focus--border');
    }
}

:host([invalid]) {
    ::slotted([slot='helper-text']) {
        color: $material-error-text;
    }
}

:host(:disabled),
:host([disabled]) {
    ::slotted([slot='prefix']),
    ::slotted([slot='suffix']),
    igc-input::part(label),
    igc-input::part(input)::placeholder,
    ::slotted([slot='helper-text']) {
        color: $material-disabled-text;
    }

    [part~='clear-icon'] {
        background: inherit;
        color: $material-disabled-text;

        igc-icon {
            color: inherit;
        }
    }

    [part~='toggle-icon'] {
        background: var-get($theme, 'toggle-button-background-disabled');
        color: var-get($theme, 'toggle-button-foreground-disabled');

        igc-icon {
            color: inherit;
        }
    }
}

:host(:disabled[outlined]),
:host([outlined][disabled]),
:host([outlined][invalid]) {
    igc-input::part(filled) + igc-input::part(notch) {
        border-top-color: transparent;
    }
}
