@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/navdrawer' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/overlay' as *;

$material: digest-schema($material-navdrawer);
$bootstrap: digest-schema($bootstrap-navdrawer);
$fluent: digest-schema($fluent-navdrawer);
$indigo: digest-schema($indigo-navdrawer);

// Light Overlay Schemas
$overlay-material: digest-schema($material-overlay);
$overlay-fluent: digest-schema($fluent-overlay);
$overlay-bootstrap: digest-schema($bootstrap-overlay);
$overlay-indigo: digest-schema($indigo-overlay);
