@use 'styles/common/component';
@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $material;

:host {
    @include css-vars-from-theme($theme, 'ig-nav-drawer');

    flex-shrink: 0;
    font-family: var(--ig-font-family);

    [part='base'] {
        position: fixed;
        height: 100%;
        min-height: 100%;
        overflow-x: hidden;
        top: 0;
        bottom: 0;
        inset-inline-start: 0;
        z-index: 999;
        transition: all ease-out .3s, .3s;
    }

    [part='main'] {
        width: rem(256px);
    }

    [part='mini'] {
        width: rem(60px);
    }

    [part='overlay'] {
        position: fixed;
        inset: 0;
        z-index: 2;
    }
}

:host([position='start']) [part='mini'],
:host([position='end']) [part='mini'] {
    position: fixed;
    top: 0;
    bottom: 0;
}

:host([position='start']) [part='mini'] {
    border-inline-end-style: solid;
    border-inline-end-width: rem(1px);
    inset-inline-start: 0;
}

:host([position='end']) [part='mini'] {
    border-inline-start-style: solid;
    border-inline-start-width: rem(1px);
    inset-inline-end: 0;
}

:host([position='top']),
:host([position='bottom']) {
    [part='main'] {
        width: 100%;
    }

    [part='base'] {
        height: 50vh;
        min-height: initial;
        top: auto;
        width: 100%;
    }
}

:host([position='top']) {
    [part='base'] {
        top: 0;
        bottom: auto;
    }
}

:host(:not([open])[position='top']),
:host(:not([open])[position='bottom']) {
    [part='base'] {
        transform: translate3d(0, -60vh, 0);
    }

    [part='mini'] {
        display: none;
    }
}

:host(:not([open])[position='bottom']) {
    [part='base'] {
        transform: translate3d(0, 60vh, 0);
    }
}

:host([open][position='end']) {
    [part='base'] {
        border-inline-end: none;
        border-inline-start-style: solid;
        border-inline-start-width: rem(1px);
        inset-inline-start: auto;
        inset-inline-end: 0;
    }
}

:host([position='relative']) {
    [part='base'] {
        position: relative;
        width: fit-content;
        box-shadow: none;
        z-index: initial;
        border-inline-end-style: solid ;
        border-inline-end-width: rem(1px);
    }

    [part='overlay'] {
        display: none;
    }
}

:host([open]) {
    [part='mini'] {
        display: none;
    }
}

:host([open]:not([position='relative'])) {
    [part='base'] {
        border-inline-end-style: solid;
        border-inline-end-width: rem(1px);
    }
}

:host(:not([open])) {
    [part='main'] {
        display: none;
    }

    [part='overlay'] {
        display: none;
    }
}
