@use '../../../../styles/common/component';
@use '../../../../styles/utilities/index' as *;

:host {
    display: block;
    padding: rem(20px) rem(16px);
    white-space: nowrap;
    color: color(gray, 800);

    @include type-category('subtitle-1');
}
