@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $material;

:host {
    @include css-vars-from-theme($base, 'ig-icon');

    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});

    color: var-get($theme, 'color');
}

svg {
    fill: currentcolor;
}

igc-icon,
svg {
    font-size: var-get($theme, 'size');
}
