// TODO consume colors from schemas
@use 'styles/utilities' as *;
@use '../themes' as *;

$theme: $material;

:host(igc-calendar) {
    @include css-vars-from-theme($theme, 'ig-calendar');

    --size: #{sizable(#{rem(24px)}, #{rem(28px)}, #{rem(32px)})};


    background: color(surface);
    color: contrast-color(surface);
    border-radius: var-get($theme, 'border-radius');

    igc-days-view::part(date-inner) {
        border-radius: var-get($theme, 'date-border-radius');
    }

    igc-months-view {
        &::part(month-inner) {
            border-radius: var-get($theme, 'month-border-radius');
        }
    }

    igc-years-view {
        &::part(year-inner) {
            border-radius: var-get($theme, 'month-border-radius');
        }
    }
}

[part='months-navigation'],
[part='years-navigation'],
[part~='navigation-button'] {
    background: transparent;
    color: color(gray, 800);

    &:hover,
    &:focus {
        color: color(secondary, 500);
    }
}

[part='header'] {
    background: color(secondary, 500);
    color: contrast-color(secondary, 600);
}
