@use 'styles/utilities' as *;
@use '../themes' as *;

[part~='month-inner'],
[part~='year-inner'] {
    &:hover,
    &:focus {
        background: color(gray, 200);
    }

    &:hover {
        background: color(gray, 200);
    }
}

[part~='month-inner'][part~='selected'],
[part~='year-inner'][part~='selected'] {
    background: color(secondary, 500);
    color: contrast-color(secondary, 600);

    &:hover {
        background: color(secondary, 500);
        color: contrast-color(secondary, 600);
    }

    &:focus {
        outline: none;
        background: color(secondary, 700);
        color: contrast-color(secondary, 700);
    }
}

[part~='month-inner'][part~='current'],
[part~='year-inner'][part~='current'] {
    box-shadow: inset 0 0 0 rem(1px) color(gray, 600);
}

[part~='month-inner'][part~='selected'][part~='current'],
[part~='year-inner'][part~='selected'][part~='current'] {
    box-shadow: inset 0 0 0 rem(1px) color(surface), 0 0 0 rem(1px) color(secondary, 500);
}

