@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;

    ::slotted(a) {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    ::slotted(a:focus-visible) {
        outline: none;
    }
}

[part='separator'] {
    display: inline-flex;
    align-items: center;

    igc-icon {
        --component-size: var(--ig-size, var(--ig-size-medium));
    }

    &:dir(rtl) igc-icon,
    &:dir(rtl) ::slotted(igc-icon) {
        transform: rotateY(180deg);
    }
}

[part='label'] {
    display: inline-flex;
    align-items: center;
    padding-inline: pad-inline(rem(2px), rem(4px), rem(8px));

    ::slotted(a){
        padding-inline: pad-inline(rem(2px), rem(4px), rem(8px));
        font-size: sizable(var(--ig-detail-1-font-size), var(--ig-body-2-font-size), var(--ig-body-1-font-size));
        font-weight: sizable(var(--ig-detail-1-font-weight), var(--ig-body-2-font-weight), var(--ig-body-1-font-weight));
        line-height: sizable(var(--ig-detail-1-line-height), var(--ig-body-2-line-height), var(--ig-body-1-line-height));
        letter-spacing: sizable(var(--ig-detail-1-letter-spacing), var(--ig-body-2-letter-spacing), var(--ig-body-1-letter-spacing));
        text-transform: sizable(var(--ig-detail-1-text-transform), var(--ig-body-2-text-transform), var(--ig-body-1-text-transform));
    }

    ::slotted([slot='prefix']),
    ::slotted([slot='suffix']) {
        --component-size: var(--ig-size, var(--ig-size-medium));
        
        font-size: sizable(rem(14px), rem(16px), rem(24px));
    }
}

:host(:last-of-type) [part='separator'] {
    display: none;
}
