@use 'sass:map';
@use '../../../../styles/utilities' as *;
@use '../../../../styles/themes/schemas' as *;

$schema: extend(
    (
        name: 'ig-input-group'
    ),
    map.get($dark-fluent-schema, 'input-group')
);
$theme: digest-schema($schema);

@mixin theme() {
    igc-input {
        @include css-vars($theme);
    }
}
