@use 'sass:map';
@use '../../../../styles/utilities' as *;
@use '../../../../styles/themes/schemas/indigo/dark' as *;

$schema: map.get($dark-indigo-schema, 'input-group');
$border-border-radius: border-radius(map.get($schema, 'border-border-radius')...);
$box-border-radius: border-radius(map.get($schema, 'box-border-radius')...);
$theme: digest-schema(extend(
    $schema,
    (
        border-border-radius: $border-border-radius,
        box-border-radius: $box-border-radius,
    )
));

@mixin theme() {
    igc-input {
        @include css-vars-from-theme($theme, 'ig-input');
    }

    igc-select::part(input) {
        @include css-vars-from-theme($theme, ig-select);
    }

    igc-combo::part(input) {
        @include css-vars-from-theme($theme, ig-combo);
    }
}
