@use '../../styles/common/component';
@use '../../styles/utilities' as *;

.container {
    height: 95vh;
    display: flex;
    justify-content: center;

    &.bottom {
        align-items: flex-end;
    }

    &.middle {
        align-items: center;
    }

    &.top {
        align-items: flex-start;
    }
}

[part='base'] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: rem(16px) rem(24px);
    margin: rem(42px) auto;
    min-width: 52px;
    color: #fff;
    background: color(gray, 700, .9);
    border-radius: 24px;
    backdrop-filter: blur(10px);
    font-family: var(--igc-font-family);
}