@use '../../styles/utilities' as utils;

@mixin theme() {
    igc-switch {
        --switch-width: #{utils.rem(40px)};
        --switch-thumb: #{utils.rem(12px)};
        --switch-offset: calc(var(--switch-thumb) / 2);
    }

    igc-switch::part(control) {
        width: var(--switch-width);
        height: utils.rem(20px);
        border: 1px solid #{utils.color(gray, 500)};
        border-radius: utils.rem(10px);
        background: transparent;

        &:hover,
        &:focus {
            border-color: #{utils.color(gray, 800)};
        }
    }

    igc-switch[checked]::part(control) {
        background: #{utils.color(secondary, 500)};
        border-color: #{utils.color(primary, 500)};

        &:hover,
        &:focus {
            border-color: #{utils.color(primary, 500)};
        }
    }

    igc-switch[disabled]::part(control) {
        border-color: #{utils.color(gray, 300)};
    }

    igc-switch::part(thumb) {
        width: var(--switch-thumb);
        height: var(--switch-thumb);
        min-width: var(--switch-thumb);
        animation-name: thumb-off;
        margin-inline-start: var(--switch-offset);
        background: #{utils.color(gray, 900)};
        box-shadow: none;

        &::after {
            display: none;
        }

        &:hover {
            box-shadow: none;
        }
    }

    igc-switch:focus-within:part(thumb) {
        $focus-outline-offset: utils.rem(2px);

        &::after {
            content: '';
            position: absolute;
            top: -$focus-outline-offset;
            left: -$focus-outline-offset;
            box-shadow: 0 0 0 1px #{utils.color(gray, 800)};
            width: calc(100% + (#{$focus-outline-offset} * 2));
            height: calc(100% + (#{$focus-outline-offset} * 2));
        }
    }

    igc-switch[checked]::part(thumb) {
        background: white;
        animation-name: thumb-on;
        margin-inline-start: calc(var(--switch-width) - var(--switch-thumb) - var(--switch-offset));
    }

    igc-switch[disabled]::part(thumb) {
        box-shadow: none;
    }

    @keyframes thumb-on {
        from {
            margin-inline-start: var(--switch-offset);
        }

        to {
            margin-inline-start: calc(var(--switch-width) - var(--switch-thumb) - var(--switch-offset));
        }
    }

    @keyframes thumb-off {
        from {
            margin-inline-start: calc(var(--switch-width) - var(--switch-thumb) - var(--switch-offset));
        }

        to {
            margin-inline-start: var(--switch-offset);
        }
    }
}
