@use '../../styles/utilities' as utils;

@mixin theme() {
    igc-switch {
        --size: #{utils.rem(34px)};
        --thumb: #{utils.rem(8px)};
        --thumb-offset: calc(var(--thumb) / 2);
    }

    igc-switch::part(control) {
        width: var(--size);
        height: utils.rem(16px);
        box-shadow: inset 0 0 0 2px #{utils.color(gray, 500)};
        border-radius: utils.rem(8px);
        background: transparent;
    }

    igc-switch[checked]::part(control) {
        background: #{utils.color(primary, 500)};
        box-shadow: inset 0 0 0 2px #{utils.color(primary, 500)};

        &:hover,
        &:focus {
            box-shadow: inset 0 0 0 2px #{utils.color(primary, 500)};
        }
    }

    igc-switch[disabled]::part(control) {
        box-shadow: inset 0 0 0 2px #{utils.color(gray, 300)};
    }

    igc-switch[checked][disabled]::part(control) {
        background: transparent;
    }

    igc-switch:focus-within::part(control) {
        border-radius: utils.rem(10px);
        box-shadow: 0 0 0 2px #{utils.color(gray, 300)};
    }

    igc-switch[checked]:focus-within::part(control) {
        box-shadow: 0 0 0 2px #{utils.color(primary, 200)};
    }

    igc-switch::part(thumb) {
        width: var(--thumb);
        height: var(--thumb);
        min-width: var(--thumb);
        border-radius: utils.rem(10px);
        animation-name: thumb-off;
        margin-inline-start: var(--thumb-offset);
        background: #{utils.color(gray, 600)};
        box-shadow: none;

        &::after {
            display: none;
        }

        &:hover {
            box-shadow: none;
        }
    }

    igc-switch[checked]::part(thumb) {
        background: white;
        animation-name: thumb-on;
        margin-inline-start: calc(var(--size) - var(--thumb) - var(--thumb-offset));
    }

    igc-switch[disabled]::part(thumb) {
        background: #{utils.color(gray, 300)};
        box-shadow: none;
    }

    @keyframes thumb-on {
        from {
            margin-inline-start: var(--thumb-offset);
        }

        to {
            margin-inline-start: calc(var(--size) - var(--thumb) - var(--thumb-offset));
        }
    }

    @keyframes thumb-off {
        from {
            margin-inline-start: calc(var(--size) - var(--thumb) - var(--thumb-offset));
        }

        to {
            margin-inline-start: var(--thumb-offset);
        }
    }
}
