@use '../../styles/common/component';
@use '../../styles/utilities' as *;

:host {
    display: inline-flex;
    font-family: var(--igc-font-family);
}

input[type='checkbox'] {
    @include hide-default();
}

$switch-width: var(--switch-width, rem(36px));
$switch-thumb: var(--switch-thumb, rem(20px));
$switch-offset: rem(-1px);
$ripple-size: rem(48px);
$ripple-radius: calc(#{$ripple-size} / 2);

[part='base'] {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;

    &:hover [part='thumb'] {
        &::after {
            background: color(gray, 600, .06);
        }
    }

    &:focus-within [part='thumb'] {
        &::after {
            background: color(gray, 600, .12);
        }
    }
}

[part='control'] {
    display: flex;
    align-items: center;
    width: $switch-width;
    height: rem(14px);
    border: 1px transparent;
    border-radius: rem(7px);
    background: color(gray, 600);
    user-select: none;
    transition: all .2s ease-in-out;

    &:hover,
    &:focus {
        border-color: transparent;
    }
}

[part='thumb'] {
    position: relative;
    width: $switch-thumb;
    height: $switch-thumb;
    min-width: $switch-thumb;
    background: color(gray, 200);
    border-radius: rem(10px);
    box-shadow: var(--igc-elevation-2);
    animation-name: thumb-off-material;
    animation-duration: .2s;
    animation-fill-mode: none;
    transition: all .2s ease-in-out;

    &::after {
        position: absolute;
        content: '';
        top: calc(50% - #{$ripple-radius});
        left: calc(50% - #{$ripple-radius});
        width: $ripple-size;
        height: $ripple-size;
        overflow: hidden;
        border-radius: $ripple-radius;
    }

    &:hover {
        box-shadow: var(--igc-elevation-3);
    }
}

[part='label'] {
    display: inline-block;
    color: color(gray, 900);
    cursor: pointer;
    user-select: none;
    word-wrap: break-all;
}

:host([checked]) {
    [part='base'] {
        &:hover [part='thumb'] {
            &::after {
                background: color(secondary, 500, .06);
            }
        }

        &:focus-within [part='thumb'] {
            &::after {
                background: color(secondary, 500, .12);
            }
        }
    }

    [part='control'] {
        background: color(secondary, 500, .5);
        border-color: transparent;

        &:hover,
        &:focus {
            border-color: transparent;
        }
    }

    [part='thumb'] {
        background: color(secondary, 500);
        animation-name: thumb-on-material;
        animation-duration: .2s;
        animation-fill-mode: forwards;
    }
}

:host([disabled]) {
    user-select: none;
    pointer-events: none;
    cursor: initial;

    [part='control'] {
        background: color(gray, 300);
        border-color: transparent;
    }

    [part='thumb'] {
        background: color(gray, 400);
        box-shadow: var(--igc-elevation-1);
    }

    [part='label'] {
        color: color(gray, 400);
    }
}

:host([label-position='after']) {
    [part='label'] {
        margin-inline-start: rem(8px);
    }
}

:host([label-position='before']) {
    [part='label'] {
        order: -1;
        margin-inline-end: rem(8px);
    }
}

@keyframes thumb-on-material {
    from {
        margin-inline-start: #{$switch-offset};
    }

    to {
        margin-inline-start: calc(#{$switch-width} - #{$switch-thumb} - #{$switch-offset});
    }
}

@keyframes thumb-off-material {
    from {
        margin-inline-start: calc(#{$switch-width} - #{$switch-thumb} - #{$switch-offset});
    }

    to {
        margin-inline-start: #{$switch-offset};
    }
}
