@use '../../styles/utilities' as utils;

@mixin theme() {
    $switch-width: var(--switch-width, utils.rem(34px));
    $switch-thumb: var(--switch-thumb, utils.rem(8px));
    $switch-offset: calc(#{$switch-thumb} / 2);

    igc-switch::part(control) {
        width: $switch-width;
        height: utils.rem(16px);
        border: 2px solid #{utils.color(gray, 500)};
        border-radius: utils.rem(8px);
        background: transparent;

        &:hover,
        &:focus {
            border-color: #{utils.color(gray, 500)};
        }
    }

    igc-switch[checked]::part(control) {
        background: #{utils.color(primary, 500)};
        border-color: #{utils.color(primary, 500)};

        &:hover,
        &:focus {
            border-color: #{utils.color(primary, 500)};
        }
    }

    igc-switch[disabled]::part(control) {
        border-color: #{utils.color(gray, 300)};
    }

    igc-switch:focus-within:part(control) {
        border-radius: utils.rem(10px);
        box-shadow: 0 0 0 3px #{utils.color(gray, 300)};
    }

    igc-switch[checked]:focus-within:part(control) {
        box-shadow: 0 0 0 3px #{utils.color(primary, 200)};
    }

    igc-switch::part(thumb) {
        width: $switch-thumb;
        height: $switch-thumb;
        min-width: $switch-thumb;
        border-radius: utils.rem(10px);
        animation-name: thumb-off-indigo;
        margin-inline-start: #{$switch-offset};
        background: #{utils.color(gray, 600)};
        box-shadow: none;

        &::after {
            display: none;
        }

        &:hover {
            box-shadow: none;
        }
    }

    igc-switch:focus-within:part(thumb) {
        border-radius: utils.rem(10px);
        box-shadow: 0 0 0 3px #{utils.color(gray, 300)};
    }

    igc-switch[checked]::part(thumb) {
        background: white;
        animation-name: thumb-on-indigo;
        margin-inline-start: calc(#{$switch-width} - #{$switch-thumb} * 2);
    }

    igc-switch[disabled]::part(thumb) {
        background: #{utils.color(gray, 300)};
        box-shadow: none;
    }

    @keyframes thumb-on-indigo {
        from {
            margin-inline-start: #{$switch-offset};
        }

        to {
            margin-inline-start: calc(#{$switch-width} - #{$switch-thumb} * 2);
        }
    }

    @keyframes thumb-off-indigo {
        from {
            margin-inline-start: calc(#{$switch-width} - #{$switch-thumb} * 2);
        }

        to {
            margin-inline-start: #{$switch-offset};
        }
    }
}
