@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    position: fixed;
    font-family: var(--ig-font-family);
    inset-inline: 50% auto;
    transform: translateX(calc(-50% + .5px));
}

:host([position='bottom']) {
    inset-block: auto 0;
}

:host([position='middle']) {
    inset-block: 50% auto;
    transform: translate(calc(-50% + .5px), calc(-50% + .5px));
    margin: auto;
}

:host([position='top']) {
    inset-block: 0 auto;
}

[part~='base'] {
    display: flex;
    flex-wrap: row nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: rem(48px);
    padding: pad-block(rem(7px)) pad-inline(rem(24px));
    margin: pad(rem(8px));
    gap: rem(24px);
    backface-visibility: hidden;
    backdrop-filter: blur(8px);
}

[part~='message'] {
    @include type-style('body-2');

    flex: 1 1 50%;
}

:host([action-text]) {
    igc-button::part(base):hover {
        background: transparent;
    }

    igc-button::part(base):focus {
        box-shadow: none;
    }
}

:host(:not([open])) {
    [part='base'] {
        display: none;
    }
}
