@use 'styles/common/component';
@use 'styles/common/alert' as *;
@use 'styles/utilities' as *;

:host {
    --margin-block: #{rem(8px)};

    igc-button {
        --ig-size: 2;
    }
}

@include alert-host();

[part~='base'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: rem(48px);
    padding: pad-block(rem(7px)) pad-inline(rem(24px));
    margin: pad(rem(8px));
    gap: rem(24px);
    backface-visibility: hidden;
    backdrop-filter: blur(8px);
}

[part~='message'] {
    @include type-style('body-2');

    flex: 1 1 50%;
}

:host(:not([open])) {
    [part='base'] {
        display: none;
    }
}

@media (forced-colors: active) {
    [part='base'] {
        border: rem(1px) solid CanvasText;
    }
}
