@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: inline-flex;
    flex-direction: column;
    font-family: var(--ig-font-family);
}

input[type='checkbox'] {
    @include hide-default();
}

$mark-length: 24;

[part~='control'] {
    --size: #{rem(20px)};

    width: var(--size);
    height: var(--size);
    min-width: var(--size);
    position: relative;
    display: inline-flex;
    user-select: none;

    &::after {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: var(--size);
        height: var(--size);
        transition: all .15s ease-in;
    }
}

[part~='label'] {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    word-wrap: break-all;
    transition: color .2s ease-in-out;
}

[part~='base'] {
    gap: rem(8px);
}

[part~='indicator'] {
    --indicator-size: #{rem(18px)};

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    stroke-linecap: square;
    stroke-width: var(--mark-stroke, 3);
    stroke-dasharray: $mark-length;
    stroke-dashoffset: $mark-length;
    fill: none;
    opacity: 0;
    z-index: 1;
    transform-origin: center;

    svg {
        width: var(--indicator-size);
        height: var(--indicator-size);
    }
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-flow: row nowrap;
}

[part='indicator checked'] {
    transition: all .2s ease-out;
    stroke-dashoffset: 0;
    opacity: 1;
}

:host([indeterminate]) {
    [part~='indicator'] {
        stroke-dashoffset: 41;
        opacity: 1;
        transform: rotate(45deg) scale(.45) translateX(-.25rem);

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

:host([disabled]),
:host(:disabled) {
    user-select: none;
    cursor: initial;
    pointer-events: none;
}

:host([label-position='before']) {
    [part~='label'] {
        order: -1;
    }
}
