@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: inline-flex;
    flex-direction: column;
    font-family: var(--ig-font-family);
}

input[type='checkbox'] {
    @include hide-default();
}

[part~='base'] {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    gap: var(--label-gap);
}

[part~='control'] {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    user-select: none;
}

[part~='thumb'] {
    position: relative;
    animation-duration: .2s;
    animation-fill-mode: none;
}

[part~='control'],
[part~='thumb'] {
    transition: all .2s ease-in-out;
}

[part~='thumb'][part~='checked'] {
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

[part~='label'] {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    overflow-wrap: break-word;
}

:host([disabled]),
:host(:disabled) {
    user-select: none;
    pointer-events: none;
    cursor: initial;
}

:host([label-position='before']) {
    [part~='label'] {
        order: -1;
    }
}

@keyframes thumb-on {
    from {
        margin-inline-start: var(--thumb-offset);
    }

    to {
        margin-inline-start: calc(var(--size) - var(--thumb-size));
    }
}

@keyframes thumb-off {
    from {
        margin-inline-start: calc(var(--size) - var(--thumb-size));
    }

    to {
        margin-inline-start: var(--thumb-offset);
    }
}
