@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

:host {
    @include type-style('subtitle-1');

    color: var-get($theme, 'item-header-text-color');
    padding: rem(10px) rem(8px);
}
