@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $material;

:host {
    @include css-vars-from-theme($base, 'ig-snackbar');
}

[part~='base'] {
    border-radius: var-get($theme, 'border-radius');
    color: var-get($theme, 'text-color');
    background: var-get($theme, 'background');
    box-shadow: var-get($theme, 'elevation');
}
