@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $fluent;

[part~='message'] {
    @include type-style('caption');
}

igc-button::part(base):focus-visible::after {
    display: none;
}
