@use '../../../styles/utilities' as *;
@use 'sass:math';

:host {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 290px;
    outline: none;
    padding: 0 rem(12px) rem(16px) rem(12px);
    overflow: hidden;
    box-sizing: border-box;
    row-gap: rem(4px);
}

[part~='month'],
[part~='month'] span {
    display: flex;
    align-items: center;
    justify-content: center;
}

[part~='month'] {
    user-select: none;
    cursor: pointer;

    span {
        padding: 0 rem(12px);
    }

    &:hover,
    &:focus {
        span {
            background: color(gray, 200);
        }
    }

    &:hover {
        span {
            background: color(gray, 200);
        }
    }
}

[part~='selected'] {
    span {
        background: color(secondary, 500);
        color: contrast-color(secondary, 600);
    }

    &:hover,
    &:focus {
        span {
            background: color(secondary, 500);
            color: contrast-color(secondary, 600);
        }
    }
}
