@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $indigo;

[part='indicator active'] {
    &:hover {
        ::slotted(div) {
            border-color: var-get($theme, 'indicator-active-hover-dot-color')!important;

            &::after {
                background: var-get($theme, 'indicator-active-hover-dot-color')!important;
            }
        }
    };
}

[part='indicator inactive'] {
    &:hover {
        ::slotted(div) {
            border: rem(2px) solid var-get($theme, 'indicator-hover-dot-color')!important;

            &::after {
                background: var-get($theme, 'indicator-hover-dot-color')!important;
            }
        }
    };
}