@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

[part='indicator active'] {
    &:hover {
        ::slotted(div) {
            border-color: var(--indicator-active-color)!important;

            &::after {
                background: var(--indicator-active-color)!important;
            }
        }
    };
}

[part='indicator inactive'] {
    &:hover {
        ::slotted(div) {
            border-color: var-get($theme, 'indicator-active-border-color')!important;
        }
    };
}
