@use 'igniteui-theming/sass/color/functions' as theming;
@use 'igniteui-theming/sass/themes/config' as themes;

// Configure the variable prefix for CSS variables
@include themes.configure-variable-prefix('ig');

@function color(
    $color: primary,
    $variant: 500,
    $opacity: null) {
    @return theming.color(
        $palette: null,
        $color: $color,
        $variant: $variant,
        $opacity: $opacity
    );
}

@function contrast-color($color: primary, $variant: 500, $opacity: null) {
    @return theming.contrast-color(
        $palette: null,
        $color: $color,
        $variant: $variant,
        $opacity: $opacity
    );
}
