@use 'styles/utilities' as *;
@use '../../light/checkbox/themes' as *;

$theme: $material;

[part~='label'] {
    @include type-style('body-2');

    color: var-get($theme, 'label-color');
}

:host(:not([disabled], :state(ig-invalid)):hover),
:host(:not([disabled], :state(ig-invalid))[indeterminate]:hover) {
    [part~='label'] {
        color: var-get($theme, 'label-color-hover');
    }

    [part='control checked']::after {
        background: var-get($theme, 'fill-color-hover');
        box-shadow: inset 0 0 0 rem(1px) var-get($theme, 'fill-color-hover');
    }
}

[part~='control'] {
    background: var-get($theme, 'empty-fill-color');
}

[part~='indicator'] {
    stroke: var-get($theme, 'tick-color');
}

:host(:not([disabled]):state(ig-invalid)),
:host(:not(:disabled):state(ig-invalid)) {
    [part~='label'] {
        color: var-get($theme, 'error-color');
    }
}

:host([disabled]),
:host(:disabled) {
    [part~='label'] {
        color: var-get($theme, 'disabled-color-label');
    }

    [part~='indicator'] {
        stroke: var-get($theme, 'disabled-tick-color');
    }
}
