@use 'styles/utilities' as *;
@use '../../light/checkbox/themes' as *;

$theme: $base;

[part~='label'] {
    @include type-style('body-2');

    color: var-get($theme, 'label-color');
}

[part~='control'] {
    background: var-get($theme, 'empty-fill-color');
}

[part~='indicator'] {
    stroke: var-get($theme, 'tick-color');
}

:host(:not([disabled])[invalid]),
:host(:not(:disabled)[invalid]) {
    color: var-get($theme, 'error-color');

    [part~='label'] {
        color: var-get($theme, 'error-color');
    }
}

:host([disabled]),
:host(:disabled) {
    [part~='label'] {
        color: var-get($theme, 'disabled-color-label');
    }
}
