@use 'styles/common/component';

:host {
    [part='base'] {
        overflow: auto;
    }

    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}


:host([collapsed]) [part='base'] {
    display: none;
}
