@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    [part='base'] {
        width: 100%;
        height: 100%;
        display: flex;
        color: var(--ig-gray-900);
        background: var(--ig-gray-100);
        border: 1px solid var(--ig-gray-200);
    }

    ::slotted(igc-splitter-pane) {
        width: 100%;
        height: 100%;
        display: contents;
    }

    ::slotted(igc-splitter-pane[collapsed]) {
        height: 0;
        width: 0;
    }
}

:host([orientation='vertical']) {
    [part='base'] {
        flex-direction: column;
    }

    ::slotted(igc-splitter-pane) {
        flex-direction: column;
    }
}
