@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--ig-gray-900);
    background: var(--ig-gray-100);
    border: 1px solid var(--ig-gray-200);

    ::slotted(igc-splitter-pane) {
        flex: 1 1 0;
    }
}

:host([orientation='horizontal']) {
    flex-direction: row;

    igc-splitter-bar {
        width: 5px;
        height: auto;
        cursor: col-resize;
    }

    ::slotted(igc-splitter-pane[collapsed]) {
        display: none;
    }
}

:host([orientation='vertical']) {
    flex-direction: column;

    igc-splitter-bar {
        height: 5px;
        width: auto;
        cursor: row-resize;
    }

    ::slotted(igc-splitter-pane[collapsed]) {
        display: none;
    }
}

igc-splitter-bar {
    background-color: var(--ig-gray-200);

    &:hover {
        background-color: var(--ig-gray-400);
    }
}
