@use '../../../../styles/utilities/index' as *;
@use 'sass:map';

$selected-background: var(--selected-background, color(gray, 200)) !default;
$selected-color: var(--selected-color, contrast-color(gray, 200)) !default;
$active-background: var(--active-background, color(gray, 200)) !default;
$active-color: var(--active-color, contrast-color(gray, 200)) !default;
$active-selected-background: var(--active-selected-background, color(gray, 300)) !default;
$active-selected-color: var(--active-selected-color, contrast-color(gray, 300)) !default;
$focused-border-color: var(--focused-border-color, color(gray, 800)) !default;

[part~='active'] {
    background: $active-background;
    color: $active-color;
}

[part~='selected'] {
    background: $selected-background;
    color: $selected-color;
}

[part~='selected'][part~='focused'][part~='active'],
[part~='selected'][part~='focused'],
[part~='selected'][part~='active'] {
    background: $active-selected-background;
    color: $active-selected-color;
}

[part~='select'] {
    margin-inline-end: rem(8px);
}

[part~='focused'] {
    box-shadow: inset 0 0 0 1px $focused-border-color;
}
