@use 'styles/common/component';
@use 'styles/utilities' as *;

$disabled-color: color(gray, 500);
$disabled-background: color(surface);
$background: color(surface);
$color: contrast-color(surface);
$hover-color: var(--hover-color, color(gray, 900, .1)) !default;
$selected-background: color(secondary, 200);
$selected-color: contrast-color(secondary, 200);
$active-background: color(gray, 200);
$active-color: contrast-color(gray, 200);
$active-selected-background: color(secondary, 300);
$active-selected-color: contrast-color(secondary, 300);
$focused-border-color: color(secondary, 500);

:host {
    --igc-tree-indentation-size: #{sizable(rem(12px), rem(16px), rem(24px))};

    display: flex;
    flex-direction: column;
    font-family: inherit;
    
    igc-circular-progress {
        --diameter: #{sizable(rem(18px), rem(20px), rem(24px))};
    }
}

:host(:focus-within) {
    outline: none;
}

:host([disabled]) {
    color: $disabled-color;
    background: $disabled-background;
}

[role~='group'] {
    overflow: hidden;
}

:host(:not([expanded])) [role~='group'] {
    height: 0;
}

:host([expanded]) [role~='group'] {
    height: auto;
}

[part~='wrapper'] {
    display: flex;
    align-items: center;
    position: relative;
    background: $background;
    color: $color;
    padding: 0 pad(12px, 16px, 24px);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: transparent;
    }

    &:hover {
        &::after {
            background: $hover-color;
        }
    }
}

[part~='active'] {
    background: $active-background;
    color: $active-color;
}

[part~='selected'] {
    background: $selected-background;
    color: $selected-color;
}

[part~='selected'][part~='focused'][part~='active'],
[part~='selected'][part~='focused'],
[part~='selected'][part~='active'] {
    background: $active-selected-background;
    color: $active-selected-color;
}

[part~='focused'] {
    box-shadow: inset 0 0 0 1px $focused-border-color;
}

[part~='indicator'] {
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    margin-inline-end: rem(4px);
    min-width: rem(24px);

    igc-icon {
        --ig-size: 3;
    }
}

[part~='label'] {
    @include type-style('body-2');

    display: block;
    margin: 0;

    ::slotted(*) {
        margin-block: auto;
    }
}

[part~='label'],
[part~='text'] {
    z-index: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

[part~='select'] {
    display: flex;
    align-items: center;
    z-index: 1;
    margin-inline-end: rem(4px);

    igc-checkbox {
        &::part(label) {
            display: none;
        }
    }
}
