@use '../../../../styles/common/component';
@use '../../../../styles/utilities/index' as *;

:host {
    display: block;
    overflow: auto;
    font-family: var(--ig-font-family);
}

:host([size='small']) {
    --component-size: var(--ig-size, var(--ig-size-small));
}

:host([size='medium']) {
    --component-size: var(--ig-size, var(--ig-size-medium));
}

:host([size='large']) {
    --component-size: var(--ig-size, var(--ig-size-large));
}
