@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $indigo;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
}

:host button {
    border: rem(1px) solid var-get($theme, 'border-color');
    padding: 0 pad(3px, 5px, 7px);

    &:focus {
        box-shadow: 0 0 0 rem(3px) var-get($theme, 'focus-outline-color');
    }

    &:hover {
        border-color: var-get($theme, 'hover-border-color');
    }

    &[disabled] {
        border-color: var-get($theme, 'disabled-border-color');
    }

    igc-icon,
    ::slotted(igc-icon) {
        --size: #{sizable(rem(14px), rem(14px), rem(16px))};
    }
}

:host([selected]) button:not([disabled]) {
    color: var-get($theme, 'selected-text-color');
    background: var-get($theme, 'selected-background');
    border-color: transparent;

    &:focus {
        box-shadow: 0 0 0 rem(3px) var-get($theme, 'focus-selected-outline-color');
    }

    &:hover {
        color: var-get($theme, 'hover-selected-text-color');
        background: var-get($theme, 'hover-selected-background');
        border-color: var-get($theme, 'hover-selected-border-color');
    }
}

:host([selected]) button[disabled] {
    background: color($color: 'primary', $variant: 400, $opacity: .5);
    border-color: transparent;
}

:host([variant='primary']) button,
:host([selected][variant='primary']) button:not([disabled]) {
    border-color: transparent;

    &:focus {
        color: contrast-color(primary, 900);
        background: color(primary, 500);
        box-shadow: 0 0 0 rem(3px) color(primary, 400, .5);
    }

    &:hover {
        color: contrast-color(primary, 900);
        background: color(primary, 400);
    }
}

:host([variant='primary']) button[disabled] {
    background: color(primary, 400, .5);
}

@mixin chip-variants($variant, $variant-color) {
    :host([variant='#{$variant}']) button,
    :host([selected][variant='#{$variant}']) button:not([disabled]) {
        color: contrast-color($variant-color, 900);
        border-color: transparent;

        &:focus {
            background: color($variant-color, 500);
            color: contrast-color($variant-color, 900);
        }

        &:hover {
            background: color($variant-color, 400);
            color: contrast-color($variant-color, 900);
        }
    }

    :host([variant='#{$variant}']) button[disabled] {
        color: contrast-color($variant-color, 900);
        background: color($variant-color, 500);
    }
}

@include chip-variants('info', info);
@include chip-variants('success', success);
@include chip-variants('warning', warn);
@include chip-variants('danger', error);

:host([variant='info']),
:host([variant='success']),
:host([variant='warning']),
:host([variant='danger']) {
    button[disabled] {
        opacity: .4;
    }
}
