@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $indigo;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
}

:host button {
    padding: 0 pad-inline(3px, 5px, 7px);

    &:focus {
        box-shadow: 0 0 0 rem(3px) var-get($theme, 'focus-outline-color');
    }

    igc-icon,
    ::slotted(igc-icon) {
        --size: #{sizable(rem(14px), rem(14px), rem(16px))};
    }
}

:host([selected]) button:not([disabled]) {
    color: var-get($theme, 'selected-text-color');
    background: var-get($theme, 'selected-background');
    border-color: transparent;

    &:focus {
        box-shadow: 0 0 0 rem(3px) var-get($theme, 'focus-selected-outline-color');
    }
}

:host([selected]) button[disabled] {
    background: color($color: 'primary', $variant: 400, $opacity: .5);
    border-color: transparent;
}

:host([variant='primary']) button,
:host([selected][variant='primary']) button:not([disabled]) {
    border-color: transparent;

    &:focus {
        color: contrast-color(primary, 900);
        background: color(primary, 500);
        box-shadow: 0 0 0 rem(3px) color(primary, 400, .5);
    }

    &:hover {
        color: contrast-color(primary, 900);
        background: color(primary, 400);
    }
}

:host([variant='primary']) button[disabled] {
    background: color(primary, 400, .5);
}

@mixin chip-variants($variant, $variant-color) {
    :host([variant='#{$variant}']) button,
    :host([selected][variant='#{$variant}']) button:not([disabled]) {
        @if $variant != 'warning' {
            color: contrast-color($variant-color, 900);
        }

        border-color: transparent;

        &:focus {
            @if $variant == 'warning' or $variant == 'info' {
                background: color($variant-color, 500);
            }

            @if $variant != 'warning' {
                color: contrast-color($variant-color, 900);
            }
        }

        &:hover {
            @if $variant == 'warning' or $variant == 'info' {
                background: color($variant-color, 400);
            }

            @if $variant != 'warning' {
                color: contrast-color($variant-color, 900);
            }
        }
    }

    :host([variant='#{$variant}']) button[disabled] {
        @if $variant != 'warning' {
            color: contrast-color($variant-color, 900);
        }
        
        @if $variant == 'warning' or $variant == 'info' {
            background: color($variant-color, 500);
        }
    }
}

@include chip-variants('info', info);
@include chip-variants('success', success);
@include chip-variants('warning', warn);
@include chip-variants('danger', error);

:host([variant='info']),
:host([variant='success']),
:host([variant='warning']),
:host([variant='danger']) {
    button[disabled] {
        opacity: .4;
    }
}
