@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $fluent;

:host button {
    @include type-style('subtitle-2');
}

:host([selected]) button:not([disabled]) {
    background: var-get($theme, 'selected-background');
    color: var-get($theme, 'selected-text-color');

    &:hover {
        background: var-get($theme, 'hover-selected-background');
    }

    &:focus {
        background: var-get($theme, 'focus-selected-background');
    }
}
