@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $material;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
    --chip-size: var(--component-size);
}

:host button {
    border-radius: var-get($theme, 'border-radius');
    background: var-get($theme, 'background');
    color: var-get($theme, 'text-color');
    outline: none;
    height: var-get($theme, 'size');

    &:hover {
        background: var-get($theme, 'hover-background');
        color: var-get($theme, 'hover-text-color');
    }

    &:focus {
        background: var-get($theme, 'focus-background');
        color: var-get($theme, 'focus-text-color');
    }

    &[disabled] {
        background: var-get($theme, 'disabled-background');
        color: var-get($theme, 'disabled-text-color');
    }

    igc-icon {
        --component-size: var(--chip-size);
    }

    ::slotted(*) {
        --default-size: var(--chip-size);
    }

    ::slotted(igc-avatar) {
        --size: #{sizable(rem(14px), rem(18px), rem(24px))};
    }

    ::slotted(igc-circular-progress) {
        --diameter: #{sizable(rem(14px), rem(18px), rem(24px))};
    }
}
