@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/progress' as *;

$material: map.merge(
    digest-schema($dark-progress-linear),
    (
        track-border-radius: border-radius(map.get($dark-progress-linear, 'track-border-radius')...),
    )
);
$bootstrap: map.merge(
    digest-schema($dark-bootstrap-progress-linear),
    (
        track-border-radius: border-radius(map.get($dark-bootstrap-progress-linear, 'track-border-radius')...),
    )
);
$fluent: map.merge(
    digest-schema($dark-fluent-progress-linear),
    (
        track-border-radius: border-radius(map.get($dark-fluent-progress-linear, 'track-border-radius')...),
    )
);
$indigo: map.merge(
    digest-schema($dark-fluent-progress-linear),
    (
        track-border-radius: border-radius(map.get($dark-indigo-progress-linear, 'track-border-radius')...),
    )
);
