@use 'styles/utilities' as *;
@use 'vars' as *;

// Linear animation //
// primary translate
$indeterminate-primary-translate-step-2: cubic-bezier(.5, 0, .7017, .4958);
$indeterminate-primary-translate-step-3: cubic-bezier(.3024, .3813, .55, .9563);

// primary scale
$indeterminate-primary-scale-step-2: cubic-bezier(.3347, .124, .7858, 1);
$indeterminate-primary-scale-step-3: cubic-bezier(.06, .11, .6, 1);

// secondary translate
$indeterminate-secondary-translate-step-1: cubic-bezier(.15, 0, .515, .4096);
$indeterminate-secondary-translate-step-2: cubic-bezier(.31, .284, .8, .7337);
$indeterminate-secondary-translate-step-3: cubic-bezier(.4, .627, .6, .902);

// secondary scale
$indeterminate-secondary-scale-step-1: cubic-bezier(.15, 0, .515, .4096);
$indeterminate-secondary-scale-step-2: cubic-bezier(.31, .284, .8, .7337);
$indeterminate-secondary-scale-step-3: cubic-bezier(.4, .627, .6, .902);

@keyframes indeterminate-primary {
    0% {
        transform: translateX(0);
    }

    20% {
        animation-timing-function: $indeterminate-primary-translate-step-2;
        transform: translateX(0);
    }

    59.15% {
        animation-timing-function: $indeterminate-primary-translate-step-3;
        transform: translateX(83.671%);
    }

    100% {
        transform: translateX(200.611%);
    }
}

@keyframes indeterminate-primary-scale {
    0% {
        transform: scaleX(.08);
    }

    36.65% {
        animation-timing-function: $indeterminate-primary-scale-step-2;
        transform: scaleX(.08);
    }

    69.15% {
        animation-timing-function: $indeterminate-primary-scale-step-2;
        transform: scaleX(.6614);
    }

    100% {
        transform: scaleX(.08);
    }
}

@keyframes indeterminate-secondary {
    0% {
        animation-timing-function: $indeterminate-secondary-translate-step-1;
        transform: translateX(0);
    }

    25% {
        animation-timing-function: $indeterminate-secondary-translate-step-2;
        transform: translateX(37.6519%);
    }

    48.35% {
        animation-timing-function: $indeterminate-secondary-translate-step-3;
        transform: translateX(84.3861%);
    }

    100% {
        transform: translateX(160.2777%);
    }
}

@keyframes indeterminate-secondary-scale {
    0% {
        animation-timing-function: $indeterminate-secondary-scale-step-1;
        transform: scaleX(.08);
    }

    19.15% {
        animation-timing-function: $indeterminate-secondary-scale-step-2;
        transform: scaleX(.4571);
    }

    44.15% {
        animation-timing-function: $indeterminate-secondary-scale-step-3;
        transform: scaleX(.727);
    }

    100% {
        transform: scaleX(.08);
    }
}

// Fluent linear animation
@keyframes indeterminate-bar-fluent {
    0% {
        transform: translateX(-100%);
        transform-origin: left;
    }

    100% {
        transform: translateX(310%);
        transform-origin: right;
    }
}

@keyframes indeterminate-bar-fluent-rtl {
    0% {
        transform: translateX(-310%);
        transform-origin: right;
    }

    100% {
        transform: translateX(100%);
        transform-origin: left;
    }
}

// Circular animation
@keyframes indeterminate-accordion {
    0% {
        stroke-dashoffset: calc(#{$circumference} * 2);
        stroke-dasharray: calc(#{$circumference} * 9 / 10);
    }

    100% {
        stroke-dashoffset: calc(#{$circumference} * 2 / 5);
    }
}

@keyframes indeterminate-accordion-rtl {
    0% {
        stroke-dashoffset: calc(#{$circumference} * -2);
        stroke-dasharray: calc(#{$circumference} * 9 / 10);
    }

    100% {
        stroke-dashoffset: calc(#{$circumference} * -2 / 5);
    }
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

%host {
    align-items: center;
    justify-content: center;
    font-family: var(--ig-font-family), serif;
}

%label {
    display: flex;
    align-items: center;
    color: inherit;
    font-weight: 600;
}

@mixin stripe-colors($primary, $gray, $size, $deg: -45deg) {
    /* stylelint-disable */
    background: $primary repeating-linear-gradient(
        $deg,
        $primary,
        $primary $size,
        $gray $size,
        $gray ($size * 2)
    );
    /* stylelint-enable */
}
