@use '../../../styles/utilities/index' as *;

$danger-color: color(error, 500);
$warning-color: color(warn, 500);
$success-color: color(success, 500);
$info-color: color(info, 500);
$primary-color: color(primary, 500);
$text-color: color(gray, 900);
$track-color: color(gray, 300);
$fill-color: $primary-color;
$track-roundness: 0;
$background-size: rem(40px) rem(40px);
$stripe-grays: color(gray, 50, .7);
$stripe-size: rem(16px);
$animation-direction: normal;
$animation-direction-rtl: reverse;
$radius: calc(var(--diameter) / 2 - var(--stroke-thickness) * .5);
$circumference: calc(#{$radius} * 2 * 3.1416);

@keyframes indeterminate-bar {
    0% {
        transform: scaleX(0) translateX(-100%);
        transform-origin: left;
    }

    50% {
        transform: scaleX(1) translateX(50%);
        transform-origin: right;
    }

    100% {
        transform: scaleX(0) translateX(200%);
        transform-origin: right;
    }
}

@keyframes indeterminate-bar-fluent {
    0% {
        transform: translateX(-133%);
        transform-origin: left;
    }

    100% {
        transform: translateX(300%);
        transform-origin: right;
    }
}

@keyframes indeterminate-accordion {
    from {
        stroke-dashoffset: calc(#{$circumference} * 2);
        stroke-dasharray: calc(#{$circumference} * 9 / 10);
    }

    to {
        stroke-dashoffset: calc(#{$circumference} * 2 / 5);
    }
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

:host([dir='rtl']) {
    [part~='indeterminate'] {
        animation-direction: $animation-direction-rtl;
    }

    // Valid only for circular progress bar
    [part~='indeterminate'] [part~='outer'] {
        animation-direction: $animation-direction-rtl;
    }
}

%host {
    align-items: center;
    justify-content: center;
    font-family: var(--igc-font-family);
    color: $text-color;
}

%label {
    display: flex;
    align-items: center;
    color: inherit;
    font-weight: 600;
}

@mixin stripe-colors($primary, $gray, $size, $deg: -45deg) {
    /* stylelint-disable */
    background: $primary repeating-linear-gradient(
        $deg,
        $primary,
        $primary $size,
        $gray $size,
        $gray ($size * 2)
    );
    /* stylelint-enable */
}
