%base {
    align-items: center;
    justify-content: center;
    font-family: var(--ig-font-family), serif;
}

%label {
    display: flex;
    align-items: center;
    color: inherit;
    font-weight: 600;
}

@mixin stripe-colors($primary, $gray, $size, $deg: -45deg) {
    background: $primary repeating-linear-gradient(
        $deg,
        $primary,
        $primary $size,
        $gray $size,
        $gray ($size * 2)
    );
}
