@use 'styles/utilities' as *;

$background-size: #{rem(40px)} #{rem(40px)};
$stripe-size: rem(16px);
$animation-direction: normal;
$animation-direction-rtl: reverse;
$diameter: var(--diameter);
$radius: calc(var(--diameter) / 2 - var(--stroke-thickness) * .5);
$circumference: calc(#{$radius} * 2 * 3.1416);
