@use '../utilities' as utils;

$palette: utils.palette(
    $primary: #09f,
    $secondary: #e41c77,
    $gray: #000,
    $surface: white,
) !default;

$elevations: utils.elevations(
    rgba(0, 0, 0, .26),
    rgba(0, 0, 0, .12),
    rgba(0, 0, 0, .08)
) !default;

$type-scale: utils.type-scale();

:root {
    --igc-border-radius: #{utils.rem(2px)};
    --igc-spacing-small: #{utils.rem(2px)};
    --igc-spacing-medium: #{utils.rem(4px)};
    --igc-spacing-large: #{utils.rem(8px)};
    @include utils.palette($palette);
    @include utils.elevations($elevations);
    @include utils.typography(
        $font-family: 'Roboto, sans-serif',
        $type-scale: $type-scale
    );

    --switch-width: #{utils.rem(36px)};
    --switch-thumb: #{utils.rem(20px)};
    --switch-offset: #{utils.rem(-1px)};
}

@keyframes thumb-on {
    from {
        margin-inline-start: var(--switch-offset);
    }

    to {
        margin-inline-start: calc(var(--switch-width) - var(--switch-thumb) - var(--switch-offset));
    }
}

@keyframes thumb-off {
    from {
        margin-inline-start: calc(var(--switch-width) - var(--switch-thumb) - var(--switch-offset));
    }

    to {
        margin-inline-start: var(--switch-offset);
    }
}
