@use '../utilities' as utils;

$palette: utils.palette(
  $primary: #09f,
  $secondary: #e41c77,
  $gray: #000,
  $surface: white,
) !default;

$elevations: utils.elevations(
    rgba(0, 0, 0, .26),
    rgba(0, 0, 0, .12),
    rgba(0, 0, 0, .08)
) !default;

$type-scale: utils.type-scale();

:root,
:host {
  --igc-border-radius: #{utils.rem(2px)};
  --igc-spacing: #{utils.rem(2px)};
  @include utils.palette($palette);
  @include utils.elevations($elevations);
  @include utils.typography(
    $font-family: 'Roboto, sans-serif',
    $type-scale: $type-scale
  );
}
