@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/calendar' as *;

$material: map.merge(
    digest-schema($light-calendar),
    (
        border-radius: border-radius(map.get($light-calendar, 'border-radius')...),
        date-border-radius: border-radius(map.get($light-calendar, 'date-border-radius')...),
        month-border-radius: border-radius(map.get($light-calendar, 'month-border-radius')...)
    )
);
$bootstrap: map.merge(
    digest-schema($bootstrap-calendar),
    (
        border-radius: border-radius(map.get($bootstrap-calendar, 'border-radius')...),
        date-border-radius: border-radius(map.get($bootstrap-calendar, 'date-border-radius')...),
        month-border-radius: border-radius(map.get($bootstrap-calendar, 'month-border-radius')...)
    )
);
$fluent: map.merge(
    digest-schema($fluent-calendar),
    (
        border-radius: border-radius(map.get($fluent-calendar, 'border-radius')...),
        date-border-radius: border-radius(map.get($fluent-calendar, 'date-border-radius')...),
        month-border-radius: border-radius(map.get($fluent-calendar, 'month-border-radius')...)
    )
);
$indigo: map.merge(
    digest-schema($indigo-calendar),
    (
        border-radius: border-radius(map.get($indigo-calendar, 'border-radius')...),
        date-border-radius: border-radius(map.get($indigo-calendar, 'date-border-radius')...),
        month-border-radius: border-radius(map.get($indigo-calendar, 'month-border-radius')...)
    )
);
