@use 'styles/common/component';
@use 'styles/utilities' as *;

:host(igc-calendar) {
    // --size: #{sizable(#{rem(24px)}, #{rem(28px)}, #{rem(32px)})};
    display: flex;
    flex-direction: column;
    font-family: var(--ig-font-family);

    igc-days-view::part(date),
    igc-days-view::part(week-number),
    igc-days-view::part(label),
    igc-days-view::part(days-row) {
        box-sizing: border-box;
        // height: var(--size);
    }

    igc-days-view::part(week-number-inner),
    igc-days-view::part(date-inner) {
        box-sizing: border-box;
        // width: calc(var(--size) - #{rem(2px)});
        // min-width: calc(var(--size) - #{rem(2px)});
    }

    igc-days-view::part(label) {
        // min-width: var(--size);
    }

    igc-months-view {
        grid-template-rows: repeat(4, minmax(var(--size), 1fr));

        &::part(month-inner) {
            // height: var(--size);
        }
    }

    igc-years-view {
        grid-template-rows: repeat(5, minmax(var(--size), 1fr));

        &::part(year-inner) {
            // height: var(--size);
        }
    }

    igc-days-view,
    igc-months-view,
    igc-years-view {
        font-family: var(--ig-font-family);
        overflow: visible;
    }
}

[part='navigation'] {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(20px);
    padding: rem(25px) rem(18px);
    user-select: none;
}

[part='months-navigation'],
[part='years-navigation'],
[part~='navigation-button'] {
    background: transparent;
    display: inline-flex;
    user-select: none;
    border: none;
    padding: 0;
    transition: color 150ms ease-in-out;

    &:hover,
    &:focus {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

[part~='navigation-button'] {
    &[part~='vertical'] {
        transform: rotate(90deg);
    }
}

[part='navigation-buttons'] {
    display: flex;
    align-items: center;
    gap: rem(24px);
}

:host-context([dir='rtl']),
:host([dir='rtl']) {
    [part~="navigation-button"] {
        transform: rotate(180deg);

        &[part~='vertical'] {
            transform: rotate(90deg);
        }
    }
}

:host(igc-calendar[header-orientation='vertical']) {
    flex-direction: row;

    [part='header'] {
        justify-content: flex-start;
        width: rem(140px);
        border-radius: inherit;
        border-start-end-radius: 0;
        border-end-end-radius: 0;
    }

    [part='header-date'] {
        flex-direction: column;
    }
}

[part='days-view-container'] {
    flex-grow: 1;
}

[part='header'] {
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(16px);
}

[part='content'] {
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

[part='header-date'],
[part='header-title'] {
    margin: 0;
}

[part='header-date'] {
    display: flex;
    white-space: pre-wrap;
}

.aria-off-screen {
    @include hide-default();
}
