@use '../../../styles/utilities/index' as *;
@use '../../../styles/common/component';
@use 'shared-calendar' as *;
@use 'sass:map';
@use 'sass:math';

$border-radius: calc(#{var(--size)} / 2);

:host(igc-calendar) {
    --size: #{sizable(#{rem(24px)}, #{rem(28px)}, #{rem(32px)})};

    display: flex;
    flex-direction: column;
    font-family: var(--ig-font-family);
    background: $calendar-background;
    color: $calendar-foreground;

    > * {
        font-family: var(--ig-font-family);
    }

    igc-days-view::part(date),
    igc-days-view::part(week-number),
    igc-days-view::part(label),
    igc-days-view::part(days-row) {
        height: var(--size);
    }

    igc-days-view::part(week-number-inner),
    igc-days-view::part(date-inner) {
        width: calc(var(--size) - #{rem(2px)});
        min-width: calc(var(--size) - #{rem(2px)});
        height: 100%;
    }

    igc-days-view::part(label) {
        min-width: var(--size);
        height: var(--size);
    }

    igc-days-view::part(date-inner) {
        @include border-radius(calc($border-radius + rem(2px)));
    }

    igc-months-view {
        grid-template-rows: repeat(4, minmax(var(--size), 1fr));

        &::part(month-inner) {
            height: var(--size);

            @include border-radius(calc($border-radius + rem(2px)));
        }
    }

    igc-years-view {
        grid-template-rows: repeat(5, minmax(var(--size), 1fr));

        &::part(year-inner) {
            height: var(--size);

            @include border-radius(calc($border-radius + rem(2px)));
        }
    }
}

:host(igc-calendar[size='large']) {
    --component-size: var(--ig-size, var(--ig-size-large));
}

:host(igc-calendar[size='medium']) {
    --component-size: var(--ig-size, var(--ig-size-medium));
}

:host(igc-calendar[size='small']) {
    --component-size: var(--ig-size, var(--ig-size-small));
}

[part='navigation'] {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(20px);
    padding: rem(25px) rem(18px);
    user-select: none;
}

[part='months-navigation'],
[part='years-navigation'],
[part~='navigation-button'] {
    display: inline-flex;
    user-select: none;
    background: transparent;
    border: none;
    color: color(gray, 800);
    font-size: rem(16px);
    padding: 0;
    transition: color 150ms ease-in-out;

    &:hover,
    &:focus {
        color: color(secondary, 500);
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

[part~='navigation-button'] {
    margin-inline-start: rem(24px);

    &[part~='vertical'] {
        transform: rotate(90deg);
    }
}

[part='navigation-buttons'] {
    display: flex;
    align-items: center;
}

:host(igc-calendar[header-orientation='vertical']) {
    flex-direction: row;

    [part='header'] {
        justify-content: flex-start;
        width: rem(140px);
    }

    [part='header-date'] {
        flex-direction: column;
    }
}

[part='days-view-container'] {
    flex-grow: 1;
}

[part='header'] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(16px);
    background: color(secondary, 500);
    color: contrast-color(secondary, 600);
}

[part='header-date'],
[part='header-title'] {
    margin: 0;
}

[part='header-date'] {
    @include type-style('h4');

    display: flex;
    white-space: pre-wrap;
}

[part='header-title'] {
    @include type-style('overline');
}

.aria-off-screen {
    @include hide-default();
}
