@use 'styles/utilities' as *;

$border-width: rem(1px);
$week-number-radius: rem(4px);
$row-gap: rem(6px);

:host([part='days-view']) {
    display: flex;
    flex-direction: column;
    min-width: rem(290px);
    outline: none;
    padding: 0 rem(12px) rem(16px) rem(12px);
    overflow: hidden;
    box-sizing: border-box;
    gap: $row-gap;
}

[part~='days-row'] {
    display: flex;
    align-items: center;
    justify-content: center;
}

[part~='date-inner'] {
    cursor: pointer;
    user-select: none;
    z-index: 2;
}

[part~='date'],
[part~='week-number'],
[part~='label'] {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    box-sizing: border-box;
    user-select: none;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

[part='label-inner'] {
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 4ch;
    text-align: center;
}

[part~='date-inner'],
[part~='week-number-inner'] {
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
        outline: none;
    }
}

[part~='date'][part~='range'][part~='first'],
[part~='date'][part~='range'][part~='last'] {
    &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: calc(50% + #{rem(1px)});
        z-index: 1;
    }
}

[part~='date'][part~='range'][part~='first'] {
    &::after {
        inset-inline-start: 50%;
    }
}

[part~='date'][part~='range'][part~='last'] {
    &::after {
        inset-inline-end: calc(50% - #{rem(1px)});
    }
}

[part~='date'][part~='range'] + [part~='date'][part~='range'][part~='last'] {
    &::after {
        inset-inline-end: 50%;
    }
}

[part~='week-number'] {
    order: 0;
    cursor: default;
}

[part='week-number-inner first'] {
    &::after {
        display: none;
    }
}

[part~='week-number-inner'] {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 100%;
        height: calc(#{$row-gap} + (#{$border-width} * 2 + 2px));
        width: 100%;
    }
}

[part~='date-inner'][part~='disabled'] {
    pointer-events: none;
    user-select: none;
    cursor: not-allowed;
}

[part~='hidden'] {
    visibility: hidden;
}
