@use 'styles/utilities' as *;

$border-width: rem(1px);
$week-number-radius: rem(4px);
$row-gap: rem(4px);

:host([part='days-view']) {
    display: flex;
    flex-direction: column;
    min-width: rem(290px);
    outline: none;
    padding: rem(16px) rem(12px);
    overflow: hidden;
    box-sizing: border-box;
    gap: $row-gap;
}

[part~='days-row'] {
    display: flex;
    align-items: center;
    justify-content: center;

    // TODO hide the 7 row anly of all the children have hidden part on them,
    //  I need a wat to know if the calendar is in multi view to achieve this
    &:nth-child(7) {
        > [part~='date']:has(:not([part~='hidden'])) {
            display: none;
        }
    }
}


[part~='date-inner'] {
    cursor: pointer;
    user-select: none;
    z-index: 2;

    &::after {
        box-sizing: border-box;
    }
}

[part~='date'] {
    margin: 0 !important;
    z-index: 0;
}

[part~='date'],
[part~='week-number'],
[part~='label'] {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    box-sizing: border-box;
    user-select: none;
    margin: 0;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

[part='label-inner'] {
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

[part~='date-inner'],
[part~='week-number-inner'] {
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
        outline: none;
    }
}

[part~='date'][part~='range'][part~='first'],
[part~='date'][part~='range'][part~='last'] {
    &::after {
        content: '';
        position: absolute;
        width: 50%;
        z-index: -1;
    }

    &::before {
        content: "";
        position: absolute;
    }
}

[part~='date'][part~='range'][part~='first'] {
    &::after {
        inset-inline-start: 50%;
    }
}

[part~='date'][part~='range'][part~='last'] {
    &::after {
        inset-inline-end: calc(50% - #{rem(1px)});
    }
}

[part~='date'][part~='range'] + [part~='date'][part~='range'][part~='last'] {
    &::after {
        inset-inline-end: 50%;
    }
}

[part~='week-number'] {
    order: 0;
    cursor: default;
    margin-inline-end: $row-gap;
}

[part='week-number-inner first'] {
    &::after {
        display: none;
    }
}

[part~='week-number-inner'] {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: $row-gap;

        // rem(1px) is needed because of the border around the week-number-inner element
        bottom: calc(100% + #{rem(1px)});
        box-sizing: border-box;
    }
}

[part~='date-inner'][part~='disabled'] {
    pointer-events: none;
    user-select: none;
    cursor: not-allowed;
}

[part~='date-inner'][part~='disabled'][part~='special'],
[part~='date-inner'][part~='disabled'][part~='selected'][part~='single'],
[part~='date-inner'][part~='disabled'][part~='selected'][part~='first'],
[part~='date-inner'][part~='disabled'][part~='selected'][part~='last'],
[part~='date-inner'][part~='disabled'][part~='current'] {
    opacity: .38;
}

[part~='date-inner'][part~='inactive'][part~='disabled'] {
    opacity: 1;
}

[part~='hidden'] {
    visibility: hidden;
}
