@use 'styles/utilities' as *;

:host {
    display: flex;
    flex-direction: column;
    outline: none;
    padding-block: pad-block(rem(16px));
    padding-inline: pad-inline(rem(8px), rem(8px), rem(16px));
    overflow: hidden;
    box-sizing: border-box;
}

[part='months-row'],
[part='years-row'] {
    display: flex;
    gap: rem(8px);
}

[part~='month'],
[part~='year'] {
    flex: 1;
}

[part~='month'],
[part~='year'],
[part~='month-inner'],
[part~='year-inner'] {
    display: flex;
    align-items: center;
    justify-content: center;
}

[part~='month-inner'],
[part~='year-inner'] {
    flex-grow: 1;
    user-select: none;
    max-width: rem(240px);
    cursor: pointer;
    padding: 0 pad-inline(rem(12px));
    margin: 0;
}

