@use 'sass:math';
@use 'styles/utilities' as *;

:host {
    display: flex;
    flex-direction: column;
    min-width: rem(290px);
    outline: none;
    padding: 0 rem(12px) rem(16px) rem(12px);
    overflow: hidden;
    box-sizing: border-box;
    gap: rem(4px);
}

[part='months-row'],
[part='years-row'] {
    display: flex;
}

[part~='month'],
[part~='year'] {
    flex: 1;
}

[part~='month'],
[part~='year'],
[part~='month-inner'],
[part~='year-inner'] {
    display: flex;
    align-items: center;
    justify-content: center;
}

[part~='month-inner'],
[part~='year-inner'] {
    user-select: none;
    cursor: pointer;
    padding: 0 rem(12px);
}

