@use 'styles/utilities' as *;

:host {
    [part='header'] {
        gap: rem(2px);
    }
}

::slotted([slot='thumbnail']),
::slotted(igc-avatar[slot='thumbnail']) {
    --ig-size: 3;
}

::slotted([slot='subtitle']) {
    @include type-style('body-2');

    margin-block-end: pad-block(rem(2px));
}

::slotted([slot='thumbnail']) {
    margin-inline-end: pad-inline(rem(8px));
}
