@use 'sass:map';
@use '../../../../styles/utilities' as *;
@use '../../../../styles/themes/schemas' as *;

$schema: map.get($light-fluent-schema, 'snackbar');
$theme: digest-schema($schema);

[part~='base'] {
    @include border-radius(map.get($theme, 'border-radius')...);
}

[part~='message'] {
    @include type-style('caption');
}

igc-button::part(base),
igc-button::part(base):hover {
    color: color(secondary, 500);
}

igc-button::part(base):focus-visible::after {
    display: none;
}
