@use 'sass:map';
@use '../../../../styles/utilities' as *;
@use '../../../../styles/themes/schemas/fluent/light' as *;

$schema: map.get($light-fluent-schema, 'snackbar');
$border-radius: border-radius(map.get($schema, 'border-radius')...);
$theme: digest-schema(extend(
    $schema,
    (
        border-radius: $border-radius
    )
));

:host {
    @include css-vars-from-theme($theme, 'ig-snackbar');
}

[part~='base'] {
    border-radius: var-get($theme, 'border-radius');
}

[part~='message'] {
    @include type-style('caption');
}

igc-button::part(base),
igc-button::part(base):hover {
    color: color(secondary, 500);
}

igc-button::part(base):focus-visible::after {
    display: none;
}
