@use '../../../../styles/utilities' as *;

$background-color: var(--background-color, color(gray, 700, .9)) !default;
$text-color: var(--text-color, contrast-color(gray, 700)) !default;

[part~='base'] {
    @include border-radius(rem(6px));

    background: $background-color;
    color: $text-color;
}

igc-button::part(base),
igc-button::part(base):hover {
    color: $text-color;
}
