@use 'sass:map';
@use '../../../../styles/utilities' as *;
@use '../../../../styles/themes/schemas' as *;

$schema: map.get($light-indigo-schema, 'snackbar');
$theme: digest-schema($schema);

$background-color: var(--background-color, color(gray, 700, .9)) !default;
$text-color: var(--text-color, contrast-color(gray, 700)) !default;

[part~='base'] {
    @include border-radius(map.get($theme, 'border-radius')...);

    background: $background-color;
    color: $text-color;
}

igc-button::part(base),
igc-button::part(base):hover {
    color: $text-color;
}
