@use '../../styles/common/component';
@use '../../styles/utilities' as *;

[part~='wrapper'] {
  display: inline-flex;
  flex: 1 1 auto;
  width: 2rem;
  height: 2rem;
}

[part~='indeterminate'] {
  transform-origin: 50% 50%;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: rotate-center;
}

[part~='svg'] {
  width: 100%;
  height: 100%;
  min-width: inherit;
  min-height: inherit;
}

[part~='inner'] {
  stroke-width: 0.25rem;
  fill: transparent;
  stroke: #ddd;
}

[part~='outer'] {
  fill: transparent;
  stroke-width: 0.25rem;
  stroke-dashoffset: 289;
  stroke-dasharray: 289;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

[part~='gradient_start'] {
  stop-color: #09f;
}

[part~='gradient_end'] {
  stop-color: #09f;
}

[part~='text'] {
  font-size: 2rem;
  font-weight: 600;
  fill: var(--text-color);
}

[part~='indeterminate'] [part~='outer'] {
  stroke-dasharray: 289;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0, 0.085, 0.68, 0.53);
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: indeterminate-accordion;
}

@keyframes indeterminate-accordion {
  from {
    stroke-dashoffset: 578;
    stroke-dasharray: 259;
  }

  to {
    stroke-dashoffset: 120;
  }
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
