@use '../../styles/common/component';
@use '../../styles/utilities' as *;
@use 'base' as *;

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--igc-font-family);
    color: $text-color;

    --track-size: 4px;
}

[part~='custom_label'] {
    display: flex;
    align-items: center;
    color: inherit;
}

[part~='wrapper'] {
    position: relative;
    display: flex;
    width: 100%;
    flex: 1 1 100%;
    flex-direction: column;
}

[part~='base'] {
    position: relative;
    width: inherit;
    height: var(--track-size);
    background: $track-color;
    overflow: hidden;
    border-radius: $track-roundness;
    z-index: 0;
}

[part~='indicator'] {
    width: 100%;
    position: relative;
    height: inherit;
    background: hsl(204deg 100% 50%);
}

[part~='striped'] {
    /* stylelint-disable */
    background-image: linear-gradient(
        -45deg,
        $stripe-color 25%,
        transparent 25%,
        transparent 50%,
        $stripe-color 50%,
        $stripe-color 75%,
        transparent 75%,
        transparent
    );
    /* stylelint-enable */
    background-size: $background-size;
}

[part~='indeterminate'] {
    animation: indeterminate-bar 2s cubic-bezier(0, .085, .68, .53) $animation-direction infinite;
    width: 100% !important;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: -200%;
        width: 100%;
        height: inherit;
        background-color: inherit;
        transform-origin: top right;
    }
}

[part~='danger'] {
    background-color: $danger-color;
}

[part~='warning'] {
    background-color: $warning-color;
}

[part~='info'] {
    background-color: $info-color;
}

[part~='success'] {
    background-color: $success-color;
}

[part~='value'] {
    margin: 0;
    color: black;
    font-size: em(14px, 16px);
    font-weight: 600;
}

[part~='top-start'],
[part~='start'] {
    align-self: flex-start;
}

[part~='bottom-end'],
[part~='top-end'],
[part~='end'] {
    align-self: flex-end;
}

[part~='top-end'],
[part~='top-start'],
[part~='top'] {
    order: -1;
}

[part~='center'] {
    align-self: center;
}

[part~='hidden'] {
    display: none;
}
