@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

:host(igc-calendar) {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});

    color: var-get($theme, 'content-foreground');
    background: var-get($theme, 'content-background');
    border: rem(1px) solid var-get($theme, 'border-color');
    border-radius: var-get($theme, 'border-radius');

    [part~='header'] {
        background: var-get($theme, 'header-background');
        color: var-get($theme, 'header-foreground');
    }
}

[part~='navigation-button'] {
    color: var-get($theme, 'navigation-color');

    &:hover {
        color: var-get($theme, 'navigation-hover-color');
    }

    &:focus {
        color: var-get($theme, 'navigation-focus-color');
    }
}

[part~='months-navigation'],
[part~='years-navigation'] {
    color: var-get($theme, 'picker-foreground');

    &:hover {
        color: var-get($theme, 'picker-hover-foreground');
    }

    &:focus {
        color: var-get($theme, 'picker-focus-foreground');
    }
}

[part='months-navigation'],
[part='years-navigation'],
[part='years-range'] {
    @include type-style('subtitle-1');
}

[part='header-title'] {
    @include type-style('overline');
}

[part='header-date'] {
    @include type-style('h4');
}
