@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;
$border-width: rem(1px);
$inner-border-width: rem(1px);
$week-number-radius: var-get($theme, 'week-number-border-radius');

[part~='label'] {
    height: var-get($theme, 'size');
    color: var-get($theme, 'weekday-color');

    [part~='week-number-inner'] {
        color: var-get($theme, 'week-number-foreground');
    }
}

[part~='week-number-inner'][part~='first'] {
    border-top-left-radius: $week-number-radius;
    border-top-right-radius: $week-number-radius;
}

[part~='week-number-inner'][part~='last'] {
    border-bottom-left-radius: $week-number-radius;
    border-bottom-right-radius: $week-number-radius;
}

[part~='week-number'] {
    width: var-get($theme, 'size');
}

[part~='week-number-inner'] {
    width: var-get($theme, 'size');
    height: var-get($theme, 'size');
    color: var-get($theme, 'week-number-foreground');
    background: var-get($theme, 'week-number-background');

    &::after {
        width: var-get($theme, 'size');
        background: var-get($theme, 'week-number-background');
        border-inline-start: rem(1px) solid var-get($theme, 'week-number-background');
        border-inline-end: rem(1px) solid var-get($theme, 'week-number-background');
    }
}

[part~='date-inner'],
[part~='week-number-inner'] {
    border: $border-width solid transparent;
}

[part~='date'] {
    height: var-get($theme, 'size');

    &[part~='range'] {
        background: var-get($theme, 'date-selected-range-background');
        border-block: rem(1px) solid var-get($theme, 'date-range-border-color');
    }

    &[part~='range'][part~='first'],
    &[part~='range'][part~='last'] {
        background: transparent;
        border-block-color: transparent;

        &::before {
            height: var-get($theme, 'size');
            width: var-get($theme, 'size');
            background: var-get($theme, 'content-background');
            border-radius: var-get($theme, 'date-range-border-radius');
        }

        &::after {
            height: var-get($theme, 'size');
            background: var-get($theme, 'date-selected-range-background');
            border-block: rem(1px) solid var-get($theme, 'date-range-border-color');
        }
    }

    &[part~='range'][part~='first'][part~='special'],
    &[part~='range'][part~='last'][part~='special'] {
        &::before {
            border-radius: var-get($theme, 'date-special-border-radius');
        }
    }

    &[part~='range'][part~='first'][part~='current'],
    &[part~='range'][part~='last'][part~='current'] {
        &::before {
            border-radius: var-get($theme, 'date-current-border-radius');
        }
    }

    &[part~='range'][part~='preview'] {
        background: transparent;
        border-top: $border-width dashed var-get($theme, 'date-range-preview-border-color');
        border-bottom: $border-width dashed var-get($theme, 'date-range-preview-border-color');
    }

    &[part~='range'][part~='preview'][part~='first'],
    &[part~='range'][part~='preview'][part~='last'] {
        background: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;

        &::after {
            height: var-get($theme, 'size');
            border-top: $border-width dashed var-get($theme, 'date-range-preview-border-color');
            border-bottom: $border-width dashed var-get($theme, 'date-range-preview-border-color');
            background: transparent;
        }
    }
}

[part~='date-inner'] {
    width: var-get($theme, 'size');
    height: var-get($theme, 'size');
    border: $inner-border-width solid transparent;
    border-radius: var-get($theme, 'date-border-radius');

    &:hover {
        background: var-get($theme, 'date-hover-background');
    }

    &[part~='inactive']:not([part~='selected'][part~='range'], [part~='disabled']) {
        color: var-get($theme, 'inactive-color');

        &:hover {
            color: var-get($theme, 'date-hover-foreground');
        }

        &:focus {
            color:  var-get($theme, 'date-focus-foreground');
        }
    }

    &[part~='disabled']:not([part~='selected'],[part~='special'],[part~='current']) {
        color: var-get($theme, 'date-disabled-foreground');
    }

    &[part~='disabled'][part~='range']:not([part~='selected'],[part~='special'],[part~='current'], [part~='preview'], [part~='first'], [part~='last']) {
        color: var-get($theme, 'date-disabled-range-foreground');
    }

    &[part~='first'],
    &[part~='last'] {
        border-radius: var-get($theme, 'date-range-border-radius');

        &::after {
            border-radius: var-get($theme, 'date-range-border-radius');
        }
    }

    &[part~='special'] {
        border-radius: var-get($theme, 'date-special-border-radius');

        &::after {
            border-radius: var-get($theme, 'date-special-border-radius');
        }
    }

    &[part~='current'] {
        border-radius: var-get($theme, 'date-current-border-radius');
    }

    &[part~='special'][part~='current'] {
        border-radius: var-get($theme, 'date-current-border-radius');

        &::after {
            border-radius: var-get($theme, 'date-current-border-radius');
        }
    }
}

[part~='date-inner']:not([part~='inactive']) {
    border-color: var-get($theme, 'date-border-color');

    &:hover {
        color: var-get($theme, 'date-hover-foreground');
        border-color: var-get($theme, 'date-hover-border-color');
    }

    &:focus {
        color: var-get($theme, 'date-focus-foreground');
        background: var-get($theme, 'date-focus-background');
        border-color: var-get($theme, 'date-focus-border-color');
    }

    &[part~='weekend']:not([part~='selected'][part~='range'], [part~='current'], [part~='special'], [part~='selected'], [part~='disabled']) {
        color: var-get($theme, 'weekend-color');

        &:hover {
            color: var-get($theme, 'date-hover-foreground');
        }

        &:focus {
            color:  var-get($theme, 'date-focus-foreground');
        }
    }

    &[part~='selected'] {
        color: var-get($theme, 'date-selected-foreground');
        background: var-get($theme, 'date-selected-background');
        border-color: var-get($theme, 'date-selected-border-color');

        &:hover {
            color: var-get($theme, 'date-selected-hover-foreground');
            background: var-get($theme, 'date-selected-hover-background');
            border-color: var-get($theme, 'date-selected-hover-border-color');
        }

        &:focus {
            color: var-get($theme, 'date-selected-focus-foreground');
            background: var-get($theme, 'date-selected-focus-background');
            border-color: var-get($theme, 'date-selected-focus-border-color');
        }
    }

    &[part~='current'] {
        color: var-get($theme, 'date-current-foreground');
        background: var-get($theme, 'date-current-background');
        border-color: var-get($theme, 'date-current-border-color');

        &:hover {
            color: var-get($theme, 'date-current-hover-foreground');
            background: var-get($theme, 'date-current-hover-background');
            border-color: var-get($theme, 'date-current-hover-border-color');
        }

        &:focus {
            color: var-get($theme, 'date-current-focus-foreground');
            background: var-get($theme, 'date-current-focus-background');
            border-color: var-get($theme, 'date-current-focus-border-color');
        }
    }

    &[part~='selected'][part~='current'] {
        color: var-get($theme, 'date-selected-current-foreground');
        background: var-get($theme, 'date-selected-current-background');
        border-color: var-get($theme, 'date-selected-current-border-color');

        &:hover {
            color: var-get($theme, 'date-selected-current-hover-foreground');
            background: var-get($theme, 'date-selected-current-hover-background');
            border-color: var-get($theme, 'date-selected-current-hover-border-color');
        }

        &:focus {
            color: var-get($theme, 'date-selected-current-focus-foreground');
            background: var-get($theme, 'date-selected-current-focus-background');
            border-color: var-get($theme, 'date-selected-current-focus-border-color');
        }
    }

    &[part~='current'][part~='range']:not([part~='special'], [part~='last'], [part~='first'], [part~='preview']) {
        color: var-get($theme, 'date-selected-current-range-foreground');
        background: var-get($theme, 'date-selected-current-range-background');

        &:hover {
            color: var-get($theme, 'date-selected-current-range-hover-foreground');
            background: var-get($theme, 'date-selected-current-range-hover-background');
        }

        &:focus {
            color: var-get($theme, 'date-selected-current-range-foreground');
            background: var-get($theme, 'date-selected-current-range-focus-background');
        }
    }

    &[part~='special'] {
        color: var-get($theme, 'date-special-foreground');
        background: var-get($theme, 'date-special-background');

        &::after {
            content: "";
            position: absolute;
            z-index: 0;
            border: $inner-border-width solid var-get($theme, 'date-special-border-color');
            width: var-get($theme, 'size');
            height: var-get($theme, 'size');
            box-sizing: border-box;
        }

        &:hover {
            color: var-get($theme, 'date-special-hover-foreground');
            background: var-get($theme, 'date-special-hover-background');

            &::after {
                border-color: var-get($theme, 'date-special-hover-border-color')
            }
        }

        &:focus {
            color: var-get($theme, 'date-special-focus-foreground');
            background: var-get($theme, 'date-special-focus-background');

            &::after {
                border-color: var-get($theme, 'date-special-focus-border-color')
            }
        }
    }

    &[part~='selected'][part~='special'] {
        color: var-get($theme, 'date-selected-special-foreground');
        background: var-get($theme, 'date-selected-special-background');

        &::after {
            border-color: var-get($theme, 'date-selected-special-border-color');
        }

        &:hover {
            color: var-get($theme, 'date-selected-special-hover-foreground');
            background: var-get($theme, 'date-selected-special-hover-background');

            &::after {
                border-color: var-get($theme, 'date-selected-special-hover-border-color');
            }
        }

        &:focus {
            color: var-get($theme, 'date-selected-special-focus-foreground');
            background: var-get($theme, 'date-selected-special-focus-background');

            &::after {
                border-color: var-get($theme, 'date-selected-special-focus-border-color');
            }
        }
    }

    &[part~='special'][part~='range'] {
        &:not([part~='preview']) {
            color: var-get($theme, 'date-special-range-foreground');
            background: var-get($theme, 'date-special-range-background');

            &::after {
                border-color: var-get($theme, 'date-special-range-border-color');
            }

            &:hover {
                color: var-get($theme, 'date-special-range-hover-foreground');
                background: var-get($theme, 'date-special-range-hover-background');

                // stylelint-disable-next-line
                &::after {
                    border-color: var-get($theme, 'date-special-range-hover-border-color');
                }
            }

            &:focus {
                color: var-get($theme, 'date-special-range-focus-foreground');
                background: var-get($theme, 'date-special-range-focus-background');

                // stylelint-disable-next-line
                &::after {
                    border-color: var-get($theme, 'date-special-range-focus-border-color');
                }
            }
        }
    }

    &[part~='selected'][part~='special'][part~='first'],
    &[part~='selected'][part~='special'][part~='last'],
    &[part~='special'][part~='range'][part~='first']:not([part~='preview']),
    &[part~='special'][part~='range'][part~='last']:not([part~='preview']) {
        &:hover {
            &::after {
                border-color: var-get($theme, 'date-selected-special-hover-border-color');
            }
        }

        &:focus {
            &::after {
                border-color: var-get($theme, 'date-selected-special-focus-border-color');
            }
        }

        &::after {
            border-color: var-get($theme, 'date-selected-special-border-color');
        }
    }

    // The ::after element is used for the special dates to create a border around them.
    // For the selected + special, current + special dates and non-range special dates,
    // we want the ::after element to be smaller than the date size, so we set it to inner-size.
    // for the dates in a range, the ::after element should be the same size as the date,
    // so we leave it as is (size).
    &[part~='selected'][part~='special']:not([part~='range']),
    &[part~='selected'][part~='special'][part~='first'],
    &[part~='selected'][part~='special'][part~='last'],
    &[part~='special'][part~='current']{
        &::after {
            width: var-get($theme, 'inner-size');
            height: var-get($theme, 'inner-size');
        }
    }


    // This part is making sure that the first and last dates
    // that are also inactive, current or special have the same styles as the normal selected date.
    &[part~='selected'][part~='inactive'][part~='first'],
    &[part~='selected'][part~='inactive'][part~='last'],
    &[part~='selected'][part~='current'][part~='first'],
    &[part~='selected'][part~='current'][part~='last'],
    &[part~='selected'][part~='special'][part~='first'],
    &[part~='selected'][part~='special'][part~='last'],
    &[part~='selected'][part~='current'][part~='special'][part~='first'],
    &[part~='selected'][part~='current'][part~='special'][part~='last'] {
        color: var-get($theme, 'date-selected-foreground');
        background: var-get($theme, 'date-selected-background');

        &:hover {
            color: var-get($theme, 'date-selected-hover-foreground');
            background: var-get($theme, 'date-selected-hover-background');
        }

        &:focus {
            color: var-get($theme, 'date-selected-focus-foreground');
            background: var-get($theme, 'date-selected-focus-background');
        }
    }

    // Dates inside the range, but not the first or last date of the range
    &[part~='range']:not([part~='first'], [part~='last'], [part~='preview'], [part~='disabled'], [part~='special'], [part~='current']) {
        color: var-get($theme, 'date-selected-range-foreground');

        &:hover {
            color: var-get($theme, 'date-selected-range-hover-foreground');
            background: var-get($theme, 'date-selected-range-hover-background');
        }

        &:focus {
            color: var-get($theme, 'date-selected-range-focus-foreground');
            background: var-get($theme, 'date-selected-range-focus-background');
        }
    }

    &[part~='range']:not([part~='first'], [part~='last'], [part~='preview'], [part~='special'], [part~='current']) {
        background: transparent;
        border-color: transparent;
    }

    &[part~='disabled']:not([part~='first'], [part~='last'], [part~='special'], [part~='current']) {
        border-color: transparent;
    }
}

[part~='date-inner'][part~='selected'][part~='inactive'][part~='first'],
[part~='date-inner'][part~='selected'][part~='inactive'][part~='last'] {
    color: var-get($theme, 'date-selected-foreground');
    background: var-get($theme, 'date-selected-background');
    border-color: var-get($theme, 'date-selected-border-color');

    &:hover {
        color: var-get($theme, 'date-selected-hover-foreground');
        background: var-get($theme, 'date-selected-hover-background');
        border-color: var-get($theme, 'date-selected-hover-border-color');
    }

    &:focus {
        color: var-get($theme, 'date-selected-focus-foreground');
        background: var-get($theme, 'date-selected-focus-background');
        border-color: var-get($theme, 'date-selected-focus-border-color');
    }
}
