@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;
$border-width: rem(1px);
$week-number-radius: var-get($theme, 'week-number-border-radius');
$border-radius: border-radius(rem(4px));
$row-gap: rem(6px);

[part~='date'] {
    @include type-style('subtitle-1');

    font-weight: 400;
}

[part~='date'],
[part~='week-number'],
[part~='label'] {
    border-top: $border-width solid transparent;
    border-bottom: $border-width solid transparent;
}

[part~='label'] {
    color: var-get($theme, 'weekday-color');

    [part~='week-number-inner'] {
        color: var-get($theme, 'weekday-color');
    }
}

[part~='weekend'] {
    color: var-get($theme, 'weekend-color');
}

[part~='inactive'] {
    color: var-get($theme, 'inactive-color');
}

[part='week-number-inner first'] {
    border-top-left-radius: $week-number-radius;
    border-top-right-radius: $week-number-radius;
}

[part='week-number-inner last'] {
    border-bottom-left-radius: $week-number-radius;
    border-bottom-right-radius: $week-number-radius;
}

[part~='week-number-inner'] {
    color: var-get($theme, 'week-number-foreground');
    background: var-get($theme, 'week-number-background');

    &::after {
        background: var-get($theme, 'week-number-background');
        border-inline-start: rem(1px) solid var-get($theme, 'week-number-background');
        border-inline-end: rem(1px) solid var-get($theme, 'week-number-background');
    }
}

[part~='date-inner'],
[part~='week-number-inner'] {
    border: $border-width solid transparent;
}

[part~='date'] {
    &[part~='range'] {
        background: var-get($theme, 'date-selected-range-background');
    }

    &[part~='range'][part~='first'],
    &[part~='range'][part~='last'] {
        background: transparent;

        &::after {
            background: var-get($theme, 'date-selected-range-background');
            border-top: $border-width solid var-get($theme, 'date-selected-range-background');
            border-bottom: $border-width solid var-get($theme, 'date-selected-range-background');
        }
    }

    &[part~='range'][part~='preview'] {
        background: transparent;
        border-top: $border-width dashed var-get($theme, 'date-range-preview-border-color');
        border-bottom: $border-width dashed var-get($theme, 'date-range-preview-border-color');
    }

    &[part~='range'][part~='preview'][part~='first'],
    &[part~='range'][part~='preview'][part~='last'] {
        background: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;

        &::after {
            border-top: $border-width dashed var-get($theme, 'date-range-preview-border-color');
            border-bottom: $border-width dashed var-get($theme, 'date-range-preview-border-color');
            background: transparent;
        }
    }
}

[part~='date-inner'] {
    border: rem(1px) solid var-get($theme, 'date-border-color');
    border-radius: var-get($theme, 'date-border-radius');

    &:hover {
        color: var-get($theme, 'date-hover-foreground');
        background: var-get($theme, 'date-hover-background');
        border-color: var-get($theme, 'date-hover-border-color');
    }

    &:focus {
        color: var-get($theme, 'date-hover-foreground');
        background: var-get($theme, 'date-hover-background');
        border-color: var-get($theme, 'date-hover-border-color');
    }

    &[part~='selected'] {
        color: var-get($theme, 'date-selected-foreground');
        background: var-get($theme, 'date-selected-background');
        border-color: var-get($theme, 'date-selected-border-color');

        &:hover {
            color: var-get($theme, 'date-selected-hover-foreground');
            background: var-get($theme, 'date-selected-hover-background');
            border-color: var-get($theme, 'date-selected-hover-border-color');
        }

        &:focus {
            color: var-get($theme, 'date-selected-focus-foreground');
            background: var-get($theme, 'date-selected-focus-background');
            border-color: var-get($theme, 'date-selected-focus-border-color');
        }

        &[part~='current'] {
            color: var-get($theme, 'date-selected-current-foreground');
            background: var-get($theme, 'date-selected-current-background');
            box-shadow:
                    inset 0 0 0 rem(1px) var-get($theme, 'date-selected-current-outline'),
                    0 0 0 rem(1px) var-get($theme, 'date-selected-current-background');

            &:hover {
                color: var-get($theme, 'date-selected-current-focus-foreground');
                background: var-get($theme, 'date-selected-current-hover-background');
            }

            &:focus {
                color: var-get($theme, 'date-selected-current-focus-foreground');
                background: var-get($theme, 'date-selected-current-focus-background');
            }
        }

        &[part~='range'] {
            color: var-get($theme, 'date-selected-range-foreground');
            background: var-get($theme, 'date-selected-range-background');

            &:hover {
                color: var-get($theme, 'date-selected-range-hover-foreground');
                background: var-get($theme, 'date-selected-range-hover-background');
            }

            &:focus {
                color: var-get($theme, 'date-selected-range-focus-foreground');
                background: var-get($theme, 'date-selected-range-focus-background');
                border-color: var-get($theme, 'date-selected-range-focus-background');
            }
        }

        &[part~='first'],
        &[part~='last'] {
            color: var-get($theme, 'date-selected-foreground');
            background: var-get($theme, 'date-selected-background');
            border-color: var-get($theme, 'date-selected-border-color');

            &:hover {
                color: var-get($theme, 'date-selected-hover-foreground');
                background: var-get($theme, 'date-selected-hover-background');
                border-color: var-get($theme, 'date-selected-hover-border-color');
            }

            &:focus {
                color: var-get($theme, 'date-selected-focus-foreground');
                background: var-get($theme, 'date-selected-focus-background');
                border-color: var-get($theme, 'date-selected-focus-border-color');
            }
        }
    }

    &[part~='current'] {
        color: var-get($theme, 'date-current-foreground');
        background: var-get($theme, 'date-current-background');
        box-shadow: inset 0 0 0 rem(1px) var-get($theme, 'date-current-outline');

        &:hover {
            color: var-get($theme, 'date-current-hover-foreground');
            background: var-get($theme, 'date-current-hover-background');
            box-shadow: inset 0 0 0 rem(1px) var-get($theme, 'date-current-hover-outline');
        }

        &:focus {
            color: var-get($theme, 'date-current-focus-foreground');
            background: var-get($theme, 'date-current-focus-background');
            box-shadow: inset 0 0 0 rem(1px) var-get($theme, 'date-current-focus-outline');
        }
    }

    &[part~='special'][part~='range'],
    &[part~='special'][part~='range'][part~='selected'],
    {
        color: var-get($theme, 'date-special-foreground');
        background: var-get($theme, 'date-special-background');

        &:hover {
            color: var-get($theme, 'date-selected-range-hover-foreground');
            background: var-get($theme, 'date-selected-range-hover-background');
        }

        &:focus {
            color: var-get($theme, 'date-selected-range-focus-foreground');
            background: var-get($theme, 'date-selected-range-focus-background');
        }
    }

    &[part~='special'] {
        color: var-get($theme, 'date-special-foreground');
        background: var-get($theme, 'date-special-background');
        font-weight: 900;

        &:hover {
            color: var-get($theme, 'date-hover-foreground');
            background: var-get($theme, 'date-hover-background');
        }

        &:focus {
            color: var-get($theme, 'date-focus-foreground');
            background: var-get($theme, 'date-focus-background');
        }
    }

    &[part~='disabled'] {
        &[part~='single'] {
            color: var-get($theme, 'date-disabled-foreground');
            background: var-get($theme, 'date-disabled-background');

            &[part~='special'] {
                color: var-get($theme, 'date-disabled-foreground');
            }
        }

        &[part~='current'] {
            color: var-get($theme, 'date-disabled-current-foreground');
            background: var-get($theme, 'date-disabled-current-background');

            &[part~='special'] {
                color: var-get($theme, 'date-disabled-foreground');
                background: var-get($theme, 'date-special-background');
            }
        }

        &[part~='range'] {
            color: var-get($theme, 'date-disabled-range-foreground');
            background: var-get($theme, 'date-disabled-range-background')
        }

        &[part~='range'][part~='curent'] {
            color: var-get($theme, 'date-disabled-current-range-foreground');
            background: var-get($theme, 'date-disabled-current-range-background')
        }
    }
}
