@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

[part~='month-inner'] {
    &:focus,
    &:hover {
        color: var-get($theme, 'ym-hover-foreground');
        background: var-get($theme, 'ym-hover-background');
    }

    &[part~='current'] {
        color: var-get($theme, 'ym-current-foreground');
        background: var-get($theme, 'ym-current-background');

        &:focus,
        &:hover {
            color: var-get($theme, 'ym-current-hover-foreground');
            background: var-get($theme, 'ym-current-hover-background');
        }
    }

    &[part~='selected'] {
        color: var-get($theme, 'ym-selected-foreground');
        background: var-get($theme, 'ym-selected-background');

        &:focus,
        &:hover {
            color: var-get($theme, 'ym-selected-hover-foreground');
            background: var-get($theme, 'ym-selected-hover-background');
        }
    }

    &[part~='selected'][part~='current'] {
        color: var-get($theme, 'ym-selected-current-foreground');
        background: var-get($theme, 'ym-selected-current-background');

        &:focus,
        &:hover {
            color: var-get($theme, 'ym-selected-current-hover-foreground');
            background: var-get($theme, 'ym-selected-current-hover-background');
        }
    }
}

[part~='year-inner'] {
    &:focus,
    &:hover {
        color: var-get($theme, 'ym-hover-foreground');
        background: var-get($theme, 'ym-hover-background');
    }

    &[part~='current'] {
        color: var-get($theme, 'ym-current-foreground');
        background: var-get($theme, 'ym-current-background');

        &:focus,
        &:hover {
            color: var-get($theme, 'ym-current-hover-foreground');
            background: var-get($theme, 'ym-current-hover-background');
        }
    }


    &[part~='selected'] {
        color: var-get($theme, 'ym-selected-foreground');
        background: var-get($theme, 'ym-selected-background');

        &:focus,
        &:hover {
            color: var-get($theme, 'ym-selected-hover-foreground');
            background: var-get($theme, 'ym-selected-hover-background');
        }
    }


    &[part~='selected'][part~='current'] {
        color: var-get($theme, 'ym-selected-current-foreground');
        background: var-get($theme, 'ym-selected-current-background');

        &:focus,
        &:hover {
            color: var-get($theme, 'ym-selected-current-hover-foreground');
            background: var-get($theme, 'ym-selected-current-hover-background');
        }
    }
}

[part~='month-inner'],
[part~='year-inner'] {
    height: var-get($theme, 'size');
    font-weight: 400;
    border-radius: var-get($theme, 'ym-border-radius');

    &:focus,
    &:focus-visible,
    &:focus-within {
        outline: none;
    }

    &[part~='current'] {
        box-shadow: inset 0 0 0 rem(1px) var-get($theme, 'ym-current-outline-color');

        &:hover {
            box-shadow: inset 0 0 0 rem(1px) var-get($theme, 'ym-current-outline-hover-color');
        }
    }

    &[part~='selected'] {
        box-shadow: inset 0 0 0 rem(1px) var-get($theme, 'ym-selected-outline-color');

        &:hover {
            box-shadow: inset 0 0 0 rem(1px) var-get($theme, 'ym-selected-hover-outline-color');
        }
    }

    &[part~='selected'][part~='current'] {
        box-shadow: 0 0 0 rem(1px) var-get($theme, 'ym-selected-current-outline-color');

        &:hover {
            box-shadow: 0 0 0 rem(1px) var-get($theme, 'ym-selected-current-outline-color');
        }
    }
}


