@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

[part~='month-inner'] {
    &:hover {
        color: var-get($theme, 'month-hover-foreground');
        background: var-get($theme, 'month-hover-background');
    }

    // &:focus {
    //     color: var-get($theme, 'month-focus-foreground');
    //     background: var-get($theme, 'month-focus-background');
    // }

    &[part~='current'] {
        color: var-get($theme, 'month-current-foreground');
        background: var-get($theme, 'month-current-background');

        &:hover {
            color: var-get($theme, 'month-current-hover-foreground');
            background: var-get($theme, 'month-current-hover-background');
        }

        // &:focus {
        //     color: var-get($theme, 'month-current-focus-foreground');
        //     background: var-get($theme, 'month-current-focus-background');
        // }
    }

    &[part~='selected'] {
        color: var-get($theme, 'month-selected-foreground');
        background: var-get($theme, 'month-selected-background');

        &:hover {
            color: var-get($theme, 'month-selected-hover-foreground');
            background: var-get($theme, 'month-selected-hover-background');
        }

        // &:focus {
        //     color: var-get($theme, 'month-selected-focus-foreground');
        //     background: var-get($theme, 'month-selected-focus-background');
        // }
    }

    &[part~='selected'][part~='current'] {
        color: var-get($theme, 'month-selected-current-foreground');
        background: var-get($theme, 'month-selected-current-background');

        &:hover {
            color: var-get($theme, 'month-selected-current-hover-foreground');
            background: var-get($theme, 'month-selected-current-hover-background');
        }

        // &:focus {
        //     color: var-get($theme, 'month-selected-current-focus-foreground');
        //     background: var-get($theme, 'month-selected-current-focus-background');
        // }
    }
}

[part~='year-inner'] {
    &:hover {
        color: var-get($theme, 'year-hover-foreground');
        background: var-get($theme, 'year-hover-background');
    }

    // &:focus {
    //     color: var-get($theme, 'year-focus-foreground');
    //     background: var-get($theme, 'year-focus-background');
    // }

    &[part~='current'] {
        color: var-get($theme, 'year-current-foreground');
        background: var-get($theme, 'year-current-background');

        &:hover {
            color: var-get($theme, 'year-current-hover-foreground');
            background: var-get($theme, 'year-current-hover-background');
        }

        // &:focus {
        //     color: var-get($theme, 'year-current-focus-foreground');
        //     background: var-get($theme, 'year-current-focus-background');
        // }
    }


    &[part~='selected'] {
        color: var-get($theme, 'year-selected-foreground');
        background: var-get($theme, 'year-selected-background');

        &:hover {
            color: var-get($theme, 'year-selected-hover-foreground');
            background: var-get($theme, 'year-selected-hover-background');
        }

        // &:focus {
        //     color: var-get($theme, 'year-selected-focus-foreground');
        //     background: var-get($theme, 'year-selected-focus-background');
        // }
    }


    &[part~='selected'][part~='current'] {
        color: var-get($theme, 'year-selected-current-foreground');
        background: var-get($theme, 'year-selected-current-background');

        &:hover {
            color: var-get($theme, 'year-selected-current-hover-foreground');
            background: var-get($theme, 'year-selected-current-hover-background');
        }

        // &:focus {
        //     color: var-get($theme, 'year-selected-current-focus-foreground');
        //     background: var-get($theme, 'year-selected-current-focus-background');
        // }
    }
}

[part~='month-inner'],
[part~='year-inner'] {
    height: var-get($theme, 'size');
    font-weight: 400;
    border-radius: var-get($theme, 'month-year-border-radius');

    &:focus,
    &:focus-visible,
    &:focus-within {
        outline: none;
    }

    &[part~='current'] {
        box-shadow: inset 0 0 0 rem(1px) var-get($theme, 'current-outline-color');

        &:hover {
            box-shadow: inset 0 0 0 rem(1px) var-get($theme, 'current-outline-hover-color');
        }
    }

    &[part~='selected'] {
        box-shadow: inset 0 0 0 rem(1px) var-get($theme, 'selected-outline-color');

        &:hover {
            box-shadow: inset 0 0 0 rem(1px) var-get($theme, 'selected-hover-outline-color');
        }
    }

    &[part~='selected'][part~='current'] {
        box-shadow: 0 0 0 rem(1px) var-get($theme, 'selected-current-outline-color');

        &:hover {
            box-shadow: 0 0 0 rem(1px) var-get($theme, 'selected-current-outline-color');
        }
    }
}


