@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/button' as *;

$material-flat: digest-schema(map.get($dark-material-button, 'flat'));
$material-contained: digest-schema(map.get($dark-material-button, 'contained'));
$material-outlined: digest-schema(map.get($dark-material-button, 'outlined'));
$material-fab: digest-schema(map.get($dark-material-button, 'fab'));
$bootstrap-flat: digest-schema(map.get($dark-bootstrap-button, 'flat'));
$bootstrap-contained: digest-schema(map.get($dark-bootstrap-button, 'contained'));
$bootstrap-outlined: digest-schema(map.get($dark-bootstrap-button, 'outlined'));
$bootstrap-fab: digest-schema(map.get($dark-bootstrap-button, 'fab'));
$fluent-flat: digest-schema(map.get($dark-fluent-button, 'flat'));
$fluent-contained: digest-schema(map.get($dark-fluent-button, 'contained'));
$fluent-outlined: digest-schema(map.get($dark-fluent-button, 'outlined'));
$fluent-fab: digest-schema(map.get($dark-fluent-button, 'fab'));
$indigo-flat: digest-schema(map.get($dark-indigo-button, 'flat'));
$indigo-contained: digest-schema(map.get($dark-indigo-button, 'contained'));
$indigo-outlined: digest-schema(map.get($dark-indigo-button, 'outlined'));
$indigo-fab: digest-schema(map.get($dark-indigo-button, 'fab'));
