@use '../../../../../styles/utilities' as utils;

@mixin theme() {
    igc-button {
        --text-color: #{utils.color(surface, 500)};
        --hover-background: #{utils.color(primary, 300)};
        --active-background: #{utils.color(primary, 100)};
    }
}
