@use 'sass:map';
@use '../../../../../styles/utilities/index' as *;
@use '../../../../../styles/themes/schemas/material/dark' as *;

@mixin theme() {
    $flat-schema: map.get($dark-material-schema, 'button', 'flat');
    $flat-border-radius: border-radius(map.get($flat-schema, 'border-radius')...);
    $flat-theme: digest-schema(
        extend(
            $flat-schema,
            (
                border-radius: $flat-border-radius,
            )
        )
    );
    $contained-schema: map.get($dark-material-schema, 'button', 'raised');
    $contained-border-radius: border-radius(
        map.get($contained-schema, 'border-radius')...
    );
    $contained-theme: digest-schema(
        extend(
            $contained-schema,
            (
                border-radius: $contained-border-radius,
            )
        )
    );
    $fab-schema: map.get($dark-material-schema, 'button', 'fab');
    $fab-border-radius: border-radius(map.get($fab-schema, 'border-radius')...);
    $fab-theme: digest-schema(
        extend(
            $fab-schema,
            (
                border-radius: $fab-border-radius,
            )
        )
    );
    $outlined-schema: map.get($dark-material-schema, 'button', 'outlined');
    $outlined-border-radius: border-radius(
        map.get($outlined-schema, 'border-radius')...
    );
    $outlined-theme: digest-schema(
        extend(
            $outlined-schema,
            (
                border-radius: $outlined-border-radius,
            )
        )
    );

    igc-button[variant='flat'] {
        @include css-vars-from-theme($flat-theme, 'ig-button');
    }

    igc-button[variant='outlined'] {
        @include css-vars-from-theme($outlined-theme, 'ig-button');
    }

    igc-button[variant='contained'] {
        @include css-vars-from-theme($contained-theme, 'ig-button');
    }

    igc-button[variant='fab'] {
        @include css-vars-from-theme($fab-theme, 'ig-button');
    }
}
