@use 'sass:map';
@use 'styles/utilities' as *;
@use 'themes' as *;

@mixin theme() {
    $flat-theme: $indigo-flat;
    $contained-theme: $indigo-contained;
    $fab-theme: $indigo-fab;
    $outlined-theme: $indigo-outlined;

    igc-button[variant='flat'] {
        @include css-vars-from-theme($flat-theme, 'ig-button');
    }

    igc-button[variant='outlined'] {
        @include css-vars-from-theme($outlined-theme, 'ig-button');
    }

    igc-button[variant='contained'] {
        @include css-vars-from-theme($contained-theme, 'ig-button');
    }

    igc-button[variant='fab'] {
        @include css-vars-from-theme($fab-theme, 'ig-button');
    }
}
