@use 'sass:map';
@use '../../../../../styles/utilities/index' as *;
@use '../../../../../styles/themes/schemas/material/dark' as *;

@mixin theme() {
    $flat-schema: extend((name: 'ig-button'), map.get($dark-material-schema, 'button', 'flat'));
    $contained-schema: extend((name: 'ig-button'), map.get($dark-material-schema, 'button', 'raised'));
    $fab-schema: extend((name: 'ig-button'), map.get($dark-material-schema, 'button', 'fab'));
    $outlined-schema: extend((name: 'ig-button'), map.get($dark-material-schema, 'button', 'outlined'));
    $flat-theme: digest-schema($flat-schema);
    $contained-theme: digest-schema($contained-schema);
    $fab-theme: digest-schema($fab-schema);
    $outlined-theme: digest-schema($outlined-schema);

    igc-button[variant='flat'] {
        @include css-vars($flat-theme);
    }

    igc-button[variant='outlined'] {
        @include css-vars($outlined-theme);
    }

    igc-button[variant='contained'] {
        @include css-vars($contained-theme);
    }

    igc-button[variant='fab'] {
        @include css-vars($fab-theme);
    }
}
