@use 'styles/utilities' as *;
@use 'themes' as *;
@use '../light/themes' as light;

$flat-theme: $indigo-flat;
$contained-theme: $indigo-contained;
$fab-theme: $indigo-fab;
$outlined-theme: $indigo-outlined;

:host([variant='flat']) {
    @include css-vars-from-theme(diff(light.$base-flat, $flat-theme));
}

:host([variant='outlined']) {
    @include css-vars-from-theme(diff(light.$base-outlined, $outlined-theme));
}

:host([variant='contained']) {
    @include css-vars-from-theme(diff(light.$base-contained, $contained-theme));
}

:host([variant='fab']) {
    @include css-vars-from-theme(diff(light.$base-fab, $fab-theme));
}
