@use '../../../styles/utilities/index' as *;
@forward '../../../styles/utilities/index';

$padding: #{rem(8px)};
$header-gap: $padding;

// Indicator
$indicator-inner-size: #{rem(24px)};
$indicator-padding: 0;
$indicator-size: #{rem(40px)};
$indicator-box-shadow-size: #{rem(1px)};

// Separator
$separator-size: #{rem(1px)};
$separator-position: calc(($padding) + ($indicator-size / 2) - ($separator-size / 2));
$separator-color: color(gray, 300);
