@use '../../../styles/common/component';
@use '../../../styles/utilities' as *;

:host {
    flex: 1;
    position: initial;
    align-content: center;
    justify-content: center;
    min-width: 6.25rem;

    &:last-of-type {
        [part~='header'] {
            &::after {
                display: none;
            }
        }
    }
}

:host([part~='horizontal']) {
    overflow: hidden;
    flex-direction: row;
    flex-grow: 1;

    [part~='body'] {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
    }

    [part~='content'] {
        overflow: hidden;
        position: relative;
    }

    [part~='header-container'] {
        display: flex;
        align-items: center;
        position: relative;

        &::after {
            display: var(--dispaly);
            content: '';
            flex: 1;
            width: 100%;
            min-width: rem(20px);
            height: 1px;
            background: red;
        }
    }
}

:host([part~='vertical']) {
    [part~='header'] {
        margin-block-end: rem(8px);
    }

    [part~='body'] {
        margin-inline-start: rem(28px);
        padding-block-start: rem(8px);
        padding-block-end: rem(8px);
        padding-inline-end: rem(8px);
        padding-inline-start: rem(20px);
        border-left: rem(1px) solid red;
    }
}

[part~='indicator'] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(40px);
    height: rem(40px);
    padding: rem(8px);

    [name~='indicator']::slotted(span) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(24px);
        height: rem(24px);
        border-radius: 50%;
        background: #ddd;
    }
}

[part~='text'],
[part~='subtitle'],
[part~='title'] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

[part~='header'] {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: rem(8px);
    gap: rem(8px);
    overflow: hidden;

    &:hover {
        cursor: pointer;
        background: #ccc;
    }
}

[part~='body'] {
    background: #fff;
}
