@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    content-visibility: auto;
    contain: strict;

    [part='color-picker'] {
        display: flex;
        gap: rem(4px);
        align-items: center;
    }

    input[type='range'] {
        appearance: none;
        width: 100%;
    }

    [part='main-row'],
    [part='alpha-row'],
    [part='inputs-row'] {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    [part='buttons'] {
        --ig-size: 1;

        display: flex;
        margin-left: 1rem;
    }

    [part='hue'],
    [part='alpha'] {
        &::-webkit-slider-runnable-track {
            height: 0.5rem;
        }

        &::-moz-range-track {
            height: 0.5rem;
        }

        &::-webkit-slider-thumb {
            appearance: none;
            width: 1rem;
            height: 1rem;
            margin-top: calc(-0.5 * 0.5rem);
        }

        &::-moz-range-thumb {
            width: 1rem;
            height: 1rem;
            margin-top: calc(-0.5 * 0.5rem);
        }
    }

    [part='picker'] {
        display: grid;
        padding: 0.25rem;
        width: rem(300px);
        min-height: 12rem;
        grid-template-rows: 6fr 1fr;
        row-gap: 0.5rem;
    }

    [part='swatches'] {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        max-width: rem(300px);
        overflow: hidden;
    }

    [part='swatch'] {
        width: 1.5rem;
        height: 1.5rem;
    }

    // Trigger
    [part~='anchor'] {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: sizable(rem(24px), rem(30px), rem(36px));
        aspect-ratio: 1;
        padding: rem(2px);
        margin: 0;

        &::before {
            content: '';
            position: absolute;
            user-select: none;
            pointer-events: none;
            width: sizable(rem(16px), rem(22px), rem(28px));
            aspect-ratio: 1;
        }
    }

    [part~='input-mode'] {
        padding: 0;
        width: sizable(rem(16px), rem(22px), rem(28px));
        height: sizable(rem(16px), rem(22px), rem(28px));
        margin-inline: sizable(rem(12px), rem(14px), rem(16px));

        &::before {
            display: none;
        }
    }
}

:host([disabled]) {
    [part~='empty'] {
        display: none;
    }
}

:host([required]) [part='label']::after {
    content: '*';
}
