@use 'styles/utilities' as *;
@use '../../light/themes' as *;
@use '../../tabs.common' as *;
@use 'sass:map';

$theme: $indigo;

:host {
    --header-min-height: #{rem(40px)};
}

[part='selected-indicator'] {
    height: rem(1px);
    position: relative;

    span {
        background: var-get($theme, 'indicator-color');
        height: rem(3px);
        inset-block-end: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var-get($theme, 'border-color');
        inset-block-end: 100%;
        z-index: calc(map.get($tabs-z-index, 'selected-indicator') + 1);
    }
}
