@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $fluent;

igc-icon-button::part(base) {
    igc-icon {
        color: var-get($theme, 'button-color');
    }
}

igc-icon-button[disabled]::part(base) {
    background: inherit;
}
