@use 'styles/utilities' as *;
@use '../../light/themes' as *;
@use '../../tabs.common' as *;
@use 'sass:map';

$theme: $indigo;

:host {
    --header-min-height: #{rem(40px)};
    --scroll-btn-size: #{rem(40px)};
    --nav-btn-border-color: #{var-get($theme, 'border-color')};
}

[part='selected-indicator'] {
    $indicator-height: rem(1px);

    height: $indicator-height;
    position: relative;

    span {
        background: var-get($theme, 'indicator-color');
        height: rem(3px);
        inset-block-end: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: $indicator-height;
        inset-block-end: 100%;
    }
}

[part='start-scroll-button'],
[part='end-scroll-button'] {
    --hover-background: #{var-get($theme, 'button-background')};
    --focus-background: #{var-get($theme, 'button-background')};
    --active-background: #{var-get($theme, 'button-background')};

    &:active,
    &:hover {
        --border-color: #{var-get($theme, 'button-background')};
    }
}

igc-icon-button:hover::part(base) {
    background-color: var-get($theme, 'button-hover-background');

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 1;
    }
}

igc-icon-button::part(base) {
    overflow: hidden;
}

igc-icon-button[disabled]::part(base), 
igc-icon-button:disabled::part(base) {
    border-bottom: rem(1px) solid var(--nav-btn-border-color);
}

igc-icon-button::part(icon) {
    --size: #{rem(16px)};

    z-index: 2;
}
