@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

[part='start-scroll-button'],
[part='end-scroll-button'] {
    --foreground: #{var-get($theme, 'button-color')};
    --background: #{var-get($theme, 'button-background')};
    --hover-foreground: #{var-get($theme, 'button-hover-color')};
    --hover-background: #{var-get($theme, 'button-hover-background')};
    --focus-foreground: #{var-get($theme, 'button-hover-color')};
    --focus-background: #{var-get($theme, 'button-hover-background')};
    --active-foreground: #{var-get($theme, 'button-hover-color')};
    --active-background: #{var-get($theme, 'button-hover-background')};
    --border-color: #{var-get($theme, 'button-background')};
    --disabled-foreground: #{var-get($theme, 'button-disabled-color')};
    --disabled-background: #{var-get($theme, 'item-background')};

    [part~='base'] {
        transition: all 0ms;
    }

    &:active,
    &:hover {
        --border-color: #{var-get($theme, 'button-hover-background')};
    }
}

:host([alignment='start']) {
    [part~='inner']:not([part~='scrollable']) {
        &::after {
            background: var-get($theme, 'item-background');
        }
    }
}

:host([alignment='center']) {
    [part~='inner']:not([part~='scrollable']) {
        &::before,
        &::after {
            background: var-get($theme, 'item-background');
        }
    }
}

:host([alignment='end']) {
    [part~='inner']:not([part~='scrollable']) {
        &::before {
            background: var-get($theme, 'item-background');
        }
    }
}

igc-icon-button::part(icon) {
    --size: #{rem(24px)};
}
