@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

[part='header'] {
    background: var-get($theme, 'tile-background');
    border-top-left-radius: var-get($theme, 'border-radius');
    border-top-right-radius: var-get($theme, 'border-radius');
}

[part='title'] {
    color: var-get($theme, 'title-color');
}