@use 'styles/utilities' as *;

:host {
    padding-inline: pad-inline(rem(8px), rem(12px), rem(16px));
    padding-block: pad-block(rem(4px), rem(6px), rem(8px));
    gap: rem(8px);

    ::slotted(igc-icon),
    ::slotted(igc-avatar) {
        --ig-size: 2;
    }
}

[part='title'] {
    @include type-style('body-2');
}

[part='end'] {
    gap: sizable(rem(4px), rem(6px), rem(8px));
}
