@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $fluent;

:host {
    border-bottom: rem(1px) solid var-get($theme, 'border-color');
}

:host(:last-of-type) {
    border-bottom: none;
}

[part='title'] {
    @include type-style('caption');
}

[name='start']::slotted(*) {
    margin-inline-end: pad(rem(16px));
}

[name='end']::slotted(*) {
    margin-inline-start: pad(rem(16px));
}
