@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

:host {
    border-radius: var-get($theme, 'item-border-radius');
    color: var-get($theme, 'item-text-color');
    background: var-get($theme, 'item-background');
}

::slotted(igc-icon) {
    color: var-get($theme, 'item-action-color');
}

:host(:hover),
:host(:focus-within) {
    background: var-get($theme, 'item-background-hover');

    ::slotted(igc-icon) {
        color: var-get($theme, 'item-action-color-hover');
    }

    [part='title'] {
        color: var-get($theme, 'item-title-color-hover');
    }

    [part='subtitle'] {
        color: var-get($theme, 'item-subtitle-color-hover');
    }

    [part='start'] {
        color: var-get($theme, 'item-thumbnail-color-hover');
    }

    [part='end'] {
        color: var-get($theme, 'item-action-color-hover');
    }
}

[part='title'] {
    color: var-get($theme, 'item-title-color');
}

[part='subtitle'] {
    color: var-get($theme, 'item-subtitle-color');
}

[part='start'] {
    color: var-get($theme, 'item-thumbnail-color');
}

[part='end'] {
    color: var-get($theme, 'item-action-color');
}
