@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--symbol-size);
    height: var(--symbol-size);
}

[part~='symbol'] {
    position: absolute;
    display: flex;
    color: inherit;
    align-items: center;
    justify-content: center;
    width: var(--symbol-size);
    height: var(--symbol-size);
    min-width: var(--symbol-size);
    min-height: var(--symbol-size);
    font-size: var(--symbol-size);
    font-family: sans-serif;
    line-height: 100%;
    letter-spacing: 0;

    igc-icon {
        --size: var(--symbol-size);
    }
}

[part='symbol full'] {
    color: var(--symbol-full-color);
}

[part='symbol empty'] {
    color: var(--symbol-empty-color);
}

::slotted(*) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

::slotted(igc-icon) {
    --size: var(--symbol-size) !important;
}

slot:not([name])::slotted(:not(igc-icon)) {
    filter: var(--disabled-symbol-full-filter, grayscale(0));
}

[name='empty']::slotted(:not(igc-icon)) {
    filter: var(--disabled-symbol-empty-filter, grayscale(1));
}

