@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: inline-flex;
    font-family: var(--ig-font-family);
    align-items: flex-start;
    flex-direction: column;
}

[part='base'] {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    flex-wrap: wrap;
}

[part~='symbols'] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: pad(rem(2px));
    gap: rem(2px);
    inset-inline-start: 0;
}

[part~='label'] {
    padding-inline-start: pad-inline(rem(4px));
    height: auto;
    width: auto;
    min-height: 0;
    min-width: 0;
    margin: 0;
}

:host(:not(:disabled, [disabled], [readonly])) {
    [part~='symbols'] {
        cursor: pointer;
    }
}

:host([disabled]),
:host(:disabled) {
    [part~='symbols'] {
        cursor: initial;
    }
}
