@use '../../utilities' as utils;
@use '../base/fluent' as base;

$palette: utils.palette(
    $primary: #0078d4,
    $secondary: #0078d4,
    $info: #1377d5,
    $success: #107c10,
    $warn: #797673,
    $error: #a80000,
) !default;

@include base.root-styles($palette);
