@use '../../utilities' as utils;
@use '../base/material' as base;

$palette: utils.palette(
    $primary: #09f,
    $secondary: #e41c77,
    $gray: #000,
    $surface: white,
) !default;

@include base.root-styles($palette);
