@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/card' as *;

$material: map.merge(
    digest-schema($light-card),
    (
        border-radius: border-radius(map.get($light-card, 'border-radius')...)
    )
);
$bootstrap: map.merge(
    digest-schema($bootstrap-card),
    (
        border-radius: border-radius(map.get($bootstrap-card, 'border-radius')...)
    )
);
$fluent: map.merge(
    digest-schema($fluent-card),
    (
        border-radius: border-radius(map.get($fluent-card, 'border-radius')...)
    )
);
$indigo: map.merge(
    digest-schema($indigo-card),
    (
        border-radius: border-radius(map.get($indigo-card, 'border-radius')...)
    )
);
