@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

:host {
    @include border-radius(rem(3px));

    display: flex;
    flex-direction: column;
    border: rem(1px) solid color(gray, 400);
    overflow: hidden;
    background: color(surface, 500);
    font-family: var(--ig-font-family);

    ::slotted(igc-card-actions:first-child) {
        margin-block-end: auto;
    }

    ::slotted(igc-card-actions:last-child) {
        margin-block-start: auto;
    }

    ::slotted(igc-card-actions[orientation='vertical']) {
        margin-block: initial;
    }
}

:host([elevated]) {
    border: none;
    box-shadow: var(--ig-elevation-4);
    backface-visibility: hidden;
    transition: box-shadow .1s ease-out;
}

:host([elevated]:hover),
:host([elevated]:focus-within) {
    box-shadow: var(--ig-elevation-6);
}
