@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

:host {
    display: flex;
    flex-direction: column;
    border: rem(1px) solid color(gray, 400);
    overflow: hidden;
    border-radius: clamp(0rem, calc(var(--igc-radius-factor) * 1.5rem), 1.5rem);
    background: color(surface, 500);
    font-family: var(--igc-font-family);
}

:host([elevated]) {
    border: none;
    box-shadow: var(--igc-elevation-4);
    backface-visibility: hidden;
    transition: box-shadow .1s ease-out;
}

:host([elevated]:hover),
:host([elevated]:focus-within) {
    box-shadow: var(--igc-elevation-6);
}
