@use 'styles/common/component';
@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $material;

:host {
    @include css-vars-from-theme($theme, 'ig-card');

    display: block;
    width: 100%;
    overflow: auto;
    padding: rem(16px);
    color: var-get($theme, 'content-text-color');
}

::slotted(*) {
    @include type-style('body-2');

    margin: 0;
}
