@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/badge' as *;

$material: digest-schema($light-badge);
$bootstrap: digest-schema($bootstrap-badge);
$fluent: digest-schema($fluent-badge);
$indigo: digest-schema($indigo-badge);
