@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

:host {
    display: inline-flex;
}

span {
    display: inline-flex;
    min-width: var(--size);
    min-height: var(--size);
    max-height: calc(var(--size) * 2);
    line-height: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    font-family: var(--igc-font-family);
    font-size: var(--igc-subtitle-1-font-size);
    font-weight: inherit;
}

:host(:not(:empty)) span {
    padding: rem(4px) rem(8px);
    min-width: calc(var(--size) * 2);
}

:host([variant='primary']) {
    background: color(primary, 500);
}

:host([variant='info']) {
    background: color(info, 500);
}

:host([variant='success']) {
    background: color(success, 500);
}

:host([variant='warning']) {
    background: color(warn, 500);
}

:host([variant='danger']) {
    background: color(error, 500);
}

:host([shape='rounded']) {
    border-radius: var(--size);
}

:host([shape='square']) {
    border-radius: 0;
}
