@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/calendar' as *;
@use 'components/input/themes/dark/themes' as input-theme;

$material: map.merge(digest-schema($dark-material-calendar), (
    helper-text-color: map.get(input-theme.$material, 'helper-text-color'),
    disabled-text-color: map.get(input-theme.$material, 'disabled-text-color'),
    error-secondary-color: map.get(input-theme.$material, 'error-secondary-color')
));
$bootstrap: map.merge(digest-schema($dark-bootstrap-calendar), (
    helper-text-color: map.get(input-theme.$bootstrap, 'helper-text-color'),
    disabled-text-color: map.get(input-theme.$bootstrap, 'disabled-text-color'),
    error-secondary-color: map.get(input-theme.$bootstrap, 'error-secondary-color')
));
$fluent: map.merge(digest-schema($dark-fluent-calendar), (
    helper-text-color: map.get(input-theme.$fluent, 'helper-text-color'),
    disabled-text-color: map.get(input-theme.$fluent, 'disabled-text-color'),
    error-secondary-color: map.get(input-theme.$fluent, 'error-secondary-color')
));
$indigo: map.merge(digest-schema($dark-indigo-calendar), (
    helper-text-color: map.get(input-theme.$indigo, 'helper-text-color'),
    disabled-text-color: map.get(input-theme.$indigo, 'disabled-text-color'),
    error-secondary-color: map.get(input-theme.$indigo, 'error-secondary-color')
));
