@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/calendar' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/input-group' as *;
@use '../shared/date-picker.utils' as *;

$material: digest-schema(date-picker-theme($dark-material-calendar));
$bootstrap: digest-schema(date-picker-theme($dark-bootstrap-calendar));
$fluent: digest-schema(date-picker-theme($dark-fluent-calendar));
$indigo: digest-schema(date-picker-theme($dark-indigo-calendar));
$bootstrap-input: digest-schema(input-theme($dark-bootstrap-input-group));
$fluent-input: digest-schema(input-theme($dark-fluent-input-group));
$indigo-input: digest-schema(input-theme($dark-indigo-input-group));
$material-dialog: digest-schema(dialog-theme($dark-material-calendar));
$bootstrap-dialog: digest-schema(dialog-theme($dark-bootstrap-calendar));
$fluent-dialog: digest-schema(dialog-theme($dark-fluent-calendar));
$indigo-dialog: digest-schema(dialog-theme($dark-indigo-calendar));
