@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/calendar' as *;
@use '../shared/date-picker.utils' as *;

$material: digest-schema(date-picker-theme($dark-material-calendar));
$bootstrap: digest-schema(date-picker-theme($dark-bootstrap-calendar));
$fluent: digest-schema(date-picker-theme($dark-fluent-calendar));
$indigo: digest-schema(date-picker-theme($dark-indigo-calendar));
