@use 'styles/utilities' as *;
@use 'themes' as *;
@use '../light/themes' as light;

:host {
    @include css-vars-from-theme($fluent);
    @include css-vars-from-theme($fluent-input);

    igc-dialog {
        @include css-vars-from-theme($fluent-dialog);
    }
}
