@use 'sass:map';
@use 'styles/utilities' as *;
@use 'themes' as *;
@use '../light/themes' as light;

:host {
    @include css-vars-from-theme($indigo);
    @include css-vars-from-theme($indigo-input);

    igc-dialog {
        @include css-vars-from-theme($indigo-dialog);
    }
}
