@use 'styles/utilities' as *;
@use 'themes' as *;
@use '../light/themes' as light;

:host {
    @include css-vars-from-theme($material);

    igc-dialog {
        @include css-vars-from-theme($material-dialog);
    }
}
