@use 'styles/common/component';
@use 'styles/utilities' as *;

$icon-size: rem(18px);

:host {
    --icon-size: #{$icon-size};

    display: inline-flex;
    vertical-align: middle;
    width: fit-content;
    height: fit-content;
}

::slotted(:not(igc-ripple)) {
    --icon-size: #{$icon-size};

    font-size: var(--icon-size) !important;
    vertical-align: middle;
    pointer-events: none;
}

[part='icon'] {
    --size: #{$icon-size};
}

// This prevents the igc-ripple from working.
// slot {
//     pointer-events: none;
// }

[part~='base'] {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline-style: none;
    background: transparent;
    padding: pad(4px, 5px, 6px);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    transition: box-shadow .2s ease-in, background .15s ease-out;
    transition-delay: .05s;
    font-size: var(--icon-size);
    line-height: 1;
}

:host([disabled]),
:host(:disabled) {
    pointer-events: none;
}
