@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/navdrawer' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/overlay' as *;

$base: digest-schema($dark-base-navdrawer);
$material: digest-schema($dark-material-navdrawer);
$bootstrap: digest-schema($dark-bootstrap-navdrawer);
$fluent: digest-schema($dark-fluent-navdrawer);
$indigo: digest-schema($dark-indigo-navdrawer);

// Dark Overlay Schemas
$material-overlay: digest-schema($dark-material-overlay);
$fluent-overlay: digest-schema($dark-fluent-overlay);
$bootstrap-overlay: digest-schema($dark-bootstrap-overlay);
$indigo-overlay: digest-schema($dark-indigo-overlay);
