@use 'styles/utilities' as *;
@use 'themes' as *;
@use '../../light/checkbox/themes' as light;

$theme: $material;

:host {
    @include css-vars-from-theme(diff(light.$base, $theme));
}

[part~='base']:hover {
    [part~='control']::before {
        opacity: .12;
    }
}


[part='base']:focus-visible,
[part='base focused'],
[part='base checked']:focus-visible,
[part='base checked focused'] {
    &:hover [part~='control'],
    [part~='control'] {
        &::before {
            opacity: .24;
        }
    }
}
