@use 'styles/utilities' as *;
@use 'themes' as *;
@use '../../light/checkbox/themes' as light;

$theme: $fluent;

:host {
    @include css-vars-from-theme(diff(light.$base, $theme), 'ig-checkbox');
}

:host([invalid]:hover) {
    [part~='indicator'] {
        stroke: color('error', 500);
    }
}
