@use 'sass:map';
@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $material;

:host {
    @include css-vars-from-theme($theme, 'ig-toast');

    padding: rem(16px) rem(24px);
    color: var-get($theme, 'text-color');
    background: var-get($theme, 'background');
    outline: #{rem(1px)} solid var-get($theme, 'border-color');
    box-shadow: var-get($theme, 'elevation');
    border-radius: var-get($theme, 'border-radius');
}
