@use '../../styles/common/component';
@use '../../styles/utilities' as *;

:host {
    display: block;
    overflow: hidden;
}

::slotted(*) {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
