@use '../../styles/common/component';
@use '../../styles/utilities' as *;

:host {
    display: flex;
    flex-direction: column;
    box-shadow: var(--igc-elevation-4);
    overflow: hidden;
    border-radius: rem(3px);
    background: color(surface, 500);
    transition: box-shadow .1s ease-out;
    backface-visibility: hidden;
    font-family: var(--igc-font-family);
}

:host(:hover),
:host(:focus-within) {
    box-shadow: var(--igc-elevation-6);
}

:host([outlined]) {
    box-shadow: none;
    border: 1px solid color(gray, 400);

    &:hover,
    &:focus-within {
        box-shadow: none;
    }
}
