@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: block;
    position: relative;
}

[part~='base'] {
    // resize: both;
    // overflow: auto;
    width: 100%;
    height: 100%;
    grid-column: var(--ig-col-start, unset) / span(var(--ig-col-span, 1));
    grid-row: var(--ig-row-start, unset) / span(var(--ig-row-span, 1));
}

[part='content-container'] {
    display: block;
    overflow: auto;

    ::slotted(*) {
        @include type-style('body-1');

        margin: 0;
    }
}

:host([maximized]) {
    position: absolute;
    inset: unset;
    width: 100%;
    height: 100%;
    overflow: visible;
    isolation: isolate;

    [part~='base'] {
        width: 100%;
        height: 100%;
    }
}

// [part~='drag-over'] {
//     opacity: 0.5;
//     pointer-events: none;
// }

// .resize-handle {
//     position: absolute;
//     width: 15px;
//     height: 15px;
//     right: 0;
//     bottom: 0;
//     cursor: se-resize;
//     background: rgba(0 0 0);
//     z-index: 999;
// }
