@use 'styles/common/component';
@use 'styles/utilities' as *;

[part='header'] {
    display: flex;
    align-items: center;
    gap: sizable(rem(12px), rem(16px), rem(16px));
    padding-block: sizable(rem(8px), rem(13px), rem(13px));
    padding-inline: sizable(rem(12px), rem(16px), rem(20px));
}

::slotted([slot='title']) {
    @include type-style('h6');

    margin-bottom: 0;
}

[part='actions'] {
    display: flex;
    gap: rem(8px);
    margin-inline-start: auto;
}