@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $indigo;

:host {
    --stroke-thickness: rem(3px);
    --scale-factor: 3.4;
}

[part~='fill'] {
    stroke-width: var(--stroke-thickness);
}
