@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use '../../animations' as *;
@use '../../vars' as *;

$theme: $fluent;

:host {
    --stroke-thickness: 2px;
    --scale-factor: 2.75;
}

[part~='label'],
[part~='value'] {
    font-weight: 700;
}

[part~='fill'] {
    stroke-width: var(--stroke-thickness);
}

[part~='svg'][part~='indeterminate'] {
    animation: none;

    [part~='fill'] {
        stroke-linecap: round;
        animation: 2s linear 0s infinite normal none running indeterminate-circular-fluent
    }
}

:host(:dir(rtl)),
:host([dir='rtl']) {
    [part~='svg'][part~='indeterminate'] [part~='fill'] {
        animation-name: indeterminate-circular-fluent-rtl;
    }
}
