@use 'styles/utilities' as *;

// TODO If possible make the animation the same as the MS fluent

:host {
    --stroke-thickness: 1.5px;
}

[part~='label'],
[part~='value'] {
    font-weight: 700;
    letter-spacing: normal;
}
