@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $indigo;

:host {
    // Do not use rem values here
    // This will break the component in Safari
    // https://github.com/IgniteUI/igniteui-webcomponents/issues/377
    --stroke-thickness: 3px;
    --scale-factor: 3.4;
}

[part~='fill'] {
    stroke-width: var(--stroke-thickness);
}
