@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $material;

:host {
    // Do not use rem values here
    // This will break the component in Safari
    // https://github.com/IgniteUI/igniteui-webcomponents/issues/377
    --stroke-thickness: 1.3px;
    --circular-size: calc(#{var-get($theme, 'diameter')} - var(--stroke-thickness));
    --scale-factor: 2.95;
}

[part~='label'],
[part~='value'] {
    // stylelint-disable-next-line
    font-size: round(calc(#{var-get($theme, 'diameter')} / var(--scale-factor) - var(--stroke-thickness)), 1px);
}

[part~='label'] {
    color: var-get($theme, 'text-color');
}

[part~='track'] {
    stroke: var-get($theme, 'base-circle-color');
}

// Mixin for Gradient Colors
@mixin gradient-variant($variant, $color) {
    :host([variant='#{$variant}']) [part~='gradient_start'],
    :host([variant='#{$variant}']) [part~='gradient_end'] {
        stop-color: $color;
    }
}

// Default Gradient Colors
[part~='gradient_start'],
[part~='gradient_end'] {
    stop-color: var-get($theme, 'progress-circle-color');
}

// Apply Gradient Variants
@include gradient-variant('danger', color(error, 500));
@include gradient-variant('warning', color(warn, 500));
@include gradient-variant('info', color(info, 500));
@include gradient-variant('success', color(success, 500));
