@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $fluent;

// TODO If possible make the animation the same as the MS fluent

:host {
    --stroke-thickness: 2px;
    --scale-factor: 2.75;
    --circular-size: calc(#{var-get($theme, 'diameter')} - 2px);
}

[part~='label'],
[part~='value'] {
    font-weight: 700;
}

[part~='fill'] {
    stroke-width: var(--stroke-thickness);
}
