@use '../../styles/common/component';
@use '../../styles/utilities' as *;

$size: rem(20px);

svg {
    height: 100%;
    width: 100%;
}

:host {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--size, $size);
    height: var(--size, $size);
    fill: currentcolor;
}

:host([size='small']) {
    --size: #{rem(16px)};
}

:host([size='medium']) {
    --size: #{$size};
}

:host([size='large']) {
    --size: #{rem(24px)};
}

:host([mirrored]) {
    transform: scaleX(-1);
}
