@use '../../styles/common/component';
@use '../../styles/utilities' as *;

:host {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

:host([mirrored]) {
    transform: scaleX(-1);
}
