@use '../../styles/common/component';
@use '../../styles/utilities' as *;

:host {
    // TODO remove the important flag after this issue is fixed
    // https://github.com/IgniteUI/igniteui-angular/issues/13024
    --size: #{sizable(rem(16px), rem(20px), rem(24px))} !important;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
}

:host([size='small']) {
    --component-size: var(--ig-size, var(--ig-size-small));
}

:host([size='medium']) {
    --component-size: var(--ig-size, var(--ig-size-medium));
}

:host([size='large']) {
    --component-size: var(--ig-size, var(--ig-size-large));
}

svg {
    height: var(--size);
    width: var(--size);
}

:host([mirrored]) {
    transform: scaleX(-1);
}
