@use '../../styles/common/component';
@use '../../styles/utilities' as *;

svg {
    height: 100%;
    width: 100%;
}

:host {
    --size: #{sizable(rem(16px), rem(20px), rem(24px))};

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    fill: currentcolor;
}

:host([size='small']) {
    --component-size: var(--ig-size, var(--ig-size-small));
}

:host([size='medium']) {
    --component-size: var(--ig-size, var(--ig-size-medium));
}

:host([size='large']) {
    --component-size: var(--ig-size, var(--ig-size-large));
}

:host([mirrored]) {
    transform: scaleX(-1);
}
