@use '../../styles/utilities' as *;
@use 'sass:map';
@use 'sass:math';

$date-sizes: (
    large: rem(32px),
    medium: rem(28px),
    small: rem(24px)
);

$date-size-large: map.get($date-sizes, 'large');
$date-size-medium: map.get($date-sizes, 'medium');
$date-size-small: map.get($date-sizes, 'small');


:host {
    display: flex;
    flex-direction: column;
    font-family: var(--igc-font-family);

    > * {
        font-family: var(--igc-font-family);
    }
}

:host([size='large']) {
    igc-days-view {
        grid-template-columns: repeat(7, minmax($date-size-large, 1fr));
        grid-template-rows: repeat(7, minmax($date-size-large, 1fr));
    }

    igc-days-view[show-week-numbers] {
        grid-template-columns: repeat(8, minmax($date-size-large, 1fr));
    }

    igc-days-view::part(days-row) {
        min-height: $date-size-large;
    }

    igc-days-view::part(week-number-inner),
    igc-days-view::part(date-inner) {
        width: $date-size-large;
        height: $date-size-large;
    }

    igc-days-view::part(date-inner) {
        border-radius: math.div($date-size-large, 2) + rem(2px);
    }

    igc-months-view {
        grid-template-rows: repeat(4, minmax($date-size-large, 1fr));

        &::part(month-inner) {
            height: $date-size-large;
            border-radius: math.div($date-size-large, 2) + rem(2px);
        }
    }

    igc-years-view {
        grid-template-rows: repeat(5, minmax($date-size-large, 1fr));

        &::part(year-inner) {
            height: $date-size-large;
            border-radius: math.div($date-size-large, 2) + rem(2px);
        }
    }
}

:host([size='medium']) {
    igc-days-view {
        grid-template-columns: repeat(7, minmax($date-size-medium, 1fr));
        grid-template-rows: repeat(7, minmax($date-size-medium, 1fr));
    }

    igc-days-view[show-week-numbers] {
        grid-template-columns: repeat(8, minmax($date-size-medium, 1fr));
    }

    igc-days-view::part(days-row) {
        min-height: $date-size-medium;
    }

    igc-days-view::part(week-number-inner),
    igc-days-view::part(date-inner) {
        width: $date-size-medium;
        height: $date-size-medium;
    }

    igc-days-view::part(date-inner) {
        border-radius: math.div($date-size-medium, 2) + rem(2px);
    }

    igc-months-view {
        grid-template-rows: repeat(4, minmax($date-size-medium, 1fr));

        &::part(month-inner) {
            height: $date-size-medium;
            border-radius: math.div($date-size-medium, 2) + rem(2px);
        }
    }

    igc-years-view {
        grid-template-rows: repeat(5, minmax($date-size-medium, 1fr));

        &::part(year-inner) {
            height: $date-size-medium;
            border-radius: math.div($date-size-medium, 2) + rem(2px);
        }
    }
}

:host([size='small']) {
    igc-days-view {
        grid-template-columns: repeat(7, minmax($date-size-small, 1fr));
        grid-template-rows: repeat(7, minmax($date-size-small, 1fr));
    }

    igc-days-view[show-week-numbers] {
        grid-template-columns: repeat(8, minmax($date-size-small, 1fr));
    }

    igc-days-view::part(days-row) {
        min-height: $date-size-small;
    }

    igc-days-view::part(week-number-inner),
    igc-days-view::part(date-inner) {
        width: $date-size-small;
        height: $date-size-small;
    }

    igc-days-view::part(date-inner) {
        border-radius: math.div($date-size-small, 2) + rem(2px);
    }

    igc-months-view {
        grid-template-rows: repeat(4, minmax($date-size-small, 1fr));

        &::part(month-inner) {
            height: $date-size-small;
            border-radius: math.div($date-size-small, 2) + rem(2px);
        }
    }

    igc-years-view {
        grid-template-rows: repeat(6, minmax($date-size-small, 1fr));

        &::part(year-inner) {
            height: $date-size-small;
            border-radius: math.div($date-size-small, 2) + rem(2px);
        }
    }
}

[part='navigation'] {
    display: flex;
    justify-content: space-between;
    padding: rem(25px) rem(18px);
    user-select: none;

    button {
        user-select: none;
        background: transparent;
        border: none;
        color: color(gray, 800);
        font-size: rem(16px);
        padding: 0;
        transition: color 150ms ease-in-out;

        &:hover,
        &:focus {
            color: color(secondary, 500);
            cursor: pointer;
        }
    }
}

:host([orientation='vertical']) {
    [part='days-view-container'] + [part='days-view-container']  {
        [part='navigation'] {
            padding-top: 0;
        }
    }
}

:host([header-orientation='vertical']) {
    flex-direction: row;

    [part='header'] {
        justify-content: flex-start;
        width: rem(140px);
    }

    [part='header-date'] {
        flex-direction: column;
    }
}

[part='days-view-container'] {
    flex-grow: 1;
}

[part='header'] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(16px);
    background: color(secondary, 500);
    color: contrast-color(secondary, 600);
}

[part='header-date'],
[part='header-title'] {
    margin: 0;
}

[part='header-date'] {
    display: flex;
    white-space: pre-wrap;
    font-size: var(--igc-h4-font-size);
    font-weight: var(--igc-h4-font-weight);
    line-height: var(--igc-h4-line-height);
    margin-top: var(--igc-h4-margin-top);
}

[part='header-title'] {
    font-size: var(--igc-overline-font-size);
    font-weight: var(--igc-overline-font-weight);
    line-height: var(--igc-overline-line-height);
    text-transform: uppercase;
}
