@use '../../styles/utilities' as *;

$date-size-large: rem(32px);
$date-size-medium: rem(28px);
$date-size-small: rem(24px);
$calendar-background: color(surface);
$calendar-foreground: contrast-color(surface);
