@use 'sass:math';
@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $indigo;
$thumb-size: rem(12px);
$thumb-radius: math.div($thumb-size, 2);
$thumb-scale-hover: calc(16 / 12);
$thumb-label-width: rem(36px);
$thumb-label-height: rem(22px);

[part='ticks'] {
    bottom: rem(3px);

    &:first-child {
        top: rem(3px);

        [part='tick-label'] {
            top: auto;
            bottom: rem(20px);
        }
    }
}

[part='thumb-label-inner'] {
    @include type-style('subtitle-2');
    @include border-radius(rem(3px));

    min-width: $thumb-label-width;
    
    &::after {
        border-top: rem(12px) solid var-get($theme, 'label-background-color');
        top: rem(16px);
    }
}

[part='thumb-label'] {
    top: calc((#{$thumb-label-height} + rem(18px)) * -1);
    height: $thumb-label-height;
}

[part='base']:hover {
    [part='inactive'] {
        background: var-get($theme, 'base-track-hover-color');
    }

    [part='fill'] {
        background: var-get($theme, 'track-hover-color');
    }
}

[part='track'] {
    @include border-radius(rem(4px));
}

[part='track'],
[part='fill'],
[part='inactive'] {
    height: rem(2px);
    top: initial;
}

[part='steps'] {
    height: rem(2px);

    line {
        transform: none;
        stroke-width: var-get($theme, 'track-step-size');
    }
}

[part='tick-label'] {
    @include type-style('body-2');

    top: rem(20px);
    color: var-get($theme, 'tick-label-color');
    
}

[part~='thumb'] {
    border: rem(2px) solid var-get($theme, 'thumb-border-color');
    width: $thumb-size;
    height: $thumb-size;
    top: calc((#{$thumb-size} - #{$thumb-radius}) * -1);
    margin-inline-start: calc((#{$thumb-size} - #{$thumb-radius}) * -1);

    &:hover, &:active {
        transform: scale($thumb-scale-hover);
        border-color: var-get($theme, 'thumb-border-hover-color');
    }

    &:focus {
        box-shadow: 0 0 0 rem(3px) var-get($theme, 'thumb-focus-color');
    }

    &::after {
        display: none;
    }
}

:host([disabled]),
:host(:disabled) {
    [part='fill'] {
        background: var-get($theme, 'disabled-fill-track-color');
    }

    [part='steps'] {
        color: transparent;
    }

    [part='thumb'] {
        border-color: var-get($theme, 'thumb-disabled-border-color');
    }

    [part='tick'] {
        background: var-get($theme, 'disabled-base-track-color');
    }

    [part='tick-label'] {
        color: var-get($theme, 'disabled-base-track-color');
    }
}
