@use 'sass:math';
@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $material;
$ripple-size: rem(40px);
$ripple-radius: math.div($ripple-size, 2);
$thumb-size: rem(20px);
$thumb-radius: math.div($thumb-size, 2);

[part='track'],
[part='fill'] {
    height: rem(6px);
}

[part='inactive'] {
    height: rem(4px);
}

[part~='thumb'] {
    width: $thumb-size;
    height: $thumb-size;
    top: -$thumb-radius;
    margin-inline-start: -$thumb-radius;

    &::after {
        @include border-radius($ripple-radius);

        position: absolute;
        content: '';
        width: $ripple-size;
        height: $ripple-size;
        background: var-get($theme, 'thumb-color');
        top: calc(50% - #{$ripple-radius});
        inset-inline-start: calc(50% - #{$ripple-radius});
        opacity: 0;
        transform: scale(0);
        transition: transform .1s ease-out, opacity .1s ease-out;
    }

    &:hover::after {
        opacity: .12;
        transform: scale(1);
    }

    &:focus::after {
        opacity: .18;
        transform: scale(1);
    }

    &:active::after {
        opacity: .24;
    }
}

[part='tick-label'] {
    color: var-get($theme, 'tick-label-color');
}

[part~='thumb-label'] {
    margin-block-end: rem(10px);
}

:host([disabled]),
:host(:disabled) {
    [part='fill'],
    [part='tick'] {
        background: var-get($theme, 'disabled-fill-track-color');
    }

    [part='tick-label'] {
        color: var-get($theme, 'disabled-fill-track-color');
    }
}
