@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $material;

[part='inactive'] {
    background: var-get($theme, 'base-track-color');
}

[part='steps'] {
    color: var-get($theme, 'track-step-color');
}

[part='fill'] {
    background: var-get($theme, 'track-color');
}

[part='tick'] {
    background: var-get($theme, 'tick-color');
}

[part~='thumb'] {
    background: var-get($theme, 'thumb-color');
}

[part='thumb-label-inner'] {
    color: var-get($theme, 'label-text-color');
    background: var-get($theme, 'label-background-color');
    padding: 0 rem(8px);

    &::after {
        border-top: rem(10px) solid var-get($theme, 'label-background-color');
    }
}

:host([disabled]),
:host(:disabled) {
    [part~='thumb'] {
        background: var-get($theme, 'disabled-thumb-color');
    }

    [part='inactive'] {
        background: var-get($theme, 'disabled-base-track-color');
    }
}
