@use 'sass:math';
@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $indigo;

:host {
    @include css-vars-from-theme($theme, 'ig-slider');
}

$thumb-size: rem(14px);
$thumb-radius: math.div($thumb-size, 2);

[part='base']:hover {
    [part='inactive'] {
        background: var-get($theme, 'base-track-hover-color');
    }

    [part='fill'] {
        background: var-get($theme, 'track-hover-color');
    }
}

[part='fill'] {
    background: var-get($theme, 'track-color');
}

[part='inactive'] {
    background: var-get($theme, 'base-track-color');
}

[part='track'],
[part='fill'],
[part='inactive'] {
    height: rem(2px);
    top: initial;
    border-radius: initial;
}

[part='steps'] {
    color: var-get($theme, 'track-step-color');
    height: rem(2px);

    line {
        transform: none;
    }
}

[part='tick'] {
    background: var-get($theme, 'tick-color');
}

[part='tick-label'] {
    color: var-get($theme, 'tick-label-color');
}

[part~='thumb'] {
    background: var-get($theme, 'thumb-color');
    width: $thumb-size;
    height: $thumb-size;
    top: calc((#{$thumb-size} - #{$thumb-radius}) * -1);
    margin-inline-start: calc((#{$thumb-size} - #{$thumb-radius}) * -1);

    &:focus {
        box-shadow: 0 0 0 rem(3px) var-get($theme, 'thumb-focus-color');
    }

    &::after {
        display: none;
    }
}

[part='thumb-label-inner'] {
    background: var-get($theme, 'label-background-color');
    color: var-get($theme, 'label-text-color');

    &::after {
        border-top: rem(10px) solid var-get($theme, 'label-background-color');
    }
}

:host([disabled]),
:host(:disabled) {
    [part='inactive'] {
        background: var-get($theme, 'disabled-base-track-color');
    }

    [part='fill'],
    [part='tick'] {
        background: var-get($theme, 'disabled-fill-track-color');
    }

    [part~='thumb'] {
        background: var-get($theme, 'disabled-thumb-color');
    }

    [part='tick-label'] {
        color: var-get($theme, 'disabled-fill-track-color');
    }
}
