@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/avatar' as *;

$material: digest-schema($light-avatar);
$bootstrap: digest-schema($bootstrap-avatar);
$fluent: digest-schema($fluent-avatar);
$indigo: digest-schema($indigo-avatar);
