@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $material;

:host {
    @include css-vars-from-theme($base, 'ig-navbar');

    background: var-get($theme, 'background');
    color: var-get($theme, 'text-color');
    box-shadow: var(--ig-elevation-4);
}

::slotted(igc-icon) {
    color: var-get($theme, 'idle-icon-color');
}

::slotted(igc-icon:hover) {
    color: var-get($theme, 'hover-icon-color');
}
