@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $material;

:host {
    background: var-get($theme, 'background');
    color: var-get($theme, 'text-color');
    border-bottom: rem(1px) solid var-get($theme, 'border-color');
    box-shadow: var(--ig-elevation-4);
}

::slotted(igc-icon) {
    color: var-get($theme, 'idle-icon-color');
}

::slotted(igc-icon:hover) {
    color: var-get($theme, 'hover-icon-color');
}
