@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $indigo;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});

    ::slotted(igc-icon) {
        --ig-size: 1;

        color: var-get($theme, 'icon-color');
    }
}
