@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    ::slotted(label) {
        display: block;
    }
}

:host([alignment='vertical']) {
    display: flex;
    flex-direction: column;
    gap: rem(8px);
    width: max-content;

    ::slotted(label) {
        margin-block-end: rem(8px);
    }
}

:host(:state(label-before)[alignment='vertical']) {
    ::slotted(*) {
        align-self: flex-end;
    }
}

:host([alignment='horizontal']) {
    --radio-base-display: contents;

    display: grid;
    grid-template-columns: repeat(var(--layout-count), minmax(min-content, max-content));
    column-gap: rem(8px);
    align-items: start;

    ::slotted(label) {
        grid-column: 1 / -1;
    }
}
