@use '../utilities/mixins' as *;
@use '../../../node_modules/igniteui-theming/sass/themes/mixins' as *;
@use '../../../node_modules/igniteui-theming/sass/color/functions' as *;
@use '../../../node_modules/igniteui-theming/sass/typography/functions' as *;

:host {
    @include sizable();

    position: relative;
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    @include igc-scrollbar(
        var(--scrolbar-size, rem(14px)),
        var(--igc-scrollbar-track-color, color(null, gray, 200)),
        var(--igc-scrollbar-thumb-color, color(null, gray, 400))
    );
}

[hidden] {
    display: none !important;
}
