@use '../utilities/mixins' as *;

:host {
    position: relative;
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    @include igc-scrollbar(var(--scrolbar-size), var(--igc-scrollbar-track-color), var(--igc-scrollbar-thumb-color));
}

[hidden] {
    display: none !important;
}
