@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/rating' as *;

$material: digest-schema($material-rating);
$bootstrap: digest-schema($bootstrap-rating);
$fluent: digest-schema($fluent-rating);
$indigo: digest-schema($indigo-rating);
