@use 'styles/utilities' as *;
@use '../themes' as *;
@use '../../light/themes' as light;

$theme: $indigo;

:host {
    @include css-vars-from-theme(diff($base, $theme));
    @include css-vars-from-theme(diff(light.$base-overlay, $indigo-overlay));
}
