@use 'styles/utilities' as *;
@use '../themes' as *;
@use '../../light/themes' as light;

:host {
    @include css-vars-from-theme(diff(light.$base, $indigo), 'ig-nav-drawer');
    @include css-vars-from-theme(diff(light.$base-overlay, $indigo-overlay), 'ig-nav-drawer');
}
