@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/calendar' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/input-group' as input-theme;

$base: digest-schema($light-calendar);
$material: map.merge(digest-schema($material-calendar), digest-schema(input-theme.$material-input-group));
$bootstrap: map.merge(digest-schema($bootstrap-calendar), digest-schema(input-theme.$bootstrap-input-group));
$fluent: map.merge(digest-schema($fluent-calendar), digest-schema(input-theme.$fluent-input-group));
$indigo: map.merge(digest-schema($indigo-calendar), digest-schema(input-theme.$indigo-input-group));
