@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/calendar' as *;
@use '../shared/date-picker.utils' as *;

$material: digest-schema(date-picker-theme($material-calendar));
$bootstrap: digest-schema(date-picker-theme($bootstrap-calendar));
$fluent: digest-schema(date-picker-theme($fluent-calendar));
$indigo: digest-schema(date-picker-theme($indigo-calendar));
