@use 'styles/utilities' as *;

[part~='base'] {
    padding: pad-block(rem(10px)) pad-inline(rem(8px));
    gap: rem(8px);
    min-height: rem(44px);
}

[part='content'] {
    @include type-style('body-2');
}
