@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $fluent;

:host {
    --_picker-column-gap: #{sizable(rem(12px), rem(12px), rem(16px))};
    --_swatches-spacing: #{sizable(rem(16px), rem(16px), rem(24px)) rem(16px) rem(16px) rem(16px)};
    --_picker-buttons-gap: #{sizable(rem(8px), rem(4px), rem(4px))};
    --_picker-rows-grid-template-columns: #{1fr auto #{sizable(rem(60px), rem(68px), rem(80px))}};
    --_label-spacing: #{rem(8px)};
    
    igc-input::part(prefix),
    igc-input::part(suffix) {
        background: transparent !important;
    }
    
    [part~='anchor'] {
        &:focus-visible {
            &::after {
                width: calc(100% - #{rem(2px)});
                height: calc(100% - #{rem(2px)});
                inset: rem(1px);
            }
        }
    }

    [part='label'] {
        @include type-style('body-2');
    }

    ::part(helper-text) {
        grid-auto-rows: minmax(rem(18px), auto);
        margin-block-start: pad-block(rem(5px));
    }
    
    [part='inputs-row'] {
        grid-template-columns: max(sizable(rem(96px), rem(104px), rem(112px))) 1fr;
    }
}
