@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use '../../../input/themes/light/themes' as input-theme;
@use '../../../dropdown/themes/light/themes' as dropdown-theme;

$theme: $material;
$input-theme: input-theme.$material;
$dropdown-theme: dropdown-theme.$material;

:host {
    ::part(helper-text) {
        color: var-get($input-theme, 'helper-text-color');
    }

    igc-popover::part(container) {
        border-radius: var-get($dropdown-theme, 'border-radius');
    }
}

[part='base'] {
    background: var(--dd-background-color);
    border-radius: var(--dd-border-radius);
    box-shadow: var(--dd-elevation);
}

[part~='toggle-icon'] {
    background: var-get($theme, 'toggle-button-background');
    color: var-get($theme, 'toggle-button-foreground');

    igc-icon {
        color: inherit;
    }
}

:host(:focus-within) {
    [part~='toggle-icon'] {
        background: var-get($theme, 'toggle-button-background-focus--border');
        color: var-get($theme, 'toggle-button-foreground-focus');

        igc-icon {
            color: inherit;
        }
    }
}

:host([disabled]),
:host(:disabled) {
    ::part(helper-text) {
        color: var-get($input-theme, 'disabled-text-color');
    }

    [part~='toggle-icon'] {
        background: var-get($theme, 'toggle-button-background-disabled');
        color: var-get($theme, 'toggle-button-foreground-disabled');

        igc-icon {
            color: inherit;
        }
    }
}

:host(:not([disabled]):state(ig-invalid)),
:host(:not(:disabled):state(ig-invalid)) {
    ::part(helper-text) {
        color: var-get($theme, 'error-secondary-color');
    }
}

::slotted([slot='suffix']),
::slotted([slot='prefix']) {
    padding-inline: var(--prefix-suffix-padding);
}