@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use 'components/dropdown/themes/light/themes' as dropdown-theme;
@use 'components/input/themes/light/themes' as input-theme;

$theme: $fluent;
$dropdown-theme: dropdown-theme.$fluent;
$input-theme: input-theme.$fluent;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
    --select-size: var(--component-size);
    --dropdown-size: var(--component-size);

    ::part(helper-text) {
        @include type-style('caption');

        color: var-get($theme, 'helper-text-color');
        margin-block-start: pad-block(rem(5px));
        grid-auto-rows: minmax(rem(18px), auto);
    }
}

[part='base'] {
    box-shadow: var(--ig-elevation-4);
}

[part~='toggle-icon'] {
    background: var-get($theme, 'toggle-button-background');
    color: var-get($theme, 'toggle-button-foreground');

    igc-icon {
        color: inherit;
    }
}

:host(:focus-within) {
    [part~='toggle-icon'] {
        background: var-get($theme, 'toggle-button-background-focus');
    }

}

:host(:not(:state(ig-invalid)):focus-within) {
    igc-input[readonly]:not([disabled])::part(container) {
        &::before {
            box-shadow: inset 0 0 0 calc((var(--input-border-size) + #{rem(1px)})) var-get($input-theme, 'focused-border-color');
        }
    }
}

:host(:disabled),
:host([disabled]) {
    igc-validator {
        color: var-get($fluent, 'disabled-text-color');
    }

    [part~='toggle-icon'] {
        background: var-get($theme, 'toggle-button-background-disabled');
        color: var-get($theme, 'toggle-button-foreground-disabled');

        igc-icon {
            color: inherit;
        }
    }
}

