@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use 'components/dropdown/themes/light/themes' as dropdown-theme;
@use 'components/input/themes/light/themes' as input-theme;

$theme: $fluent;
$dropdown-theme: dropdown-theme.$fluent;
$input-theme: input-theme.$fluent;
$focused-border-width: rem(2px);

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
    --select-size: var(--component-size);
    --dropdown-size: var(--component-size);
}

[part='base'] {
    box-shadow: var(--ig-elevation-4);
}

igc-validator {
    margin-top: rem(5px);
    color: var-get($theme, 'helper-text-color');
}

[part~='toggle-icon'] {
    background: var-get($theme, 'toggle-button-background');
    color: var-get($theme, 'toggle-button-foreground');

    igc-icon {
        color: inherit;
    }
}

:host(:focus-within) {
    igc-input[readonly]:not([disabled])::part(container) {
        border-width: #{$focused-border-width};
    }
}

:host(:not([invalid]):focus-within) {
    igc-input[readonly]:not([disabled])::part(container) {
        border-color: var-get($input-theme, 'focused-border-color');
        border-width: #{$focused-border-width};
    }

    igc-input[readonly]:not([disabled])::part(prefix) {
        margin-inline-start: rem(-1px);
    }

    igc-input[readonly]:not([disabled])::part(suffix) {
        margin-inline-end: rem(-1px);
    }
}

:host([invalid]) {
    igc-validator {
        color: var-get($theme, 'error-secondary-color');
    }
}

:host(:disabled),
:host([disabled]) {
    igc-validator {
        color: var-get($fluent, 'disabled-text-color');
    }

    [part~='toggle-icon'] {
        background: var-get($theme, 'toggle-button-background-disabled');
        color: var-get($theme, 'toggle-button-foreground-disabled');

        igc-icon {
            color: inherit;
        }
    }
}
