@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $fluent;

:host {
    igc-dialog[open]::part(base) {
        border-radius: 0;
    }

    [part='helper-text'] {
        margin-top: rem(5px);
        padding-inline: 0;
    }
}

[part='actions'] {
    min-height: #{sizable(rem(40px), rem(48px), rem(54px))};
}
