@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use '../../../input/themes/light/themes' as input-theme;

$theme: $fluent;
$input-theme: input-theme.$fluent;

:host {
    igc-dialog[open]::part(base) {
        border-radius: 0;
    }

    [part='label'] {
        @include type-style('subtitle-2');
    }

    ::part(helper-text) {
        @include type-style('caption');

        color: var-get($input-theme, 'helper-text-color');
        grid-auto-rows: minmax(rem(18px), auto);
        margin-block-start: rem(5px);
        padding-inline-start: 0;
    }
}

:host([required]) {
    [part='label']::after {
        color: var-get($input-theme, 'error-secondary-color');
    }
}

:host(:not([disabled])[readonly]) {
    igc-date-time-input::part(prefix),
    igc-date-time-input::part(suffix) {
        background: transparent;
    }
}

:host(:not([invalid])[readonly]:hover) {
    igc-date-time-input::part(container) {
        border-color: var-get($input-theme, 'border-color');
    }
}

:host(:not([invalid])[readonly]:focus-within) {
    igc-date-time-input::part(container) {
        border-color: var-get($input-theme, 'focused-border-color');
    }
}

:host(:disabled),
:host([disabled]) {
    [part='label']::after {
        color: var-get($input-theme, 'disabled-text-color');
    }
}

[part='actions'] {
    min-height: #{sizable(rem(40px), rem(48px), rem(54px))};
}
