@use 'sass:map';
@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use '../../../input/themes/light/themes' as input-theme;

$theme: $indigo;
$input-theme: input-theme.$indigo;

:host {
    igc-dialog[open]::part(base) {
        border-radius: rem(6px);
        box-shadow: var(--ig-elevation-5);
    }

    [part~='label'] {
        @include type-style('caption');
    }

    ::part(helper-text) {
        @include type-style('caption');

        color: var-get($input-theme, 'helper-text-color');
        grid-auto-rows: minmax(rem(15px), auto);
        padding-inline-start: 0;
    }
}

:host(:focus-within) {
    [part='label'] {
        color: var-get($input-theme, 'focused-secondary-color');
    }
}

:host(:not([invalid])[readonly]) {
    igc-date-time-input::part(container) {
        border-color: var-get($input-theme, 'disabled-text-color');
    }
}

:host(:not([disabled])[invalid]),
:host(:not(:disabled)[invalid]) {
    ::part(helper-text) {
        color: var-get($input-theme, 'helper-text-color');
    }
}

[part='actions'] {
    min-height: #{sizable(rem(40px), rem(44px), rem(48px))};
    padding: rem(8px) rem(16px);
}
