@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use 'components/input/themes/light/themes' as input-theme;

$theme: input-theme.$material;

:host {
    ::part(helper-text) {
        padding-inline: pad-inline(rem(12px), rem(14px), rem(16px));
    }
}

:host([outlined]) {
    igc-date-time-input::part(notch) {
        border-block-start: rem(2px) solid transparent;
    }
}

:host([outlined][readonly]:hover) {
    igc-date-time-input::part(start),
    igc-date-time-input::part(end),
    igc-date-time-input::part(filler) {
        border-color: var-get($theme, 'border-color');
    }

    igc-date-time-input::part(notch) {
        border-bottom-color: var-get($theme, 'border-color');
    }
}

:host([outlined][readonly]) {
    igc-date-time-input:focus-within {
        &::part(start),
        &::part(end),
        &::part(filler) {
            border-color: var-get($theme, 'focused-border-color');
        }

        &::part(notch) {
            border-bottom-color: var-get($theme, 'focused-border-color');
        }
    }
}

:host(:not([outlined],[disabled])[readonly]) {
    igc-date-time-input::part(container) {
        background: var-get($theme, 'box-background-focus');
    }
}

:host(:not([outlined])[readonly]) {
    igc-date-time-input:hover {
        &::part(container) {
            border-bottom-color: var-get($theme, 'idle-bottom-line-color');

            &::after {
                background: var-get($theme, 'idle-bottom-line-color');
            }
        }
    }

    igc-date-time-input:focus-within {
        &::part(container) {
            border-bottom-color: var-get($theme, 'focused-bottom-line-color');

            &::after {
                background: var-get($theme, 'focused-bottom-line-color');
            }
        }
    }
}

:host(:not([outlined],[disabled],[readonly]):state(ig-invalid)) {
    igc-date-time-input::part(label) {
        color: var-get($theme, 'error-secondary-color');
    }

    igc-date-time-input::part(container),
    igc-date-time-input:focus-within::part(container) {
        border-color: var-get($theme, 'error-secondary-color');

        &::after {
            background: var-get($theme, 'error-secondary-color');
        }
    }
}

:host(:not([disabled],[readonly])[outlined]:state(ig-invalid)) {
    igc-date-time-input::part(label) {
        color: var-get($theme, 'error-secondary-color');
    }

    igc-date-time-input::part(start),
    igc-date-time-input::part(end),
    igc-date-time-input::part(filler) {
        border-color: var-get($theme, 'error-secondary-color');
    }

    igc-date-time-input::part(notch) {
        border-bottom-color: var-get($theme, 'error-secondary-color');
    }
}
