@use 'sass:map';
@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use '../../../input/themes/light/themes' as input-theme;

$theme: $indigo;
$input-theme: input-theme.$indigo;

:host {
    igc-dialog[open]::part(base) {
        border-radius: rem(6px);
        box-shadow: var(--ig-elevation-5);
        border: rem(1px) solid var-get($theme, 'border-color');
    }

    igc-focus-trap {
        box-shadow: 0 0 0 rem(1px) var-get($theme, 'border-color');
    }

    [part~='label'] {
        @include type-style('caption');
    }

    [part='helper-text'] {
        padding: 0;
    }
}

[part='actions'] {
    min-height: #{sizable(rem(40px), rem(44px), rem(48px))};
    padding: rem(8px) rem(16px);
}

:host(:focus-within) {
    [part='label'] {
        color: var-get($input-theme, 'focused-secondary-color');
    }
}
