<igx-grid [data]="northwindCloudCategory" primaryKey="categoryID" displayDensity="cosy" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
  <igx-column [sortable]="true" [selectable]="false"></igx-column>
  <igx-column [sortable]="true" [selectable]="false"></igx-column>
  <igx-column width="88px" [sortable]="true" [selectable]="false"></igx-column>
  <igx-column [sortable]="true" [selectable]="false"></igx-column>
  <igx-column [sortable]="true" [selectable]="false"></igx-column>
  <igx-column [sortable]="true" [selectable]="false"></igx-column>
  <igx-column field="categoryID" dataType="number" header="categoryID" [sortable]="true" [selectable]="false"></igx-column>
  <igx-column field="categoryName" dataType="string" header="categoryName" [sortable]="true" [selectable]="false"></igx-column>
  <igx-column field="description" dataType="string" header="description" [sortable]="true" [selectable]="false"></igx-column>
  <igx-column field="picture" dataType="string" header="picture" [sortable]="true" [selectable]="false"></igx-column>
</igx-grid>
