@use 'styles/utilities' as *;
@use '../themes' as *;

$theme: $fluent;

:host {
    @include css-vars-from-theme(diff($base, $theme));
    @include css-vars-from-theme(diff($base, $overlay-fluent));
}
