@use 'sass:math';
@use 'styles/common/component';
@use 'styles/utilities' as *;

$thumb-size: rem(20px);
$thumb-radius: math.div($thumb-size, 2);
$ripple-size: rem(40px);
$ripple-radius: math.div($ripple-size, 2);
$thumb-label-width: rem(40px);
$thumb-label-height: rem(30px);
$tick-width: rem(2px);

:host {
    display: block;
}

slot {
    display: none;
}

[part~='base'] {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: center;
    height: rem(48px);
    transition: all .2s ease-out;
    font-family: var(--ig-font-family);
    touch-action: pan-y pinch-zoom;
}

[part='track'] {
    @include border-radius(rem(32px));

    position: relative;
    width: 100%;
    overflow: hidden;
}

[part='fill'] {
    position: absolute;
    border-radius: inherit;
}

[part='inactive'] {
    position: absolute;
    width: 100%;
    top: rem(1px);
    transition: background .2s ease-out;
    border-radius: inherit;
}

[part='steps'] {
    position: absolute;
    width: 100%;
    height: rem(4px);
    opacity: .85;
    transition: opacity .2s ease-out;
    top: 50%;
    transform: translateY(-50%);

    svg {
        clip-path: inset(0 rem(3px) 0 rem(3px));
    }

    line {
        transform: translateY(25%);
        stroke: currentcolor;
        stroke-width: rem(3px);
        stroke-linecap: round;
    }
}

[part='ticks'] {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-between;

    &:first-child {
        bottom: auto;
        top: 0;
        align-items: flex-end;

        [part='tick-label'] {
            top: auto;
            bottom: rem(24px);
        }
    }
}

[part='tick-group'] {
    &:first-of-type {
        margin-inline-start: rem(-1px);
    }

    &:last-of-type {
        margin-inline-end: rem(-1px);
    }
}

[part='tick'] {
    height: rem(8px);
    width: $tick-width;
}

[part='tick'][data-primary='true'] {
    height: rem(16px);
}

[part='tick-label'] {
    position: absolute;
    top: rem(24px);
    line-height: .7;
    opacity: 1;
    transition: opacity .2s ease-in-out;

    @include type-style('caption');
}

[part='tick-label-inner'] {
    margin-inline-start: -50%;
}

[part='thumbs'] {
    position: absolute;
    width: 100%;
    height: 0;
    cursor: default;
    inset-inline-start: 0;
}

[part~='thumb'] {
    @include border-radius($thumb-radius);

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline-style: none;
    transition: transform .1s ease-out, border-radius .1s ease-out;
}

[part='thumb-label'] {
    position: absolute;
    top: calc((#{$thumb-label-height} + #{$thumb-size}) * -1);
    pointer-events: none;
    height: $thumb-label-height;
    display: flex;
}

[part='thumb-label-inner'] {
    @include type-style('caption');
    @include border-radius(rem(2px));

    display: flex;
    min-width: $thumb-label-width;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-inline-start: -50%;
    padding: 0 rem(2px);

    &::after {
        content: '';
        position: absolute;
        top: 85%;
        border-left: rem(10px) solid transparent;
        border-right: rem(10px) solid transparent;
    }
}

:host(:not([tick-label-rotation='0'])) {
    [part='tick-label-inner'] {
        writing-mode: vertical-rl;
        margin-inline-start: 0;
        margin-block: -50%;
    }
}

:host([tick-label-rotation='-90']) {
    [part='tick-label-inner'] {
        transform: rotate(180deg);
    }
}

:host([disabled]),
:host(:disabled) {
    user-select: none;
    pointer-events: none;
    cursor: initial;
}
