@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/drop-down' as *;

$material: digest-schema($material-drop-down);
$bootstrap: digest-schema($bootstrap-drop-down);
$fluent: digest-schema($fluent-drop-down);
$indigo: digest-schema($indigo-drop-down);
