@use 'sass:map';
@use '../../../../styles/utilities' as *;
@use 'resolved' as *;

$theme: $indigo;

:host {
    @include css-vars-from-theme($theme, 'ig-dropdown');
}

[part='base'] {
    background: var-get($theme, 'background-color');
    border-radius: var-get($theme, 'border-radius');
    box-shadow: var(--ig-elevation-3);
}
