@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

:host {
    pointer-events: auto;

    ::slotted([slot='label']) {
        @include type-category('overline');

        white-space: nowrap;
        position: relative;
        color: color(secondary, 500);
        pointer-events: none;
    }
}

:host([size='small']) {
    ::slotted(igc-dropdown-item) {
        padding: var(--igc-spacing-small) calc(var(--igc-spacing-small) * 3);
    }

    ::slotted([slot='label']) {
        padding: var(--igc-spacing-small) calc(var(--igc-spacing-small) * 2);
    }
}

:host([size='medium']) {
    ::slotted(igc-dropdown-item) {
        padding: var(--igc-spacing-medium) calc(var(--igc-spacing-medium) * 3);
    }

    ::slotted([slot='label']) {
        padding: var(--igc-spacing-medium) calc(var(--igc-spacing-medium) * 2);
    }
}

:host([size='large']) {
    ::slotted(igc-dropdown-item) {
        padding: var(--igc-spacing-large) calc(var(--igc-spacing-large) * 3);
    }

    ::slotted([slot='label']) {
        padding: var(--igc-spacing-large) calc(var(--igc-spacing-large) * 2);
    }
}
