@use '../../../../styles/utilities' as *;

$selected-item-color: var(--selected-item-color, contrast-color(gray, 200)) !default;
$padding-sm: var(--igc-spacing-small);
$padding-md: var(--igc-spacing-medium);
$padding-lg: var(--igc-spacing-large);

:host {
    --spacing: #{sizable($padding-sm, $padding-md, $padding-lg)};

    padding: var(--spacing);
}

:host(:hover),
:host([active]) {
    background: color(gray, 100);
    color: contrast-color(gray, 100);
}

:host([selected]) {
    background: color(gray, 200);
    color: $selected-item-color;
}

:host([selected]:hover),
:host([selected][active]) {
    background: color(gray, 200);
    color: $selected-item-color;
}

:host([disabled]) {
    color: color(gray, 400);
}
