@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

$header-color: var(--header-color, color(secondary, 500)) !default;

:host {
    @include type-category('overline');

    white-space: nowrap;
    position: relative;
    color: $header-color;
    pointer-events: none;
}

::slotted(*) {
    font: inherit;
}
