@use '../../../../styles/utilities' as *;

:host([size='small']) ::slotted(igc-dropdown-item),
:host([size='small']) ::slotted(igc-select-item),
:host([size='small']) ::slotted([slot='label']) {
    padding: var(--igc-spacing-small);
}

:host([size='medium']) ::slotted(igc-dropdown-item),
:host([size='medium']) ::slotted(igc-select-item),
:host([size='medium']) ::slotted([slot='label']) {
    padding: var(--igc-spacing-medium);
}

:host([size='large']) ::slotted(igc-dropdown-item),
:host([size='large']) ::slotted(igc-select-item),
:host([size='large']) ::slotted([slot='label']) {
    padding: var(--igc-spacing-large);
}
