@use 'sass:map';
@use '../../../../styles/utilities' as *;
@use '../../../../styles/themes/schemas' as *;

$schema: map.get($light-indigo-schema, 'drop-down');
$theme: digest-schema($schema);

:host {
    @include border-radius(map.get($theme, 'item-border-radius')...);

    color: color(gray, 700);
}

:host(:hover),
:host([active]) {
    background: color(primary, 500, .15);
}

:host([selected]) {
    background: color(primary, 500);
    color: contrast-color(primary, 500);
}

:host([selected]:hover),
:host([selected][active]) {
    background: color(primary, 400);
    color: contrast-color(primary, 400);
}

:host([disabled]) {
    color: color(gray, 400);
}
