@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

:host {
    @include type-category('body-2');
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    color: color(gray, 800);
}

:host(:hover),
:host(:focus) {
    background: color(gray, 200);
}

:host([selected]) {
    background: color(secondary, 100);
    color: contrast-color(secondary, 100);
}

:host([selected]:hover),
:host([selected]:focus) {
    background: color(secondary, 200);
    color: contrast-color(secondary, 200);
}

:host([disabled]) {
    color: color(gray, 500);
    cursor: default;
    pointer-events: none;
}

::slotted(*) {
    font: inherit;
}

[part='content'] {
    display: flex;
    width: 100%;
    align-items: center;
}

[part='prefix'],
[part='suffix'] {
    display: flex;
    align-items: center;
    justify-content: center;
}

[name='prefix']::slotted(*) {
    margin-inline-end: calc(var(--igc-spacing-large) * 2);
}

[name='suffix']::slotted(*) {
    margin-inline-start: calc(var(--igc-spacing-large) * 2);
}
