@use '../../../../styles/utilities' as *;

$padding-sm: var(--igc-spacing-small);
$padding-md: var(--igc-spacing-medium);
$padding-lg: var(--igc-spacing-large);

:host {
    --spacing: #{sizable($padding-sm, $padding-md, $padding-lg)};

    padding: var(--spacing);
}
