@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: flex;
    font-family: var(--ig-font-family);
}

[part='base'] {
    overflow-y: auto;
    overflow-x: hidden;
    min-width: rem(112px);
    z-index: 10005;
}

:host([size='small']) {
    --component-size: var(--ig-size, var(--ig-size-small));
}

:host([size='medium']) {
    --component-size: var(--ig-size, var(--ig-size-medium));
}

:host([size='large']) {
    --component-size: var(--ig-size, var(--ig-size-large));
}
