@use '../../../../../styles/utilities' as utils;

:host {
    --size: #{utils.sizable(utils.rem(28px), utils.rem(32px), utils.rem(36px))};
}

[part='base'] {
    @include utils.border-radius(calc(var(--size) / 2));

    &::after {
        @include utils.border-radius(calc(var(--size) / 2));
    }
}

:host([variant='fab']) {
    --size: #{utils.sizable(utils.rem(36px), utils.rem(42px), utils.rem(48px))};
}

:host(:not([disabled])[variant='flat']) [part='base'] {
    background: transparent;
    color: #{utils.color(gray, 700)};
    transition: color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:hover,
    &:focus,
    &:active {
        background: transparent;
        color: #{utils.color(gray, 900)};
    }

    &:focus,
    &:active {
        box-shadow: 0 0 0 utils.rem(3px) #{utils.color(gray, 300)};
    }
}

:host(:not([disabled])[variant='outlined']) [part='base'] {
    color: #{utils.color(gray, 700)};
    transition: color .15s ease-out, background-color .1s ease-out 0s;
    box-shadow: inset 0 0 0 2px #{utils.color(gray, 500)};
    overflow: visible;

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        transition: box-shadow .15s ease-out;
    }

    &:hover {
        color: #{utils.color(gray, 900)};
        background: #{utils.color(secondary, 500, .12)};
    }

    &:focus,
    &:active {
        background: transparent;
        color: #{utils.color(gray, 900)};
    }

    &:focus::after,
    &:active::after {
        box-shadow: 0 0 0 utils.rem(3px) #{utils.color(gray, 300)};
    }
}

:host([disabled][variant='fab']),
:host(:not([disabled])[variant='fab']),
:host([disabled][variant='contained']),
:host(:not([disabled])[variant='contained']) {
    [part='base'] {
        box-shadow: var(--ig-elevation-0);

        &:hover {
            box-shadow: var(--ig-elevation-0);
        }
    }
}

:host(:not([disabled])[variant='fab']) [part='base'],
:host(:not([disabled])[variant='contained']) [part='base'] {
    color: #{utils.contrast-color(primary, 600)};
    background: #{utils.color(primary, 500)};

    &:hover {
        color: #{utils.contrast-color(primary, 600)};
    }

    &:focus,
    &:active {
        color: #{utils.contrast-color(primary, 600)};
        box-shadow: 0 0 0 utils.rem(3px) #{utils.color(primary, 200)};
    }

    &:hover,
    &:focus,
    &:active {
        background: #{utils.color(primary, 400)};
    }
}

:host([disabled][variant='flat']) [part='base'],
:host([disabled][variant='outlined']) [part='base'] {
    background: transparent;
    box-shadow: none;
    color: #{utils.color(gray, 400)};
}

:host([disabled][variant='fab']) [part='base'],
:host([disabled][variant='contained']) [part='base'] {
    background: #{utils.color(gray, 100)};
    color: #{utils.color(gray, 400)};
}
