@use 'styles/utilities' as *;
@use 'themes' as *;

:host([variant='flat']) {
    @include css-vars-from-theme($base-flat);
}

:host([variant='outlined']) {
    @include css-vars-from-theme($base-outlined);
}

:host([variant='contained']) {
    @include css-vars-from-theme($base-contained);
}

:host([variant='fab']) {
    @include css-vars-from-theme($base-fab);
}
