@use '../../../../../styles/utilities' as *;

$text-color: var(--text-color, #{contrast-color(primary, 600)}) !default;
$hover-background: var(--hover-background, #{color(primary, 600)}) !default;
$active-background: var(--active-background, #{color(primary, 700)}) !default;

:host {
    --size: #{sizable(rem(24px), rem(32px), rem(38px))};
}

[part='base'] {
    @include border-radius(rem(2px));

    padding: 0 pad(8px, 16px, 16px);
}

// FLAT
:host(:not([disabled])[variant='flat']) [part='base'] {
    color: #{color(gray, 900)};

    &:hover {
        color: #{color(primary, 500)};
    }

    &:active {
        color: #{color(gray, 900)};
    }

    &:hover,
    &:focus,
    &:active {
        background: transparent;
    }
}

// OUTLINED
:host(:not([disabled])[variant='outlined']) [part='base'] {
    color: #{color(gray, 900)};
    transition: color .15s ease-out;
    box-shadow: 0 0 0 1px #{color(gray, 700)};

    &:hover,
    &:focus:hover {
        background: #{color(gray, 100)};
    }

    &:focus {
        background: transparent;
    }

    &:focus:active {
        background: #{color(gray, 200)};
    }

    &:hover,
    &:focus,
    &:active {
        color: #{color(gray, 900)};
    }

    &:active,
    &:focus:active,
    &:focus-visible:hover:active,
    &:focus-visible:active {
        background: #{color(gray, 200)};
    }

    &:focus-visible:hover {
        background: #{color(gray, 100)};
    }
}

// FLAT & OUTLINED
:host(:not([disabled])[variant='flat']) [part='base'],
:host(:not([disabled])[variant='outlined']) [part='base'] {
    &:focus-visible {
        position: relative;
        background: transparent;

        &::after {
            content: '';
            box-shadow: 0 0 0 1px #{color(gray, 800)};
            position: absolute;
            top: 2px;
            left: 2px;
            pointer-events: none;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
        }
    }
}

// FAB & CONTAINED
:host(:not([disabled])[variant='contained']) [part='base'],
:host(:not([disabled])[variant='fab']) [part='base'] {
    background: #{color(primary, 500)};
    color: $text-color;
    box-shadow: none;

    &:hover,
    &:focus-visible:hover {
        color: $text-color;
        background: $hover-background;
    }

    &:focus,
    &:active {
        color: $text-color;
    }

    &:active,
    &:focus-visible:active {
        background: $active-background;
    }

    &:focus-visible {
        position: relative;

        &::after {
            content: '';
            box-shadow: 0 0 0 1px #{contrast-color(primary, 600)};
            position: absolute;
            top: 3px;
            left: 3px;
            pointer-events: none;
            width: calc(100% - 6px);
            height: calc(100% - 6px);
        }
    }
}

:host([variant='fab']) [part='base'] {
    @include border-radius(rem(14px));

    &::after {
        @include border-radius(rem(12px));
    }
}

// DISABLED START
:host([disabled][variant='flat']) [part='base'] {
    color: #{color(gray, 400)};
    background: transparent;
}

:host([disabled][variant='fab']) [part='base'],
:host([disabled][variant='contained']) [part='base'] {
    color: #{color(gray, 400)};
    background: #{color(gray, 100)};
}

:host([disabled][variant='outlined']) [part='base'] {
    box-shadow: none;
    color: #{color(gray, 500, 8)};
    background: #{color(gray, 200)};
}

// DISABLED END
