@use 'styles/utilities' as *;
@use 'themes' as *;

$flat-theme: $indigo-flat;
$contained-theme: $indigo-contained;
$fab-theme: $indigo-fab;
$outlined-theme: $indigo-outlined;

:host([variant='flat']) {
    @include css-vars-from-theme($flat-theme, 'ig-button');
}

:host([variant='outlined']) {
    @include css-vars-from-theme($outlined-theme, 'ig-button');
}

:host([variant='contained']) {
    @include css-vars-from-theme($contained-theme, 'ig-button');
}

:host([variant='fab']) {
    @include css-vars-from-theme($fab-theme, 'ig-button');
}
