@use 'styles/utilities' as *;

[part='title']::slotted(*),
[part='subtitle']::slotted(*) {
    @include type-style('body-2');
}

[part~='indicator'] {
    igc-icon {
        --ig-size: 1;
    }
}

[part='title']::slotted(*) {
    margin-bottom: pad-block(2px);
}

[part='header'] {
    padding-inline: pad-inline(16px);
    padding-block: pad-block(10px);
}

[part~='content'] {
    > slot {
        padding: pad(16px);
        padding-block-start: pad-block(4px);
    }
}

:host([indicator-position='start']) [part~='indicator'] {
    margin-inline-end: pad-inline(8px);
}

:host([indicator-position='end']) [part~='indicator'] {
    margin-inline-start: pad-inline(8px);
}
