@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $fluent;
$group-item-border-thickness: rem(1px);

:host {
    [part~='toggle'] {
        $icon-size: rem(16px);

        --ig-icon-size: #{$icon-size};
        --igx-icon-size: #{$icon-size};

        min-height: $fluent-flat-btn-size;
        border-width: $group-item-border-thickness;
        padding-inline: pad-inline(rem(16px));
        padding-block: pad-block(rem(7px));
    }
}
