@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $indigo;
$group-item-border-thickness: rem(1px);

:host {
    --button-icon: #{rem(16px)};

    [part~='toggle'] {
        @include type-style(body-2);

        min-height: $indigo-flat-btn-size;
        border-width: $group-item-border-thickness;
        padding-inline: rem(8px);
    }

    ::slotted(igc-icon) {
        --size: var(--button-icon) !important;
    }
}

:host(:focus) {
    z-index: 2;

    [part~='toggle'] {
        box-shadow: 0 0 0 rem(3px) var-get($theme, 'idle-shadow-color');
    }
}

:host([selected]:focus) {
    [part~='toggle'] {
        box-shadow: 0 0 0 rem(3px) var-get($theme, 'selected-shadow-color');
    }
}

:host([selected]:disabled),
:host([selected][disabled]) {
    [part~='toggle'] {
        color: var-get($theme, 'disabled-selected-text-color');
        background: var-get($theme, 'disabled-selected-background');
        border: none;

        &::before {
            display: none;
        }
    }

    ::slotted(igc-icon) {
        color: var-get($theme, 'disabled-selected-icon-color');
    }
}
