@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $fluent;
$group-item-border-thickness: rem(1px);
$outline-btn-indent: rem(2px);

:host(:focus) {
    [part~='toggle'] {
        background: var-get($theme, 'item-background');
    }
}

:host(:active) {
    [part~='toggle'] {
        background: var-get($theme, 'item-focused-background');
    }
}

:host {
    [part~='toggle'] {
        min-height: $fluent-flat-btn-size;
        border-width: $group-item-border-thickness;

        &:focus-visible {
            background: var-get($theme, 'item-background');

            &::after {
                content: '';
                position: absolute;
                inset-block-start: $outline-btn-indent;
                inset-inline-start: $outline-btn-indent;
                pointer-events: none;
                width: calc(100% - (#{$outline-btn-indent} * 2));
                height: calc(100% - (#{$outline-btn-indent} * 2));
                box-shadow: 0 0 0 rem(1px) var-get($theme, 'item-focused-border-color');
            }

            &:hover {
                background: var-get($theme, 'item-hover-background');
            }

            &:active {
                background: var-get($theme, 'item-focused-background');
            }
        }
    }
}

:host([selected]:hover),
:host([selected]:focus) {
    [part~='toggle'] {
        background: var-get($theme, 'item-selected-background');
    }
}

:host([selected]:active) {
    [part~='toggle'] {
        background: var-get($theme, 'item-selected-hover-background');
    }
}

:host([selected]) {
    [part~='toggle'] {
        &:focus-visible {
            background: var-get($theme, 'item-selected-background');

            &:active {
                background: var-get($theme, 'item-selected-hover-background');
            }
        }
    }
}
