@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $fluent;
$group-item-border-thickness: rem(1px);
$outline-btn-indent: rem(2px);

:host {
    [part~='toggle'] {
        min-height: $fluent-flat-btn-size;
        border-width: $group-item-border-thickness;
    }

    [part='toggle focused'] {
        border-color: var-get($theme, 'item-border-color');

        &::after {
            content: '';
            position: absolute;
            inset-block-start: $outline-btn-indent;
            inset-inline-start: $outline-btn-indent;
            pointer-events: none;
            width: calc(100% - (#{$outline-btn-indent} * 2));
            height: calc(100% - (#{$outline-btn-indent} * 2));
            box-shadow: 0 0 0 rem(1px) var-get($theme, 'item-focused-border-color');
        }
    }
}
