@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $indigo;
$group-item-border-thickness: rem(1px);

:host {
    [part~='toggle'] {
        min-height: $indigo-flat-btn-size;
        border-width: $group-item-border-thickness;
        padding-inline: pad-inline(rem(8px), rem(12px), rem(12px));
        padding-block: pad-block(rem(1px), rem(2px), rem(3px));
    }
}

:host(:focus) {
    z-index: 2;

    [part~='toggle'] {
        box-shadow: 0 0 0 rem(3px) var-get($theme, 'idle-shadow-color');
    }
}

:host([selected]:focus) {
    [part~='toggle'] {
        box-shadow: 0 0 0 rem(3px) var-get($theme, 'selected-shadow-color');
    }
}
