@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

:host([selected]) [part='toggle focused'] {
    color: var-get($theme, 'item-selected-hover-text-color');

    ::slotted(igc-icon) {
        color: var-get($theme, 'item-selected-hover-icon-color');
    }
}
