@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $indigo;
$group-item-border-thickness: rem(1px);

:host {
    --button-icon: #{rem(16px)};

    [part~='toggle'] {
        @include type-style(body-2);

        min-height: $indigo-flat-btn-size;
        border-width: $group-item-border-thickness;
        padding-inline: rem(8px);
    }

    ::slotted(igc-icon) {
        --size: var(--button-icon) !important;
    }

    [part~='toggle']:focus-visible {
        z-index: 2;
        box-shadow: 0 0 0 rem(3px) var-get($theme, 'idle-shadow-color');
        border-color: var-get($theme, 'item-border-color');
        color: var-get($theme, 'item-focused-text-color');
    }
}

:host(:hover) {
    [part~='toggle'] {
        z-index: 1;
    }

    [part~='toggle']:focus-visible {
        border-color: var-get($theme, 'item-hover-border-color');
        color: var-get($theme, 'item-hover-text-color');
    }
}

:host(:active) {
    [part~='toggle'] {
        color: var-get($theme, 'item-hover-text-color');
        background: var-get($theme, 'item-hover-background');
        border-color: var-get($theme, 'item-hover-border-color');
        z-index: 2;

        ::slotted(igc-icon) {
            color: var-get($theme, 'item-hover-icon-color');
        }
    }
}

:host([selected]:hover) {
    [part~='toggle']:focus-visible {
        border-color: var-get($theme, 'item-selected-hover-border-color');
    }
}

:host([selected]) {
    [part~='toggle']:focus-visible {
        box-shadow: 0 0 0 rem(3px) var-get($theme, 'selected-shadow-color');
        border-color: var-get($theme, 'item-selected-border-color');
        color: var-get($theme, 'item-selected-hover-text-color');
    }
}

:host([selected]:active) {
    [part~='toggle'] {
        color: var-get($theme, 'item-selected-hover-text-color');
        background: var-get($theme, 'item-selected-hover-background');
        border-color: var-get($theme, 'item-selected-hover-border-color');
    }

    ::slotted(igc-icon) {
        color: var-get($theme, 'item-selected-hover-icon-color');
    }
}

:host([selected]:disabled),
:host([selected][disabled]) {
    [part~='toggle'] {
        color: var-get($theme, 'disabled-selected-text-color');
        background: var-get($theme, 'disabled-selected-background');
        border: none;

        &::before {
            display: none;
        }
    }

    ::slotted(igc-icon) {
        color: var-get($theme, 'disabled-selected-icon-color');
    }
}
