@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $material;

:host {
    @include css-vars-from-theme(diff($base, $theme));
}

@mixin chip-outlined-variants-light($variant, $variant-color) {
    :host([outlined][variant='#{$variant}']) button,
    :host([selected][outlined][variant='#{$variant}']) button:not([disabled]) {
        border-color: color($variant-color, 800);
        color: contrast-color($variant-color, 100);
    }
}

@include chip-outlined-variants-light('primary', primary);
@include chip-outlined-variants-light('info', info);
@include chip-outlined-variants-light('success', success);
@include chip-outlined-variants-light('warning', warn);
@include chip-outlined-variants-light('danger', error);
