@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $indigo;

:host {
    @include css-vars-from-theme(diff($base, $theme));
}

:host([variant='info']) button,
:host([selected][variant='info']) button:not([disabled]) {
    &:focus {
        box-shadow: 0 0 0 rem(3px) color(info, 100);
    }
}

:host([variant='success']) button,
:host([selected][variant='success']) button:not([disabled]) {
    &:focus {
        box-shadow: 0 0 0 rem(3px) color(success, 200);
    }
}

:host([variant='warning']) button,
:host([selected][variant='warning']) button:not([disabled]) {
    color: color(gray, 900);

    &:focus {
        color: color(gray, 900);
        box-shadow: 0 0 0 rem(3px) color(warn, 100);
    }

    &:hover {
        color: color(gray, 900);
    }
}

:host([variant='warning']) button[disabled],
:host([selected][variant='warning']) button[disabled] {
    color: color(gray, 900);
}

:host([variant='danger']) button,
:host([selected][variant='danger']) button:not([disabled]) {
    &:focus {
        box-shadow: 0 0 0 rem(3px) color(error, 100);
    }
}

:host([variant='primary']) button[disabled],
:host([selected][variant='primary']) button[disabled] {
    color: contrast-color(primary, 900, .4);
}

@mixin chip-outlined-variants-light($variant, $variant-color, $border-shade) {
    :host([outlined][variant='#{$variant}']) button,
    :host([selected][outlined][variant='#{$variant}']) button:not([disabled]) {
        border-color: color($variant-color, $border-shade);
        color: color(gray, 900);

        &:hover {
            @if $variant == 'info' or $variant == 'warning' {
                background: color($variant-color, 400, .30);
            } @else {
                background: color($variant-color, $border-shade, .30);
            }
        }

        &:focus {
            background: transparent;
        }
    }

    :host([outlined][variant='#{$variant}']) button[disabled],
    :host([selected][outlined][variant='#{$variant}']) button[disabled] {
        background: transparent;
        border-color: color($variant-color, $border-shade);
        color: color(gray, 900);
    }
}

@include chip-outlined-variants-light('primary', primary, 400);
@include chip-outlined-variants-light('info', info, 500);
@include chip-outlined-variants-light('success', success, 700);
@include chip-outlined-variants-light('warning', warn, 600);
@include chip-outlined-variants-light('danger', error, 500);
