@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $indigo;

:host {
    @include css-vars-from-theme($theme, 'ig-chip');
}

:host button {
    border-radius: var-get($theme, 'border-radius');
    border: rem(1px) solid var-get($theme, 'border-color');
    background: var-get($theme, 'background');
    color: var-get($theme, 'text-color');
    height: var-get($theme, 'size');

    &:hover {
        background: var-get($theme, 'hover-background');
        color: var-get($theme, 'hover-text-color');
    }

    &:focus {
        background: var-get($theme, 'focus-background');
        color: var-get($theme, 'focus-text-color');
        outline: rem(3px) solid var-get($theme, 'focus-outline-color');
    }

    &[disabled] {
        border-color: var-get($theme, 'disabled-border-color');
        background: var-get($theme, 'disabled-background');
        color: var-get($theme, 'disabled-text-color');
    }
}

:host([selected]) button:not([disabled]) {
    border-color: transparent;
    background: var-get($theme, 'selected-background');
    color: var-get($theme, 'selected-text-color');

    &:hover {
        background: var-get($theme, 'hover-selected-background');
    }

    &:focus {
        outline: rem(3px) solid var-get($theme, 'focus-selected-outline-color');
    }
}

:host([variant='primary']) button,
:host([selected][variant='primary']) button:not([disabled]) {
    border-color: transparent;

    &:hover {
        background: color(primary, 400);
        color: contrast-color(primary, 400);
    }

    &:focus {
        background: color(primary, 500);
        color: contrast-color(primary, 500);
        outline: rem(3px) solid var-get($theme, 'focus-selected-outline-color');
    }
}

:host([variant='primary']) button[disabled] {
    background: color(primary, 200);
    color: contrast-color(primary, 400);
}

:host([variant='info']) button,
:host([selected][variant='info']) button:not([disabled]) {
    border-color: transparent;

    &:hover {
        background: color(info, 400);
        color: contrast-color(info, 400);
    }

    &:focus {
        background: color(info, 500);
        color: contrast-color(info, 500);
        outline: rem(3px) solid color(info, 200);
    }
}

:host([variant='info']) button[disabled] {
    background: color(info, 200);
    color: contrast-color(info, 400);
}

:host([variant='success']) button,
:host([selected][variant='success']) button:not([disabled]) {
    border-color: transparent;

    &:hover {
        background: color(success, 400);
        color: contrast-color(success, 400);
    }

    &:focus {
        background: color(success, 500);
        color: contrast-color(success, 500);
        outline: rem(3px) solid color(success, 200);
    }
}

:host([variant='success']) button[disabled] {
    background: color(success, 200);
    color: contrast-color(success, 800);
}

:host([variant='warning']) button,
:host([selected][variant='warning']) button:not([disabled]) {
    border-color: transparent;

    &:hover {
        background: color(warn, 400);
        color: contrast-color(warn, 400);
    }

    &:focus {
        background: color(warn, 500);
        color: contrast-color(warn, 500);
        outline: rem(3px) solid color(warn, 200);
    }
}

:host([variant='warning']) button[disabled] {
    background: color(warn, 200);
    color: contrast-color(warn, 900);
}

:host([variant='danger']) button,
:host([selected][variant='danger']) button:not([disabled]) {
    border-color: transparent;

    &:hover {
        background: color(error, 400);
        color: contrast-color(error, 400);
    }

    &:focus {
        background: color(error, 500);
        color: contrast-color(error, 500);
        outline: rem(3px) solid color(error, 200);
    }
}

:host([variant='danger']) button[disabled] {
    background: color(error, 200);
    color: contrast-color(error, 400);
}
