@use 'sass:map';
@use '../shared-calendar' as *;
@use 'styles/utilities' as *;
@use '../light-themes' as *;

$theme: $indigo;

:host(igc-calendar) {
    @include css-vars-from-theme($theme, 'ig-calendar');

    border-radius: var-get($theme, 'border-radius');

    igc-days-view::part(date-inner) {
        border-radius: var-get($theme, 'date-border-radius');
    }

    igc-months-view::part(month-inner),
    igc-years-view::part(year-inner) {
        border-radius: var-get($theme, 'month-border-radius');
    }
}
