@use '../../../../styles/utilities' as *;

$focused-border-width: rem(2px);
$focused-height: calc(var(--size) - #{($focused-border-width * 2)});

[part='helper-text'] {
    margin-top: rem(5px);

    ::slotted([slot='helper-text']) {
        color: color(gray, 700);
    }
}

:host {
    --size: #{sizable(rem(32px), rem(40px), rem(48px))};
}

:host(:focus-within) {
    igc-input[readonly]:not([disabled])::part(container) {
        border-width: #{$focused-border-width};
    }
}

:host(:not([invalid]):focus-within) {
    igc-input[readonly]:not([disabled])::part(container) {
        border-color: color(primary, 500);
        border-width: #{$focused-border-width};
    }

    igc-input[readonly]:not([disabled])::part(prefix) {
        margin-inline-start: rem(-1px);
    }

    igc-input[readonly]:not([disabled])::part(suffix) {
        margin-inline-end: rem(-1px);
    }

    igc-input[readonly]:not([disabled])::part(input) {
        height: $focused-height;
    }
}

:host([disabled]),
:host(:disabled) {
    [part='helper-text'] ::slotted([slot='helper-text']) {
        color: color(gray, 500);
    }
}
