@use '../../../dropdown/themes/light/dropdown.base' as *;
@use '../../../../styles/utilities' as utils;

:host {
    display: block;
}

[role='combobox'] {
    outline-style: none;
}

:host([invalid]) {
    ::slotted([slot='helper-text']) {
        color: utils.color(error, 500);
    }
}

:host([disabled]),
:host(:disabled) {
    [role='combobox'] {
        pointer-events: none;
    }
}

igc-input {
    cursor: pointer;
}

igc-input::part(input) {
    cursor: pointer;

    &::selection {
        background: transparent;
    }
}

[part='helper-text'] {
    line-height: 1;

    ::slotted([slot='helper-text']) {
        @include utils.type-style('caption');

        line-height: inherit;
    }
}

[name='prefix']::slotted(*),
[name='suffix']::slotted(*) {
    display: flex;
}
