@use '../../utilities' as utils;
@use '../base/fluent' as base;
@use '../../../components/button/button.fluent' as button with (
    $button-color: utils.color(surface, 500),
    $hover-color: utils.color(primary, 300),
    $active-color: utils.color(primary, 100)
);
@use '../../../components/button/icon-button.fluent' as icon-button with (
    $button-color: utils.color(surface, 500),
    $hover-color: utils.color(primary, 300)
);
@use '../../../components/checkbox/checkbox.fluent' as checkbox with (
    $border-color: utils.color(gray, 700),
    $hover-color: utils.color(gray, 900),
    $checked-hover-color: utils.color(primary, 100),
    $invalid-color: utils.color(error, 200),
    $invalid-hover-color: utils.color(error, 100),
    $disabled-color: utils.color(gray, 200)
);
@use '../../../components/radio/radio.fluent' as radio with (
    $hover-color: utils.color(gray, 500),
    $checked-hover-color: utils.color(primary, 100),
    $invalid-color: utils.color(error, 200),
    $invalid-hover-color: utils.color(error, 100),
    $disabled-color: utils.color(gray, 200)
);
@use '../../../components/checkbox/switch.fluent' as switch with (
    $thumb-color: utils.color(gray, 500),
    $disabled-thumb-color: utils.color(surface, 100),
    $hover-color: utils.color(gray, 900),
    $checked-hover-color: utils.color(primary, 100),
    $invalid-color: utils.color(error, 200),
    $invalid-hover-color: utils.color(error, 100),
    $disabled-color: utils.color(gray, 200)
);
@use '../../../components/list/list.fluent' as list with (
    $item-hover-bg: utils.color(gray, 100),
);
@use '../../../components/calendar/calendar.fluent' as calendar;
@use '../../../components/input/input.fluent' as input with ($container-background: transparent);

$palette: utils.palette(
    $primary: #0078d4,
    $secondary: #0078d4,
    $gray: #fff,
    $surface: #222,
    $success: #107c10,
    $warn: #797673,
    $error: #a80000,
) !default;

@include base.root-styles($palette);
@include button.theme();
@include checkbox.theme();
@include radio.theme();
@include switch.theme();
@include list.theme();
@include calendar.theme();
@include input.theme();
@include icon-button.theme();
