@use '../../utilities' as utils;
@use '../base/fluent' as base;
@use '../../../components/input/input.fluent' as input with ($container-background: transparent);

$palette: utils.palette(
    $primary: #0078d4,
    $secondary: #0078d4,
    $gray: #fff,
    $surface: #222,
    $success: #107c10,
    $warn: #797673,
    $error: #a80000,
) !default;

@include base.root-styles($palette);
@include input.theme();
