@use '../../utilities' as utils;

$palette: utils.palette(
    $primary: #09f,
    $secondary: #e41c77,
    $gray: #fff,
    $surface: #222,
) !default;

$elevations: utils.elevations(
    rgba(0, 0, 0, .26),
    rgba(0, 0, 0, .12),
    rgba(0, 0, 0, .08)
) !default;

$type-scale: utils.type-scale();

:root {
    --igc-border-radius: #{utils.rem(2px)};
    --igc-spacing-small: #{utils.rem(2px)};
    --igc-spacing-medium: #{utils.rem(4px)};
    --igc-spacing-large: #{utils.rem(8px)};
    @include utils.palette($palette);
    @include utils.elevations($elevations);
    @include utils.typography(
        $font-family: 'Roboto, sans-serif',
        $type-scale: $type-scale
    );
}
