@use '../../utilities' as utils;
@use '../base/material' as base;
@use '../../../components/input/input.dark.material.scss' as input;

$palette: utils.palette(
    $primary: #09f,
    $secondary: #e41c77,
    $gray: #fff,
    $surface: #222,
) !default;

@include base.root-styles($palette);
@include input.theme();
