@use 'styles/utilities' as *;

:host([variant='danger']) [part~='base'] {
    background: color(error, 700);
}

:host([variant='success']) [part~='base'] {
    background: color(success, 900);
}

:host([variant='info']) [part~='base'] {
    background: color(info, 800);
}