@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/switch' as *;

$material: map.merge(
    digest-schema($dark-switch),
    (
        border-radius-thumb: border-radius(map.get($dark-switch, 'border-radius-thumb')...),
        border-radius-track: border-radius(map.get($dark-switch, 'border-radius-track')...),
        ripple-radius: border-radius(map.get($dark-switch, 'border-radius-ripple')...)
    )
);
$bootstrap: map.merge(
    digest-schema($dark-bootstrap-switch),
    (
        border-radius-thumb: border-radius(map.get($dark-bootstrap-switch, 'border-radius-thumb')...),
        border-radius-track: border-radius(map.get($dark-bootstrap-switch, 'border-radius-track')...),
        ripple-radius: border-radius(map.get($dark-bootstrap-switch, 'border-radius-ripple')...)
    )
);
$fluent: map.merge(
    digest-schema($dark-fluent-switch),
    (
        border-radius-thumb: border-radius(map.get($dark-fluent-switch, 'border-radius-thumb')...),
        border-radius-track: border-radius(map.get($dark-fluent-switch, 'border-radius-track')...),
        ripple-radius: border-radius(map.get($dark-fluent-switch, 'border-radius-ripple')...)
    )
);
$indigo: map.merge(
    digest-schema($dark-indigo-switch),
    (
        border-radius-thumb: border-radius(map.get($dark-indigo-switch, 'border-radius-thumb')...),
        border-radius-track: border-radius(map.get($dark-indigo-switch, 'border-radius-track')...),
        ripple-radius: border-radius(map.get($dark-indigo-switch, 'border-radius-ripple')...)
    )
);

