@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $indigo;

igc-button::part(base) {
    width: rem(28px);
    height: rem(28px);
    border-width: rem(2px);
    padding: initial;
}

igc-button::part(focused),
igc-button::part(focused):hover {
    box-shadow: 0 0 0 rem(3px) var-get($theme, 'indicator-focus-color');
    color: var-get($theme, 'button-arrow-color');
}

[part~='navigation'] {
    igc-icon {
        --ig-size: 2;
    }
}

[part~='indicators'] {
    gap: rem(4px);
    padding: rem(6px);
}

[part='label indicators'],
[part='label indicators start'] {
    padding: rem(4px) rem(6px);
}

[part~='dot'] {
    width: rem(16px);
    height: rem(16px);
    border: none;
    transition: none;

    &::after {
        width: rem(8px);
        height: rem(8px);
        inset-block-start: 50%;
        inset-inline-start: 50%;
        transform: translateX(calc(-50% * var(--dir))) translateY(-50%);
    }

    &:hover {
        border: rem(2px) solid var-get($theme, 'indicator-hover-dot-color');

        &::after {
            background: var-get($theme, 'indicator-hover-dot-color');
        }
    }
}

[part='dot active'] {
    border: rem(2px) solid var-get($theme, 'indicator-active-dot-color');

    &::after {
        background: var-get($theme, 'indicator-active-dot-color');
    }

    &:hover {
        border-color: var-get($theme, 'indicator-active-hover-dot-color');

        &::after {
            background: var-get($theme, 'indicator-active-hover-dot-color');
        }
    }
}

:host([vertical]) {
    [part~='indicators'],
    [part='label indicators'] {
        margin-inline-end: rem(16px);
    }

    [part='indicators start'],
    [part='label indicators start'] {
        margin-inline-start: rem(16px);
    }

    [part~='dot'] {
        &::after {
            transform: translateX(calc(50% * var(--dir))) translateY(-50%);
        }
    }
}
