@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $fluent;

$btn-indent: rem(2px);

[part~='navigation'] {
    &:focus-visible {
        border: none;
        color: var-get($theme, 'indicator-focus-color');

        &::after {
            position: absolute;
            content: '';
            pointer-events: none;
            inset-block-start: $btn-indent;
            inset-inline-start: $btn-indent;
            width: calc(100% - (#{$btn-indent} * 2));
            height: calc(100% - (#{$btn-indent} * 2));
            box-shadow: 0 0 0 rem(1px) var-get($theme, 'button-focus-border-color');
        }
    }
}