@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

$tabs-animation-function: cubic-bezier(.35, 0, .25, 1);

:host {
    --scroll-button-size: #{rem(48px)};
    --tabs-width: 100%;
    --tab-min-width: #{rem(90px)};

    display: flex;
}

%fake-column {
    content: '';
    width: 100%;
    height: 100%;
    background: color(surface, 500);
}

:host([alignment='start']) {
    [part~='headers-scroll']:not([part~='scrollable']) {
        grid-template-columns: repeat(var(--tabs-count), minmax(auto, min-content)) auto;

        &::after {
            @extend %fake-column;
        }
    }
}

:host([alignment='center']) {
    [part~='headers-scroll']:not([part~='scrollable']) {
        grid-template-columns: auto repeat(var(--tabs-count), minmax(auto, min-content)) auto;

        &::before,
        &::after {
            @extend %fake-column;
        }
    }
}

:host([alignment='end']) {
    [part~='headers-scroll']:not([part~='scrollable']) {
        grid-template-columns: auto repeat(var(--tabs-count), minmax(auto, min-content));

        &::before {
            @extend %fake-column;
        }
    }
}

:host([alignment='justify']) {
    --tab-max-width: 100%;

    [part~='headers-scroll']:not([part~='scrollable']) {
        grid-template-columns: repeat(var(--tabs-count), minmax(auto, 1fr));
    }
}

[part~='headers-scroll']:not([part~='scrollable']) {
    grid-template-columns: repeat(var(--tabs-count), minmax(auto, min-content));
    min-width: var(--tab-min-width);
}

[part~='headers-scroll'] {
    display: grid;
    /* stylelint-disable */
    grid-template-columns: var(--scroll-button-size) repeat(var(--tabs-count), minmax(max-content, auto)) var(--scroll-button-size);
    /* stylelint-enable */
    min-width: calc(var(--tab-min-width) + (2 * var(--scroll-button-size)));
    align-items: center;
    overflow: hidden;
    width: 100%;
    position: relative;
    scroll-padding-left: var(--scroll-button-size);
    scroll-padding-right: var(--scroll-button-size);

    ::slotted(igc-tab) {
        display: contents;
        pointer-events: none;
    }
}

[part~='start-scroll-button'],
[part~='end-scroll-button'] {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border: none;
    padding: 0;
    height: 100%;
    min-width: var(--scroll-button-size);
    width: var(--scroll-button-size);
    cursor: pointer;
    background: color(surface, 500);

    &:hover,
    &:focus {
        background: color(gray, 100);
    }

    ::slotted(*) {
        box-shadow: none;
    }
}

[part~='start-scroll-button'] {
    inset-inline-start: 0;
}

[part~='end-scroll-button'] {
    inset-inline-end: 0;
}

[part='selected-indicator'] {
    $indicator-size: rem(2px);

    height: $indicator-size;
    position: relative;
    grid-row: 2;
    grid-column: 1 / -1;
    margin-block-start: calc(#{$indicator-size} * -1);

    &::after {
        content: '';
        inset-inline-start: var(--scroll-button-size);
        inset-block-start: 0;
        position: absolute;
        transform: translateX(0);
        height: $indicator-size;
        min-width: rem(90px);
        background: color(primary, 500);
        transition: transform .3s $tabs-animation-function, width .2s $tabs-animation-function;
    }
}
