@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

:host {
    --scroll-btn-foreground--disabled: #{color(gray, 400)};
    --header-foreground: #{color(gray, 900)};
    --header-foreground--disabled: #{color(gray, 400)};
}
