@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

$tabs-animation-function: cubic-bezier(.35, 0, .25, 1);
$arrow-start: 0;

:host {
    // Header idle
    --header-background: #{color(surface, 500)};
    --header-foreground: #{color(gray, 700)};
    --header-background--hover: #{color(gray, 200)};
    --header-foreground--hover: var(--header-foreground);
    --header-foreground--focus-within: #{color(primary, 500)};

    // Header Selected
    --header-background--selected: var(--header-background);
    --header-foreground--selected: #{color(primary, 500)};
    --header-background--selected--hover: var(--header-background--hover);
    --header-foreground--selected--hover: var(--header-foreground--selected);

    // Header Disabled
    --header-background--disabled: #{color(primary, 500, .5)};
    --header-foreground--disabled: #{color(gray, 500)};

    // Body
    --body-background: transparent;
    --body-foreground: #{color(gray, 700)};

    // Scroll buttons
    --scroll-btn-size: #{rem(48px)};
    --tabs-width: 100%;
    --tab-min-width: #{rem(90px)};

    // Icon color
    --scroll-btn-background: #{color(surface, 500)};
    --scroll-btn-foreground: #{color(gray, 700)};
    --scroll-btn-background--hover: #{color(gray, 100)};
    --scroll-btn-foreground--hover: #{color(gray, 700)};
    --scroll-btn-background--disabled: #{color(surface, 500)};
    --scroll-btn-foreground--disabled: #{color(gray, 500)};

    display: flex;
}

%fake-column {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--header-background);
}

// Tabs position START

[part~='headers-scroll'] {
    display: grid;
    min-width: calc(var(--tab-min-width) + (2 * var(--scroll-btn-size)));
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    scroll-padding-left: var(--scroll-btn-size);
    scroll-padding-right: var(--scroll-btn-size);

    ::slotted(igc-tab) {
        display: contents;
        pointer-events: none;
    }
}

[part~='scrollable'] {
    /* stylelint-disable */
    grid-template-columns: var(--scroll-btn-size) repeat(var(--tabs-count), minmax(max-content, auto)) var(--scroll-btn-size);
    /* stylelint-enable */

    scroll-padding-inline: var(--scroll-btn-size);
}

[part~='headers-scroll']:not([part~='scrollable']) {
    grid-template-columns: repeat(var(--tabs-count), minmax(auto, min-content));
    min-width: var(--tab-min-width);
}

:host([alignment='start']) {
    [part~='headers-scroll']:not([part~='scrollable']) {
        grid-template-columns: repeat(var(--tabs-count), minmax(max-content, auto)) 1fr;

        &::after {
            @extend %fake-column;
        }
    }
}

:host([alignment='center']) {
    [part~='headers-scroll']:not([part~='scrollable']) {
        grid-template-columns: 1fr repeat(var(--tabs-count), minmax(max-content, auto)) 1fr;

        &::before,
        &::after {
            @extend %fake-column;
        }
    }
}

:host([alignment='end']) {
    [part~='headers-scroll']:not([part~='scrollable']) {
        grid-template-columns: 1fr repeat(var(--tabs-count), minmax(max-content, auto));

        &::before {
            @extend %fake-column;
        }
    }
}

:host([alignment='justify']) {
    --tab-max-width: 100%;
    --header-content: center;

    [part~='headers-scroll']:not([part~='scrollable']) {
        grid-template-columns: repeat(var(--tabs-count), minmax(auto, 1fr));
    }
}

// Tabs position END

// Scroll buttons
:host([dir='rtl']) {
    [part~='start-scroll-button'],
    [part~='end-scroll-button'] {
        transform: scaleX(-1);
    }
}

[part~='start-scroll-button'],
[part~='end-scroll-button'] {
    position: sticky;
    top: 0;
    height: 100%;
    min-width: var(--scroll-btn-size);
    width: var(--scroll-btn-size);
    z-index: 11;
}

[part~='start-scroll-button'] {
    inset-inline-start: $arrow-start;
}

[part~='end-scroll-button'] {
    inset-inline-end: $arrow-start;
}

igc-icon-button::part(base) {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: var(--scroll-btn-foreground);
    background: var(--scroll-btn-background);

    &:hover,
    &:focus,
    &:focus-within {
        color: var(--scroll-btn-foreground--hover);
        background: var(--scroll-btn-background--hover);
    }

    &:focus-within {
        box-shadow: none;
    }
}

igc-icon-button[disabled]::part(base) {
    color: var(--scroll-btn-foreground--disabled);
    background: var(--scroll-btn-background--disabled);
}

// TODO move this from the base
[part='selected-indicator'] {
    $indicator-height: rem(2px);

    height: $indicator-height;
    position: relative;
    grid-row: 2;
    grid-column: 1 / -1;
    margin-block-start: calc(#{$indicator-height} * -1);
    z-index: 10;

    span {
        content: '';
        position: absolute;
        height: $indicator-height;
        background: color(primary, 500);
        transition: transform .3s $tabs-animation-function, width .2s $tabs-animation-function;
    }
}
