@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: inline-flex;
    width: fit-content;
    height: fit-content;
}

[part='base'] {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    outline-style: none;
    flex-shrink: 0;
    overflow: hidden;
    font-family: var(--ig-font-family);
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: inherit;
    object-fit: cover;
}

[part='initials'] {
    text-transform: uppercase;
}

:host([size='large']) {
    --component-size: var(--ig-size, var(--ig-size-large));
}

:host([size='medium']) {
    --component-size: var(--ig-size, var(--ig-size-medium));
}

:host([size='small']) {
    --component-size: var(--ig-size, var(--ig-size-small));
}

:host([shape='square']) [part='base'] {
    border-radius: 0;
}
