@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

%after-element {
    content: '';
    position: absolute;
    pointer-events: none;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
}

[part~='base'] {
    background: var-get($theme, 'tile-background');
    border-radius: var-get($theme, 'border-radius');
    box-shadow: var-get($theme, 'resting-elevation');

    &::after {
        @extend %after-element;

        border: rem(1px) solid var-get($theme, 'border-color');
    }
}

[part~='base']:not([part~='resizable']) {
    &:hover {
        &::after {
            border: rem(1px) solid var-get($theme, 'hover-border-color');
        }
    }
}

[part~='base'][part~='resizing']{
    opacity: .3;
}

[part='content-container'] {
    background: var-get($theme, 'content-background');
    color: var-get($theme, 'content-color');
}

[part='ghost'] {
    border-radius: var-get($theme, 'border-radius');
    border: rem(1px) solid var-get($theme, 'ghost-border');
    background: var-get($theme, 'overlay-background');
}

[part~='drag-over'] {
    &::after {
        @extend %after-element;

        z-index: 1000;
        border: rem(1px) solid var-get($theme, 'ghost-border');
        background: var-get($theme, 'overlay-background');
    }
}

[part='header'] {
    background: var-get($theme, 'header-background');
    border-top-left-radius: var-get($theme, 'border-radius');
    border-top-right-radius: var-get($theme, 'border-radius');
}

[part='title'] {
    color: var-get($theme, 'title-color');
}

igc-divider {
    --color: #{var-get($theme, 'divider-color')};
}
