@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $indigo;

:host {
    --calendar-border-color: #{$indigo-calendar-border-color};
    --input-icon: #{sizable(rem(14px), rem(16px), rem(16px))};

    igc-icon,
    ::slotted(igc-icon) {
        --size: var(--input-icon) !important;
    }

    igc-dialog[open]::part(base) {
        border-radius: rem(6px);
        box-shadow: var(--ig-elevation-5);
    }

    igc-dialog::part(footer) {
        padding: pad-block(rem(8px)) pad-inline(rem(16px));
        gap: rem(8px);
    }

    ::part(helper-text) {
        grid-auto-rows: minmax(rem(15px), auto);
    }
}

[part='actions'] {
    min-height: #{sizable(rem(40px), rem(44px), rem(48px))};
    padding: pad-block(rem(8px)) pad-inline(rem(16px));
}

:host([readonly]) {
    igc-input::part(container),
    igc-date-time-input::part(container) {
        border-color: var-get($theme, 'disabled-text-color');
    }
}

:host(:not([readonly],[disabled]):hover) {
    igc-input[readonly]::part(container),
    igc-date-time-input:hover::part(container) {
        background: var-get($theme, 'box-background-hover');
        border-color: var-get($theme, 'hover-bottom-line-color');
    }

    igc-input[readonly]::part(filled),
    igc-date-time-input:hover::part(filled) {
        color: var-get($theme, 'filled-text-hover-color');
    }
}

:host(:not([disabled],[readonly]):state(ig-invalid)),
:host(:not(:disabled,[readonly]):state(ig-invalid)),
:host(:not([disabled],[readonly]):state(ig-invalid):hover),
:host(:not(:disabled,[readonly]):state(ig-invalid):hover) {
    igc-input::part(container),
    igc-date-time-input::part(container) {
        border-color: var-get($theme, 'error-secondary-color');

        &::after {
            background: var-get($theme, 'error-secondary-color');
        }
    }

    ::part(helper-text) {
        color: var-get($theme, 'helper-text-color');
    }
}
