@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $material;

:host(:not(:focus-within)[outlined][readonly]:hover) {
    igc-input::part(start),
    igc-input::part(end),
    igc-input::part(filler),
    igc-date-time-input::part(start),
    igc-date-time-input::part(end),
    igc-date-time-input::part(filler) {
        border-color: var-get($theme, 'border-color');
    }

    igc-input::part(notch),
    igc-date-time-input::part(notch) {
        border-bottom-color: var-get($theme, 'border-color');
    }
}

:host(:not([outlined],[disabled])[readonly]) {
    igc-input::part(container),
    igc-date-time-input::part(container) {
        background: var-get($theme, 'box-background-focus');
    }
}

:host(:not([outlined])[readonly]:hover) {
    igc-date-time-input::part(container),
    igc-input::part(container) {
        border-bottom-color: var-get($theme, 'idle-bottom-line-color');

        &::after {
            background: var-get($theme, 'idle-bottom-line-color');
        }
    }
}

:host(:not(:state(ig-invalid),[outlined])[readonly]:focus-within) {
    igc-input::part(container) {
        border-bottom-color: var-get($theme, 'focused-bottom-line-color');

        &::after {
            background: var-get($theme, 'focused-bottom-line-color');
        }
    }
}

:host(:not(:state(ig-invalid),[outlined])[readonly]) {
    igc-date-time-input:hover {
        &::part(container) {
            border-bottom-color: var-get($theme, 'idle-bottom-line-color');

            &::after {
                background: var-get($theme, 'idle-bottom-line-color');
            }
        }
    }

    igc-date-time-input:focus-within {
        &::part(container) {
            border-bottom-color: var-get($theme, 'focused-bottom-line-color');

            &::after {
                background: var-get($theme, 'focused-bottom-line-color');
            }
        }
    }
}

:host(:not([outlined],[disabled],[readonly]):state(ig-invalid)) {
    igc-input::part(label),
    igc-date-time-input::part(label) {
        color: var-get($theme, 'error-secondary-color');
    }

    igc-input::part(container),
    igc-input:focus-within::part(container),
    igc-date-time-input::part(container),
    igc-date-time-input:focus-within::part(container) {
        border-color: var-get($theme, 'error-secondary-color');

        &::after {
            background: var-get($theme, 'error-secondary-color');
        }
    }
}

:host(:not([disabled],[readonly])[outlined]:state(ig-invalid)) {
    igc-input::part(label),
    igc-date-time-input::part(label) {
        color: var-get($theme, 'error-secondary-color');
    }

    igc-input::part(start),
    igc-input::part(end),
    igc-input::part(filler),
    igc-date-time-input::part(start),
    igc-date-time-input::part(end),
    igc-date-time-input::part(filler) {
        border-color: var-get($theme, 'error-secondary-color');
    }

    &::part(notch) {
        border-bottom-color: var-get($theme, 'error-secondary-color');
    }
}
