@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use 'components/input/themes/light/themes' as input-theme;

$theme: $material;
$input-theme: input-theme.$material;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});

    igc-dialog {
        box-shadow: none;
        border: none;
        background: transparent;

        [part='actions'] {
            border: none;
        }

        igc-calendar {
            box-shadow: none;
            border-radius: 0;
        }
    }

    igc-dialog[open]::part(base) {
        box-shadow: var(--ig-elevation-24);
        border: none;
    }

    igc-dialog::part(content) {
        padding: 0;
    }

    igc-dialog::part(footer) {
        padding: pad(rem(8px));
        background: var-get($theme, 'content-background');
        border-block-start: rem(1px) solid var-get($theme, 'actions-divider-color');
    }

    igc-focus-trap {
        @include sizable();

        --component-size: var(--ig-size, #{var-get($theme, 'default-size')});

        border-radius: var-get($theme, 'border-radius');
        background: var-get($theme, 'content-background');
        box-shadow: 0 0 0 rem(1px) var-get($theme, 'border-color');
    }

    igc-popover::part(container) {
        box-shadow: var(--ig-elevation-3);
        border-radius: var-get($theme, 'border-radius');
    }

    ::part(helper-text) {
        color: var-get($input-theme, 'helper-text-color');
        grid-auto-rows: minmax(rem(18px), auto);
        margin-block-start: pad-block(rem(4px));
    }
}

:host([outlined]) {
    igc-date-time-input::part(notch) {
        border-block-start: rem(2px) solid transparent;
    }
}

:host(:not([readonly])) {
    --affix-color: #{var-get($input-theme, 'input-prefix-color')};

    igc-date-time-input[readonly] {
        --affix-color: #{var-get($input-theme, 'input-prefix-color')};

        &::part(prefix),
        &::part(suffix) {
            color: var(--affix-color);
        }
    }

    [part='calendar-icon'],
    [part='calendar-icon-open'],
    [part='clear-icon'] {
        color: var(--affix-color);
    }

    igc-input:focus-within {
        --affix-color: #{var-get($input-theme, 'input-prefix-color--focused')};

        &::part(filled) {
            --affix-color: #{var-get($input-theme, 'input-prefix-color--focused')};
        }
    }

    ::part(filled) {
        --affix-color: #{var-get($input-theme, 'input-prefix-color--filled')};
    }
}

:host(:not([disabled],[readonly]):state(ig-invalid)),
:host(:not(:disabled,[readonly]):state(ig-invalid)) {
    ::part(helper-text) {
        color: var-get($input-theme, 'error-secondary-color');
    }
}

:host(:disabled),
:host([disabled]) {
    --affix-color: #{var-get($input-theme, 'disabled-text-color')};

    ::part(filled) {
        --affix-color: #{var-get($input-theme, 'disabled-text-color')};
    }

    ::part(helper-text),
    [part='label'],
    igc-validator {
        color: var-get($input-theme, 'disabled-text-color');
    }
}

[part='actions'] {
    min-height: #{sizable(rem(40px), rem(46px), rem(52px))};
    border-block-start: rem(1px) solid var-get($theme, 'actions-divider-color');
    background: var-get($theme, 'content-background');
}

[part='separator'] {
    @include type-style('caption');

    color: var-get($theme, 'label-color');
    height: var-get($theme, 'size');
}

igc-icon,
::slotted(igc-icon) {
    --component-size: var(--input-size);
}

::slotted([slot|='suffix']),
::slotted([slot|='prefix']) {
    padding-inline: var(--affix-padding);
}
