@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use 'components/input/themes/light/themes' as input-theme;

$theme: input-theme.$fluent;

:host {
    igc-dialog[open]::part(base) {
        border-radius: 0;
    }

    ::part(helper-text) {
        grid-auto-rows: minmax(rem(18px), auto);
        margin-block-start: pad-block(rem(5px));
    }
}

:host([required]) {
    ::part(label)::after {
        color: var-get($theme, 'error-secondary-color');
    }
}

:host(:not([disabled])[readonly]) {
    igc-input::part(prefix),
    igc-input::part(suffix),
    igc-date-time-input::part(prefix),
    igc-date-time-input::part(suffix) {
        background: transparent;
    }
}

:host(:not([readonly],[disabled])) {
    igc-input[readonly]:not(:focus):hover::part(container) {
        &::before {
            // This represents the shadow color
            color: var-get($theme, 'hover-border-color');
        }
    }
}

:host(:not([disabled],[readonly]):state(ig-invalid)),
:host(:not([disabled],[readonly]):state(ig-invalid):hover) {
    igc-input::part(container),
    igc-date-time-input::part(container) {
        &::before {
            box-shadow: inset 0 0 0 var(--input-border-size) var-get($theme, 'error-secondary-color');
        }
    }

    igc-date-time-input:focus-within {
        &::part(container)::before {
            box-shadow: inset 0 0 0 calc(var(--input-border-size) + #{rem(1px)}) var-get($theme, 'error-secondary-color');
        }
    }
}

:host(:not([disabled],[readonly]):state(ig-invalid):focus-within) {
    igc-input::part(container) {
        &::before {
            box-shadow: inset 0 0 0 calc(var(--input-border-size) + #{rem(1px)}) var-get($theme, 'error-secondary-color');
        }
    }
}

:host(:disabled),
:host([disabled]) {
    ::part(label)::after {
        color: var-get($theme, 'disabled-text-color');
    }
}

[part='actions'] {
    min-height: #{sizable(rem(40px), rem(48px), rem(54px))};
}
