@use 'styles/common/component';

:host {
    display: flex;
    position: relative;

    ::slotted(igc-timeline-item) {
        transition:
            opacity 0.4s ease,
            transform 0.4s ease;

        @starting-style {
            opacity: 0;
            transform: translateY(1.25rem);
        }
    }
}

:host([orientation='vertical']) {
    flex-direction: column;
}

:host([orientation='horizontal']) {
    flex-direction: row;

    ::slotted(igc-timeline-item) {
        flex: 1;

        @starting-style {
            opacity: 0;
            transform: translateX(1.25rem);
        }
    }
}
