@use 'sass:map';
@use '../../../../styles/utilities' as *;
@use '../../../../../node_modules/igniteui-theming/sass/themes/schemas/components/dark/drop-down' as *;

$material: map.merge(
    digest-schema($dark-drop-down),
    (
        border-radius: border-radius(map.get($dark-drop-down, 'border-radius')...),
        item-border-radius: border-radius(map.get($dark-drop-down, 'item-border-radius')...)
    )
);
$bootstrap: map.merge(
    digest-schema($dark-bootstrap-drop-down),
    (
        border-radius: border-radius(map.get($dark-bootstrap-drop-down, 'border-radius')...),
        item-border-radius: border-radius(map.get($dark-bootstrap-drop-down, 'item-border-radius')...)
    )
);
$fluent: map.merge(
    digest-schema($dark-fluent-drop-down),
    (
        border-radius: border-radius(map.get($dark-fluent-drop-down, 'border-radius')...),
        item-border-radius: border-radius(map.get($dark-fluent-drop-down, 'item-border-radius')...)
    )
);
$indigo: map.merge(
    digest-schema($dark-indigo-drop-down),
    (
        border-radius: border-radius(map.get($dark-indigo-drop-down, 'border-radius')...),
        item-border-radius: border-radius(map.get($dark-indigo-drop-down, 'item-border-radius')...)
    )
);
