@use 'sass:map';
@use '../../../../styles/utilities' as *;
@use '../../../../styles/themes/schemas/material/dark' as *;

$schema: map.get($dark-material-schema, 'drop-down');
$item-border-radius: border-radius(map.get($schema, 'item-border-radius')...);
$border-radius: border-radius(map.get($schema, 'border-radius')...);
$theme: digest-schema(extend(
    $schema,
    (
        item-border-radius: $item-border-radius,
        border-radius: $border-radius
    )
));



@mixin theme() {
    igc-dropdown {
        @include css-vars-from-theme($theme, 'ig-dropdown');
    }
}
