@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    min-width: rem(90px);
    max-width: rem(360px);
    word-wrap: break-word;
    padding: rem(12px) rem(16px);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: all .3s cubic-bezier(.35, 0, .25, 1);
    user-select: none;

    ::slotted(igc-icon) {
        --ig-size: 3;
    }
}

:host([disabled]) {
    pointer-events: none;
    cursor: initial;
}

[part='base'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline-style: none;
    gap: rem(8px);
}

[part='content'] {
    @include type-style('button');

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    outline-style: none;
    gap: rem(8px);

    ::slotted(*) {
        @include line-clamp(2, true, true);
    }

    ::slotted(igc-icon) {
        display: flex;
    }
}
