$tabs-z-index: (
    scroll-button: 5,
    selected-indicator: 3,
    header: 2,
    separator--bootstrap: 3,
    header-after--bootstrap: 1,
    header-selected--bootstrap: 4,
    header-focus-within--bootstrap: 1,
);
