@use 'styles/common/component';
@use 'styles/utilities' as *;

$tabs-animation-function: cubic-bezier(.35, 0, .25, 1);

:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

:host([alignment='start']) [part='headers-scroll'] {
    ::slotted(igc-tab:last-of-type) {
        margin-inline-end: auto;
    }
}

:host([alignment='end']) [part='headers-scroll'] {
    ::slotted(igc-tab:first-of-type) {
        margin-inline-start: auto;
    }
}

:host([alignment='center']) [part='headers-scroll'] {
    ::slotted(igc-tab:first-of-type) {
        margin-inline-start: auto;
    }

    ::slotted(igc-tab:last-of-type) {
        margin-inline-end: auto;
    }
}

:host([alignment='justify']) [part='headers-scroll'] {
    ::slotted(igc-tab) {
        flex-basis: 100px;
        flex-grow: 1;
        max-width: 100%;
    }
}

[part='headers'] {
    display: flex;
    overflow: hidden;
    min-height: rem(42px);
    flex: none;
}

[part='headers-content'] {
    display: flex;
    flex: 1 1 auto;
    scroll-behavior: smooth;
    overflow: hidden;
}

[part='headers-wrapper'] {
    position: relative;
    flex-grow: 1;
}

[part='headers-scroll'] {
    display: flex;
    height: 100%;
}

[part='content'] {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

[part='selected-indicator'] {
    position: absolute;
    inset-inline-start: 0;
    bottom: 0;
    transform: translateX(0);
    height: rem(2px);
    min-width: rem(90px);
    transition: transform .3s $tabs-animation-function, width .2s $tabs-animation-function;
}

[part='start-scroll-button'],
[part='end-scroll-button'] {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border: none;
    padding: 0;
    min-width: rem(48px);
    width: rem(48px);
    height: inherit;
    cursor: pointer;
    position: relative;

    ::slotted(*) {
        box-shadow: none;
    }
}

igc-icon-button::part(base) {
    &:hover,
    &:focus-within {
        background: transparent;
        box-shadow: none;
    }
}

:host-context([dir='rtl']),
:host([dir='rtl']) {
    [part='start-scroll-button'],
    [part='end-scroll-button'] {
        transform: scaleX(-1);
    }
}
