@use '../../../../styles/utilities/index' as *;

$subtitle-color: var(--subtitle-color, color(gray, 700)) !default;
$disabled-color: var(--disabled-color, color(gray, 500)) !default;

:host {
    color: color(gray, 900);
    padding: rem(16px);
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[part='header'] {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: rem(4px);

    &:focus,
    &:active {
        outline: transparent;
        background: color(gray, 100);
    }
}

[part='headerText'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0%;
    overflow: hidden;
}

slot[name='title'] {
    @include type-category('h5');
}

slot[name='subTitle'] {
    @include type-category('subtitle-2');

    color: $subtitle-color;
}

:host([open]) [part~='content'] {
    @include type-category('body-2');

    overflow: hidden;
    padding-top: rem(32px);
}

[part~='indicator'] {
    color: color(gray, 800);
}

:host([indicator-alignment='start']) [part~='indicator'] {
    margin-inline-end: rem(22px);
}

:host([indicator-alignment='end']) [part~='indicator'] {
    order: 2;
    margin-inline-start: rem(22px);
}

:host([disabled]) {
    [part='header'] * {
        color: $disabled-color;
    }
}
