@use '../../../../styles/utilities/index' as *;

$disabled-color: var(--disabled-color, color(gray, 500)) !default;

:host {
    color: color(gray, 900);
    padding: calc(var(--igc-spacing-large) * 2);
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[part='header'] {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: var(--igc-spacing-medium);

    &:focus,
    &:active {
        outline: transparent;
        background: color(gray, 100);
    }

    div:not([part='indicator']) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 0 0%;
        overflow: hidden;
        user-select: none;
    }
}

[part='title'] {
    @include type-category('h5');
}

[part='subTitle'] {
    @include type-category('subtitle-2');

    color: color(gray, 700);
}

:host([open]) [part~='content'] {
    @include type-category('body-2');

    overflow: hidden;
    padding: var(--igc-spacing-large);
    padding-top: calc(var(--igc-spacing-large) * 4);
}

[part~='indicator'] {
    color: color(gray, 800);
}

:host([indicator-alignment='start']) [part~='indicator'] {
    margin-inline-end: calc(var(--igc-spacing-large) * 2);
}

:host([indicator-alignment='end']) [part~='indicator'] {
    order: 2;
    margin-inline-start: calc(var(--igc-spacing-large) * 2);
}

:host([disabled]) {
    [part='header'] {
        pointer-events: none;

        * {
            color: $disabled-color;
        }
    }
}
