@use '../../../../styles/utilities/index' as *;

[part~='indicator'] {
    color: color(gray, 600);
}

[part='subtitle'] {
    color: color(gray, 500);
}

[part~='content'] {
    @include type-style('body-1');
}

:host([disabled]) {
    [part~='indicator'],
    [part='title'],
    [part='subtitle'] {
        color: color(gray, 300);
    }
}
