@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $indigo;

:host {
    ::part(helper-text) {
        @include type-style('caption');

        margin-block-start: pad-block(rem(16px));
        grid-auto-rows: minmax(rem(18px), auto);
    }
}

:host(:hover) {
    [part~='control']::after {
        border: rem(2px) solid var-get($theme, 'hover-color');
    }

    [part='control checked']::after {
        border-color: var-get($theme, 'fill-hover-border-color');
    }
}

[part~='base'] {
    gap: rem(8px);
}

[part~='label'] {
    @include type-style('body-2');
}

[part~='control'] {
    --size: #{rem(16px)};

    border-radius: var(--size);
    width: var(--size, rem(20px));
    height: var(--size, rem(20px));
    min-width: var(--size, rem(20px));
    transition: none;

    &::before,
    &::after {
        border-radius: calc(var(--size) / 2);
    }

    &::after {
        border: rem(2px) solid var-get($theme, 'empty-color');
    }
}

[part='control checked'] {
    &::after {
        border-color: var-get($theme, 'fill-color');
    }

    &::before {
        background: var-get($theme, 'fill-color');
        border-color: var-get($theme, 'fill-color');
    }

    &:hover {
        &::after {
            border-color: var-get($theme, 'fill-hover-border-color');
        }

        &::before {
            background: var-get($theme, 'fill-color-hover');
            border-color: var-get($theme, 'fill-hover-border-color');
        }
    }
}

[part~='focused'] {
    [part='control'] {
        box-shadow: 0 0 0 rem(3px) var-get($theme, 'focus-outline-color');
    }

    [part='control checked'] {
        box-shadow: 0 0 0 rem(3px) var-get($theme, 'focus-outline-color-filled');
    }
}

:host(:not([disabled]):state(ig-invalid)),
:host(:not(:disabled):state(ig-invalid)) {
    [part~='base'] {
        &:hover {
            [part~='label'] {
                color: var-get($theme, 'label-color-hover');
            }
        }
    }

    [part~='label'] {
        color: var-get($theme, 'label-color');
    }

    [part='control'] {
        &::after {
            border-color: var-get($theme, 'error-color');
        }
    }

    [part='control checked'] {
        &::after {
            border-color: var-get($theme, 'error-color');
        }

        &::before {
            background: var-get($theme, 'error-color');
        }
    }

    [part~='focused'] {
        [part~='control'],
        [part='control checked'] {
            box-shadow: 0 0 0 rem(3px) var-get($theme, 'focus-outline-color-error');
        }
    }
}

:host(:not([disabled]):state(ig-invalid):hover),
:host(:not(:disabled):state(ig-invalid):hover) {
    [part='control checked'] {
        &::before {
            background: var-get($theme, 'error-color-hover');
            border-color: var-get($theme, 'error-color-hover');
        }
    }
}
