@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $base;

[part~='label'] {
    color: var-get($theme, 'label-color');
}

:host([disabled]),
:host(:disabled) {
    [part~='label'] {
        color: var-get($theme, 'disabled-label-color');
    }
}

:host(:not([disabled]):state(ig-invalid)),
:host(:not(:disabled):state(ig-invalid)) {
    [part~='label'] {
        color: var-get($theme, 'error-color');
    }
}
