@use 'sass:map';
@use '../../../../styles/utilities' as *;
@use '../../../../styles/themes/schemas/indigo/light' as *;

$schema: map.get($light-indigo-schema, 'tabs');
$border-radius: border-radius(map.get($schema, 'border-radius')...);
$theme: digest-schema(extend(
    $schema,
    (
        border-radius: $border-radius
    )
));

:host {
    @include css-vars-from-theme($theme, 'ig-tabs');

    background: transparent;
    border-radius: var-get($theme, 'border-radius');
}

:host(:hover),
:host(:focus-within) {
    background: transparent;
    color: color(gray, 900);
}

:host([selected]) {
    color: color(gray, 900);

    ::slotted(igc-icon) {
        color: color(primary, 400);
    }
}

:host([selected]:hover),
:host([selected]:focus-within) {
    color: color(gray, 900);
}
