@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

$hover-background: var(--hover-background, color(gray, 200)) !default;

:host {
    @include type-category('subtitle-2');

    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: rem(90px);
    max-width: rem(360px);
    word-wrap: break-word;
    padding: rem(12px) rem(16px);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: all .3s cubic-bezier(.35, 0, .25, 1);
    user-select: none;
    background: color(surface, 500);
    color: color(gray, 700);

    > * {
        margin-inline-start: rem(12px);

        &:first-child {
            margin-inline-start: 0;
        }
    }
}

:host(:hover),
:host(:focus-within) {
    background: $hover-background;
    color: color(gray, 700);
}

:host([selected]) {
    color: color(primary, 500);

    ::slotted(igc-icon) {
        color: color(primary, 500);
    }
}

:host([selected]:hover),
:host([selected]:focus-within) {
    color: color(primary, 500);
}

:host([disabled]) {
    pointer-events: none;
    cursor: initial;
    color: color(gray, 500);
}

[part='base'] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    outline-style: none;

    ::slotted(*) {
        @include line-clamp(2, true, true);
    }
}

::slotted(igc-icon) {
    width: rem(24px);
    height: rem(24px);
}
