@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

$tabs-animation-function: cubic-bezier(.35, 0, .25, 1);

:host {
    display: block;
}

:host([alignment='start']) [part='headers-scroll'] {
    justify-content: flex-start;
}

:host([alignment='end']) [part='headers-scroll'] {
    justify-content: flex-end;
}

:host([alignment='center']) [part='headers-scroll'] {
    justify-content: center;
}

:host([alignment='justify']) [part='headers-scroll'] {
    ::slotted(*) {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
}

[part='headers'] {
    display: flex;
    overflow: hidden;
    min-height: rem(42px);
    background: color(surface, 500);
}

[part='headers-content'] {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}

[part='headers-wrapper'] {
    position: relative;
    flex-grow: 1;
}

[part='headers-scroll'] {
    display: flex;
    height: 100%;
}

[part='selected-indicator'] {
    position: absolute;
    inset-inline-start: 0;
    bottom: 0;
    transform: translateX(0);
    height: rem(2px);
    min-width: rem(90px);
    background: color(primary, 500);
    transition: transform .3s $tabs-animation-function, width .2s $tabs-animation-function;
}

[part='start-scroll-button'],
[part='end-scroll-button'] {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border: none;
    padding: 0;
    min-width: rem(48px);
    width: rem(48px);
    cursor: pointer;
    position: relative;
    background: color(surface, 500);
    color: color(gray, 500);

    &:hover,
    &:focus {
        background: color(gray, 100);
        color: color(gray, 600);
    }

    ::slotted(*) {
        box-shadow: none;
    }
}

:host([dir='rtl']) {
    [part='start-scroll-button'],
    [part='end-scroll-button'] {
        transform: scaleX(-1);
    }
}
