@use '../../../../styles/utilities' as *;

[part='headers'] {
    background: transparent;
}

[part='headers-wrapper'] {
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        inset-inline-start: 0;
        width: 100%;
        height: rem(1px);
        background: color(gray, 300);
        z-index: 0;
    }
}

[part='start-scroll-button'],
[part='end-scroll-button'] {
    background: transparent;
    color: color(gray, 700);

    &:hover {
        background: transparent;
        color: color(gray, 900);
    }

    &:focus {
        outline: 0;
        background: transparent;
    }
}

[part='selected-indicator'] {
    background: color(primary, 400);
}
