@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

:host {
    display: block;
}

:host([alignment='start']) [part='headers-scroll'] {
    justify-content: flex-start;
}

:host([alignment='end']) [part='headers-scroll'] {
    justify-content: flex-end;
}

:host([alignment='center']) [part='headers-scroll'] {
    justify-content: center;
}

:host([alignment='justify']) [part='headers-scroll'] {
    ::slotted(*) {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
}

[part='headers'] {
    display: flex;
    overflow: hidden;
    min-height: rem(42px);
}

[part='headers-content'] {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}

[part='headers-wrapper'] {
    // display: block;
    // height: 100%;
    position: relative;
    flex-grow: 1;
}

[part='headers-scroll'] {
    display: flex;
    height: 100%;
}

[part='selected-indicator'] {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(0);
    height: 2px;
    min-width: 90px;
    background: blueviolet;
}

[part='start-scroll-button'],
[part='end-scroll-button'] {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border: none;
    padding: 0;
    min-width: 3rem;
    width: 3rem;
    cursor: pointer;
    position: relative;
    background: var(--button-background);
    color: var(--button-color);
    outline: 0;
}
