@use '../../../../styles/utilities' as *;

[part='headers'] {
    background: transparent;
}

[part='start-scroll-button'],
[part='end-scroll-button'] {
    background: transparent;
    color: color(gray, 700);

    &:hover,
    &:focus {
        background: transparent;
        color: color(gray, 900);
    }
}

[part='selected-indicator'] {
    background: color(primary, 400);
}
