@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

:host {
    display: flex;
    flex-direction: column;
    min-height: 100px;
}

:host([alignment='start']) [part="headers-container"] {
    justify-content: flex-start;
}

:host([alignment='end']) [part="headers-container"] {
    justify-content: flex-end;
}

:host([alignment='center']) [part="headers-container"] {
    justify-content: center;
}

:host([alignment='justify']) [part="headers-container"] {
    ::slotted(*) {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
}
[part="header-wrapper"] {
    display: flex;
    flex-grow: 1;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}

[part="headers-container"] {
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}

[part="selected-indicator"] {
    position: absolute;
    top: 20px;
    left: 0;
    transform: translateX(0);
    height: 2px;
    min-width: 90px;
    background: aliceblue;
}
