@use '../../../../styles/common/component';
@use '../../../../styles/utilities/index' as *;

:host {
    flex: 1;
    position: initial;
    align-content: center;
    justify-content: center;
    min-width: 6.25rem;
}

// Horizontal

[part='step horizontal content-top'],
[part='step horizontal'] {
    overflow: hidden;
    flex-direction: row;
    flex-grow: 1;

    [part='header'] {
        display: flex;
        align-items: center;
        position: relative;

        &::before {
            inset-inline-start: 0;
            display: var(--step-hide-first-of-type);
        }

        &::after {
            inset-inline-end: 0;
            display: var(--step-hide-last-of-type);
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            height: 1px;
            width: calc(50% - #{rem(40px)});
            min-width: rem(8px);
            flex: 1;
            border-top: rem(1px) solid greenyellow;
        }
    }

    [part~='header-inner'] {
        width: auto;
    }

    [part~='body'] {
        position: absolute;
        inset-inline-start: 0;
        width: 100%;
        overflow: hidden;
        height: var(--step-body-height);

        [part~='content'] {
            position: absolute;
            z-index: 1;
            inset-inline-start: 100%;
            top: 0;
            width: 100%;

            ::slotted(*) {
                display: block;
            }
        }
    }

    [part~='body']:not([part~='content-top']) {
        top: var(--step-header-height);
    }

    [part~='content-top'] {
        bottom: var(--step-header-height);
    }

    [part~='active-body'] {
        [part='content'] {
            inset-inline-start: 0;
            transition: all 250ms ease-in-out;
        }
    }

    [part~='content'] {
        overflow: hidden;
        position: relative;
    }

    [part~='header-container'] {
        min-width: rem(140px);
        align-items: center;
        position: relative;

        &::after {
            display: var(--step-hide-last-of-type);
            content: '';
            flex: 1;
            width: 100%;
            min-width: rem(20px);
            height: 1px;
            background: red;
            position: relative;
        }
    }
}

// Both vertical and horizontal
[part~='active-header'] {
    [part~='indicator'] {
        span {
            background: #09f;
            color: #fff;
        }
    }
}

[part~='header-container'] {
    display: flex;
}

[part~='start'] {
    [part='header-inner'] {
        flex-direction: row-reverse;
    }
}

[part~='top'] {
    [part='header-container'] {
        &::after {
            bottom: rem(20px);
        }
    }

    [part='header-inner'] {
        flex-direction: column-reverse;

        &::after {
            bottom: rem(20px);
        }
    }
}

[part~='bottom'] {
    [part='header-inner'] {
        flex-direction: column;
    }
}

[part~='indicator'] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(40px);
    height: rem(40px);
    padding: rem(8px);

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(24px);
        height: rem(24px);
        border-radius: 50%;
        background: #ddd;
    }
}

[part~='text'],
[part~='subtitle'],
[part~='title'] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

[part~='header-inner'] {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: rem(8px);
    gap: rem(8px);
    overflow: hidden;

    &:focus,
    &:hover {
        cursor: pointer;
        background: rgb(0 0 0 / 10%);
    }
}

[part~='body'] {
    background: #fff;
}

[part='step vertical'],
[part='step'] {
    [part~='header-inner'] {
        margin-block-end: rem(8px);
        align-items: flex-start;
    }

    [part~='body'] {
        margin-inline-start: rem(28px);
        padding-block-start: rem(8px);
        padding-block-end: rem(8px);
        padding-inline-end: rem(8px);
        padding-inline-start: rem(20px);
        border-inline-start: var(--border, #{rem(1px) solid red});
    }

    [part='body'] {
        overflow: hidden;

        [part='content'] {
            transform: scaleY(0);
            transform-origin: top;
            transition: transform 250ms ease-in-out;
            display: none;
        }
    }

    [part~='active-body'] {
        overflow: visible;

        [part='content'] {
            transition: transform 250ms ease-in-out;
            transform: scaleY(1);
        }
    }
}
