@use '../../../../styles/common/component';
@use '../../../../styles/utilities/index' as *;

:host {
    flex: 1;
    position: initial;
    align-content: center;
    justify-content: center;
    min-width: 6.25rem;
}

[part='step horizontal'] {
    overflow: hidden;
    flex-direction: row;
    flex-grow: 1;

    [part~='body'] {
        position: absolute;
        top: 100%;
        inset-inline-start: 100%;
        width: 100%;
        overflow: hidden;
    }

    [part~='active-body'] {
        inset-inline-start: 0;
        transition: all 250ms ease-in-out;
    }

    [part~='content'] {
        overflow: hidden;
        position: relative;
    }

    [part~='header-container'] {
        align-items: center;
        position: relative;

        &::after {
            display: var(--dispaly);
            content: '';
            flex: 1;
            width: 100%;
            min-width: rem(20px);
            height: 1px;
            background: red;
            position: relative;
        }
    }
}

[part~='active-header'] {
    [part~='indicator'] {
        [name~='indicator']::slotted(span) {
            background: #09f;
            color: #fff;
        }
    }
}

[part~='header-container'] {
    display: flex;
}

[part~='start'] {
    [part='header'] {
        flex-direction: row-reverse;
    }
}

[part~='top'] {
    [part='header'] {
        flex-direction: column-reverse;
    }
}

[part~='bottom'] {
    [part='header'] {
        flex-direction: column;
    }
}

[part~='indicator'] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(40px);
    height: rem(40px);
    padding: rem(8px);

    [name~='indicator']::slotted(span) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(24px);
        height: rem(24px);
        border-radius: 50%;
        background: #ddd;
    }
}

[part~='text'],
[part~='subtitle'],
[part~='title'] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

[part~='header'] {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: rem(8px);
    gap: rem(8px);
    overflow: hidden;

    &:focus,
    &:hover {
        cursor: pointer;
        background: rgb(0 0 0 / 10%);
    }
}

[part~='body'] {
    background: #fff;
}

// Vertical stepper (Default)
[part='step vertical'],
[part='step'] {
    [part~='header'] {
        margin-block-end: rem(8px);
        align-items: flex-start;
    }

    [part~='body'] {
        margin-inline-start: rem(28px);
        padding-block-start: rem(8px);
        padding-block-end: rem(8px);
        padding-inline-end: rem(8px);
        padding-inline-start: rem(20px);
        border-left: rem(1px) solid red;
    }

    [part~='content'] {
        overflow: hidden;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 250ms ease-in-out;
        max-height: 0;
    }

    [part~='active-body'] {
        [part~='content'] {
            max-height: 100%;
            transform: scaleY(1);
        }
    }
}
