@use '../../../../styles/common/component';
@use '../vars' as *;

:host {
    overflow: hidden;
    align-items: flex-start;
}

[part~='header-container'] {
    display: flex;
    pointer-events: none;
    grid-column: calc(#{var(--step-index)} + 1) / calc(#{var(--step-index)} + 2);
    grid-row-start: var(--header-position-in-grid, 1 / 2);
    min-width: rem(140px);
    width: var(--step-width, auto);
    position: relative;

    [part~='header'] {
        pointer-events: all;
    }

    [part='indicator'],
    [part='title'],
    [part='subtitle'] {
        pointer-events: none;
    }

    &::before,
    &::after {
        width: 100%;
        min-width: rem(20px);
    }

    &::before {
        display: var(--step-hide-first-of-type);
    }

    &::after {
        display: var(--step-hide-last-of-type);
    }
}

[part~='header-container'],
[part~='header'] {
    &::before,
    &::after {
        content: '';
        flex: 1;
        border-top: $separator-size dashed $separator-color;
        height: $separator-size;
        position: relative;
    }
}

[part~='header'] {
    display: flex;
    align-items: var(--align-items, flex-start);
    position: relative;
    width: var(--step-width, auto);
    overflow: hidden;
    padding: $padding;
    justify-content: flex-start;
    gap: $header-gap;
    color: color(gray, 900);

    &::before,
    &::after {
        width: calc(50% - $indicator-inner-size);
        position: absolute;
        z-index: -1;
    }

    &::before {
        inset-inline-start: 0;
        display: var(--step-hide-first-of-type, var(--step-hide-full-before-after));
    }

    &::after {
        inset-inline-end: 0;
        display: var(--step-hide-last-of-type, var(--step-hide-full-before-after));
    }

    &:focus,
    &:hover {
        cursor: pointer;
        outline: none;

        &::before,
        &::after {
            display: none;
        }
    }

    &:hover {
        background: color(gray, 200);
    }

    &:focus {
        background: color(gray, 100);

        &:hover {
            background: color(gray, 200);
        }
    }
}

[part~='body'] {
    grid-row-start: var(--body-position-in-grid, 2);
    grid-column: 1 / -1;
    transform: translateX(-100%);
    position: absolute;
}

[part~='active-body'] {
    transform: translateX(0%);
    position: static;
    transition: all 250ms ease-in-out;

    [part='content'] {
        pointer-events: all;
    }
}

[part~='top'] {
    align-items: flex-end;

    &::before,
    &::after {
        inset-block-end: #{var(--step-separator-position)};
    }

    [part~='header'] {
        flex-direction: column-reverse;

        &::before,
        &::after {
            inset-block-end: #{var(--step-separator-position)};
        }
    }
}

[part~='bottom'] {
    align-items: start;

    &::before,
    &::after {
        inset-block-start: #{var(--step-separator-position)};
    }

    [part~='header'] {
        flex-direction: column;

        &::before,
        &::after {
            inset-block-start: #{var(--step-separator-position)};
        }
    }
}

[part~='active-header'] {
    [part~='indicator'] {
        span {
            background: color(primary, 500);
            color: contrast-color(primary, 800);
            box-shadow: 0 0 0 $indicator-box-shadow-size color(primary, 500);
        }
    }
}

[part~='start'] {
    [part='text'] {
        order: -1;
    }
}

[part~='indicator'] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $indicator-size;
    height: $indicator-size;
    padding: $indicator-padding;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $indicator-inner-size;
        height: $indicator-inner-size;
        border-radius: calc($indicator-inner-size / 2);
        background: color(gray, 400);
        box-shadow: 0 0 0 $indicator-box-shadow-size color(gray, 400);

        @include type-category('caption');
    }
}

[part~='text'] {
    width: var(--text-width, auto);
    text-align: var(--align-text, initial);
}

[part~='text'],
[part~='subtitle'],
[part~='title'] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

[part~='title'] {
    @include type-category('body-2');

    color: contrast-color(gray, 50);
}

[part~='subtitle'] {
    @include type-category('caption');

    color: color(gray, 700);
}

// [part~='disabled'] {
//    background: transparent;
//    [part~='indicator'] {
//        span {
//            color: color(gray, 500);
//            background: color(gray, 100);
//            box-shadow: 0 0 0 $indicator-box-shadow-size color(gray, 100);
//        }
//    }
//    [part~='title'],
//    [part~='subtitle'] {
//        color: color(gray, 500);
//    }
// }
