@use '../../styles/utilities' as utils;

@mixin theme() {
    igc-checkbox::part(control) {
        border: none;
        box-shadow: inset 0 0 0 1px #{utils.color(gray, 900)};

        &::after {
            display: none;
        }
    }

    igc-checkbox::part(indicator) {
        stroke-width: 1;
    }

    igc-checkbox:hover::part(control),
    igc-checkbox:focus-within::part(control) {
        box-shadow: inset 0 0 0 1px #{utils.color(gray, 800)};
    }

    igc-checkbox[checked]::part(control),
    igc-checkbox[indeterminate]::part(control) {
        background: #{utils.color(primary, 500)};
        box-shadow: inset 0 0 0 1px #{utils.color(primary, 500)};
    }

    igc-checkbox[checked]:focus-within::part(control),
    igc-checkbox[indeterminate]:focus-within::part(control) {
        background: utils.color(primary, 900);
        box-shadow: inset 0 0 0 1px #{utils.color(primary, 900)};
    }

    igc-checkbox[invalid]::part(control) {
        box-shadow: inset 0 0 0 1px #{utils.color(error, 500)};
    }

    igc-checkbox[invalid][checked]::part(control),
    igc-checkbox[invalid][indeterminate]::part(control) {
        box-shadow: inset 0 0 0 1px #{utils.color(error, 500)};
        background: utils.color(error, 500);
    }

    igc-checkbox:not([checked])[invalid]:hover::part(control),
    igc-checkbox:not([checked])[invalid]:focus-within::part(control) {
        box-shadow: inset 0 0 0 1px #{utils.color(error, 700)};
    }

    igc-checkbox[checked][invalid]:hover::part(control),
    igc-checkbox[checked][invalid]:focus-within::part(control),
    igc-checkbox[indeterminate][invalid]:hover::part(control),
    igc-checkbox[indeterminate][invalid]:focus-within::part(control) {
        box-shadow: inset 0 0 0 1px #{utils.color(error, 700)};
        background: utils.color(error, 700);
    }

    igc-checkbox[disabled]::part(control),
    igc-checkbox[disabled][invalid]::part(control) {
        box-shadow: inset 0 0 0 1px #{utils.color(gray, 400)};
    }

    igc-checkbox[disabled][checked]::part(control),
    igc-checkbox[disabled][indeterminate]::part(control),
    igc-checkbox[disabled][checked][invalid]::part(control),
    igc-checkbox[disabled][indeterminate][invalid]::part(control) {
        background: #{utils.color(gray, 400)};
    }
}
