@use '../../styles/common/component';
@use '../../styles/utilities' as *;

:host {
    display: inline-flex;
    font-family: var(--igc-font-family);
}

input[type='checkbox'] {
    @include hide-default();
}

$mark-length: 24;

[part='base'] {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-flow: row nowrap;

    &:hover [part='control'] {
        background: color(gray, 200, .87);
    }

    &:focus-within [part='control'] {
        background: color(gray, 300, .87);
    }
}

[part='control'] {
    $size: var(--size, rem(20px));
    position: relative;
    display: inline-flex;
    width: calc(#{$size } * 2);
    height: calc(#{$size } * 2);
    min-width: calc(#{$size } * 2);
    border-radius: 50%;
    user-select: none;
    transition: background .15s ease-in;

    &::after {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: $size;
        height: $size;
        border: rem(2px) solid color(gray, 600);
        border-radius: rem(2px);
        transition: all .15s ease-in;
    }
}

[part='label'] {
    display: inline-block;
    color: color(gray, 900);
    cursor: pointer;
    user-select: none;
    word-wrap: break-all;
    transition: color .2s ease-in-out;
}

[part='indicator'] {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    stroke: white;
    stroke-linecap: square;
    stroke-width: 3;
    stroke-dasharray: $mark-length;
    stroke-dashoffset: $mark-length;
    fill: none;
    opacity: 0;
    z-index: 1;
    transform: scale(.45);
    transform-origin: center;
}

:host([checked]),
:host([indeterminate]) {
    [part='base'] {
        &:hover [part='control'] {
            background: color(secondary, 50, .54);
        }

        &:focus-within [part='control'] {
            background: color(secondary, 100, .72);
        }
    }

    [part='control']::after {
        border-color: color(secondary, 500);
        background: color(secondary, 500);
    }

    [part='indicator'] {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}

:host([checked]) {
    [part='indicator'] {
        transition: all .2s ease-out;
    }
}

:host(:not([checked])[indeterminate]) {
    [part='indicator'] {
        stroke-dashoffset: 41;
        opacity: 1;
        transform: rotate(45deg) scale(.45) translateX(-.25rem);
    }
}

:host(:not([disabled])[invalid]) {
    [part='label'] {
        color: color(error, 500);
    }

    [part='control'] {
        &::after {
            border-color: color(error, 500);
        }
    }
}

:host(:not([disabled])[invalid][checked]),
:host(:not([disabled])[invalid][indeterminate]) {
    [part='control'] {
        &::after {
            background: color(error, 500);
        }
    }
}

:host([disabled]) {
    user-select: none;
    cursor: initial;
    pointer-events: none;

    [part='control'] {
        &::after {
            border-color: color(gray, 300);
        }
    }

    [part='label'] {
        color: color(gray, 400);
    }
}

:host([disabled][checked]),
:host([disabled][indeterminate]) {
    [part='control'] {
        &::after {
            background: color(gray, 300);
            border-color: color(gray, 300);
        }
    }
}

:host([label-position='after']) {
    [part='label'] {
        margin-inline-start: rem(8px);
    }
}

:host([label-position='before']) {
    [part='label'] {
        order: -1;
        margin-inline-end: rem(8px);
    }
}
