@use '../../styles/utilities' as utils;

@mixin theme() {
    igc-switch {
        font-weight: 600;
        --size: #{utils.rem(34px)};
        --thumb-size: #{utils.rem(8px)};
        --thumb-offset: calc(var(--thumb-size) / 2);
    }

    igc-switch::part(control) {
        width: var(--size);
        height: utils.rem(16px);
        box-shadow: inset 0 0 0 2px #{utils.color(gray, 500)};
        border-radius: utils.rem(8px);
        background: transparent;

        &::after {
            content: '';
            position: absolute;
            width: inherit;
            height: inherit;
            border-radius: inherit;
        }
    }

    igc-switch:hover::part(control) {
        box-shadow: 0 0 0 2px #{utils.color(gray, 200, .87)};

        &::after {
            border: 2px solid #{utils.color(gray, 500)};
        }
    }

    igc-switch:focus-within::part(control) {
        box-shadow: 0 0 0 2px #{utils.color(gray, 300, .87)};

        &::after {
            border: 2px solid #{utils.color(gray, 500)};
        }
    }

    igc-switch::part(control checked) {
        background: #{utils.color(primary, 500)};
        box-shadow: inset 0 0 0 2px #{utils.color(secondary, 500)};
    }

    igc-switch:hover::part(control checked) {
        box-shadow: 0 0 0 2px #{utils.color(secondary, 100, .87)};

        &::after {
            border: 2px solid #{utils.color(secondary, 500)};
        }
    }

    igc-switch:focus-within::part(control checked) {
        box-shadow: 0 0 0 2px #{utils.color(secondary, 200, .87)};

        &::after {
            border: 2px solid #{utils.color(secondary, 500)};
        }
    }

    igc-switch[invalid]::part(control),
    igc-switch[invalid]::part(control checked),
    igc-switch[invalid]:focus-within::part(control) {
        box-shadow: inset 0 0 0 2px #{utils.color(error, 500)};
    }

    igc-switch[invalid]::part(control checked),
    igc-switch[invalid]::part(thumb) {
        background: utils.color(error, 500);
    }

    igc-switch[invalid]:hover::part(control),
    igc-switch[invalid]:focus-within::part(control),
    igc-switch[invalid]:focus-within::part(control checked) {
        &::after {
            border: 2px solid #{utils.color(error, 500)};
        }
    }

    igc-switch[disabled]::part(control),
    igc-switch[disabled][invalid]::part(control) {
        box-shadow: inset 0 0 0 2px #{utils.color(gray, 300)};
    }

    igc-switch[disabled]::part(control checked),
    igc-switch[disabled][invalid]::part(control checked) {
        background: transparent;
    }

    igc-switch::part(thumb) {
        width: var(--thumb-size);
        height: var(--thumb-size);
        min-width: var(--thumb-size);
        border-radius: utils.rem(10px);
        animation-name: thumb-off;
        margin-inline-start: var(--thumb-offset);
        background: #{utils.color(gray, 600)};
        box-shadow: none;

        &::after {
            display: none;
        }

        &:hover {
            box-shadow: none;
        }
    }

    igc-switch::part(thumb checked),
    igc-switch[invalid]::part(thumb checked) {
        background: white;
        animation-name: thumb-on;
        margin-inline-start: calc(var(--size) - var(--thumb-size) - var(--thumb-offset));
    }

    igc-switch[disabled]::part(thumb),
    igc-switch[disabled][invalid]::part(thumb) {
        background: #{utils.color(gray, 400)};
    }
}
