@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $indigo;

[part~='base'] {
    --dot-shadow-color: transparent;
}

[part='base focused'] {
    --dot-shadow-color: #{var-get($theme, 'indicator-focus-color')};

    ::slotted(div) {
        &::after {
            border: none;
            box-shadow: 0 0 0 rem(3px) var-get($theme, 'indicator-focus-color');
        }
    }
}
