@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

[part~='base'] {
    --indicator-border-active-color: #{var-get($theme, 'indicator-active-border-color')};
    --indicator-dot-active-color: #{var-get($theme, 'indicator-active-dot-color')};
    --indicator-active-hover-color: #{var-get($theme, 'indicator-active-hover-dot-color')};
}

[part='base focused'] {
    --indicator-border-active-color: #{var-get($theme, 'indicator-focus-color')};
    --indicator-dot-active-color: #{var-get($theme, 'indicator-focus-color')};
    --indicator-active-hover-color: #{var-get($theme, 'indicator-focus-color')};

    ::slotted(div) {
        &::after {
            position: absolute;
            content: '';
            pointer-events: none;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            border: rem(2px) solid var-get($theme, 'indicator-focus-color');
        }
    }
}
