@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/navbar' as *;

$material: digest-schema($material-navbar);
$bootstrap: digest-schema($bootstrap-navbar);
$fluent: digest-schema($fluent-navbar);
$indigo: digest-schema($indigo-navbar);
