@use 'sass:map';
@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $indigo;

:host {
    @include css-vars-from-theme($theme, 'ig-navbar');

    background: var-get($theme, 'background');
    color: var-get($theme, 'text-color');
    box-shadow: var(--ig-elevation-0);
}

::slotted(igc-icon) {
    color: var-get($theme, 'idle-icon-color');
}

::slotted(igc-icon:hover) {
    color: var-get($theme, 'hover-icon-color');
}
