@use 'sass:map';
@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;
@use '../../../../styles/themes/schemas/indigo/light' as *;

$schema: map.get($light-indigo-schema, 'navbar');
$theme: digest-schema($schema);

:host {
    @include css-vars-from-theme($theme, 'ig-navbar');

    background: var-get($theme, 'background');
    color: var-get($theme, 'text-color');
    box-shadow: elevation(map.get($schema, 'elevation'));
}

::slotted(igc-icon) {
    color: var-get($theme, 'idle-icon-color');
}

::slotted(igc-icon:hover) {
    color: var-get($theme, 'hover-icon-color');
}
