@use 'sass:map';
@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $fluent;

:host {
    @include css-vars-from-theme($theme, 'ig-navbar');

    background: var-get($theme, 'background');
    color: var-get($theme, 'text-color');
    box-shadow: var(--ig-elevation-4);
}

::slotted(igc-icon) {
    color: var-get($theme, 'idle-icon-color');
}

::slotted(igc-icon:hover) {
    color: var-get($theme, 'hover-icon-color');
}

::slotted(*) {
    @include type-style('subtitle-2') {
        line-height: normal;
        margin: 0;
    }
}
