@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;

:host {
    display: flex;
    width: 100%;
    min-height: rem(56px);
    max-height: rem(128px);
    padding: 0 rem(16px);
    background: color(primary, 500);
    color: contrast-color(primary, 600);
    box-shadow: var(--igc-elevation-4);
    font-family: var(--igc-font-family);
    z-index: 4;
}

[part='base'] {
    display: inherit;
    position: relative;
    flex-flow: row nowrap;
    flex-grow: 1;
    align-items: center;
    overflow: hidden;
}

[part='middle'] {
    @include line-clamp(4, true, true);

    user-select: text;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

[part='start'],
[part='end'] {
    display: flex;
    align-items: center;
    user-select: none;
}

[name='start']::slotted(*) {
    margin-inline-end: rem(16px);
    margin-inline-start: rem(1px);
}

[name='end']::slotted(*) {
    margin-inline-start: rem(16px);
    margin-inline-end: rem(1px);
}

::slotted(igc-avatar[part='base']) {
    max-width: rem(32px);
    max-height: rem(32px);
    min-height: 0;
    min-width: 0;
}

::slotted(igc-icon) {
    cursor: pointer;
    color: contrast-color(primary, 600);
    width: rem(32px);
    height: rem(32px);
    font-size: rem(32px);
}

::slotted(*) {
    @include type-style('h6') {
        line-height: normal;
        margin: 0;
    }
}
