@use '../../../../styles/utilities/index' as *;
@use '../year-month-view.base';

$current-bg: var(--current-month-year-bg, #{color(gray, 200)});
$current-color: var(--current-month-year-color, #{contrast-color(gray, 200)});
$current-bg-hover: var(--current-month-year-bg-hover, #{color(gray, 300)});
$current-color-hover: var(--current-month-year-color-hover, #{contrast-color(gray, 300)});
$selected-bg: var(--selected-month-year-bg, #{color(primary, 50)});
$selected-color: var(--selected-month-year-color, #{contrast-color(primary, 50)});
$selected-bg-hover: var(--selected-month-year-bg-hover, #{color(primary, 100)});
$selected-color-hover: var(--selected-month-year-color-hover, #{contrast-color(primary, 100)});

[part~='month-inner'][part~='current'],
[part~='year-inner'][part~='current'] {
    box-shadow: none;
    background: $current-bg;
    color: $current-color;

    &:hover,
    &:focus {
        background: $current-bg-hover;
        color: $current-color-hover;
    }
}

[part~='month-inner'][part~='selected'],
[part~='year-inner'][part~='selected'],
[part~='month-inner'][part~='selected'][part~='current'],
[part~='year-inner'][part~='selected'][part~='current'] {
    box-shadow: none;
    background: $selected-bg;
    color: $selected-color;

    &:hover,
    &:focus {
        background: $selected-bg-hover;
        color: $selected-color-hover;
    }
}
