@use 'styles/utilities' as *;

[part='title'],
[part='footer'] {
    @include type-style('h5') {
        margin: 0;
    }
}

[part='title'] {
    padding: pad-block(rem(24px)) pad-inline(rem(24px)) 0;
}

[part='content'] {
    padding: pad-block(rem(16px)) pad-inline(rem(24px));
}

[part='footer'] {
    padding: pad-block(rem(16px)) pad-inline(rem(24px)) pad-block(rem(24px));
    gap: rem(16px);
}

[part~='base'] {
    ::slotted(igc-button) {
        --ig-size: 2;
    }
}
