@use 'styles/utilities' as *;

[part='title'] {
    padding: rem(24px) rem(24px) 0 rem(24px);
}

[part='content'] {
    padding: rem(16px) rem(24px);
}

[part='footer'] {
    padding: rem(16px) rem(24px) rem(24px) rem(24px);
}
