@use './slider.base.scss';
@use '../../../../styles/utilities' as *;

$inactive-background: color(gray, 400) !default;
$inactive-hover-background: color(gray, 500) !default;
$thumb-size: rem(14px);
$thumb-radius: calc(#{$thumb-size} / 2);

[part='base']:hover {
    [part='inactive'] {
        background: $inactive-hover-background;
    }

    [part='fill'] {
        background: color(primary, 400);
    }
}

[part='inactive'] {
    background: $inactive-background;
}

[part='track'],
[part='fill'],
[part='inactive'],
[part='steps'] {
    height: rem(2px);
    top: initial;
    border-radius: initial;
}

[part='thumb'] {
    width: $thumb-size;
    height: $thumb-size;
    top: calc((#{$thumb-size} - #{$thumb-radius}) * -1);
    margin-inline-start: calc((#{$thumb-size} - #{$thumb-radius}) * -1);

    &:focus {
        box-shadow: 0 0 0 rem(3px) color(primary, 200);
    }

    &::after {
        display: none;
    }
}

:host([disabled]) {
    [part='thumb'],
    [part='fill'],
    [part='inactive'] {
        background: color(gray, 300);
    }
}
