@use 'sass:math';
@use '../../../../styles/utilities' as *;

$inactive-background: var(--inactive-background, color(gray, 600)) !default;
$inactive-disabled-background: var(--inactive-disabled-background, color(gray, 100)) !default;
$fill-background: var(--fill-background, color(gray, 800)) !default;
$fill-hover-background: var(--fill-hover-background, color(primary, 500)) !default;
$fill-disabled-background: var(--fill-disabled-background, color(gray, 500)) !default;
$thumb-border: var(--thumb-border, color(gray, 700)) !default;
$thumb-hover-border: var(--thumb-hover-border, color(primary, 700)) !default;
$thumb-disabled-border: var(--thumb-disabled-border, color(gray, 400)) !default;
$thumb-size: rem(16px);
$thumb-radius: math.div($thumb-size, 2);

:host(:hover) {
    [part='fill'] {
        background: $fill-hover-background;
    }

    [part='thumb'] {
        border-color: $thumb-hover-border;
    }
}

[part~='focused'] {
    &::after {
        position: absolute;
        content: '';
        pointer-events: none;
        top: - rem(28px);
        left: - rem(4px);
        width: calc(100% + 8px);
        height: calc(100% + 56px);
        box-shadow: 0 0 0 rem(1px) color(gray, 700);
    }
}

[part='track'],
[part='fill'],
[part='inactive'] {
    height: rem(4px);
}

[part='inactive'] {
    background: $inactive-background;
    top: initial;
}

[part='fill'] {
    background: $fill-background;
}

[part='thumb'] {
    background: color(surface, 500);
    border: rem(2px) solid $thumb-border;
    width: $thumb-size;
    height: $thumb-size;
    top: calc((#{$thumb-size} - #{$thumb-radius}) * -1);
    margin-inline-start: calc((#{$thumb-size} - #{$thumb-radius}) * -1);
}

:host([disabled]) {
    [part='inactive'] {
        background: $inactive-disabled-background;
    }

    [part='fill'] {
        background: $fill-disabled-background;
    }

    [part='thumb'] {
        background: color(surface, 500);
        border-color: $thumb-disabled-border;
    }
}
