@use 'sass:math';
@use 'styles/utilities' as *;

$ripple-size: rem(40px);
$ripple-radius: math.div($ripple-size, 2);
$thumb-size: rem(20px);
$thumb-radius: math.div($thumb-size, 2);

[part='track'] {
    height: rem(6px);
}

[part='fill'] {
    height: rem(6px);
}

[part='inactive'] {
    height: rem(4px);
    top: rem(1px);
}

[part='steps'] {
    color: color(secondary, 200);
}

[part~='thumb'] {
    width: $thumb-size;
    height: $thumb-size;
    top: calc((#{$thumb-size} - #{$thumb-radius}) * -1);
    margin-inline-start: calc((#{$thumb-size} - #{$thumb-radius}) * -1);

    &::after {
        @include border-radius($ripple-radius);

        position: absolute;
        content: '';
        width: $ripple-size;
        height: $ripple-size;
        background: color(secondary, 500);
        top: calc(50% - #{$ripple-radius});
        inset-inline-start: calc(50% - #{$ripple-radius});
        opacity: 0;
        transform: scale(0);
        transform-origin: center center;
        transition: transform .1s ease-out, opacity .1s ease-out;
        overflow: hidden;
    }

    &:hover::after {
        opacity: .12;
        transform: scale(1);
    }

    &:focus::after {
        opacity: .18;
        transform: scale(1);
    }

    &:active::after {
        opacity: .24;
    }
}
