@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $fluent;
$resting-border-width: rem(1px);
$focused-border-width: rem(2px);
$resting-height: calc(var-get($theme, 'size') - #{($resting-border-width * 2)});
$focused-height: calc(var-get($theme, 'size') - #{($focused-border-width * 2)});

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
    --input-size: var(--component-size);
    --helper-text-top-spacer: rem(5px);

    [part='prefix'],
    [part='suffix'] {
        font-size: rem(14px);
        cursor: default;

        ::slotted(*) {
            color: inherit;
        }
    }

    ::part(helper-text) {
        @include type-style('caption');

        color: var-get($theme, 'helper-text-color');
        margin-block-start: rem(5px);
        grid-auto-rows: minmax(rem(18px), auto);
    }

    [name='prefix']::slotted(*),
    [name='suffix']::slotted(*) {
        display: inline-flex;
        align-items: center;
        width: max-content;
        height: 100%;
        padding-inline: pad-inline(8px, 12px, 16px);
    }

    [part='prefix'] {
        grid-area: 1 / 1;
    }

    [part='suffix'] {
        grid-area: 1 / 3;
    }

    [part='label'] {
        @include type-style('subtitle-2');

        color: var-get($theme, 'idle-secondary-color');
        margin-block-end: rem(5px);
    }

    [part^='container'] {
        height: var-get($theme, 'size');
        border-radius: var-get($theme, 'border-border-radius');
        border: #{$resting-border-width} solid var-get($theme, 'border-color');
        transition: none;
        cursor: text;
        grid-template-columns: auto 1fr auto;
        overflow: hidden;
    }

    [part~='input'] {
        color: var-get($theme, 'idle-text-color');
        height: $resting-height;
        background: initial;
        font-size: rem(14px);
        padding-inline: rem(8px);
        max-height: 100%;
        border: none;
        grid-area: 1 / 2;
    }
}

:host(:hover) {
    [part^='container'] {
        border-color: var-get($theme, 'hover-border-color');
    }
}

:host(:focus-within) {
    [part^='container'] {
        border-color: var-get($theme, 'focused-border-color');
        border-width: #{$focused-border-width};
    }

    [part~='input'] {
        height: $focused-height;
    }

    [part='prefix'] {
        margin-inline-start: rem(-1px);
    }

    [part='suffix'] {
        margin-inline-end: rem(-1px);
    }

    [name='prefix']::slotted(*),
    [name='suffix']::slotted(*) {
        padding-block: pad-block(6px, 8px, 10px);
    }
}

:host([type='search']) {
    [part='prefix'] {
        background: var(--ig-input-group-input-prefix-background, transparent);
        color: var(--ig-input-group-input-prefix-color, var(--ig-primary-500));
    }

    [part='suffix'] {
        background: var(--ig-input-group-input-suffix-background, transparent);
        color: var(--ig-input-group-input-suffix-color, var(--ig-primary-500));
    }
}

:host([type='search']:focus-within) {
    [part='prefix'] {
        display: none;
    }

    [part='suffix'] {
        color: var(--ig-input-group-input-suffix-color--focused, var(--ig-gray-900));
    }
}

:host([required]) {
    [part='label']::after {
        color: var-get($theme, 'error-secondary-color');
    }
}

:host([invalid]) {
    [part^='container'] {
        border-color: var-get($theme, 'error-secondary-color');
    }
}

:host(:disabled),
:host([disabled]) {
    [part^='container'] {
        border-color: var-get($theme, 'disabled-border-color');
    }

    [part^='container'],
    [part='prefix'],
    [part='suffix'] {
        background: var-get($theme, 'border-disabled-background');
    }

    [part='prefix'],
    [part='suffix'],
    [part='label'],
    [part='label']::after,
    [part~='input'],
    ::part(helper-text) {
        color: var-get($theme, 'disabled-text-color');
    }
}
