@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $base;

[part='prefix'] {
    color: var-get($theme, 'input-prefix-color');
    background: var-get($theme, 'input-prefix-background');
}

[part='suffix'] {
    color: var-get($theme, 'input-suffix-color');
    background: var-get($theme, 'input-suffix-background');
}

[part~='filled'] {
    [part='prefix'] {
        color: var-get($theme, 'input-prefix-color--filled');
        background: var-get($theme, 'input-prefix-background--filled');
    }

    [part='suffix'] {
        color: var-get($theme, 'input-suffix-color--filled');
        background: var-get($theme, 'input-suffix-background--filled');
    }
}

[part~='input']::placeholder {
    color: var-get($theme, 'placeholder-color');
}

[part~='file-parts'] {
    display: contents;
}

[part='file-selector-button'] {
    align-content: center;
    grid-area: 1 / 2;

    igc-button::part(base) {
        transition: none;
    }
}

[part='file-names'] {
    @include ellipsis();

    align-content: center;
    grid-area: 1 / 3;
}

:host([type='file']) {
    [part~='container'] {
        position: relative;
        grid-template-columns: auto auto 1fr auto;
    }

    [part~='input'] {
        position: absolute;
        border: none;
        inset: 0;
        width: 100%;
        grid-column: 2 / 4;
        appearance: none;
        opacity: 0;
        cursor: pointer;
    }

    [part~='input']::file-selector-button {
        cursor: pointer !important;
        width: 100%;
    }

    [part~='suffix'] {
        grid-area: 1 / 4;
    }
}

:host(:focus-within),
:host(:hover) {
    [part~='input']::placeholder {
        color: var-get($theme, 'hover-placeholder-color');
    }
}

:host(:focus-within) {
    [part='prefix'] {
        color: var-get($theme, 'input-prefix-color--focused');
        background: var-get($theme, 'input-prefix-background--focused');
    }

    [part='suffix'] {
        color: var-get($theme, 'input-suffix-color--focused');
        background: var-get($theme, 'input-suffix-background--focused');
    }
}

/* stylelint-disable */
:host([type='search']) {
    input[type='search']::-webkit-search-cancel-button,
    input[type='search']::-webkit-search-decoration {
        -webkit-appearance: none;
    }
}
/* stylelint-enable */

:host([invalid]) {
    ::part(helper-text) {
        color: var-get($theme, 'error-secondary-color');
    }
}

:host(:disabled),
:host([disabled]) {
    [part~='file-names'],
    [part~='input']::placeholder {
        color: var-get($theme, 'disabled-text-color');
    }
}

::part(helper-text) {
    display: grid;
}
