@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $indigo;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
    --button-min-width: #{rem(32px)};
}
