@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
    --button-min-width: #{rem(42px)};
}

[part~='group'] {
    box-shadow: var-get($theme, 'elevation');
    border-radius: var-get($theme, 'border-radius');
}

:host([alignment='horizontal']) {
    --horizontal-radius: #{var-get($theme, 'border-radius')};
}

:host([alignment='vertical']) {
    --vertical-radius: #{var-get($theme, 'border-radius')};
}
