@use 'styles/utilities' as *;
@use 'themes' as *;
@use '../light/themes' as light;

:host {
    @include css-vars-from-theme(diff(light.$base, $fluent), 'ig-calendar');

    // TODO remove this variables after calendar consume its colors from the schema
    &::part(header) {
        --header-color: #{contrast-color(primary, 500)};
    }

    &::part(days-view) {
        --date-current-color: #{contrast-color(secondary, 500)};
        --date-color-hover: #{contrast-color(gray, 100)};
    }

    &::part(months-view),
    &::part(years-view) {
        --current-month-year-bg: #{color(gray, 100)};
        --current-month-year-color: #{contrast-color(gray, 100)};
        --current-month-year-bg-hover: #{color(gray, 200)};
        --current-month-year-color-hover: #{contrast-color(gray, 200)};
        --selected-month-year-bg: #{color(primary, 900)};
        --selected-month-year-color: #{contrast-color(primary, 900)};
        --selected-month-year-bg-hover: #{color(primary, 800)};
        --selected-month-year-color-hover: #{contrast-color(primary, 800)};
    }
}
