@use 'styles/common/component';
@use 'styles/utilities' as *;

// should be removed
:host {
  width: 100%;
  height: 600px;
  overflow: hidden;
  box-shadow: var(--ig-elevation-4);
  display: flex;
  flex-direction: column;
}

[part='chat-container'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: rem(40px);
}

igc-chat-message-list,
[part='empty-state'],
[part='suggestions-container'] {
  max-width: rem(760px);
  width: 100%;
  margin-inline: rem(16px);
}

[part='empty-state'] {
  height: 100%;
}

[part='header'] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(16px) rem(13px);
  gap: rem(16px);
  box-shadow: var(--ig-elevation-4);
  width: 100%;
}

[part='title'] {
  @include type-style('h6') {
    margin: 0;
  };
}

[part='suggestions-container'] {
  display: flex;
  flex-direction: column;
  gap: rem(12px);

  igc-chip {
    --ig-size: 3;

    width: fit-content;
  }
}
