@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: flex;
    align-items: center;
    width: 100%;
    padding-block: rem(16px);
    justify-content: center;
}

[part~='input-container'] {
    display: flex;
    flex-direction: column;
    max-width: rem(760px);
    width: 100%;
    margin-inline: rem(16px);
    gap: rem(8px);
}

// should be changed when the design is ready
[part~='dragging'] {
    igc-textarea::part(container) {    
        background: color(gray, 300);

        &::after {
            border-block-end: rem(2px) solid color(primary, 500);
        }
    }
}

[part='buttons-container'] {
    display: flex;
    align-items: center;
}

[part='send-button'] {
    margin-inline-start: auto;
}

[part='attachments'] {
    display: flex;
    gap: rem(8px);
}

igc-file-input {
    width: fit-content;
    margin-inline-end: auto;
}

igc-file-input::part(file-names) {
    display: none;
}

igc-file-input::part(container) {
    background: transparent;
    border: none;

    &::after {
        display: none;
    }
}
