@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: block;
    overflow-y: auto;
    flex: 1;
    padding-block: rem(16px) rem(24px);
}

[part='message-list'] {
    display: flex;
    flex-direction: column;
    gap: rem(24px);
}

[part='typing-indicator'] {
    display: flex;
    align-items: center;
    gap: rem(2px);
}

[part='typing-dot'] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(8px);
    aspect-ratio: 1;

    &::after {
      content: '';
      display: block;
      animation: blink 1.2s ease-in-out infinite;
      animation-fill-mode: both;
      width: rem(6px);
      aspect-ratio: 1;
      border-radius: 50%;
    }

    &:nth-child(2)::after {
        animation-delay: .2s;
        width: rem(4px);
    }

    &:nth-child(3)::after {
        animation-delay: .4s;
    }

    &:nth-child(4)::after {
        animation-delay: .6s;
        width: rem(2px);
    }
}

@keyframes blink {
  0%, 100% {
    transform: scale(0.9);
  }

  25%, 75% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1.1);
  }
}
