@use 'styles/common/component';
@use 'styles/utilities' as *;

[part~='message-container'] {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

[part~='sent'] {
  max-width: rem(576px);
  margin-inline-start: auto;
  padding: rem(12px) rem(16px);
  border-radius: rem(24px) rem(24px) 0;
}

[part~='bubble'] {
  @include type-style('body-1') {
    margin: 0;
  };

  p {
    margin: 0;
    padding: 0;
  }
}
