@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/icon-button' as *;

// Material Themes
$material-flat: digest-schema(map.get($dark-icon-button, 'flat'));
$material-contained: digest-schema(map.get($dark-icon-button, 'contained'));
$material-outlined: digest-schema(map.get($dark-icon-button, 'outlined'));

// Bootstrap Themes
$bootstrap-flat: digest-schema(map.get($dark-bootstrap-icon-button, 'flat'));
$bootstrap-contained: digest-schema(map.get($dark-bootstrap-icon-button, 'contained'));
$bootstrap-outlined: digest-schema(map.get($dark-bootstrap-icon-button, 'outlined'));

// Fluent Themes
$fluent-flat: digest-schema(map.get($dark-fluent-icon-button, 'flat'));
$fluent-contained: digest-schema(map.get($dark-fluent-icon-button, 'contained'));
$fluent-outlined: digest-schema(map.get($dark-fluent-icon-button, 'outlined'));

// Indigo Themes
$indigo-flat: digest-schema(map.get($dark-indigo-icon-button, 'flat'));
$indigo-contained: digest-schema(map.get($dark-indigo-icon-button, 'contained'));
$indigo-outlined: digest-schema(map.get($dark-indigo-icon-button, 'outlined'));
