@use 'styles/utilities' as *;
@use 'themes' as *;
@use '../light/themes' as light;

$flat-theme: $fluent-flat;
$contained-theme: $fluent-contained;
$outlined-theme: $fluent-outlined;

:host([variant='flat']) {
    @include css-vars-from-theme(dark-overrides(light.$fluent-flat, $flat-theme), 'ig-icon-button');
}

:host([variant='outlined']) {
    @include css-vars-from-theme(dark-overrides(light.$fluent-outlined, $outlined-theme), 'ig-icon-button');
}

:host([variant='contained']) {
    @include css-vars-from-theme(dark-overrides(light.$fluent-contained, $contained-theme), 'ig-icon-button');
}
