@use 'styles/utilities' as *;
@use 'themes' as *;
@use '../light/themes' as light;

$theme: $fluent;

:host {
    @include css-vars-from-theme(diff(light.$base, $theme));
}

:host(:not([disabled]):state(ig-invalid):hover),
:host(:not(:disabled):state(ig-invalid):hover) {
    [part='control'] {
        &::before {
            background: color(error, 500);
        }
    }
}

:host(:not([disabled]):state(ig-invalid)),
:host(:not(:disabled):state(ig-invalid)) {
    [part='focused'] [part='control'] {
        &::before {
            background: color(error, 500);
        }
    }
}
