@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $material;

:host {
    @include css-vars-from-theme($theme, 'ig-radio');
}

[part~='base'] {
    &:hover {
        [part~='ripple'],
        [part~='ripple checked'] {
            opacity: 0.12;
        }
    }

    &:focus-within {
        [part='ripple'],
        [part='ripple checked'] {
            opacity: 0.24;
        }
    }
}
