@use '../../../../styles/utilities' as utils;

@mixin theme() {
    igc-radio {
        --hover-color: #{utils.color(gray, 500)};
        --checked-hover-color: #{utils.color(primary, 200)};
        --invalid-hover-color: #{utils.color(error, 200)};
        --disabled-color: #{utils.color(gray, 200)};
    }
}
