@use 'sass:map';
@use '../../../../styles/utilities' as *;

$idle-color: color(gray, 600) !default;
$idle-hover-color: color(gray, 800) !default;
$hover-background: color(gray, 200) !default;
$focus-background: color(gray, 300) !default;
$active-color: color(primary, 500) !default;
$error-color: color(error, 500) !default;
$idle-border-width: rem(1px) !default;
$active-border-width: rem(2px) !default;
$fs: rem(16px) !default;

%large-label {
    transform: translateY(-26px);
    font-size: rem(12px);
}

%medium-label {
    transform: translateY(-22px);
    font-size: rem(12px);
}

%small-label {
    transform: translateY(-18px);
    font-size: rem(12px);
}

%floated-styles {
    border-top: $idle-border-width solid transparent;
}

:host {
    input:not(:placeholder-shown) + [part='notch'] {
        @extend %floated-styles;
    }
}

:host([size='large']) {
    input:not(:placeholder-shown) + [part='notch'] [part='label'] {
        @extend %large-label;
    }
}

:host([size='medium']) {
    input:not(:placeholder-shown) + [part='notch'] [part='label'] {
        @extend %medium-label;
    }
}

:host([size='small']) {
    input:not(:placeholder-shown) + [part='notch'] [part='label'] {
        @extend %small-label;
    }
}

:host([size='large']:focus-within) {
    [part='label'] {
        @extend %large-label;
    }
}

:host([size='medium']:focus-within) {
    [part='label'] {
        @extend %medium-label;
    }
}

:host([size='small']:focus-within) {
    [part='label'] {
        @extend %small-label;
    }
}

:host([placeholder][size='large']) [part='notch'] {
    @extend %floated-styles;

    [part='label'] {
        @extend %large-label;
    }
}

:host([placeholder][size='medium']) [part='notch'] {
    @extend %floated-styles;

    [part='label'] {
        @extend %medium-label;
    }
}

:host([placeholder][size='small']) [part='notch'] {
    @extend %floated-styles;

    [part='label'] {
        @extend %small-label;
    }
}

[part~='input'] {
    background: transparent;
    color: color(gray, 900);
    padding: 0 rem(4px);
    font-size: rem(16px);
    grid-area: 1 / 2 / span 1 / span 2;
}

[part='label'] {
    color: $idle-color;
    /* stylelint-disable */
    transition:
        transform 150ms cubic-bezier(.4, 0, .2, 1),
        color 150ms cubic-bezier(.4, 0, .2, 1),
        font-size 150ms cubic-bezier(.4, 0, .2, 1);
    /* stylelint-enable */
    line-height: 1;
    will-change: font-size, color, transform;
}

:host(:focus-within) {
    [part='start'] {
        border: {
            color: $active-color;
            inline: {
                start-width: $active-border-width;
            };
            block: {
                start-width: $active-border-width;
                end-width: $active-border-width;
            }
        }
    }

    [part='notch'] {
        border: {
            width: $active-border-width;
            color: $active-color;
            top: $idle-border-width solid transparent;
        }
    }

    [part='filler'] {
        border: {
            width: $active-border-width;
            color: $active-color;
        }
    }

    [part='end'] {
        border: {
            color: $active-color;
            inline: {
                end-width: $active-border-width;
            };
            block: {
                start-width: $active-border-width;
                end-width: $active-border-width;
            };
        }
    }

    [part='prefix'] {
        padding-inline-start: rem(4px);
    }

    [part='suffix'] {
        padding-inline-end: rem(4px);
    }

    [part='label'] {
        color: $active-color;
    }
}

[part^='container'] {
    grid-template-columns: auto auto 1fr auto;
}

[part='start'] {
    width: auto;
    min-width: rem(12px);
    flex-shrink: 0;
    grid-area: 1 / 1;
    border: {
        style: solid;
        color: $idle-color;
        inline: {
            start-width: $idle-border-width;
            end-width: 0;
        };
        block: {
            start-width: $idle-border-width;
            end-width: $idle-border-width;
        };
        start: {
            start-radius: rem(4px);
        };
        end: {
            start-radius: rem(4px);
        };
    }

    > [part='prefix'] {
        padding-inline-start: rem(5px);
        padding-inline-end: rem(4px);
    }
}

[part='notch'] {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    grid-area: 1 / 2;
    padding: 0 rem(4px);
    border: {
        width: $idle-border-width;
        style: solid;
        color: $idle-color;
        left: none;
        right: none;
    }

    overflow: visible;

    &:empty {
        display: none;
    }
}

[part='filler'] {
    grid-area: 1 / 3;
    border: {
        width: $idle-border-width;
        style: solid;
        color: $idle-color;
        left: none;
        right: none;
    }
}

[part='end'] {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    height: 100%;
    grid-area: 1 / 4;
    min-width: rem(12px);
    border: {
        style: solid;
        color: $idle-color;
        inline: {
            start-width: 0;
            end-width: $idle-border-width;
        };
        block: {
            start-width: $idle-border-width;
            end-width: $idle-border-width;
        };
        start: {
            end-radius: rem(4px);
        };
        end: {
            end-radius: rem(4px);
        };
    }

    > [part='suffix'] {
        padding-inline-start: rem(4px);
        padding-inline-end: rem(5px);
    }
}

[part='helper-text'] {
    @include type-category('caption');

    padding: 0 rem(8px);
    margin-top: rem(4px);
    color: color(gray, 600);
}

:host([invalid]),
:host([invalid]:focus-within) {
    [part='start'],
    [part='notch'],
    [part='filler'],
    [part='end'] {
        border-color: $error-color;
    }

    [part='label'],
    [part='helper-text'] {
        color: $error-color;
    }

    input:not(:placeholder-shown) + [part='notch'] {
        @extend %floated-styles;
    }
}

:host([invalid]:focus-within) {
    [part='notch'] {
        border-top: $idle-border-width solid transparent;
    }
}

:host([disabled]) {
    pointer-events: none;

    [part~='input'],
    [part='label'],
    [part='prefix'],
    [part='suffix'],
    [part='helper-text'] {
        color: color(gray, 400);
    }

    [part='start'],
    [part='filler'],
    [part='notch'],
    [part='end'] {
        color: color(gray, 400);
        border-color: color(gray, 400);
    }

    input::placeholder {
        color: color(gray, 300);
    }

    input:not(:placeholder-shown) + [part='notch'] {
        @extend %floated-styles;
    }
}

// Filled Style
:host(:not([outlined])) {
    [part='start'],
    [part='end'] {
        border-color: transparent;
        border-top-width: rem(1px);
    }

    [part='notch'],
    [part='filler'] {
        border-top: 1px solid transparent;
        border-bottom: transparent;
        border-bottom-width: rem(1px);
    }

    [part='label'] {
        inset-inline-start: rem(2px);
    }

    [part~='container'] {
        background: color(gray, 100);
        border-bottom: 1px solid $idle-color;

        border: {
            start: {
                end-radius: rem(4px);
                start-radius: rem(4px);
            };
        }

        transition: border-bottom-width 150ms cubic-bezier(.4, 0, .2, 1);

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: rem(2px);
            left: 0;
            right: 0;
            bottom: -1px;
            background: $active-color;
            transform: scaleX(0);
            transition: transform 180ms cubic-bezier(.4, 0, .2, 1), opacity 180ms cubic-bezier(.4, 0, .2, 1);
        }
    }

    [part~='labelled'] [part~='input'] {
        padding-top: rem(20px);
        padding-bottom: rem(6px);
    }

    input:not(:placeholder-shown) + [part='notch'] [part='label'] {
        transform: translateY(-106%);
    }
}

:host(:not([outlined]):hover) {
    [part~='container'] {
        background: $hover-background;
        border-bottom: 1px solid color(gray, 800);
    }
}

:host(:not([outlined]):focus-within) {
    [part~='container'] {
        background: $focus-background;
        border-bottom: 1px solid $active-color;

        &::after {
            transform: scaleX(1);
            opacity: 1;
        }
    }
}

:host(:not([outlined]):focus-within),
:host(:not([outlined])[placeholder]) {
    [part='notch'] [part='label'] {
        transform: translateY(-106%);
    }
}

:host(:not([outlined])[invalid]),
:host(:not([outlined])[invalid]:focus-within) {
    [part='start'],
    [part='notch'],
    [part='filler'],
    [part='end'] {
        border-color: transparent;
    }

    [part~='container'] {
        border-color: $error-color;

        &::after {
            background: $error-color;
        }
    }
}

:host(:not([outlined])[disabled]) {
    [part~='input'],
    [part='label'],
    [part='prefix'],
    [part='suffix'],
    [part='helper-text'] {
        color: color(gray, 400);
    }

    [part~='container'] {
        border-color: color(gray, 400);
    }
}
