@use 'styles/utilities' as *;
@use '../../input/themes/light/themes' as *;
@use 'light/themes' as file-input;

$theme: $base;
$theme-file-input: file-input.$base;

:host(:is(igc-file-input)) {
    [part~='file-parts'] {
        display: contents;
    }

    [part='file-selector-button'] {
        align-content: center;
        grid-area: 1 / 2;

        igc-button::part(base) {
            transition: none;
        }
    }

    [part='file-names'] {
        display: flex;
        align-items: center;
        max-height: var-get($theme, 'size');
        height: 100%;
        grid-area: 1 / 3;
        background: var-get($theme-file-input, 'file-names-background');
          
        > span {
            @include ellipsis();
        }
    }

    [part~='container'] {
        position: relative;
        grid-template-columns: auto auto 1fr auto;
    }

    [part~='input'] {
        position: absolute;
        border: none;
        inset: 0;
        width: 100%;
        grid-column: 2 / 4;
        appearance: none;
        opacity: 0;
    }

    [part~='container'],
    [part~='input'] {
        height: var-get($theme, 'size');
    }

    [part~='input']::file-selector-button {
        width: 100%;
        cursor: auto;
    }

    [part~='suffix'] {
        grid-area: 1 / 4;
    }

    [part~='filled'] 
    [part~='file-names'] {
        color: var-get($theme-file-input, 'file-names-foreground--filled');
        background: var-get($theme-file-input, 'file-names-background--filled')
    }

    [part~='container']:focus-within {
        [part~='file-names'] {
            color: var-get($theme-file-input, 'file-names-foreground--focused');
            background: var-get($theme-file-input, 'file-names-background--focused')
        }
    }

    [part~='file-selector-button'] igc-button {
        --foreground: #{var-get($theme-file-input, 'file-selector-button-foreground')};
        --disabled-foreground: #{var-get($theme-file-input, 'file-selector-button-foreground--disabled')};
        --background: #{var-get($theme-file-input, 'file-selector-button-background')};
        --disabled-background: #{var-get($theme-file-input, 'file-selector-button-background--disabled')};
        --hover-foreground: var(--foreground);
        --active-foreground: var(--foreground);
        --hover-background: var(--background);
        --active-background: var(--background);
    }
  
    [part~='filled'] 
    [part~='file-selector-button'] igc-button {
        --foreground: #{var-get($theme-file-input, 'file-selector-button-foreground--filled')};
        --background: #{var-get($theme-file-input, 'file-selector-button-background--filled')};
    }

    [part~='container']:focus-within
    [part~='file-selector-button'] igc-button {
        --foreground: #{var-get($theme-file-input, 'file-selector-button-foreground--focused')};
        --background: #{var-get($theme-file-input, 'file-selector-button-background--focused')};
    }
}

:host(:not(:disabled)) {
    [part~='input'],
    [part~='input']::file-selector-button {
        cursor: pointer;
    }
}

:host(:is(igc-file-input):disabled),
:host(:is(igc-file-input)[disabled]) {
    [part~='file-names'] {
        color: var-get($theme-file-input, 'file-names-foreground--disabled');
        background: var-get($theme-file-input, 'file-names-background--disabled')
    }
}
