@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/date-range-picker' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/input-group' as *;
@use 'components/calendar/themes/dark/themes' as calendar-theme;
@use 'components/date-picker/themes/shared/date-picker.utils' as *;

$material: digest-schema(
    map.merge(
        $dark-material-date-range-picker,
        date-picker-theme(calendar-theme.$material)
    )
);
$bootstrap: digest-schema(
    map.merge(
        $dark-bootstrap-date-range-picker,
        date-picker-theme(calendar-theme.$bootstrap)
    )
);
$fluent: digest-schema(
    map.merge(
        $dark-fluent-date-range-picker,
        date-picker-theme(calendar-theme.$fluent)
    )
);
$indigo: digest-schema(
    map.merge(
        $dark-indigo-date-range-picker,
        date-picker-theme(calendar-theme.$indigo)
    )
);
$bootstrap-input: digest-schema(input-theme($dark-bootstrap-input-group));
$fluent-input: digest-schema(input-theme($dark-fluent-input-group));
$indigo-input: digest-schema(input-theme($dark-indigo-input-group));
$material-dialog: digest-schema(dialog-theme(calendar-theme.$material));
$bootstrap-dialog: digest-schema(dialog-theme(calendar-theme.$bootstrap));
$fluent-dialog: digest-schema(dialog-theme(calendar-theme.$fluent));
$indigo-dialog: digest-schema(dialog-theme(calendar-theme.$indigo));
