@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/date-range-picker' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/input-group' as *;
@use 'components/calendar/themes/dark/themes' as calendar-theme;
@use 'components/date-picker/themes/shared/date-picker.utils' as *;

$material: digest-schema($dark-material-date-range-picker);
$bootstrap: digest-schema($dark-bootstrap-date-range-picker);
$fluent: digest-schema($dark-fluent-date-range-picker);
$indigo: digest-schema($dark-indigo-date-range-picker);
$bootstrap-calendar: (digest-schema(calendar-theme(calendar-theme.$bootstrap)));
$fluent-calendar: (digest-schema(calendar-theme(calendar-theme.$fluent)));
$material-calendar: (digest-schema(calendar-theme(calendar-theme.$material)));
$indigo-calendar: (digest-schema(calendar-theme(calendar-theme.$indigo)));
$bootstrap-input: digest-schema(input-theme($dark-bootstrap-input-group));
$fluent-input: digest-schema(input-theme($dark-fluent-input-group));
$indigo-input: digest-schema(input-theme($dark-indigo-input-group));
$material-dialog: digest-schema(dialog-theme(calendar-theme.$material));
$bootstrap-dialog: digest-schema(dialog-theme(calendar-theme.$bootstrap));
$fluent-dialog: digest-schema(dialog-theme(calendar-theme.$fluent));
$indigo-dialog: digest-schema(dialog-theme(calendar-theme.$indigo));
