@use 'styles/utilities' as *;
@use 'themes' as *;

:host {
    @include css-vars-from-theme($indigo);
    @include css-vars-from-theme($indigo-input);

    igc-dialog {
        @include css-vars-from-theme($indigo-dialog);
    }

    igc-dialog[open]::part(base) {
        box-shadow: var(--ig-elevation-7);
    }

    igc-popover::part(container) {
        box-shadow: var(--ig-elevation-2);
    }
}
