@use '../../../../styles/utilities' as *;
@use '../../themes/light/slider.fluent' with (
    $inactive-background: color(gray, 100),
    $fill-background: color(gray, 400),
    $thumb-border: color(gray, 400),
    $fill-hover-background: color(primary, 300),
    $thumb-hover-border: color(primary, 300),
    $inactive-disabled-background: color(gray, 100),
    $fill-disabled-background: color(gray, 300),
    $thumb-disabled-border: color(gray, 200)
);
