@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

[part='header'] {
    color: var-get($theme, 'item-text-color');
    background: var-get($theme, 'item-background');
    border-radius: var-get($theme, 'border-radius');

    ::slotted(igc-icon) {
        color: var-get($theme, 'item-icon-color');
    }
}

:host(:hover),
:host(:focus-within) {
    [part='header'] {
        color: var-get($theme, 'item-hover-color');
        background: var-get($theme, 'item-hover-background');

        ::slotted(igc-icon) {
            color: var-get($theme, 'item-hover-icon-color');
        }
    }
}

:host([selected]) {
    [part='header'] {
        color: var-get($theme, 'item-active-color');

        ::slotted(igc-icon) {
            color: var-get($theme, 'item-active-icon-color');
        }
    }
}

:host([selected]:hover),
:host([selected]:focus-within) {
    [part='header'] {
        color: var-get($theme, 'item-active-color');

        ::slotted(igc-icon) {
            color: var-get($theme, 'item-active-icon-color');
        }
    }
}

:host([disabled]) {
    [part='header'] {
        color: var-get($theme, 'item-disabled-color');

        ::slotted(igc-icon) {
            color: var-get($theme, 'item-disabled-icon-color');
        }
    }
}

:host(:hover),
:host(:focus-within),
:host(:focus),
:host([selected]:hover),
:host([selected]:focus),
:host([selected]:focus-within) {
    [part='header'] {
        outline: none;
    }
}
