@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $indigo;

:host {
    border-top: rem(1px) solid transparent;
    padding-block: rem(11px);

    ::slotted(igc-icon) {
        --ig-size: 2;
    }
}

[part='content'] {
    @include type-style('subtitle-2');

    text-transform: uppercase;
}
