@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $fluent;

[part='header'] {
    transition: all .3s cubic-bezier(.35, 0, .25, 1);
    padding: rem(9px) rem(16px);
}

[part='content'] {
    @include type-style('body-2');
}

:host([selected]) {
    [part='content'] {
        font-weight: 700;
    }
}
