@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

[part~='content'] {
    @include type-style('button');
}

[part='tab-header'] {
    padding: pad-block(rem(12px)) pad-inline(rem(16px));
}

::slotted(igc-icon) {
    --size: #{rem(24px)};
}
