@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $indigo;

:host {
    border-top: rem(1px) solid transparent;

    ::slotted(igc-icon) {
        --ig-size: 2;
    }
}

[part='tab-header'] {
    padding: pad-block(rem(12px)) pad-inline(rem(16px));
    border-top: rem(1px) solid transparent;
    border-inline: none;

    &:hover,
    &:focus-within {
        border-top: rem(1px) solid transparent;
        border-inline: none;
        border-bottom: rem(1px) solid var-get($theme, 'border-color--hover');
    }
}

[part='content'] {
    @include type-style('subtitle-2');

    text-transform: uppercase;
}

:host([selected]) {
    [part='tab-header'] {
        &:hover,
        &:focus-within {
            background: var-get($theme, 'item-hover-background');
        }
    }
}