@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $indigo;

:host {
    --btn-hover-color: #{var-get($theme, 'button-hover-color')};

    border-bottom: rem(1px) solid var-get($theme, 'border-color');

    ::slotted(igc-icon) {
        --ig-size: 2;

        color: var-get($theme, 'item-icon-color');
    }
}

:host(:hover) {
    ::slotted(igc-icon) {
        color: var-get($theme, 'item-hover-icon-color');
    }
}

:host([disabled]) {
    ::slotted(igc-icon) {
        color: var-get($theme, 'item-disabled-icon-color');
    }
}

[part='content'] {
    @include type-style('subtitle-2');
}
