@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

[part='tab-header'] {
    color: var-get($theme, 'item-text-color');
    background: var-get($theme, 'item-background');
    border-radius: var-get($theme, 'border-radius');
    border: rem(1px) solid var-get($theme, 'border-color');

    ::slotted(igc-icon) {
        color: var-get($theme, 'item-icon-color');
    }

    &:hover,
    &:focus-within {
        color: var-get($theme, 'item-hover-color');
        background: var-get($theme, 'item-hover-background');
        border: rem(1px) solid var-get($theme, 'border-color--hover');

        ::slotted(igc-icon) {
            color: var-get($theme, 'item-hover-icon-color');
        }
    }
}

:host([selected]) {
    [part='tab-header'] {
        color: var-get($theme, 'item-active-color');

        ::slotted(igc-icon) {
            color: var-get($theme, 'item-active-icon-color');
        }

        &:hover,
        &:focus-within {
            color: var-get($theme, 'item-active-color');
            background: var-get($theme, 'item-active-background');

            ::slotted(igc-icon) {
                color: var-get($theme, 'item-active-icon-color');
            }
        }
    }
}

[part='tab-header'],
:host([selected]) [part='tab-header'] {
    &:focus-within,
    &:focus {
        outline: none;
    }
}

:host([disabled]) {
    [part='tab-header'] {
        color: var-get($theme, 'item-disabled-color');

        ::slotted(igc-icon) {
            color: var-get($theme, 'item-disabled-icon-color');
        }
    }
}
