@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;
$background: var-get($theme, 'background') !default;

:host {
    [part='base'] {
        background: $background;
        border-color: var-get($theme, 'border-color');

        &::backdrop {
            background: var-get($overlay-material, 'background-color');
        }
    }

    [part='mini'] {
        background: $background;
        border-color: var-get($theme, 'border-color');
    }
}

:host(:is([position='start'], [position='end'])) {
    [part='base'],
    [part='mini'] {
        border-inline-color: var-get($theme, 'border-color');
    }

    [part='mini'] {
        box-shadow: var-get($theme, 'elevation');
    }
}

:host(:is([position='top'], [position='bottom'])) {
    [part='base'] {
        border-block-color: var-get($theme, 'border-color');
    }
}

:host(:not([position='relative'])) {
    [part='base']:open {
        box-shadow: var-get($theme, 'elevation');
    }
}
