@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $indigo;

:host {
    --menu-mini-width: #{rem(48px)};

    [part='overlay'] {
        background: var-get($overlay-indigo, 'background-color');
    }

    [part='mini'], [part="main"] {
        padding: pad(rem(8px));
    }
}
