@use 'sass:map';
@use 'styles/common/component';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/animations/easings' as *;

:host {
    --component-size: var(--ig-size, var(--ig-size-large));

    display: block;
    font-family: var(--ig-font-family);

    [part~='label'] {
        @include ellipsis();
    }

    ::part(helper-text) {
        @include type-style('caption');
        @include line-clamp(2, true, true);
    }
}

[part~='container'] {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-area: 1 / 2 / span 1 / span 2;
    height: auto;
    position: relative;
    max-width: 100%;
    font-size: rem(16px);
    min-height: var(--textarea-height);

    &:hover {
        cursor: pointer;
    }
}

textarea {
    font: inherit;
    grid-area: 1 / 2 / auto / auto;
    position: relative;
    display: block;
    border: none;
    padding-block: pad-block(rem(20px)) pad-block(rem(6px));
    padding-inline-start: 0;
    width: 100%;
    min-width: 0;
    min-height: var(--textarea-height);
    height: auto;
    outline-style: none;
    box-shadow: none;
    overflow: auto;
    text-overflow: ellipsis;

    &::placeholder {
        opacity: 1;
        line-height: normal;
    }
}

%prefix,
%suffix {
    position: relative;
    display: inline-flex;
    width: max-content;
    align-items: center;
    height: 100%;
    transition: color .25s $out-cubic, background .25s $out-cubic;

    igc-icon {
        width: sizable(rem(18px), rem(20px), rem(24px)) ;
        height: sizable(rem(18px), rem(20px), rem(24px)) ;
        font-size: sizable(rem(18px), rem(20px), rem(24px)) !important;
    }
}

[part~='prefixed'] {
    [part='prefix'] {
        @extend %prefix;

        grid-area: 1 / 1 / auto / auto;
    }
}

[part~='suffixed'] {
    [part='suffix'] {
        @extend %suffix;

        grid-area: 1 / 3 / auto / auto;
    }
}

[part~='helper-text'] {
    position: relative;
    display: flex;
    justify-content: space-between;

    > * {
        margin-inline-end: pad-inline(rem(8px));

        &:last-child {
            margin-inline-end: 0;
        }
    }

    ::slotted(*) {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
    }
}

:host([required]) {
    [part~='label'] {
        &::after {
            content: '*';
            font-size: inherit;
            vertical-align: top;
            margin-inline-start: pad-inline(rem(2px));
            display: inline-block;
        }
    }
}

:host(:disabled),
:host([disabled]) {
    user-select: none;
    pointer-events: none;

    [part='prefix'],
    [part='suffix'] {
        pointer-events: none;
    }

    [part~='container'] {
        cursor: default;
    }
}
