@use '../../../../styles/common/component';
@use '../../../../styles/utilities/index' as *;
@use '../base' as *;

:host {
    @extend %host !optional;

    display: inline-flex;

    --stroke-thickness: 2px;
    --diameter: #{rem(32px)};
}

[part~='label'] {
    @extend %label !optional;

    fill: $text-color;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

[part~='value'] {
    font-size: rem(10px);
}

[part~='wrapper'] {
    display: inline-flex;
    position: relative;
}

[part~='indeterminate'] {
    transform-origin: 50% 50%;
    animation: 3s linear 0s infinite $animation-direction none running rotate-center;
}

[part~='indeterminate'] [part~='outer'] {
    stroke-dashoffset: calc(#{$circumference} * 2);
    animation: indeterminate-accordion 1.5s cubic-bezier(0, .085, .68, .53) $animation-direction infinite;
}

[part~='svg'] {
    width: var(--diameter);
    height: var(--diameter);
}

[part~='inner'] {
    stroke: $track-color;
}

[part~='outer'] {
    stroke-dasharray: #{$circumference} #{$circumference};
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

[part~='inner'],
[part~='outer'] {
    fill: transparent;
    stroke-width: var(--stroke-thickness);
    cx: calc(var(--diameter) / 2);
    cy: calc(var(--diameter) / 2);
    r: $radius;
}

[part~='gradient_start'],
[part~='gradient_end'] {
    stop-color: $fill-color;
}

:host([variant='danger']) [part~='gradient_start'],
:host([variant='danger']) [part~='gradient_end'] {
    stop-color: $danger-color;
}

:host([variant='warning']) [part~='gradient_start'],
:host([variant='warning']) [part~='gradient_end'] {
    stop-color: $warning-color;
}

:host([variant='info']) [part~='gradient_start'],
:host([variant='info']) [part~='gradient_end'] {
    stop-color: $info-color;
}

:host([variant='success']) [part~='gradient_start'],
:host([variant='success']) [part~='gradient_end'] {
    stop-color: $success-color;
}
