@use '../../../../styles/utilities/index' as *;

$track-color: color(primary, 50, .3);

:host {
    --stroke-thickness: #{rem(1.5px)};
}

[part~='track'] {
    stroke: $track-color;
}

// TODO If possible make the animation the same as the MS fluent
