@use 'styles/common/component';
@use 'styles/utilities' as *;
@use '../animations' as *;
@use '../vars' as *;

:host {
    @extend %host !optional;

    display: inline-flex;
    position: relative;

    // Do not use rem values here
    // This will break the component in Safari
    // https://github.com/IgniteUI/igniteui-webcomponents/issues/377
    --stroke-thickness: 2px;
    --diameter: 30px;
}

[part~='label'] {
    @extend %label !optional;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

[part~='label'],
[part~='value'] {
    font-size: rem(12px);
    line-height: rem(16px);
    font-weight: 600;
    letter-spacing: rem(0.15px);
}

[part='svg indeterminate'] {
    transform-origin: 50% 50%;
    animation: 3s linear 0s infinite $animation-direction none running rotate-center;
}

[part='svg indeterminate'] [part~='fill'] {
    stroke-dashoffset: calc(#{$circumference} * 2);
    animation: indeterminate-accordion 1.5s cubic-bezier(0, .085, .68, .53) $animation-direction infinite;
}

[part~='svg'] {
    width: $diameter;
    height: $diameter;
    transform: rotate(-90deg);
}

[part~='fill'] {
    stroke-dasharray: #{$circumference} #{$circumference};
    stroke-dashoffset: calc(#{$circumference} - var(--percentage) * #{$circumference});
    transition: stroke-dashoffset var(--duration) linear;

    --percentage: 0;
    --duration: 500ms;
}

[part~='track'],
[part~='fill'] {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: var(--stroke-thickness);
    cx: calc(#{$diameter} / 2);
    cy: calc(#{$diameter} / 2);
    r: $radius;

    // Do not use % values inside transform origin
    // This will break the component in Safari
    // https://github.com/IgniteUI/igniteui-webcomponents/issues/377
    transform-origin: center;
}

:host([dir='rtl']) {
    [part='svg indeterminate'] [part~='fill'] {
        animation-name: indeterminate-accordion-rtl;
    }

    [part~='indeterminate'] {
        animation-direction: $animation-direction-rtl;
    }

    // Valid only for circular progress bar
    [part~='indeterminate'] [part~='track'] {
        animation-direction: $animation-direction-rtl;
    }

    [part~='fill'] {
        stroke-dashoffset: calc(#{$circumference} + var(--percentage) * #{$circumference});
    }
}
