@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/radio' as *;

$material: digest-schema($material-radio);
$bootstrap: digest-schema($bootstrap-radio);
$fluent: digest-schema($fluent-radio);
$indigo: digest-schema($indigo-radio);
