@use '../../../../styles/utilities' as utils;

$border-color: utils.color(gray, 600) !default;
$checked-color: utils.color(secondary, 500) !default;
$disabled-color: utils.color(gray, 300) !default;

:host {
    font-weight: 600;
}

:host [part~='control'] {
    width: var(--size, utils.rem(20px));
    height: var(--size, utils.rem(20px));
    min-width: var(--size, utils.rem(20px));
    transition: none;
    background: none;
}

:host(:not([invalid])) [part='control']::after {
    border-color: $border-color;
}

:host(:hover) [part='control'] {
    box-shadow: 0 0 0 utils.rem(4px) utils.color(gray, 200, .87);
}

:host(:focus-within) [part='control'] {
    box-shadow: 0 0 0 utils.rem(4px) utils.color(gray, 300, .87);
}

:host(:not([invalid])) [part='control checked']::after {
    border-color: $checked-color;
}

:host(:not([invalid])) [part='control checked']::before {
    background: $checked-color;
    border-color: $checked-color;
}

:host(:hover) [part='control checked'] {
    background: transparent;
    box-shadow: 0 0 0 utils.rem(4px) utils.color(secondary, 100, .87);
}

:host(:focus-within) [part='control checked'] {
    background: transparent;
    box-shadow: 0 0 0 utils.rem(4px) utils.color(secondary, 200, .87);
}

:host(:not([disabled])[invalid]) {
    [part='control checked'] {
        &::before {
            background: utils.color(error, 500);
        }
    }
}

:host([invalid]:hover) [part~='control'] {
    box-shadow: 0 0 0 utils.rem(4px) utils.color(error, 100, .87);
}

:host([invalid]:focus-within) [part~='control'] {
    box-shadow: 0 0 0 utils.rem(4px) utils.color(error, 200, .87);
}

:host([disabled]) {
    pointer-events: none;
    user-select: none;

    [part='control'] {
        &::after {
            background: transparent;
        }
    }
}

:host([disabled]) [part='control']::after,
:host([disabled]) [part='control checked']::after {
    border-color: $disabled-color;
}

:host([disabled]) [part='control checked']::before {
    background: $disabled-color;
}

:host([disabled]) [part~='label'] {
    color: $disabled-color;
}
