@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    --lines-clamped: 1;

    width: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[part='header'] {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-inline: pad-inline(24px);
    padding-block: pad-block(16px);

    &:focus,
    &:active {
        outline: transparent;
    }

    *:not([part~='indicator']) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 0 0%;
        overflow: hidden;
        user-select: none;
    }
}

[part='title']::slotted(*) {
    @include type-style('h5');
    @include line-clamp(var(--lines-clamped), true, true);

    margin: 0;
}

[part='subtitle'] {
    &::slotted(*) {
        @include type-style('subtitle-2');
        @include ellipsis();
    }
}

[part='content'] ::slotted(*) {
    @include type-style('body-2');

    display: block;
}

[part~='content'] {
    overflow: hidden;

    > slot {
        display: block;
        padding-inline: pad-inline(24px);
        padding-block: pad-block(16px);
    }
}

:host(:not([open])) [part~='content'] {
    height: 0;
}

:host([open]) [part~='content'] {
    height: auto;
}

[part~='indicator'] {
    igc-icon {
        --ig-size: 3;
    }
}

:host([indicator-position='start']) [part~='indicator'] {
    margin-inline-end: pad(16px);
}

:host([indicator-position='end']) [part~='indicator'] {
    order: 2;
    margin-inline-start: pad(16px);
}

:host([indicator-position='none']) [part~='indicator'] {
    display: none;
}

:host([disabled]) {
    pointer-events: none;
}
