@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $material;

:host [part~='base'] {
    background: var-get($theme, 'slide-background');

    ::slotted(img) {
        width: 100%;
        object-fit: cover;
        touch-action: none;
        pointer-events: none;
    }
}