@use '../../styles/utilities' as utils;

@mixin theme() {
    igc-snackbar::part(base) {
        background: utils.color(gray, 100);
        color: utils.contrast-color(gray, 100);
        border-radius: 0;
        width: utils.rem(352px);
        padding: utils.rem(9px) utils.rem(12px);
    }

    igc-snackbar[action-text]::part(base) {
        padding-inline-end: utils.rem(8px);
    }

    igc-snackbar[action-text]::part(action) {
        margin-inline-start: utils.rem(8px);
    }
}
