@use '../../styles/utilities' as utils;

@mixin theme() {
    igc-snackbar::part(base) {
        background: utils.color(gray, 700, .62);
        color: utils.contrast-color(gray, 700);
        border-radius: utils.rem(6px);
        padding: utils.rem(10px) utils.rem(16px);
        width: utils.rem(352px);
        backface-visibility: hidden;
        backdrop-filter: blur(8px);
    }

    igc-snackbar[action-text]::part(base) {
        padding-inline-end: utils.rem(8px);
    }

    igc-snackbar[action-text]::part(action) {
        margin-inline-start: utils.rem(8px);
    }
}
