.igc-toggle {
    color: #666;
    background: white;
    border: 1px solid #666;
    padding: 4px;
    font-size: 13px;
    border-radius: 4px;
    display: block;
}

.igc-toggle-hidden {
    display: none;
}
