@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $material;

:host {
    ::slotted(label) {
        margin-block-end: rem(16px);
        color: var-get($theme, 'color');
    }
}

:host([disabled]) {
    ::slotted(label) {
        color: var-get($theme, 'disabled-color');
    }
}