@use 'styles/utilities' as *;

:host {
    ::slotted(label) {
        @include type-style('subtitle-1') {
            margin-block-end: rem(16px);
        };
    }
}

:host([alignment='vertical']) {
    gap: 0;
}

:host([alignment='horizontal']) {
    column-gap: rem(16px);
}
