@use 'sass:map';
@use '../../../../../styles/utilities' as *;
@use '../../../../../styles/themes/schemas/fluent/light' as *;

$schema: map.get($light-fluent-schema, 'stepper');
$border-radius-step-header: border-radius(map.get($schema, 'border-radius-step-header')...);
$border-radius-indicator: border-radius(map.get($schema, 'border-radius-indicator')...);
$theme: digest-schema(extend(
    $schema,
    (
        border-radius-step-header: $border-radius-step-header,
        border-radius-indicator: $border-radius-indicator
    )
));

:host {
    @include css-vars-from-theme($theme, 'ig-stepper');

    // uncompleted
    --indicator-color: #{color(gray, 900)};
    --indicator-background: #{color(gray, 50, 0)};
    --indicator-shadow: var(--indicator-background);

    // completed
    --completed-indicator-color: #{contrast-color(gray, 50)};
    --completed-indicator-background: #{color(gray, 300)};
    --completed-indicator-shadow: #{color(gray, 300)};

    // optional
    --optional-indicator-color: var(--indicator-color);
    --optional-indicator-background: var(--indicator-background);
    --optional-indicator-shadow: var(--indicator-shadow);

    // disabled
    --disabled-background: #{color(gray, 200)};
    --disabled-shadow: var(--disabled-background);
}

[part~='header'] {
    border-radius: var-get($theme, 'border-radius-step-header');
}

[part~='indicator'] {
    border-radius: var-get($theme, 'border-radius-indicator');
}
