@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $indigo;

:host {
    @include css-vars-from-theme($theme, 'ig-stepper');

    // header
    --header-color: #{color(gray, 900)};
    --header-background--hover: #{color(gray, 100)};
    --header-background--focus: #{color(gray, 100)};
    --header-shadow: #{color(gray, 50, 0)};

    // text
    --title-color: #{color(gray, 900)};
    --subtitle-color: #{color(gray, 700)};

    // separator
    --separator-color: #{color(gray, 300)};
    --separator-color--completed: #{color(primary, 500)};
    --separator-type: solid;

    // uncompleted
    --indicator-color: #{color(primary, 500)};
    --indicator-background: #{color(gray, 50, 0)};
    --indicator-shadow: #{color(gray, 300)};

    // optional
    --optional-indicator-color: var(--indicator-color);
    --optional-indicator-background: var(--indicator-background);
    --optional-indicator-shadow: var(--indicator-shadow);

    // completed
    --completed-indicator-color: var(--indicator-color);
    --completed-indicator-background: #{color(primary, 100)};
    --completed-indicator-shadow: var(--completed-indicator-background);

    // Current
    --active-indicator-color: #{contrast-color(primary, 800)};
    --active-indicator-background: #{color(primary, 500)};
    --active-indicator-shadow: var(--active-indicator-background);

    // disabled
    --disabled-color: #{color(gray, 500)};
    --disabled-background: #{color(gray, 50, 0)};
    --disabled-shadow: #{color(gray, 200)};
}

[part~='header'] {
    border-radius: var-get($theme, 'border-radius-step-header');
}

[part~='indicator'] {
    span {
        border-radius: var-get($theme, 'border-radius-indicator');
    }
}
