@use 'styles/utilities' as *;
@use 'themes' as *;

$theme: $material;

:host {
    @include css-vars-from-theme($theme, 'ig-stepper');

    // completed
    --completed-indicator-color: #{contrast-color(gray, 900)};
    --completed-indicator-background: #{color(gray, 900)};
    --completed-indicator-shadow: var(--completed-indicator-background);
}

[part~='header'] {
    border-radius: var-get($theme, 'border-radius-step-header');
}

[part~='indicator'] {
    border-radius: var-get($theme, 'border-radius-indicator');
}
