@use '../../../../../styles/utilities/index' as *;

:host {
    // completed
    --completed-indicator-color: #{contrast-color(gray, 900)};
    --completed-indicator-background: #{color(gray, 900)};
    --completed-indicator-shadow: var(--completed-indicator-background);
}
