@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/button-group' as *;
@use '../../../button/themes/button/dark/themes' as *;

$material-flat-btn-size: map.get($material-flat, 'size');
$bootstrap-flat-btn-size: map.get($bootstrap-flat, 'size');
$fluent-flat-btn-size: map.get($fluent-flat, 'size');
$indigo-flat-btn-size: map.get($indigo-flat, 'size');
$base: digest-schema($base-dark-button-group);
$material: digest-schema($dark-material-button-group);
$bootstrap: digest-schema($dark-bootstrap-button-group);
$fluent: digest-schema($dark-fluent-button-group);
$indigo: digest-schema($dark-indigo-button-group);
