@use 'sass:map';
@use 'sass:list';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/button-group' as *;
@use '../../../button/themes/button/dark/themes' as *;

$material-flat-btn-size: map.get($material-flat, 'size');
$bootstrap-flat-btn-size: map.get($bootstrap-flat, 'size');
$fluent-flat-btn-size: map.get($fluent-flat, 'size');
$indigo-flat-btn-size: map.get($indigo-flat, 'size');
$material: map.merge(
    digest-schema($dark-button-group),
    (
        border-radius: border-radius(map.get($dark-button-group, 'border-radius')...),
    )
);
$bootstrap: map.merge(
    digest-schema($dark-bootstrap-button-group),
    (
        border-radius: border-radius(map.get($dark-bootstrap-button-group, 'border-radius')...)
    )
);
$fluent: map.merge(
    digest-schema($dark-fluent-button-group),
    (
        border-radius: border-radius(map.get($dark-fluent-button-group, 'border-radius')...)
    )
);
$indigo: map.merge(
    digest-schema($dark-indigo-button-group),
    (
        border-radius: border-radius(map.get($dark-indigo-button-group, 'border-radius')...)
    )
);
