@use '../../../../styles/utilities/index' as *;

:host {
    [part~='base'] {
        @include border-radius(rem(24px));

        color: color(gray, 300, .8);
        padding: rem(4px);
        margin: rem(15px) rem(8px) !important;

        &:hover,
        &:focus-within {
            background: transparent;
            color: color(gray, 100);
        }
    }

    [part='content'] {
        margin-inline-start: rem(24px);
        padding-inline-start: rem(8px);
    }
}

:host([active]) {
    [part~='base'] {
        background: color(gray, 600, .8);
        color: color(gray, 50);
    }
}
