@use 'styles/utilities' as *;
@use '../../light/themes' as *;

$theme: $fluent;

:host([active]:hover) {
    background: var-get($theme, 'hover-item-background');
    color: var-get($theme, 'hover-item-text-color');
}

:host([active]) {
    outline: rem(1px) solid var-get($theme, 'border-color');
    outline-offset: rem(-1px);
}
