@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
}

[part="base"] {
    @include type-style('body-2');

    padding: rem(3px) rem(8px);
    font-size: rem(10px);
    font-weight: 600;
    text-align: start;
    max-width: 200px;
    display: flex;
    align-items: center;
    gap: rem(8px);
    position: relative;
}

#arrow {
    position: absolute;
    width: 0;
    height: 0;
}

igc-popover::part(container) {
    background-color: transparent;
}

slot[name='close-button'] {
    igc-icon {
        --component-size: 1;
    }
}
