@use 'styles/utilities/index' as *;
@use '../light/themes' as *;

$theme: $indigo;

:host {
    --default-size: 2;
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')}) !important;

    gap: rem(4px);
}

[part='base'] {
    gap: rem(8px);
}

[part~='value-label'] {
    @include type-style('caption');
}

[part~='label'] {
    padding-inline-start: rem(2px);
}

[part~='symbols'] {
    padding-inline-end: 0;
}
