@use 'styles/utilities/index' as *;
@use '../light/themes' as *;

$theme: $fluent;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
}

:host,
[part='base'] {
    gap: rem(6px);
}

[part~='label'] {
    @include type-style('subtitle-2');
}

[part~='value-label'] {
    @include type-style('body-2');
}
