@use 'styles/utilities/index' as *;
@use '../light/themes' as *;

$theme: $material;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
    --symbol-size: #{var-get($theme, 'symbol-size')};
    --symbol-full-color: #{var-get($theme, 'symbol-full-color')};
    --symbol-empty-color: #{var-get($theme, 'symbol-empty-color')};
}

:host,
[part='base'] {
    gap: rem(4px);
}

[part~='label'] {
    @include type-style('caption');

    color: var-get($theme, 'label-color');
}

[part~='value-label'] {
    @include type-style('subtitle-1');

    color: var-get($theme, 'value-label');
}

:host([disabled]),
:host(:disabled) {
    --disabled-symbol-full-filter: #{var-get($theme, 'symbol-full-filter')};
    --disabled-symbol-empty-filter: #{var-get($theme, 'symbol-empty-filter')};

    igc-rating-symbol::part(full) {
        color: var-get($theme, 'disabled-full-symbol-color');
    }

    igc-rating-symbol::part(empty) {
        color: var-get($theme, 'disabled-empty-symbol-color');
    }

    [part~='label'] {
        color: var-get($theme, 'disabled-label-color');
    }

    [part~='value-label'] {
        color: var-get($theme, 'disabled-label-color');
    }

    [part~='symbols'] {
        --symbol-full-color: #{var-get($theme, 'disabled-full-symbol-color')};
        --symbol-empty-color: #{var-get($theme, 'disabled-empty-symbol-color')};
    }
}
