@use 'styles/utilities/index' as *;
@use '../light/themes' as *;

$theme: $indigo;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});

    gap: rem(5px);
}

[part='base'] {
    gap: rem(8px);
}

[part~='label'],
[part~='value-label'] {
    @include type-style('body-1');
}
