@use 'styles/utilities/index' as *;
@use '../light/themes' as *;

$theme: $indigo;

:host {
    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});

    gap: rem(5px);
}

[part='base'] {
    gap: rem(8px);
}

[part~='value-label'] {
    @include type-style('caption');
}

[part~='symbols'] {
    --symbol-size: #{sizable(rem(18px), rem(24px), rem(30px))};
}
