@use 'styles/common/component';
@use 'styles/utilities' as *;

%indicator {
    --_size: #{rem(11px)};

    display: inline-flex;
    visibility: var(--resize-visibility);
    position: absolute;
    z-index: 1;

    igc-icon {
        $icon-size: rem(9px);

        --size: #{$icon-size} !important;
        --ig-icon-size: #{$icon-size};
        --igx-icon-size: #{$icon-size};
    }

    // &::after {
    //     content: '';
    //     position: absolute;
    //     inset: 0;
    //     width: var(--_size);
    //     height: var(--_size);
    //     border-radius: 50%;
    //     z-index: 1;
    // }
}

[part='adorner-indicator'] {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: grey;
    z-index: 11111;
}

:host {
    display: contents;
}

[part~='resize-base'] {
    position: relative;
    height: 100%;
}

[part='trigger-side'],
[part='trigger'],
[part='trigger-bottom'] {
    @extend %indicator;
}

[part='trigger-side'] {
    top: calc(50% - var(--_size));
    right: calc(var(--_size) / 2);
    cursor: e-resize;
}

[part='trigger'] {
    bottom: calc(var(--_size) / 2);
    right: calc(var(--_size) / 2);
    cursor: se-resize;
}

[part='trigger-bottom'] {
    left: calc(50% - var(--_size));
    bottom: calc(var(--_size) / 2);
    cursor: s-resize;
}

[part='trigger']:focus {
    outline: none;
}
