@use '../../../../../styles/common/component';
@use '../../../../../styles/utilities/index' as *;

:host {
    pointer-events: auto;

    ::slotted([slot='label']) {
        @include type-style('overline');
        @include ellipsis();

        display: block;
        white-space: nowrap;
        position: relative;
        pointer-events: none;
        padding-inline: pad-inline(4px, 8px, 16px);
        padding-block: pad-block(rem(2px), rem(4px), rem(8px));
    }
}
