@use 'sass:map';
@use '../../../../../styles/utilities' as *;
@use '../../../../../styles/themes/schemas/fluent/light' as *;

$schema: map.get($light-fluent-schema, 'drop-down');
$border-radius: border-radius(map.get($schema, 'border-radius')...);
$theme: digest-schema(extend(
    $schema,
    (
        border-radius: $border-radius
    )
));

:host {
    @include css-vars-from-theme($theme, 'ig-dropdown');

    ::slotted([slot='label']) {
        color: var-get($theme, 'header-text-color');
        padding: pad(rem(2px), rem(4px), (8px));
    }
}
