@use 'sass:map';
@use '../../../../../styles/utilities' as *;
@use '../resolved' as *;

$theme: $fluent;

:host {
    @include css-vars-from-theme($theme, 'ig-dropdown');

    ::slotted([slot='label']) {
        color: var-get($theme, 'header-text-color');
        padding: pad(rem(2px), rem(4px), (8px));
    }
}
