@use '../../../../styles/utilities/index' as *;
@use '../vars' as *;

$danger-color: color(error, 500);
$warning-color: color(warn, 500);
$success-color: color(success, 500);
$info-color: color(info, 500);
$primary-color: color(primary, 500);

:host {
    --track-size: #{rem(2px)};
}

[part~='indeterminate'] {
    width: 33% !important;
    min-width: 33%;
    animation-name: indeterminate-bar-fluent;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    &::before {
        display: none;
    }
}

[part='fill indeterminate primary'] {
    background: linear-gradient(90deg, transparent 0%, $primary-color 50%, transparent 100%);
}

[part~='danger'][part~='indeterminate'] {
    background: linear-gradient(90deg, transparent 0%, $danger-color 50%, transparent 100%);
}

[part~='warning'][part~='indeterminate'] {
    background: linear-gradient(90deg, transparent 0%, $warning-color 50%, transparent 100%);
}

[part~='info'][part~='indeterminate'] {
    background: linear-gradient(90deg, transparent 0%, $info-color 50%, transparent 100%);
}

[part~='success'][part~='indeterminate'] {
    background: linear-gradient(90deg, transparent 0%, $success-color 50%, transparent 100%);
}
