@use 'sass:map';
@use '../../../../styles/common/component';
@use '../../../../styles/utilities' as *;
@use '../../../../styles/themes/schemas' as *;

$schema: map.get($light-indigo-schema, 'linear-bar');
$theme: digest-schema($schema);

$stripe-grays: color(gray, 50, .7);
$stripe-primary: color(secondary, 500);
$stripe-size: rem(6px);
$stripe-space: rem(14px);

[part~='track'] {
    @include border-radius(map.get($theme, 'track-border-radius')...);
}

[part~='striped']:not([part~='indeterminate']) {
    /* stylelint-disable */
    background: $stripe-primary repeating-linear-gradient(
        45deg,
        $stripe-primary,
        $stripe-primary $stripe-size,
        $stripe-grays $stripe-size,
        $stripe-grays $stripe-space
    );
    /* stylelint-enable */
}
