@use 'styles/common/component';
@use 'styles/utilities' as *;
@use '../animations' as *;
@use '../vars' as *;

:host {
    @extend %host !optional;

    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    flex: 1 1 100%;

    --track-size: #{rem(4px)};
    --linear-animation-duration: 2000ms;
}

:host([dir='rtl'][indeterminate]) {
    [part~='track'] {
        transform: rotateY(180deg);
    }
}

[part~='label'] {
    @extend %label !optional;
}

[part~='track'] {
    position: relative;
    width: inherit;
    height: var(--track-size);
    overflow: hidden;
    z-index: 0;
}

[part~='fill'] {
    transition: width var(--duration) linear, background-color var(--duration) linear;
    position: relative;
    height: inherit;
}

[part~='indeterminate'],
[part~='indeterminate secondary'] {
    width: 100% !important;
    height: inherit;
    position: absolute;
    background: transparent;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        inset-inline-start: 0;
        width: inherit;
        height: inherit;
        backface-visibility: hidden;
    }
}

[part~='indeterminate']:not([part~='secondary']) {
    transform: scale3d(0, 1, 1);
    animation: indeterminate-primary var(--linear-animation-duration) infinite linear;
    left: -145.1666%;

    &::after {
        animation: indeterminate-primary-scale var(--linear-animation-duration) infinite linear;
    }
}

[part~='secondary'] {
    animation: indeterminate-secondary var(--linear-animation-duration) infinite linear;
    left: -54.8888%;

    &::after {
        animation: indeterminate-secondary-scale var(--linear-animation-duration) infinite linear;
        width: 100%;
        height: inherit;
    }
}

[part~='value'] {
    @include type-style('subtitle-2');
}

[part~='striped'][part~='primary']:not([part~='indeterminate']) {
    width: 100%;
    height: 100%;
}

// Label Positions
:host([label-align='top']),
:host([label-align='top-start']),
:host([label-align='top-end']) {
    [part~='label'] {
        order: -1;
    }
}

:host([label-align='top-start']),
:host([label-align='bottom-start']),
:host([label-align='start']) {
    [part~='label'] {
        align-self: flex-start;
    }
}

:host([label-align='bottom-end']),
:host([label-align='top-end']),
:host([label-align='end']) {
    [part~='label'] {
        align-self: flex-end;
    }
}

:host([label-align='top']),
:host([label-align='bottom']) {
    [part~='label'] {
        align-self: center;
    }
}

[part~='hidden'] {
    display: none;
}
