@use '../../../../styles/common/component';
@use '../../../../styles/utilities/index' as *;
@use '../base' as *;

:host {
    @extend %host !optional;

    display: flex;

    --track-size: 4px;
}

[part~='custom_label'] {
    @extend %costom-label !optional;
}

[part~='wrapper'] {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
}

[part~='base'] {
    position: relative;
    width: inherit;
    height: var(--track-size);
    background: $track-color;
    overflow: hidden;
    border-radius: $track-roundness;
    z-index: 0;
}

[part~='indicator'] {
    width: 100%;
    position: relative;
    height: inherit;
    background: hsl(204deg 100% 50%);
}

[part~='striped'] {
    /* stylelint-disable */
    background-image: linear-gradient(
        -45deg,
        $stripe-color 25%,
        transparent 25%,
        transparent 50%,
        $stripe-color 50%,
        $stripe-color 75%,
        transparent 75%,
        transparent
    );
    /* stylelint-enable */
    background-size: $background-size;
}

[part~='indeterminate'] {
    animation: indeterminate-bar 2s cubic-bezier(0, .085, .68, .53) $animation-direction infinite;
    width: 100% !important;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: -200%;
        width: 100%;
        height: inherit;
        background-color: inherit;
        transform-origin: top right;
    }
}

[part~='danger'] {
    background-color: $danger-color;
}

[part~='warning'] {
    background-color: $warning-color;
}

[part~='info'] {
    background-color: $info-color;
}

[part~='success'] {
    background-color: $success-color;
}

[part~='value'] {
    margin: 0;
    color: black;
    font-size: em(14px, 16px);
    font-weight: 600;
}

:host([label-align='top-start']),
:host([label-align='start']) {
    [part~='custom_label'] {
        align-self: flex-start;
    }
}

[part~='top-start'],
[part~='start'] {
    align-self: flex-start;

    [part~='custom_label'] {
        align-self: flex-start;
    }
}

:host([label-align='bottom-end']),
:host([label-align='top-end']),
:host([label-align='end']) {
    [part~='custom_label'] {
        align-self: flex-end;
    }
}

[part~='bottom-end'],
[part~='top-end'],
[part~='end'] {
    align-self: flex-end;
}

:host([label-align='top-end']),
:host([label-align='top-start']),
:host([label-align='top']) {
    [part~='custom_label'] {
        order: -1;
    }
}

[part~='top-end'],
[part~='top-start'],
[part~='top'] {
    order: -1;
}

:host([label-align='center-top']) {
    [part~='custom_label'] {
        align-self: center;
        order: -1;
    }
}

[part~='center-top'] {
    align-self: center;
    order: -1;
}

:host([label-align='center']) {
    [part~='custom_label'] {
        align-self: center;
    }
}

[part~='center'] {
    align-self: center;
}

:host([hide-label]) {
    [part~='custom_label'] {
        display: none;
    }
}

[part~='hidden'] {
    display: none;
}
