@use 'styles/utilities' as *;
@use '../../dropdown/themes/dropdown-item.base' as *;

:host {
    // Overwrite dropdown-header default size.
    // Needed due to how styles are imported in combo-header.ts.
    --component-size: var(--ig-size, var(--default-size));
    --default-size: var(--combo-size) !important;

    gap: rem(8px);

    ::slotted(*) {
        @include ellipsis();

        display: block;
        width: 100%;
        align-items: center;
    }
}

igc-checkbox {
    pointer-events: none;
}
