@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    --item-count: 6;

    display: block;
    font-family: var(--ig-font-family);

    igc-icon,
    ::slotted(igc-icon),
    igc-input:not([part='search-input']) {
        // Overwrite the igc-input component size.
        // Needed due to imperative size declaration of size by SizableMixin.
        --component-size: var(--combo-size) !important;
    }

    igc-input::part(input) {
        @include ellipsis();

        cursor: pointer;
    }

    ::part(helper-text) {
        @include type-style('caption');
        @include line-clamp(2, true, true);
    }
}

:host(:not([single-select])) {
    > igc-input::part(input) {
        &::selection {
            background: transparent;
        }
    }
}

[part='clear-icon'],
[part='toggle-icon'],
[part~='case-icon'] {
    display: flex;
    cursor: pointer;
}

[part='list-wrapper'] {
    @include border-radius(rem(4px));

    width: 100%;
    box-shadow: var(--elevation);
    overflow: hidden;
    outline-style: none;

    igc-input {
        --ig-size: var(--ig-size-small);
        --ig-theme: material;
    }

    [part~='case-icon'] {
        color: color(gray, 600);
    }

    [part='case-icon active'] {
        color: color(primary, 500);
    }
}

[part='filter-input'] {
    padding-inline: pad-inline(rem(4px), rem(8px), rem(16px));
    padding-block: pad-block(rem(8px));
    z-index: 26;
}

[part='list'] {
    min-height: calc(var(--size) * var(--item-count)) !important;
    outline-style: none;
}

[part='empty'] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: pad-block(rem(16px)) pad-inline(rem(24px));
    font-size: rem(13px);
}

[part~='group-header'],
[part~='item'] {
    // Fix a bug in safari: https://github.com/IgniteUI/igniteui-webcomponents/issues/892
    inset-inline-start: 0;
}

:host(:disabled),
:host([disabled]) {
    pointer-events: none;
    user-select: none;

    igc-input::part(input)::selection {
        background: transparent;
    }
}
