@use 'styles/utilities' as *;
@use '../../light/switch/themes' as *;

$theme: $material;

[part~='label'] {
    @include type-style('subtitle-1');

    color: var-get($theme, 'label-color');
    transition: all .2s ease-in-out;
}

:host(:hover) {
    [part~='label'] {
        color: var-get($theme, 'label-hover-color');
    }
}

:host([disabled]),
:host(:disabled) {
    [part~='label'] {
        color: var-get($theme, 'label-disabled-color');
    }

    [part~='control'] {
        background: var-get($theme, 'track-disabled-color');
        border-color: var-get($theme, 'border-disabled-color');
    }

    [part~='thumb'][part~='checked'] {
        background: var-get($theme, 'thumb-on-disabled-color');
    }

    [part~='control'][part~='checked'] {
        background: var-get($theme, 'track-on-disabled-color');
    }

    [part~='thumb'] {
        background: var-get($theme, 'thumb-disabled-color');
    }
}
