@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $fluent;

:host {
    @include type-style('body-2');

    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});

    ::part(helper-text) {
        @include type-style('caption');

        color: var-get($theme, 'helper-text-color');
        grid-auto-rows: minmax(rem(18px), auto);
        margin-block-start: rem(5px);
    }
}

:host(:hover) {
    [part~='container'] {
        border-color: var-get($theme, 'hover-border-color');
    }
}

:host(:focus-within) {
    [part~='container'] {
        border-color: var-get($theme, 'focused-border-color');
        border-width: rem(2px);
    }

    [part~='prefix']:not([hidden]) {
        margin-inline-start: rem(-1px);
    }

    [part~='suffix']:not([hidden]) {
        margin-inline-end: rem(-1px);
    }

    textarea {
        margin-block: rem(-1px);
        margin-inline-start: rem(-1px);
    }

    [part~='prefix']:not([hidden]) ~ textarea {
        margin-inline: initial;
    }
}

[part~='container'] {
    border: rem(1px) solid var-get($theme, 'border-color');
    background: var-get($theme, 'border-background');
    align-items: stretch;
    overflow: hidden;
    border-radius: var-get($theme, 'border-border-radius');
}

[part~='label'] {
    display: block;
    font-size: rem(14px);
    font-weight: 600;
    position: static;
    transform: translateY(0);
    transform-origin: top left;
    margin-top: 0;
    height: auto;
    margin-block-end: rem(4px);
}

:host([invalid]) {
    [part~='label'] {
        color: var-get($theme, 'idle-text-color');
    }
}

textarea {
    @include type-style('body-2');

    padding: rem(8px);
}

:host([required]:not(:disabled)),
:host([required]:not([disabled])) {
    [part~='label'] {
        &::after {
            color: var-get($theme, 'error-secondary-color');
        }
    }
}

:host([invalid]:not(:disabled)),
:host([invalid]:not([disabled])) {
    ::part(helper-text) {
        color: var-get($theme, 'error-secondary-color');
    }

    [part~='container'] {
        border-color: var-get($theme, 'error-secondary-color');
    }
}

:host(:disabled),
:host([disabled]) {
    [part~='container'] {
        border-color: var-get($theme, 'disabled-border-color');
        background: var-get($theme, 'border-disabled-background');
    }
}
