@use 'styles/utilities' as *;
@use '../light/themes' as *;

$theme: $base;

[part~='prefixed'] {
    [part~='prefix'] {
        color: var-get($theme, 'input-prefix-color');
        background: var-get($theme, 'input-prefix-background');
    }
}

[part~='suffixed'] {
    [part~='suffix'] {
        color: var-get($theme, 'input-suffix-color');
        background: var-get($theme, 'input-suffix-background');
    }
}

[part~='filled'] {
    [part~='input'] {
        color: var-get($theme, 'filled-text-color');
    }

    [part~='prefix'] {
        color: var-get($theme, 'input-prefix-color--filled');
        background: var-get($theme, 'input-prefix-background--filled');
    }

    [part~='suffix'] {
        color: var-get($theme, 'input-suffix-color--filled');
        background: var-get($theme, 'input-suffix-background--filled');
    }
}

[part~='label'] {
    color: var-get($theme, 'idle-secondary-color');
}

textarea {
    background: transparent;
    color: var-get($theme, 'filled-text-color');

    &::placeholder {
        color: var-get($theme, 'placeholder-color');
    }
}

:host(:hover),
:host(:focus) {
    textarea {
        &::placeholder {
            color: var-get($theme, 'hover-placeholder-color');
        }
    }
}

:host(:disabled),
:host([disabled]) {
    color: var-get($theme, 'disabled-text-color');

    [part='prefix'],
    [part='suffix'] {
        color: var-get($theme, 'disabled-text-color');
        background: inherit;
    }

    ::part(helper-text) {
        color: var-get($theme, 'disabled-text-color');
    }

    textarea {
        color: var-get($theme, 'disabled-text-color');

        &::placeholder {
            color: var-get($theme, 'disabled-placeholder-color');
        }
    }

    [part~='label'] {
        color: var-get($theme, 'disabled-text-color');
    }
}
