@use 'styles/utilities' as *;
@use '../light/themes' as *;
@use 'igniteui-theming/sass/animations/easings' as *;

$theme: $indigo;

:host {
    @include type-style('body-1');

    --component-size: var(--ig-size, #{var-get($theme, 'default-size')});
}

:host(:hover) {
    [part~='container'] {
        background: var-get($theme, 'box-background-hover');
    }
}

:host(:focus-within) {
    [part~='label'] {
        color: var-get($theme, 'focused-secondary-color');
    }

    [part~='container'] {
        background: var-get($theme, 'box-background-hover');

        &::after {
            border-block-end-width: rem(2px);
            border-block-end-color: var-get($theme, 'focused-bottom-line-color');
            transition: all .25s $out-cubic;
        }
    }
}

[part~='label'] {
    display: block;
    font-size: rem(14px);
    font-weight: 600;
    position: static;
    transform: translateY(0);
    transform-origin: top left;
    margin-top: 0;
    height: auto;
    margin-block-end: rem(4px);
}

[part~='container'] {
    border-start-start-radius: var-get($theme, 'box-border-radius');
    border-start-end-radius: var-get($theme, 'box-border-radius');
    transition: background .25s $out-cubic;
    overflow: hidden;
    padding-inline-start: 0;
    height: calc(100% - #{rem(2px)});
    top: rem(1px);

    &::after {
        content: '';
        position: absolute;
        bottom: 0%;
        width: 100%;
        border-block-end: rem(1px) solid var-get($theme, 'idle-bottom-line-color');
        transition: all .25s $out-cubic;
    }
}

textarea {
    padding-block: rem(8px);
    padding-inline: pad-inline(rem(8px), rem(12px), rem(16px));
}

[part~='prefixed'] textarea {
    padding-inline-start: rem(4px);
}

[part~='suffixed'] textarea {
    padding-inline-end: rem(4px);
}

[part~='helper-text'] {
    @include type-style('caption');

    padding-block-start: rem(6px);
    padding-inline-start: rem(12px);
}

[part~='prefixed'] {
    [part~='prefix'] {
        border-start-start-radius: var-get($theme, 'border-border-radius');
    }
}

[part~='suffixed'] {
    [part~='suffix'] {
        border-start-end-radius: var-get($theme, 'border-border-radius');
    }
}

[part~='prefixed'] [part~='prefix'],
[part~='suffixed'] [part~='suffix'] {
    height: calc(100% - #{rem(1px)});
}

:host([invalid]:not(:disabled)),
:host([invalid]:not([disabled])) {
    [part~='label'] {
        color: var-get($theme, 'error-secondary-color');
    }

    [part~='container'] {
        &::after {
            border-block-end: rem(1px) solid var-get($theme, 'error-secondary-color');
        }
    }
}

:host([invalid]:not(:disabled):focus-within),
:host([invalid]:not([disabled]):focus-within) {
    [part~='container'] {
        &::after {
            border-block-end-width: rem(2px);
        }
    }
}

:host(:disabled),
:host([disabled]) {
    [part~='container'] {
        background: transparent;

        &::after {
            border-block-end-color: var-get($theme, 'disabled-bottom-line-color');
        }
    }
}
