@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: var(--radio-base-display, inline-flex);
    flex-direction: column;
    font-family: var(--ig-font-family);
}

:host([label-position='before']) {
    [part~='label'] {
        order: -1;
    }
}

input[type='radio'] {
    @include hide-default();
}

[part~='base'] {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color .15s ease-in;
}

[part~='label'] {
    @include type-style('subtitle-1');
}

[part~='control'] {
    --size: #{rem(20px)};

    position: relative;
    display: inline-flex;
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    min-width: calc(var(--size) * 2);
    user-select: none;
    transition: background .15s ease-in;

    &::before,
    &::after {
        position: absolute;
        content: '';
        width: var(--size);
        height: var(--size);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .15s ease-in;
    }

    &::before {
        backface-visibility: hidden;
        transform: translate(-50%, -50%) scale(.1);
        transform-origin: center;
        z-index: 1;
    }
}

[part='control checked'] {
    &::before {
        transform: translate(-50%, -50%) scale(.5);
    }
}

:host([disabled]),
:host(:disabled) {
    pointer-events: none;
    user-select: none;
}
