@use 'sass:map';
@use 'styles/utilities' as *;
@use 'igniteui-theming/sass/themes/schemas/components/light/button-group' as *;
@use '../../../button/themes/button/light/themes' as *;

$material-flat-btn-size: map.get($material-flat, 'size');
$bootstrap-flat-btn-size: map.get($bootstrap-flat, 'size');
$fluent-flat-btn-size: map.get($fluent-flat, 'size');
$indigo-flat-btn-size: map.get($indigo-flat, 'size');
$base: digest-schema($light-button-group);
$material: digest-schema($material-button-group);
$bootstrap: digest-schema($bootstrap-button-group);
$fluent: digest-schema($fluent-button-group);
$indigo: digest-schema($indigo-button-group);
