@use 'styles/utilities' as *;

:host {
    padding: pad(rem(16px));

    ::slotted(igc-button),
    ::slotted(igc-icon-button) {
        --ig-size: 2;
    }
}

:host([orientation='vertical']) {
    gap: rem(8px);
}
