@use '../../styles/common/component';
@use '../../styles/utilities' as *;
@use 'sass:map';

$node-height: (
    large: rem(50px),
    medium: rem(40px),
    small: rem(32px)
);
$disabled-color: color(gray, 500);
$background: color(surface);
$color: contrast-color(surface);
$hover-background: color(gray, 200);
$hover-color: contrast-color(gray, 200);
$selected-background: color(secondary, 200);
$selected-color: contrast-color(secondary, 200);
$selected-hover-background: color(secondary, 300);
$selected-hover-color: contrast-color(secondary, 300);
$active-background: color(gray, 200);
$active-color: contrast-color(gray, 200);
$active-selected-background: color(secondary, 300);
$active-selected-color: contrast-color(secondary, 300);
$focused-border-color: color(secondary, 500);
$toggle-icon-size: rem(24px);

:host {
    display: flex;
    flex-direction: column;
    font-family: inherit;

    --igc-tree-indentation-size: 24px;
}

:host(:focus-within) {
    outline: none;
}

:host([disabled]) {
    color: $disabled-color;
}

[part~='wrapper'] {
    display: flex;
    align-items: center;
    padding: 0 rem(24px);
    position: relative;
    background: $background;
    color: $color;

    &:hover {
        background: $hover-background;
        color: $hover-color;
    }
}

[part~='active'] {
    background: $active-background;
    color: $active-color;
}

[part~='selected'] {
    background: $selected-background;
    color: $selected-color;

    &:hover {
        background: $selected-hover-background;
        color: $selected-hover-color;
    }
}

[part~='selected'][part~='focused'][part~='active'],
[part~='selected'][part~='focused'],
[part~='selected'][part~='active'] {
    background: $active-selected-background;
    color: $active-selected-color;

    &:hover {
        background: $active-selected-background;
        color: $active-selected-color;
    }
}

[part~='focused'] {
    box-shadow: inset 0 0 0 1px $focused-border-color;
}

[part~='indicator'] {
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    margin-inline-end: rem(4px);
    min-width: $toggle-icon-size;

    igc-icon {
        width: $toggle-icon-size;
        height: $toggle-icon-size;
        font-size: $toggle-icon-size;
    }
}

[part~='label'] {
    display: block;

    @include type-category('body-2');

    margin: 0;
}

[part~='label'],
[part~='text'] {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

[part~='select'] {
    display: flex;
    align-items: center;
    z-index: 1;
    margin-inline-end: rem(4px);

    igc-checkbox {
        &::part(label) {
            display: none;
        }
    }
}

// LARGE
[part~='large'] {
    height: map.get($node-height, 'large');
}

// MEDIUM
[part~='medium'] {
    height: map.get($node-height, 'medium');
}

// SMALL
[part~='small'] {
    height: map.get($node-height, 'small');
}
