@use '../../styles/common/component';
@use '../../styles/utilities' as *;
@use 'sass:map';

@mixin theme() {
    $node-height: (
        large: rem(50px),
        medium: rem(40px),
        small: rem(32px)
    );
}
