@use '../../styles/utilities' as *;
@use 'sass:map';

$selected-background: color(gray, 200);
$selected-color: contrast-color(gray, 200);
$selected-hover-background: color(gray, 300);
$selected-hover-color: contrast-color(gray, 300);
$active-background: color(gray, 200);
$active-color: contrast-color(gray, 200);
$active-selected-background: color(gray, 300);
$active-selected-color: contrast-color(gray, 300);
$focused-border-color: color(gray, 800);

[part~='active'] {
    background: $active-background;
    color: $active-color;
}

[part~='selected'] {
    background: $selected-background;
    color: $selected-color;

    &:hover {
        background: $selected-hover-background;
        color: $selected-hover-color;
    }
}

[part~='selected'][part~='focused'][part~='active'],
[part~='selected'][part~='focused'],
[part~='selected'][part~='active'] {
    background: $active-selected-background;
    color: $active-selected-color;

    &:hover {
        background: $active-selected-background;
        color: $active-selected-color;
    }
}

[part~='select'] {
    margin-inline-end: rem(8px);
}

[part~='focused'] {
    box-shadow: inset 0 0 0 1px $focused-border-color;
}
