@use 'styles/common/component';
@use 'styles/utilities' as *;

:host {
    display: block;
    position: relative;
    width: 100%;
    height: inherit;
    overflow: hidden;
    outline-style: none;
    min-height: 18.75rem;
    min-width: 18.75rem;
}
