@use '../../styles/utilities' as utils;

$inactive-background: utils.color(gray, 400) !default;
$inactive-disabled-background: utils.color(gray, 200) !default;
$fill-background: utils.color(gray, 700) !default;
$fill-hover-background: utils.color(primary, 500) !default;
$fill-disabled-background: utils.color(gray, 400) !default;
$thumb-border: utils.color(gray, 700) !default;
$thumb-hover-border: utils.color(primary, 500) !default;
$thumb-disabled-border: utils.color(gray, 400) !default;

@mixin theme() {
    $thumb-size: utils.rem(16px);
    $thumb-radius: calc(#{$thumb-size} / 2);

    igc-slider:hover,
    igc-range-slider:hover {
        &::part(inactive) {
            background: utils.color(primary, 500, .32);
        }

        &::part(fill) {
            background: $fill-hover-background;
        }

        &::part(thumb) {
            border-color: $thumb-hover-border;
        }
    }

    igc-slider::part(track),
    igc-slider::part(fill),
    igc-slider::part(inactive),
    igc-range-slider::part(track),
    igc-range-slider::part(fill),
    igc-range-slider::part(inactive) {
        height: utils.rem(4px);
    }

    igc-slider::part(inactive),
    igc-range-slider::part(inactive) {
        background: $inactive-background;
        top: initial;
    }

    igc-slider::part(fill),
    igc-range-slider::part(fill) {
        background: $fill-background;
    }

    igc-slider::part(steps),
    igc-range-slider::part(steps) {
        top: utils.rem(1px);
    }

    igc-slider::part(thumb),
    igc-range-slider::part(thumb) {
        background: utils.color(surface, 500);
        border: utils.rem(2px) solid $thumb-border;
        width: $thumb-size;
        height: $thumb-size;
        top: calc((#{$thumb-size} - #{$thumb-radius}) * -1);
        margin-inline-start: calc((#{$thumb-size} - #{$thumb-radius}) * -1);

        &::after {
            display: none;
        }
    }

    igc-slider[disabled],
    igc-range-slider[disabled] {
        &::part(inactive) {
            background: $inactive-disabled-background;
        }

        &::part(fill) {
            background: $fill-disabled-background;
        }

        &::part(thumb) {
            background: utils.color(surface, 500);
            border-color: $thumb-disabled-border;
        }
    }
}
