@use '../../styles/common/component';
@use '../../styles/utilities' as *;

$ripple-size: rem(40px);
$ripple-radius: calc(#{$ripple-size} / 2);
$thumb-size: rem(20px);
$thumb-radius: calc(#{$thumb-size} / 2);
$thumb-label-width: rem(40px);
$thumb-label-height: rem(30px);

[part='base'] {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: center;
    height: rem(48px);
    transition: all .2s ease-out;
    font-family: var(--igc-font-family);
}

[part='track'] {
    position: relative;
    height: rem(4px);
    width: 100%;
    background: color(secondary, 500, .24);
    transition: background .2s ease-out;
    border-radius: rem(32px);
}

[part='fill'] {
    position: absolute;
    height: rem(6px);
    width: 100%;
    top: rem(-1px);
    background: color(secondary, 500);
    transform-origin: left center;
    border-radius: rem(32px);
}

[part='steps'] {
    position: absolute;
    width: 100%;
    height: rem(2px);
    opacity: .85;
    transition: opacity .2s ease-out;
    z-index: 1;
    top: rem(1px);
}

[part='ticks'] {
    width: 100%;
    display: flex;
    position: absolute;
    top: rem(8px);
    justify-content: space-between;
    z-index: 1;

    &:first-child {
        bottom: rem(8px);
        top: auto;
        align-items: flex-end;

        [part='tick-label'] {
            top: auto;
            bottom: rem(24px);
        }
    }
}

[part='tick-group'] {
    &:first-of-type {
        margin-inline-start: rem(-1px);
    }

    &:last-of-type {
        margin-inline-start: rem(-1px);
    }
}

[part='tick'] {
    background: color(gray, 500);
    height: rem(8px);
    width: rem(2px);
}

[part='tick'][data-primary='true'] {
    height: rem(16px);
}

[part='tick-label'] {
    color: color(gray, 500);
    position: absolute;
    top: rem(24px);
    transform: translate(-50%);
    line-height: .7;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    @include type-category('caption');
}

[part='thumbs'] {
    position: absolute;
    width: 100%;
    height: 0;
    cursor: default;
    z-index: 1;
    left: 0;
}

[part='thumb'],
[part='thumb-label'] {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline-style: none;
}

[part='thumb'] {
    width: $thumb-size;
    height: $thumb-size;
    background: color(secondary, 500);
    transition: transform .1s ease-out, border-radius .1s ease-out;
    border-radius: $thumb-radius;
    left: calc(#{$thumb-size} - #{$thumb-radius});
    top: calc((#{$thumb-size} - #{$thumb-radius}) * -1);
    margin-inline-start: calc((#{$thumb-size} - #{$thumb-radius}) * -1);

    &::after {
        position: absolute;
        content: '';
        width: $ripple-size;
        height: $ripple-size;
        background: color(secondary, 500);
        top: calc(50% - #{$ripple-radius});
        left: calc(50% - #{$ripple-radius});
        opacity: 0;
        transform: scale(0);
        transform-origin: center center;
        transition: transform .1s ease-out, opacity .1s ease-out;
        overflow: hidden;
        border-radius: $ripple-radius;
    }

    &:hover::after {
        opacity: .12;
        transform: scale(1);
    }

    &:focus::after {
        opacity: .18;
        transform: scale(1);
    }

    &:active::after {
        opacity: .24;
    }
}

[part='thumb-label'] {
    @include type-category('caption');
    margin-inline-start: calc((#{$thumb-label-width} / 2) * -1);
    flex: 0 0 auto;
    top: calc((#{$thumb-label-height} + #{$thumb-size}) * -1);;
    left: -50%;
    pointer-events: none;
    min-width: $thumb-label-width;
    height: $thumb-label-height;
    padding: 0 rem(2px);
    border-radius: rem(2px);
    color: contrast-color(gray, 700);
    background: color(gray, 700);
    opacity: 0;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        margin-inline-start: calc((#{$thumb-label-height} / 2) * -1);
        width: $thumb-label-height;
        height: $thumb-label-height;
        border-radius: 0 calc((#{$thumb-label-height} / 2)) calc((#{$thumb-label-height} / 2));
        background: inherit;
        transform: rotate(-135deg);
        z-index: -1;
    }
}

:host(:not([showprimarylabels])) {
    [part='tick'][data-primary='true'] > span {
        display: none;
    }
}

:host(:not([showsecondarylabels])) {
    [part='tick'][data-primary='false'] > span {
        display: none;
    }
}

:host([ticklabelrotation='-90']) {
    [part='tick-label'] {
        writing-mode: vertical-rl;
        transform: translate(-50%) rotate(0deg);
    }
}

:host([ticklabelrotation='90']) {
    [part='tick-label'] {
        writing-mode: vertical-rl;
        transform: translate(-50%) rotate(180deg);
    }
}

:host([continuous]) {
    [part='steps'] {
        display: none;
    }
}

:host([disabled]) {
    user-select: none;
    pointer-events: none;
    cursor: initial;

    [part='track'] {
        background: color(gray, 200);
    }

    [part='fill'],
    [part='tick'] {
        background: color(gray, 400);
    }

    [part='tick-label'] {
        color: color(gray, 400);
    }

    [part='thumb'] {
        background: color(gray, 400);

        &:focus::after {
            transform: scale(0);
        }
    }

    &:hover {
        [part='track'] {
            background: color(gray, 400);
        }

        [part='thumb'] {
            border-color: color(gray, 400);
        }
    }
}
