@use '../../styles/utilities' as utils;

@mixin theme() {
    $thumb-size: utils.rem(16px);

    igc-slider:hover {
        &::part(track) {
            background: utils.color(primary, 500, .32);
        }

        &::part(fill) {
            background: utils.color(primary, 500);
        }

        &::part(thumb) {
            border-color: utils.color(primary, 500);
        }
    }

    igc-slider::part(track) {
        background: utils.color(gray, 400);
    }

    igc-slider::part(fill) {
        height: utils.rem(4px);
        background: utils.color(gray, 700);
        top: initial;
    }

    igc-slider::part(steps) {
        height: utils.rem(4px);
        background-size: 100% utils.rem(4px);
        top: initial;
    }

    igc-slider::part(thumb) {
        background: utils.color(surface, 500);
        border: utils.rem(2px) solid utils.color(gray, 700);
        width: $thumb-size;
        height: $thumb-size;
        top: -8px;

        &:focus {
            border-color: utils.color(primary, 200);
        }

        &::after {
            display: none;
        }
    }

    igc-slider[disabled] {
        &::part(track) {
            background: utils.color(gray, 200);
        }

        &::part(fill) {
            background: utils.color(gray, 400);
        }

        &::part(thumb) {
            background: utils.color(surface, 500);
            border-color: utils.color(gray, 400);
        }
    }
}
