@use '../../styles/utilities' as utils;

@mixin theme() {
    $thumb-size: utils.rem(16px);
    $thumb-radius: calc(#{$thumb-size} / 2);

    igc-slider:hover,
    igc-range-slider:hover {
        &::part(inactive) {
            color: utils.color(primary, 500, .32);
        }

        &::part(fill) {
            color: utils.color(primary, 500);
        }

        &::part(thumb) {
            border-color: utils.color(primary, 500);
        }
    }

    // igc-slider::part(track),
    // igc-slider::part(fill),
    // igc-slider::part(inactive) {
    //     height: utils.rem(4px);
    // }

    igc-slider::part(inactive),
    igc-range-slider::part(inactive) {
        color: utils.color(gray, 400);
        top: initial;
    }

    igc-slider::part(fill),
    igc-range-slider::part(fill) {
        color: utils.color(gray, 700);
    }

    igc-slider::part(thumb),
    igc-range-slider::part(thumb) {
        background: utils.color(surface, 500);
        border: utils.rem(2px) solid utils.color(gray, 700);
        width: $thumb-size;
        height: $thumb-size;
        top: calc((#{$thumb-size} - #{$thumb-radius}) * -1);
        margin-inline-start: calc((#{$thumb-size} - #{$thumb-radius}) * -1);

        &:focus {
            border-color: utils.color(primary, 200);
        }

        &::after {
            display: none;
        }
    }

    igc-slider[disabled],
    igc-range-slider[disabled] {
        &::part(inactive) {
            color: utils.color(gray, 200);
        }

        &::part(fill) {
            color: utils.color(gray, 400);
        }

        &::part(thumb) {
            background: utils.color(surface, 500);
            border-color: utils.color(gray, 400);
        }
    }
}
