@use 'styles/utilities' as *;
@use '../themes' as *;

$theme: $indigo;

:host {
    @include css-vars-from-theme($theme, 'ig-card');

    color: var-get($theme, 'header-text-color');
}

::slotted([slot='subtitle']) {
   color: var-get($theme, 'subtitle-text-color');
}
